html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }
img { vertical-align: top; }

.wrap { width: 1140px; }

.container { margin: 0 auto; }
.container.fullwidth { position: relative; overflow: hidden; }
.container.fullwidth .full { position: absolute; top: 0; left: 50%; margin-left: -960px; }

#container { background-color: #fff; }
#wrapper { background-color: #fff; background-image: url('../img/custom/shadow.png'); background-position: left top; background-repeat: repeat-x; }

#topBan { background: url('../img/custom/top_ban_bg.jpg') center top repeat; }
#topBan .wrap { position: relative; }
#topBan .wrap a.toggle { position: absolute; right: 0; bottom: 0; }

#utility { background: url('../img/custom/utility_bg.png') center top repeat; }

#headerCore { border-bottom: solid 1px #cacaca; background-color: #fff; }

#gnb { background-color: #fff; }

#jumbotron { height: 434px; }

#sectionA { margin-top: 30px; }

/* toggleSlidr */
.slider-wrapper { position: relative; clear: both; overflow: hidden; }
.slider-wrapper .item { display: none; }
.slider-wrapper .item.ready { display: block; }
.slider-wrapper .item.ready .col { opacity: 0; }
.slider-wrapper .item.active .col { opacity: 1; }

.slider-wrapper .item.ready .col { transition: all .3s; }
.slider-wrapper .item .col:nth-child(1) { transition-delay: .1s; }
.slider-wrapper .item .col:nth-child(2) { transition-delay: .2s; }
.slider-wrapper .item .col:nth-child(3) { transition-delay: .3s; }
.slider-wrapper .item .col:nth-child(4) { transition-delay: .4s; }
.slider-wrapper .item .col:nth-child(5) { transition-delay: .5s; }
.slider-wrapper .item .col:nth-child(6) { transition-delay: .6s; }
.slider-wrapper .item .col:nth-child(7) { transition-delay: .7s; }

.slider-wrapper .item.ready .col img { transition: all .3s; }
.slider-wrapper .item .col:nth-child(1) img { transition-delay: .1s; }
.slider-wrapper .item .col:nth-child(2) img { transition-delay: .2s; }
.slider-wrapper .item .col:nth-child(3) img { transition-delay: .3s; }
.slider-wrapper .item .col:nth-child(4) img { transition-delay: .4s; }
.slider-wrapper .item .col:nth-child(5) img { transition-delay: .5s; }
.slider-wrapper .item .col:nth-child(6) img { transition-delay: .6s; }
.slider-wrapper .item .col:nth-child(7) img { transition-delay: .7s; }

#sectionB .wrap.nth-child-2 { position: relative; height: 409px; }
#sectionB .nav a { position: absolute; z-index: 2000; top: 50%; margin-top: -25px; }
#sectionB .nav a.prev { left: 0; }
#sectionB .nav a.next { right: 0; }
#sectionB .slider-wrapper { height: 409px; }
#sectionB .item { position: absolute; clear: both; overflow: hidden; height: 409px; }
#sectionB .col { float: left; overflow: hidden; }
#sectionB .col span { box-sizing: content-box; display: block; border: solid 1px #cdcdcd; overflow: hidden; }
#sectionB .col.nth-child-1 { width: 290px; height: 409px; }
#sectionB .col.nth-child-1 span { width: 288px; height: 407px; }
#sectionB .col.nth-child-2 { width: 281px; height: 205px; }
#sectionB .col.nth-child-2 span { width: 280px; height: 203px; border-left: 0; }
#sectionB .col.nth-child-3 { width: 288px; height: 205px; }
#sectionB .col.nth-child-3 span { width: 287px; height: 203px; border-left: 0; }
#sectionB .col.nth-child-4 { width: 281px; height: 205px; }
#sectionB .col.nth-child-4 span { width: 280px; height: 203px; border-left: 0; }
#sectionB .col.nth-child-5 { width: 569px; height: 204px; }
#sectionB .col.nth-child-5 span { width: 568px; height: 203px; border-left: 0; border-top: 0; }
#sectionB .col.nth-child-6 { width: 281px; height: 204px; }
#sectionB .col.nth-child-6 span { width: 280px; height: 203px; border-left: 0; border-top: 0; }
#sectionB .col img { transform: translate3d(10px, 0, 0) scale(1.2, 1.2) rotate(-10deg); }
#sectionB .active .col img { transform: translate3d(0, 0, 0) scale(1, 1) rotate(0deg); }


#sectionC { margin-top: 30px; }

#sectionD {}
#sectionD .section-slider { text-align: center; }
#sectionD .slidr { margin: 0 auto; width: 1012px; }
#sectionD .slidr .counter { margin-top: -23px; margin-right: -67px; }
#sectionD .slidr .prev { margin-left: -64px; }
#sectionD .slidr .next { margin-right: -64px; }

#sectionE {}

#sectionF { margin-top: 20px; }
#sectionF .inner { margin-top: 30px; }

#sectionG { margin-top: 20px; }
#sectionG .item { float: left; height: 275px; overflow: hidden; }
#sectionG .item a { display: block; position: relative; text-align: center; }
#sectionG .item a strong { box-sizing: content-box; position: absolute; display: inline-block; text-align: center; background-color: #fff; background-color: rgba(255,255,255,0.8); color: #000; font-size: 30px; font-weight: normal; line-height: 1.2; transition: all .3s; }
#sectionG .item a strong span { display: block; margin-top: 25px; transition: all .3s; }

#sectionG .item a strong { left: 50%; top: 0; margin-top: 70px; margin-left: -110px; padding: 0; width: 220px; height: 133px; }
#sectionG .item a:hover strong { left: 0; top: 0; margin: 0; padding: 0; width: 100%; height: 275px; background-color: #000; background-color: rgba(0,0,0,0.6); color: #fff; font-size: 32px; }
#sectionG .item a:hover strong span { margin-top: 96px; }

.no-rgba #sectionG .item a strong { 
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#sectionG .item.nth-child-1 { width: 569px; }
#sectionG .item.nth-child-2 { width: 571px; }

#sectionH { margin-top: 60px; }

#sectionI { margin-top: 30px; }

#sectionJ { margin-top: 30px; margin-bottom: 60px; }

#quicklaunch { border-top: solid 1px #dadada; border-bottom: solid 1px #dadada; background-color: #f0f1f3; }

#copyrights { }

.skyscraper { display: none; position: fixed; z-index: 2000; top: 736px; left: 50%; }

#skyscraperA { margin-left: -670px; }
#skyscraperB { margin-left: 585px; }

#popup { text-align: center; }
#popup .inner { position: relative; display: inline-block; margin: 20px auto; padding: 0 20px; }
#popup .inner img { max-width: 100%; }
#popup .close { position: absolute; right: 20px; top: 0; }

.jumbotron { background-color: #333; }
.jumbotron .bg,
.jumbotron .obj,
.jumbotron .copy { position: absolute; }
.jumbotron .bg { 
    overflow: hidden;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
}
.jumbotron .obj { 
    top: 0;
    left: 50%;
    width: 700px;
    margin-left: -700px;
    height: 100%;
}
.jumbotron .copy { 
    top: 0px;
    left: 50%;
    margin-left: -190px;
    width: 380px;
    text-align: left;
}
.jumbotron p { margin: 0; padding: 0; }

.jumbotron .holder-b .copy { margin-left: -345px; width: 273px; }

#jumbotronPager .wrap { margin-top: -45px; }
#jumbotronPager a { position: relative; display: inline-block; margin-left: 1px; background-color: #fff; background-color: rgba(255,255,255,0.8); text-decoration: none; }
#jumbotronPager a span { display: inline-block; width: 143px; height: 45px; line-height: 45px; font-size: 14px; font-weight: bold; color: #000; }
#jumbotronPager a.active { background-color: #000; background-color: rgba(0,0,0,0.8); }
#jumbotronPager a.active:after { display: block; content: ''; position: absolute; left: 50%; top: 0; margin-top: -9px; margin-left: -8px; width: 17px; height: 9px; background: url('../img/custom/arrow.png') center top no-repeat; opacity: 0.8; }
#jumbotronPager a.active span { color: #fff; }

/* productSlidr */
.js-prductSlidr { position: relative; }
.js-prductSlidr * { transition-timing-function: ease-in-out; }
.js-prductSlidr .subject { position: absolute; display: inline-block; margin: 0; padding: 0; cursor: pointer; }
.js-prductSlidr .subject a { display: inline-block; text-decoration: none; }
.js-prductSlidr .nav { position: absolute; top: 50%; text-decoration: none; transition: opacity .5s; }
.js-prductSlidr .nav span { pointer-events: none; }
.js-prductSlidr .prev { left: 0; opacity: 1; cursor: pointer; pointer-events: auto; }
.js-prductSlidr .next { right: 0; opacity: 1; cursor: pointer; pointer-events: auto; }
.js-prductSlidr.prevOut .prev { opacity: 0.5; cursor: default; }
.js-prductSlidr.nextOut .next { opacity: 0.5; cursor: default; }
.js-prductSlidr .pager { position: absolute; left: 0; right: 0; bottom: 0; text-align: center; }
.js-prductSlidr .pager a { display: inline-block; }
.js-prductSlidr .counter { position: absolute; right: 0; }
.js-prductSlidr .item { transition: background 0.3s; overflow: hidden; }
.js-prductSlidr .preloader { opacity: 1; transition: opacity .1s .1s; }
.js-prductSlidr.loaded .preloader { opacity: 0; }
.js-prductSlidr .preloader p { margin: 5px 0; padding: 0; font-size: 11px; color: #333; }

/* preloader */
.slidr .preloader p { margin: 5px 0; padding: 0; font-size: 11px; color: #333; }

/* counter */
.slidr .counter { font-size: 16px; width: 100px; text-align: right; }
.slidr .counter strong,
.slidr .counter span { display: inline-block; margin: 0 2px; font-weight: bold; }
.slidr .counter strong { color: #ff6819; }

/* pager */
.slidr .pager { margin-bottom: 0px; }
.slidr .pager a { 
    margin: 0 1px; width: 10px; height: 10px; border-radius: 10px; 
    transition: all .3s 0s ease-in-out; 
    border: solid 1px #aaa; 
    background-color: #fff; 
}
.slidr .pager a.active { 
    width: 40px; 
    background-color: #aaa; 
}


/*
.csstransforms .box { opacity: 0; transition: all 0.3s; transform: translate3d(100px, 0, 0) scale(0.8, 0.8);  }
.csstransforms li.active .box { opacity: 1; transform: translate3d(0, 0, 0) scale(1, 1); }

.no-csstransforms #skyscraperB .box { display: none; }
.no-csstransforms #skyscraperB li.active .box { display: block; }
*/