/* datepicker
=============================================================================== */
div.section-datepicker { 
    .pos-absolute(); 
    top: 0; 
    z-index: 999; 
    border: solid 1px #333; 
    background: #fff; 
    box-shadow: 3px 3px 3px #999; 
    .line-height-xsmall();
    .cal-wrapper { padding: 10px; min-width: 370px; overflow: hidden; }
    .head { 
        .pull-left(); 
        width: 150px; 
        text-align: center; 
        div { 
            margin: 5px 0; 
        }
        .year { margin: 10px 0 20px; }
        .year select { margin-right: 3px; width: 80px; .vertical-middle(); }
        .month {
            a {
                span.icon {
                    width: 30px; 
                    height: 30px; 
                    .background-image('plugins/datepicker_nav','gif');
                    background-position: left top;
                    background-repeat: no-repeat; 
                    vertical-align: bottom;
                    &.datepicker-next {
                        background-position: right top;
                    }
                }
                &.disabled span.icon {
                    .opacity(0.2);
                }
            }
            strong { .inline-block(); padding-right: 3px; font-family: Verdana, Tahoma; font-size: 27px; .bold(); }
        }
        .today { margin-top: 30px; }
        .today span { font-size: 12px; }
    }
    .core { 
        .pull-right(); 
        margin: 0; 
        padding: 0 0 10px 0; 
        width: 200px; 
        background: none; 
    }
    table { 
        table-layout: fixed;
        width: 100%; 
        caption { display: none; }
        th { padding: 11px 0 !important; text-align: center; .bold(); background: #fff !important; }
        th abbr { .block(); border: none; cursor: default; }
        td { 
            padding: 0 !important; width: 14.28%; text-align: center; background: #fff; border: 0 !important; 
            &.empty { background: #fff; }
        }
        th.sun, td.sun a { color: #cc3333; }
        th.sat, td.sat a { color: #3333cc; }
        span, a { 
            .block(); 
            .height(25px);
        }
        a { color: #444; background-color: #FFF6F0; transition: all 0.3s; }
        span { color: #666; cursor: default; }
        a:hover,
        a.today { background-color: @brand-primary; color: #fff !important; .text-none(); }
    }
    .button-close {
        .background-no-repeat();
        .inline-block(); 
        .pos-absolute(); 
        z-index: 1010; 
        right: 0; 
        top: 0; 
        width: 17px; 
        height: 17px; 
        cursor: pointer;
        .background-image('plugins/btn_close_datepicker','gif');
    }
}

