/* dropdown
 =============================================================================== */

/* 
 * Selecter v3.1.2 - 2014-05-30 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */ 
.js select.js-selecter { 
    visibility: hidden; 
}

@selecter-z-index-base: 10;

.selecter {
    .pos-relative();
    .block();
    .min-width(150px);
    max-width: 320px;
    z-index: @selecter-z-index-base + 1;
    .box-sizing(content-box);
    .line-height-xsmall();

    &.full {
        .block();
        width: 100%;
        max-width: 406px;
    }

    &.disabled .selecter-item:hover {
        background: #fff;
    }

    /* Open */
    &.open {
        z-index: @selecter-z-index-base + 3;
        .selecter-selected {
            // border-radius: 3px 3px 0 0;
            z-index: @selecter-z-index-base + 51;
        }
    }

    &.open .selecter-selected,
    &.focus .selecter-selected {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    /* 'Cover' Positioning */
    &.cover {
        .selecter-options {
            // border-radius: 3px;
            border-width: 1px;
            top: 0;
        }
        .selecter-options .selecter-item.first {
            // border-radius: 3px 3px 0 0;
        }
        .selecter-selected {
            // border-radius: 3px 3px 0 0;
            z-index: @selecter-z-index-base + 49;
        }
    }

    /* 'Bottom' Positioning */
    &.bottom {
        .selecter-options {
            border-width: 1px 1px 0;
            bottom: 100%;
            top: auto;
        }
        .selecter-item:last-child {
            border: none;
        }
        &.open {
            .selecter-selected {
                // border-radius: 0 0 3px 3px;
            }
            .selecter-options {
               // border-radius: 3px 3px 0 0;
            }
        }
        /* 'Bottom' + 'Cover' Positioning */
        &.cover .selecter-options {
            bottom: 0;
            top: auto;
        }
        &.cover.open {
            .selecter-selected {
                // border-radius: 3px;
            }
            .selecter-options {
                // border-radius: 3px;
            }
        }
    }

    /* Multiple Select */
    &.multiple .selecter-options {
        // border-radius: 3px;
        border-width: 1px;
        box-shadow: none;
        .block();
        position: static;
        width: 100%;
    }

    /* 'Disabled' State */
    &.disabled {
        .selecter-selected {
            background: #fff;
            border-color: #eee;
            color: #ccc;
            cursor: default;
        }
        .selecter-options {
            background: #fff;
            border-color: #eee;
        }
        .selecter-group,
        .selecter-item {
            border-color: #eee;
            color: #ccc;
            cursor: default;
        }
        .selecter-item.selected {
            background: #fafafa;
        }
    }

    .selecter-element {
        .pos-absolute();
        z-index: -1;
        *left: -999999px;
        height: 0;
        left: 0;
        width: 0;
        .opacity(0);
        border: none;
    }
    .selecter-element,
    .selecter-element:focus {
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
    }
    .selecter-selected {
        // background-color: #F9F9F9;
        // .background-image('plugins/jquery.fs.selecter-arrow');
        .background-image('plugins/selecter_arrow_down');
        background-position: right center;
        .background-no-repeat();
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        color: @text-color;
        cursor: pointer;
        .block();
        font-size: 13px;
        margin: 0;
        overflow: hidden;
        padding: 10px 10px 11px;
        .pos-relative();
        text-overflow: clip;
        z-index: @selecter-z-index-base + 2;
        transition: all 0.3s;
        .vertical-middle();
    }
    .selecter-options {
        border: 1px solid #ccc;
        border-width: 0 1px 1px;
        background-color: #fefefe;
        // border-radius: 0 0 3px 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        display: none;
        left: 0;
        margin: 0;
        max-height: 260px;
        overflow: auto;
        overflow-x: hidden;
        padding: 0;
        .pos-absolute();
        top: 100%;
        width: 100%;
        *width: auto;
        z-index: @selecter-z-index-base + 50;
        /* Scroller Support */
        &.scroller {
            overflow: hidden;
            .scroller-content {
                max-height: 260px;
                padding: 0;
            }
        }
    }
    .selecter-group {
        background: #F9F9F9;
        border-bottom: 1px solid #e3e3e3;
        color: #999;
        .block();
        font-size: 11px;
        padding: 5px 10px 4px;
        text-transform: uppercase;
    }
    .selecter-item {
        background: #fff;
        border-bottom: 1px solid #e3e3e3;
        color: @text-color;
        cursor: pointer;
        .block();
        font-size: 13px;
        margin: 0;
        overflow: hidden;
        padding: 8px 10px;
        text-overflow: ellipsis;
        width: 100%;

        &.selected {
            background: #F9F9F9;
        }
        &.disabled {
            color: #999;
            cursor: default;
        }
        &:first-child {
            // border-radius: 0;
        }
        &:last-child {
            // border-radius: 0 0 2px 2px;
            border-bottom: 0;
        }
        &:hover,
        &.selected:hover {
            background-color: #f3f3f3;
        }
        &.disabled:hover {
            background-color: #fff;
        }
    }

    &:hover .selecter-selected {
        background-color: #f3f3f3;
        border-color: #999;
    }

    .breadcrumb & {
        .bold();
        font-size: 16px;
        .selecter-selected {
            padding: 0 0 0 18px;
            .height(48px);
            background-color: #eef0f5;
            border: none;
            .background-image('common/arrow_down');
            color: #80878d;
            font-size: 16px;
        }
        .selecter-options {
            background-color: #eef0f5;
            border: solid 1px #ddd;
            border-top: 1px solid #ddd;
        }
        .selecter-item {
            padding: 18px !important;
            border-bottom: 1px solid #ddd;
            background-color: transparent;
            height: auto !important;
            line-height: 1 !important;
            color: #80878d;
            font-size: 16px;
            &.selected {
                background-color: transparent;
            }
            &:hover,
            &.selected:hover {
                background-color: #1daad8;
                color: #fff;
                .text-none();
            }
            &.disabled:hover {
                background-color: transparent;
            }
        }
    }

 
}

/* Media Queries */
@media screen and (max-width: 740px) {
    /* .selecter { max-width: 40%; } */
}
@media screen and (max-width: 500px) {
    /* .selecter { max-width: 100%; } */
}