/* dropdown
 =============================================================================== */

/* 
 * Wallpaper v3.1.17 - 2014-05-31 
 * A jQuery plugin for smooth-scaling image and video backgrounds. Part of the Formstone Library. 
 * http://formstone.it/wallpaper/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */ 

    .wallpaper,
    .wallpaper .wallpaper-container,
    .wallpaper .wallpaper-media {
        -webkit-transition: none !important;
                transition: none !important;
    }

    .wallpaper { overflow: hidden; .pos-relative(); }
    .wallpaper .wallpaper-container { height: 100%; overflow: hidden; .pos-absolute(); top: 0; width: 100%; z-index: 0; }

    .wallpaper .wallpaper-media { left: 0; .opacity(0); .pos-absolute(); top: 0; }
    .wallpaper .wallpaper-media.animated {
        -webkit-transition: opacity 0.5s linear !important;
                transition: opacity 0.5s linear !important;
    }

    .wallpaper .wallpaper-media img,
    .wallpaper .wallpaper-media video,
    .wallpaper .wallpaper-media iframe { .block(); height: 100%; width: 100%; }

    .wallpaper .wallpaper-embed.ready:after { content: ''; height: 100%; left: 0; .pos-absolute(); top: 0; width: 100%; z-index: 1; }
    .wallpaper .wallpaper-embed.ready iframe { /* pointer-events: none; - safari doesn't like this :/ */ z-index: 0; }

    .wallpaper .wallpaper-media.native { background-position: center; background-size: cover; height: 100%; width: 100%; }
    .wallpaper .wallpaper-media.native img { display: none; }

    .wallpaper .wallpaper-media.fixed { background-position: center; background-attachment: fixed; height: 100%; width: 100%; }
    .wallpaper .wallpaper-media.fixed img { display: none; }