/* ==========================================================================
   common
   ========================================================================== */

// all
* {
    .background-no-repeat();
    background-position: center center;
}

// scroll bar
.scroll {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-3dLight-Color: #d0d0d0;
    scrollbar-arrow-color: #999;
    scrollbar-base-color: #fff;
    scrollbar-Face-Color: #fff;
    scrollbar-Track-Color: #ddd;
    scrollbar-DarkShadow-Color: #ccc;
    scrollbar-Highlight-Color: #fff;
    scrollbar-Shadow-Color: #fff;
}

/* tab */
ul.tab { 
    .reset();
    .clear-after();
    *zoom: 1;
    > li { 
        .pull-left(); 
    }
}

dl.table { 
    .reset();
    * { 
        .vertical-middle(); 
    }
    dt, dd { 
        height: 26px; 
        line-height: 25px; 
        overflow: hidden; 
    }
    dt { 
        clear: left; 
        .reset();
        .pull-left(); 
        label { 
            .inline-block(); 
            .vertical-top(); 
        }
    }
    dd { 
        margin: 0 0 0 100px; 
        padding: 0; 
    }
}

/* border */
// .border-top { border-top: solid 1px #ccc;  }
// .border-bottom { border-bottom: solid 1px #ccc; }
// .border-bottom-inner { border-bottom:solid 1px #eaeaea; }
// .border-right-inner {border-right:solid 1px #eaeaea;}
// .border-top-thick { 
//     border-top: solid 3px #333; 
//     body.popup & {
//        border-top: solid 2px #333;
//     }
// }
// .border-bottom-thick { 
//     border-bottom: solid 3px #333; 
//     body.popup & {
//        border-bottom: solid 2px #333;
//     }
// }
