/* ==========================================================================
   utility
   ========================================================================== */

/* image
   ========================================================================== */

img.spacer { 
    background-image: url(@image-spacer); 
    .background-repeat(); 
} 
img.noimage { 
    background-image: url(@image-noimage); 
    .background-repeat(); 
}
img.blank { 
    background-image: url(@image-blank); 
    .background-repeat(); 
}