/* ==========================================================================
   Custom
   ========================================================================== */

p.guide {
    width: 50%; /* add-on non click bug fix */
    margin: 0;
    padding: 0;
    color: #666;
    .height(26px);
    &.mb {
        margin: 10px 0 -36px;
    }
}

/* title-utility */
.title-utility {
    .clearfix();
    .nth-child-2 {
        .text-right(); 
    }
}

/* menu-list */
.menu-list {
    .clearfix();
    line-height: 1;
    label {
        cursor: pointer;
    }
    .module {
        .pos-relative();
        .title {
            .clearfix();
            padding: 10px 10px;
            border-top: solid 2px #000;
            color: #000;
            span {
                .inline-block();
                .text-center();
            }
            .permission {
                top: 5px;
                span {
                    padding: 6px 0 0;
                    // .bold();
                    width: 15%;
                }
            }
        }
        .head {
            .clearfix();
            padding: 5px 10px;
            border-top: solid 2px #000;
            border-bottom: solid 1px #ccc;
            background-color: #f9f9f9;
            label {
                padding: 6px 0 0;
                .inline-block();
                .pull-left();
                color: #333;
                // .bold();
            }
            .button {
                .pull-right();
            }
        }
        .permission {
            .pos-absolute();
            right: 50px;
            width: 60%;
            .text-right();
            label {
                .inline-block();
                float: none !important;
                font-weight: normal;
                width: 15%;
                .text-center();
                input { .reset(); }

            }
        }
        .body {
            display: none;
            padding: 10px 0 10px 10px;
            li {
                margin: 5px 0;
                line-height: 1.4;
                ul {
                    margin: 10px 0 15px 15px;
                }
                .permission {
                    margin-top: -17px;
                }
            }
        }
        &.active {
            .body {
                display: block;
            }
        }
        ul {
            .reset();
        }
    }
    .nth-child-1 {
        clear: both;
        .module {
            margin-right: 10px;
        }
    }
    .nth-child-2 {
        .module {
            margin-left: 10px;
        }
    }
    .nth-child-3 {
        .module {
            margin-right: 0;
        }
    }
}

/* 쿠폰관리 */
.bbs-form {
    td.coupon-category {
        .grid.gutter {
            .inline-block();
            width: 93%;
        }
        .button {
            &.vertical-top {
                .vertical-top();
            }
        }
    }
}

/* 회원 상세 팝업 */
.member-view-reception {
    li {
        .mt5();
        width: 50%;
        span {
            .inline-block();
            width: 110px;
        }
    }
}

/* 명절 배송 */
.bbs-form {
    tr.holiday-section {
        th, td { 
            border-color: #969696 !important;
        }
    }
    td.holiday-order {
        .reset();
        .pb20();
        border-bottom: 0px;
        .bbs-list table.core { 
            border-top: 0px;
            th, td { 
                border-color: #eee; 
            }
        }
    }
}

/* 전시페이지 관리 */
td.article {
    padding: 0px !important;
    div.bbs-form table.core {
        border: 0px;
        tbody {
            tr {
                td {
                    .text-left();
                }
                th {
                    border-top: 1px solid #eee;
                    span { 
                        padding: 8px 0 8px 15px;
                        .block();
                        .text-left();
                    }
                }
                &.tit {
                    th, td {
                        border-top: 1px solid #000 !important;
                        border-bottom: 1px solid #000;
                        label:first-child { .ml10(); }
                    }
                    th{
                        .text-center();
                        span {
                            .inline-block();
                        }
                    }
                    td{
                        .text-right();
                        .padding-right(20px);
                    }
                }
            }
            tr:first-child {
                th, td {
                        border-top: 0px;
                }
            }
        }
    }
}