/* ==========================================================================
   form
   ========================================================================== */

/* base
   ========================================================================== */

// glow effect
select:focus,
textarea:focus { 
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
}

// invlide
input:valid, 
textarea:valid { }
input:invalid, 
textarea:invalid { 
    background-color: #f0dddd;
} 

// input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="color"],

input {

    label > & {
        margin-right: 5px; 
        .vertical-middle(); 
        cursor: pointer; 
    }

    // placeholder, transition
    &[type="text"],
    &[type="password"],
    &[type="number"],
    &[type="tel"],
    &[type="date"],
    &[type="search"] {
        .placeholder();
        .transition(~"border-color ease-in-out .2s, box-shadow ease-in-out .2s");
    }

    // transition
    &[type="radio"], 
    &[type="checkbox"] {
        .transition(~"border-color ease-in-out .2s, box-shadow ease-in-out .2s");
    } 

    // align
    &[type="number"],
    &.number {
        text-align: right;
    }

    // glow effect
    &[type="text"]:focus,
    &[type="password"]:focus,
    &[type="number"]:focus,
    &[type="tel"]:focus,
    &[type="date"]:focus,
    &[type="radio"]:focus, 
    &[type="checkbox"]:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
    }

    // ime-mode
    &[type="number"], 
    &.number { 
        ime-mode: disabled; 
    }

}


label[for] { 
    margin-right: 5px; 
    cursor: pointer; 
}

p {
    .pos-relative();
    > input[type="radio"],
    > input[type="checkbox"] { 
        // margin-top: -3px;
        .vertical-middle(); 
    }
}

/* custom
   ========================================================================== */

input {
    // text type
    &[type="text"], 
    &.text { 
        .box-sizing(content-box);
        .border-radius(@border-radius);
        padding: 0 5px; 
        width: 120px; 
        .height(25px);
        font-size: @font-size; 
        border: solid 1px #d5d5d5;
        border-radius: @border-radius; 
    }

    // size
    &.xxsmall { 
        width: 20px; 
    }
    &.xsmall { 
        width: 40px; 
    }
    &.small { 
        width: 60px; 
    }
    &.large { 
        width: 230px; 
    }
    &.xlarge { 
        width: 99%; 
        max-width: 600px;
    }

    // adress
    &.address { width: 40%; }
    &.address.large { width: 50%; }

    // email
    &.email.id { width: 180px; }
    &.email.domain { width: 100px; }

    // message
    &.message { width: 400px; }
}

textarea.textarea {
    padding: 5px 0;
    border: solid 1px #d9d9d9; 
    .placeholder();
    .transition(~"border-color ease-in-out .2s, box-shadow ease-in-out .2s");
    &:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
    }
}

select {
    &.select { 
        /* select.select */

        border: solid 1px #cacaca;

        .transition(~"border-color ease-in-out .2s, box-shadow ease-in-out .2s");

        &:focus { 
            border-color: #999;
        }
        &.xsmall { width: 80px; }
        &.small { 
            width: 120px; 
            font-size: @font-size;
        }
        &.large { 
            width: 180px; 
            max-width: 90%;
            font-size: @font-size;
        }
        &.full { width: 99.99%; }
        &.disabled {
            background:#eee; 
            color:#999;
        }    

        .firefox & { 
            padding: 4px 0 5px; 
        }
        .chrome & { 
            padding: 7px 0; 
        }
        .ie10 &, .ie9 & {
            .height(30px);
        }
        .ie8 & {
            padding: 5px 0 6px;
        }
    }
    &.multiple {
        .box-sizing(content-box);
        border: solid 1px #cacaca;
        &.xlarge {
            width: 99%;
            height: 170px;
        }
        &.large {
            width: 99%;
            height: 100px;
        }
        &.small {
            width: 99%;
            height: 60px;
        }
    }
}

// select.large { 
//     .box-sizing(content-box);
//     & {
//         height: 37px;
//         font-size: 12px;
//     }
// }

/* firefox
@-moz-document url-prefix() {
    body { background: #000; }
}
*/