/* ==========================================================================
   Icon
   ========================================================================== */

.background-image(@file, @type: png, @retina: false) when (@retina = false){
    background-image: url('@{path-images}/@{file}.@{type}');
}

.background-image(@file, @type: png, @retina: false) when (@retina = true){
    background-image: url('@{path-images}/@{file}.@{type}');
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('@{path-images}/@{file}@2x.@{type}');
    }
}

.icon-size(@x, @y, @retina: false) when (@retina = false){
    width: @x;
    height: @y;
} 

.icon-size(@x, @y, @retina: false) when (@retina = true){
    width: @x;
    height: @y;
    background-size: @x @y;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: @x * 2 @y * 2;
    }
}

.icon-set(@x, @y, @file, @type: png, @retina: false){
    .icon-size(@x, @y, @retina);
    .background-image(@file, @type, @retina);
}

/* icon
 =============================================================================== */

// single example
// span.icon-single-example { .icon(20px, 20px, '@{path-images}/common/temp'); }

.icon { 
    .inline-block();
    margin: 0;
    padding: 0;
    .text-none();
    .vertical-middle();
    background-color: transparent;
    .background-no-repeat();
    background-position: center center;
    .line-height-reset();
    .vertical-middle();
    // .opacity(0.9);
    // &:hover, &:focus {
    //     .opacity(1);
    // }
    .reader();
}

span.icon { 

    text-align: left;

    .button & {
        margin-right: 3px;
        .vertical-middle();
    }

    &.date {
        .icon-set(30px, 30px, '@{path-images}/admin/date');
    }

    /*    
    &.new {
        .icon-set(20px, 20px, '@{path-images}/common/icon_new');
    }

    &.attatch {
        .icon-set(30px, 30px, '@{path-images}/common/icon_attatch');
        .button.primary & { 
            margin-top: -1px; 
            .icon-set(22px, 22px, '@{path-images}/common/icon_attatch_dark');
        }
    }

    &.delete {
        .icon-set(18px, 18px, '@{path-images}/common/icon_delete');
        .small & {
            .icon-set(8px, 7px, '@{path-images}/common/icon_delete_2');
        }
    }

    &.search {
        .icon-set(18px, 18px, '@{path-images}/common/icon_search');
    }

    &.vod {
        .icon-set(18px, 18px, '@{path-images}/common/icon_vod');
        .button & { margin-top: -5px; }
    }
    &.doc {
        .icon-set(18px, 18px, '@{path-images}/common/icon_doc');
        .button & { margin-top: -5px; }
    }

    &.hit {
        .icon-set(18px, 18px, '@{path-images}/common/icon_hit');
    }

    &.hit2 {
        .icon-set(18px, 18px, '@{path-images}/common/icon_hit2');
    }    

    &.point {
        .icon-set(18px, 18px, '@{path-images}/common/icon_point');
    }

    &.going {
        .icon-set(52px, 21px, '@{path-images}/common/icon_going');
    }

    &.end {
        .icon-set(52px, 21px, '@{path-images}/common/icon_end');
    }

    &.attatch {
        .icon-set(30px, 30px, '@{path-images}/common/icon_attatch');
        .button.primary & { 
            margin-top: -1px; 
            .icon-set(22px, 22px, '@{path-images}/common/icon_attatch_dark');
        }
    }

    &.submit {
        .icon-set(18px, 18px, '@{path-images}/common/icon_submit');
        .button & { 
            margin-top: -1px;
        }
    }

    &.cancel {
        .icon-set(18px, 18px, '@{path-images}/common/icon_cancel');
        .button & { 
            margin-top: -1px;
        }
    }
    &.warning {
        .icon-set(47px, 47px, '@{path-images}/common/icon_warning');
    }

    &.modify {
        .icon-set(10px, 10px, '@{path-images}/common/icon_modify');
    }
    &.datepicker {
        .icon-set(30px, 30px, 'common/ico_datepicker');
    }
    &.close {
        .icon-set(18px, 18px, 'common/ico_close');
    }
    &.question {
        .icon-set(20px, 20px, 'common/ico_question');
    }
    &.print {
        .icon-set(20px, 20px, 'common/icon_print');
        .button & { 
            margin-top: -1px;
        }
    }
    &.study {
        .icon-set(20px, 20px, 'common/icon_study');
        .button & { 
            margin-top: -1px;
        }
    }
    &.modify-plan {
        .icon-set(20px, 20px, 'common/icon_modify_plan');
        .button & { 
            margin-top: -1px;
        }
    }
    &.change {
        .icon-set(20px, 18px, 'common/ico_change');
        .button & { 
            margin-top: -1px;
        }
    }
    &.lock {
        .icon-set(18px, 18px, 'common/ico_lock');
    }
    &.download {
        .icon-set(29px, 21px, 'common/icon_download');
    }
	&.grade-1, &.grade-2 {
		.pos-absolute();
		left: 0px; top: 0px;
		width: 56px;
		height: 59px;	
	}
	&.grade-1 { 
		.icon-set(56px, 59px, '@{path-images}/common/icon_grade_1');
	}
	&.grade-2 {
		.icon-set(56px, 59px, '@{path-images}/common/icon_grade_2'); 
	}
    &.scraps {
        .icon-set(25px, 18px, '@{path-images}/common/icon_scraps_2');
    }
    &.close2 {
        .icon-set(18px, 18px, 'common/ico_close2');
    }
    &.help {
        .icon-set(18px, 18px, 'common/ico_help');
    }
    &.map {
        .icon-set(18px, 18px, 'common/ico_map');
    }
    &.add {
        .icon-set(18px, 18px, 'common/ico_add');
    }
    &.picture {
        .icon-set(18px, 18px, 'common/ico_picture');       
    }
    &.question {
        .icon-set(35px, 37px, 'common/ico_question');
    }
    &.answer {
        .icon-set(35px, 37px, 'common/ico_answer');
    }
    &.ding {
        .icon-set(18px, 18px, 'common/ico_ding');
    }
    &.lock {
        .icon-set(18px, 18px, 'common/ico_lock');
    }
    &.pulldown-off {
        .icon-set(18px, 18px, 'common/ico_pulldown_off');
    }
    &.pulldown-on {
        .icon-set(18px, 18px, 'common/ico_pulldown_on');
    }
    &.switch {
        .icon-set(46px, 20px, 'common/switch_off');
        &.active {
            .background-image('common/switch_on');
        }
    }
    &.calc {
        .icon-set(10px, 12px, 'common/ico_calc');
    }
    &.button-search-faq {
        .icon-set(43px, 43px, 'common/ico_search_faq');
    }
    a & { .opacity(0.85); }
    a:hover & { .opacity(1); .text-none(); cursor: pointer; }
    */
}


/* star point */
span.star { 
    .icon();
    width: 90px;
    height: 18px;
    .background-image('common/ico_star');
    background-position: left top;
    // .background-no-repeat();
}
span.star.star-1 { background-position: -72px 0; }
span.star.star-2 { background-position: -54px 0; }
span.star.star-3 { background-position: -36px 0; }
span.star.star-4 { background-position: -18px 0; }
span.star.star-5 { background-position: 0 0; }

/* a.color {
    .inline-block();
    padding: 1px;
    border: solid 1px #ccc;
    &.active {
        padding: 0;
        border: solid 2px #000;
    }
}
span.color {
    .icon();
    width: 25px;
    height: 25px;
    background-color: #000;
} */

/* require
 =============================================================================== */
span.require {
    .pos-relative();
    overflow: hidden;
    display: inline !important;
    padding: 0 0 0 10px !important;
    color: #fc0301 !important;
    em { 
        .pos-absolute();
        z-index: -1;
        visibility: hidden;
        text-indent: -1000px;
    }
}

/* level
 =============================================================================== */
span.level {
    .icon();
    .vertical-middle();
    &.small {
        .icon-size(28px, 28px);
        &.king { .background-image('common/level_king'); }
        &.lord { .background-image('common/level_lord'); }
    }
}

/* sticker
 =============================================================================== */
span.sticker { 
    .pos-absolute();
    z-index: 10;
    left: 0;
    top: 0;
    span {
        width: 50px;
        height: 50px;
    }
    &.new span {
        .background-image('common/sticker_new');
    }
    &.hot1 span {
        .background-image('common/sticker_hot_1');
    }
    &.hot2 span {
        .background-image('common/sticker_hot_2');
    }
    &.hot3 span {
        .background-image('common/sticker_hot_3');
    }
    &.hot4 span {
        .background-image('common/sticker_hot_4');
    }
    &.hot5 span {
        .background-image('common/sticker_hot_5');
    }
}