/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron { 
    .clearfix();
    .pos-relative();
    .reset();
    h3 {
        margin: 0; 
        padding: 53px 0 0 52px;
        font-size: 40px;
        .height(58px);
        .normal();
        color: #fff;
    }
    .csstransforms3d & .item {
        .opacity(0);
        transition: all 0.3s 0s ease-in-out;
        &.nth-child-1 { transform: translateX(0px) translateY(100px); }
        &.nth-child-2 { transform: translateX(20px) translateY(0px); }
        &.nth-child-3 { transform: translateX(20px) translateY(0px); }
    }
    .csstransforms3d .page-media & .item {
        &.nth-child-1 { transform: translateX(0px) translateY(0px); }
    }
    .csstransforms3d .page-creative & .item {
        &.nth-child-1 { transform: translateX(0px) translateY(-20px); }
        &.nth-child-2 { transform: translateX(0px) translateY(100px); }
        &.nth-child-3 { transform: translateX(0px) translateY(-30px); }
    }
    .csstransforms3d .page-plan & .item {
        &.nth-child-1 { transform: translateX(0px) translateY(0px); }
        &.nth-child-2 { transform: translateX(0px) translateY(30px); }
        &.nth-child-3 { transform: translateX(30px) translateY(0px); }
    }

    .csstransforms3d .loaded & .item,
    .csstransforms3d .page-media.loaded & .item,
    .csstransforms3d .page-plan.loaded & .item,
    .csstransforms3d .page-creative.loaded & .item {
        .opacity(1);
        transform: translateX(0px) translateY(0px);
            &.nth-child-1 { transition-delay: 0s; }
            &.nth-child-2 { transition-delay: 0.3s; }
            &.nth-child-3 { transition-delay: 0.7s; }
    }
    .item {
        .pos-absolute();
        top: 0;
        right: 0;
        width: 510px;
        height: 190px;
        background-position: left bottom;
        .background-no-repeat();
    }
    .item {
        .page-record & {
            &.nth-child-1 { .background-image('common/visual_record_01'); }
            &.nth-child-2 { .background-image('common/visual_record_02'); }
        }
        .page-media & {
            &.nth-child-1 { .background-image('common/visual_media_01'); }
            &.nth-child-2 { .background-image('common/visual_media_02'); }
        }
        .page-creative & {
            &.nth-child-1 { .background-image('common/visual_creative_01'); }
            &.nth-child-2 { .background-image('common/visual_creative_02'); }
            &.nth-child-3 { .background-image('common/visual_creative_03'); }
        }
        .page-community & {
            &.nth-child-1 { .background-image('common/visual_community_01'); }
            &.nth-child-2 { .background-image('common/visual_community_02'); }
            &.nth-child-3 { .background-image('common/visual_community_03'); }
        }
        .page-mypage & {
            &.nth-child-1 { .background-image('common/visual_mypage_01'); }
            &.nth-child-2 { .background-image('common/visual_mypage_02'); }
            &.nth-child-3 { .background-image('common/visual_mypage_03'); }
        }
        .page-etc &,
        .page-helpdesk & {
            &.nth-child-1 { .background-image('common/visual_helpdesk_01'); }
            &.nth-child-2 { .background-image('common/visual_helpdesk_02'); }
        }
        .page-plan & {
            &.nth-child-1 { .background-image('common/visual_plan_01'); }
            &.nth-child-2 { .background-image('common/visual_plan_02'); }
            &.nth-child-3 { .background-image('common/visual_plan_03'); }
        }
    }

    /* mobile */
    @media screen and (max-width: @screen-sm-min) {
        max-width: 100%;
    }
}
