/* ==========================================================================
   Label
   ========================================================================== */
 
span.label {
    display: inline;
    padding: 1px 3px 3px;
    font-size: 12px;
    .line-height-reset();
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    // border-radius: .25em;

    // Add hover effects, but only for links
    &[href] {
        .text-none();
        &:hover,
        &:focus {
            color: #fff;
            .text-none();
            cursor: pointer;
        }
    }

    // Empty labels collapse automatically (not available in IE8)
    &:empty {
        display: none;
    }

    // Quick fix for labels in buttons
    .btn & {
        .pos-relative();
        top: -1px;
    }

    & { .label-variant(@label-default-bg); }
    &.primary { .label-variant(@label-primary-bg); }
    &.success { .label-variant(@label-success-bg); }
    &.info { .label-variant(@label-info-bg); }
    &.warning { .label-variant(@label-warning-bg); }
    &.danger { .label-variant(@label-danger-bg); }

}