/* ==========================================================================
   Layout
   ========================================================================== */

// vars
@desktop-width: 990px;
@gnb-width: @desktop-width + 10;
@gnb-z-index-base: 100;

#header, #contents, #footer { 
    min-width: @desktop-width;
}

// container
.container {}
/* background-color:#f0f0f0; */

// wrap
.wrap {
    .clearfix();
    // margin: 0 auto;
    // width: @desktop-width;
    // text-align: left;
}

/* Skip to Content */
#skipNavigation, #skipToContent { 
    .pos-relative();
    a { 
        .block(); 
        height: 1px; 
        width: 1px; 
        margin-bottom: -1px; 
        overflow: hidden; 
        text-align: center; 
        white-space: nowrap; 
        .box-sizing(border-box);
        &:hover,
        &:focus,
        &:active  { 
            height: auto; 
            width: 100%; 
            padding: 5px; 
            margin-bottom: 1px; 
            font-size: 14px; 
            .bold(); 
            background: #FBF4DF; 
            border: solid 3px #E5CDB6; 
            color: #683109; 
        }
    }
}

/* header */
#header { 
    // .pos-absolute();
    // top: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
}

#wrapper {
    // padding-top: 373px;
}

#contents {
    // .outer-wrap {}
    // .wrap {}
    // .inner-wrap {
    //     margin: 0 30px; 
    // }
}

#header {

    // .min-height(373px);

    .container {
        .clearfix();
        // text-align: center;
    }
    .wrap {
        .clearfix();
        // margin: 0 auto;
        width: @desktop-width;
        text-align: left; 
    }

}

#contents {
    // .min-height(400px);
}

// bottom spacer
.bottom-spacer {
    .clearfix();
    overflow: hidden;
    margin-top: 35px;
    height: 0px;
}

/* footer */
#footer {

}

/* tablet */
@media only screen and (min-width: 480px) {

}

/* desktop */
@media only screen and (min-width: 768px) {

}
/* wide */
@media only screen and (min-width: 1140px) {

}
