/* ==========================================================================
   Modal
   ========================================================================== */

.page-modal {
    .header {
        .pos-relative();
        height: 53px;
        .line-height-small();
        background-color: @aside-bg;
        h2 {
            .pos-absolute();
            .reset();
            left: 17px;
            top: 17px;
            .height(17px);
            color: #fff;
            font-size: 18px;
            .bold();
        }
        .utility {
            height: 53px;
            a {
                .pos-absolute();
                .inline-block();
                top: 12px;
                right: 12px;
            }
            .print {
                right: 55px;
                .icon-set(55px, 53px, '../img/common/ico_print');
            }
            .close {
                .icon-set(27px, 27px, '../img/admin/ico_close_modal');
            }
        }
    }
    .contents {
        padding-top: 30px;
    }
    .wrap {
        margin: 0 20px;
        width: auto;
    }

}
.page-print {
    .header {
        margin: 20px;
        font-family: @font-family-serif;
        span {
            .block();
            font-weight: normal;
            font-size: 12px;
        }
        strong {
            .block();
            .mt10();
            .bold();
            font-size: 28px;
        }
    }
    .contents {
        min-height: 950px;
        div.title { 
            .pos-relative();
            .mt30();
            .mb30();
            h2 {
                .reset();
                .height(53px);
                font-size: 26px;
                color: #000;
                .bold();
            }
            .utility {
                .pos-absolute();
                top: 0px;
                right: 20px;
                width: 40%;
            }
        }
    }
    .wrap {
        margin: 0 20px;
        width: auto;
    }
    .logo {
        .text-center();
        margin-bottom: 20px;
    }
    &.print-order {
        .header { 
            margin: 0px; 
            background: #f7f7f7;
            h1 { 
                margin: 0px; 
                padding: 15px 20px;
                color: #000;
                line-height: 1;
                font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                span { font-size: 18px; }
                strong.core { 
                    .mt5();
                    font-size: 32px;
                }
            }
        }
        h2.title {
            .mt20();
            font-size: 18px;
            color: #553901;
            border-bottom: 2px #563a00 solid;
            .add-on { .mt5(); }
        }
        h3.title {
            margin: 22px 0 5px 0;
            height: auto;
            min-height: auto;
            color: #7d5e1f;
            font-size: 14px;
        }
        .logo {
            .pos-absolute();
            right: 20px;
            top: 10px;
        }
        .bbs-form {
            .mt0();
            table {
                border: 1px #ccc solid;
                border-left: 0px;
                border-top: 0px;
                tr {
                    th, td {
                        border-top: 1px #ccc solid;
                        border-left: 1px #ccc solid;
                    }
                    th {
                        color: #000;
                        background: #f7f7f7;
                        span { padding: 0 0 0 15px; }
                    }
                    td { padding-top: 3px; padding-bottom: 5px; }
                }
            }
        }
        .bbs-list {
            table {
                border: 1px #ccc solid;
                border-left: 0px;
                thead th {
                    background: #f7f7f7;
                    border-left: 1px #ccc solid;
                    span {
                        padding: 3px 0;
                    }
                }
                td {
                    padding: 3px 0;
                    border-top: 1px #ccc solid !important;
                    border-left: 1px #ccc solid;
                    &.text-left {
                        padding-left: 20px;
                    }

                }
                tfoot { 
                    th,td {
                        border-top: 1px #ccc solid !important;
                        border-left: 1px #ccc solid;
                    }
                    th {
                        background: #f7f7f7 !important;
                        span {
                            padding: 0px;
                        }
                    }
                }
            }
        }
        .delivery-guide {
            .pos-relative();
            .padding-left(150px);
            font-size: 11px;
            letter-spacing: -1px;
            div.obj {
                .pos-absolute();
                left: 0px;
                width: 160px;
                overflow: hidden;
                border: 1px #c9c9c9 solid;
                p { 
                    .mt10();
                    .pos-absolute();
                    width: 100%;
                    z-index: 1;
                    font-size: 11px;
                    .text-center();
                    strong {
                        .block();
                        .margin-bottom(3px);
                        font-size: 12px;
                    }
                }
            }
        }
        .info {
            .mt20();
            .pt10();
            line-height: 1.5;
            border-top: 1px #999 dashed;
            span {
                margin: 0 20px;
                color: #ccc; 
            }
        }
    }
    &.print-ship {
        div.title { 
            .utility { 
                top: 15px;
                .text-right;
                font-size: 14px;
                color: #000;
            }
        }
        .ship-list {
            .section-total span {
                .inline-block();
                .ml20();
                &:first-child { .ml5(); }
            }
        }
    }

}

/* 우편번호 검색 */
.zip-search {
    .tab-a {
        .mt0();
    }
    h4 { font-size: 12px; }

    .search-form {
        .clearfix();
        .mt20();
        padding: 10px 0;
        .text-center();
        border-top: 2px #000 solid;
        border-bottom: 1px #eee solid;
        strong {
            .mr10();
        }
        &.road-search {
            .pos-relative();
            ul.tab {
                margin-right: 80px;
                li {
                    width:25%;
                    .text-center();
                    strong {
                        .block();
                        margin: 0 0 5px 0 !important;
                    }
                    .xsmall { width: 20px; }
                }
            }
            .button {
                .pos-absolute();
                right: 10px;
                top: 20px;
            }

        }
    }
    .bbs-list {
        overflow: hidden;
        overflow-y: auto;
        max-height: 200px;
        border-top: 2px #000 solid;
        border-bottom: 1px #000 solid;
        .address { .text-left(); }
        table {
            border-top: 0px;
            border-bottom: 0px;
        }
    }
    .address-detail {
        h5 { 
            margin: 0 0 5px 0;
            font-weight: normal;
            font-size: 12px;
            input {
                .vertical-middle();
                .margin-right(5px);
            }
        }
        .address-1 { 
            .address { .ml10(); width: 65%; }
        }
        .address-2 { 
            .mt10();
            .address { width: 73%; }
        }
        &.road-detail {
            .address-1 { 
                .address { 
                    width: 35%;
                    &.small { width: 25%; }
                }
            }
            .address-2 { 
                .mt10();
                .address { width: 73%; }
            }
        }
    }
    .loadGuide { padding-left: 15px; font-size: 11px; color: #6f512f;
        em { position: absolute; margin-left: -15px; font-size: 12px; }
    }
    .section-button { .mb20(); }
}

/* 카드사 목록 */
.pop-cardlist {
    .bbs-list {
        overflow: hidden;
        overflow-y: auto;
        max-height: 390px;
        border-top: 2px #000 solid;
        border-bottom: 1px #000 solid;
        table {
            border-top: 0px;
            border-bottom: 0px;
        }
    }
}