/* ==========================================================================
   Admin
   ========================================================================== */

@aside-bg: #005896; /* admin bg */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.page-admin {
    margin: 0;
    padding: 0;
    height: 101%;
    // background-color: #303030;
    &.login {
        #container {
            height: 100%;
        }
        #wrapper {
            display: inline-block;
            width: 100%;
            margin: 80px auto 50px;
            text-align: center;
            background: url('../img/admin/bg_login.png') center top repeat-x; 
        }
        #contents {
            margin: 0 auto;
            width: 420px;
            min-width: 420px;
            height: 645px;
            border: solid 1px #ddd;
            background-color: #fff;
            box-shadow: 0px 1px 3px #aaa;
            overflow: hidden;
        }
        #login {
            height: 582px;
            background: url('../img/admin/login.png') center top repeat-x;
        }
        .logo {
            height: 310px;
            .icon {
                margin-top: 55px;
                .icon-set(272px, 220px, '../img/admin/login_logo');
            }
        }
        .title {
            .icon {
                .icon-set(220px, 84px, '../img/admin/login_title');
            }
        }
        .form {
            .pos-relative();
            line-height: 1;
            text-align: left;
            input {
                vertical-align: middle;
                &.text {
                    .box-sizing(content-box);
                    margin-left: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 171px;
                    height: 25px;
                    border: solid 1px #fff;
                }
            }
            .userid {
                .icon {
                    .icon-set(112px, 33px, '../img/admin/login_id');
                }
            }
            .userpw {
                .icon {
                    .icon-set(112px, 33px, '../img/admin/login_pw');
                }
            }
            .memory {
                margin: 12px 0 0 210px;
                .icon {
                    .icon-set(67px, 20px, '../img/admin/login_memory');
                }
            }
            .action {
                .pos-absolute();
                top: 0;
                left: 0;
                margin: 2px 0 0 310px;
                .submit {
                    .icon();
                    border: 0px;
                    .icon-set(72px, 61px, '../img/admin/login_submit');
                }
            }
        }
        .copyright {
            margin: 19px auto;
            .height(24px);
            font-family: @font-family-num;
            color: #999;
        }
    }
    &.pw-change {
        #container {
            height: 100%;
            text-align: center;
        }
        .logo {
            margin: 0 auto;
            width: 272px; 
            .icon {
                .icon-set(272px, 220px, '../img/admin/login_logo');
            }
        }
        #wrapper {
            display: inline-block;
            width: 100%;
            margin: 0 auto 50px;
            text-align: center;
            background: url('../img/admin/bg_login.png') center top repeat-x; 
        }
        #contents {
            margin: 0 auto;
            width: 777px;
            min-width: 777px;
            overflow: hidden;
        }
        .login-box {
            padding: 50px 190px 30px 190px;
            border: 1px #ccc solid;
            background: #E3E3E3;
            box-shadow: 0px 0px 3px #aaa;
            .title {
                .icon {
                    .icon-set(320px, 44px, '../img/admin/pw_change_title');
                }
            }
            .form {
                padding: 15px 20px;
                .margin-top(35px);
                .pos-relative();
                border-top: 1px #313131 solid;
                border-bottom: 1px #313131 solid;
                line-height: 1;
                text-align: left;
                input {
                    vertical-align: middle;
                    &.text {
                        .box-sizing(content-box);
                        margin-left: 10px;
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 171px;
                        height: 24px;
                        border: solid 1px #fff;
                    }
                }
                .pw-now {
                    .icon {
                        .icon-set(77px, 28px, '../img/admin/pw_now');
                    }
                }
                .pw-new {
                    .mt5();
                    .icon {
                        .icon-set(77px, 28px, '../img/admin/pw_new');
                    }
                }
                .pw-re {
                    .mt5();
                    .icon {
                        .icon-set(77px, 28px, '../img/admin/pw_re');
                    }
                }
                .action {
                    .pos-absolute();
                    bottom: 0px;
                    right: 20px;
                    .submit {
                        .icon();
                        .icon-set(72px, 61px, '../img/admin/login_ok');
                        border: 0px;
                    }
                }
            }
            .guide {
                .mt20();
                padding: 0 20px;
                text-align: left;
                color: #999;
                font-size: 11px;
            }
            &.pw-reset {
                .title {
                    .icon {
                        .icon-set(298px, 44px, '../img/admin/pw_reset_title');
                    }
                }
                .pw-temp {
                    .icon {
                        .icon-set(77px, 28px, '../img/admin/pw_temp');
                    }
                }
            }
        }
        .copyright {
            margin: 19px auto;
            .height(24px);
            font-family: @font-family-num;
            color: #999;
        }
    }

    #toggleAside {
        .pos-absolute();
        margin-left: 173px;
        .inline-block();
        margin-bottom: 3px;
        .icon {
            .icon-set(21px, 41px, 'admin/btn_aside_off');
        }
    }

    &.aside-on #toggleAside {
        .icon {
            .icon-set(21px, 41px, 'admin/btn_aside_on');
        }
    }

    &.sub {
        #header {
            .pos-fixed();
            left: 0;
            top: 0;
            width: 100%;
            right: 0;
            z-index: 100;
            height: 48px;
            line-height: 0;
            background-color: #fff;
            border-bottom: solid 2px #999999;
            .wrap {
                margin: 0;
                width: 100%;
            }
            .logo {
                .pull-left();
                .icon {
                    .icon-set(173px, 48px, '../img/admin/logo');
                }
            }
            .usermenu {
                .pull-right();
                padding-right: 20px;
                strong {
                    font-size: 12px;
                    color: #666;
                }
                .holder {
                    height: 48px;
                    line-height: 48px;
                }
                .icon {
                    margin-left: 3px;
                    .icon-set(21px, 24px, '../img/admin/log_out');
                    vertical-align: middle;
                }
            }
        }
        #aside {
            position: absolute;
            top: 0;
            left: -173px;
            width: 173px;
            bottom: 0;
            height: 100%;
            background-color: @aside-bg;
            z-index: 10;
            transition: all .4s ease 0s;
        }
        #nav {

            .pos-relative();

            padding-top: 50px;
            ul {
                .reset();
                a {
                    .block();
                    > span { 
                        .inline-block();
                    }
                    &.d1 {
                        .height(40px);
                        background-color: @aside-bg;
                        color: #fff;
                        > span {
                            padding-left: 18px;
                            font-size: 12px;
                        }
                        // 서브메뉴가 있을때
                        &.has-child {
                            background-image: url('../img/admin/menu_d1_off.png');
                            background-position: right center;
                        }
                    }
                    &.d2 {
                        .height(38px);
                        background-color: #e9e9e9;
                        color: #595959;
                        > span {
                            padding-left: 28px;
                            font-size: 12px;
                        }
                        &.has-child {
                            background-image: url('../img/admin/menu_d1_off.png');
                            background-position: right center;
                        }
                    }
                    &.d3 {
                        .height(24px);
                        background-color: #7f7f7f;
                        background-image: url('../img/admin/menu_d3_off.png');
                        background-position: left center;
                        color: #fff;
                        > span {
                            padding-left: 50px;
                            font-size: 12px;
                        }
                    }
                }
                li > ul { 
                    display: none;
                }
                li.d1 {
                    border-bottom: solid 1px darken(@aside-bg, 5%);
                    &.active {
                        .d1 { 
                            background-color: #fff;
                            color: #000;
                            font-weight: bold;
                            letter-spacing: -1;
                        }
                        .d1.has-child {
                            background-image: url('../img/admin/menu_d1_on.png');
                        }
                        ul.d2 {
                            .block();
                            .has-child {
                                background-image: url('../img/admin/menu_d2_off.png');
                            }
                            .active {
                                .has-child {
                                    background-image: url('../img/admin/menu_d2_on.png');
                                }
                            }
                        }
                    }
                }
                li.d2 {
                    border-top: solid 1px #d0d0d0;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        a.d2 { 
                            .bold();
                            .pos-relative();
                            span:after {
                                .pos-absolute();
                                left: 10px;
                                content: '→';
                            }
                        }
                        ul.d3 {
                            .block();
                        }
                    }
                }
                li.d3 {
                    /* border-bottom: solid 1px #d3d3d3; */
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        #wrapper {
            transition: all .4s ease 0s;
            padding-left: 0;
            min-height: 100%;
            background: url('../img/admin/bg.png') repeat-y left top;
        }
        &.aside-on #wrapper {
            padding-left: 173px;
        }
        &.aside-on #aside {
            left: 0px;
        }
        #contents {
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: #fff;

        }
        #innerContents {
            margin: 0 43px;

        }
        &.aside-on #innerContents {
            margin: 0 43px;
        }
    }
}