/* ==========================================================================
   Print
   ========================================================================== */

@media print {
    @page { margin: 0.5cm; }
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited { 
        .text-underline(); 
    }
    a[href]:after { 
        content: " (" attr(href) ")";
    }
    abbr[title]:after { 
        content: " (" attr(title) ")"; 
    }
    .ir a:after, 
    a[href^="javascript:"]:after, 
    a[href^="#"]:after { 
        content: ""; 
    }
    pre, blockquote { 
        border: 1px solid #999; 
        page-break-inside: avoid; 
    }
    thead { 
        display: table-header-group; 
    }
    tr, img { 
        page-break-inside: avoid; 
    }
    img { 
        max-width: 100% !important; 
    }
    p, h2, h3 { 
        orphans: 3; 
        widows: 3; 
    }
    h2, h3 { 
        page-break-after: avoid; 
    }
    .page-break { 
        page-break-before: always; 
    }
    .header { 
        display: none;
        .page-print & {
            display: block;
        }
    }
    .no-break {
        /* 내부 요소를 묶어 끊지 못하게 합니다. */
        page-break-inside: avoid;
    }
    .before-break {
        /* 해당 객체 이전 줄을 끊습니다. */
        page-break-before: always;
    }
    .after-break {
        /* 해당 객체 다음 줄을 끊습니다. */
        page-break-after: always;
        td { border-bottom: solid 1px #969696; }
    }
    .after-break-avoid {
        /* 가능하다면 다음 줄을 끊지 않습니다.  */
        page-break-after: avoid;
    }
    .print-picking .contents div.title { .mt0(); }
}