/* community
 =============================================================================== */

/* talk-list */
div.talk-list {
    ul { 
        margin: -45px 0 0 -25px;
        .pb15();
        li {
            .pos-relative();
            margin-top: 50px;
            .margin-left(25px);
            width: 302px;
            border: 2px #bfc3c6 solid;
            border-radius: @border-radius;
            .bg {
                .pos-absolute();
                left: 26px;
                bottom: -24px;
                .inline-block();
                width: 23px;
                height: 24px;
                .background-image('custom/talk_list_bg');
                background-position: left top;
                background-repeat: no-repeat;
            }
            a {
                .block();
                padding: 15px 5px;
                min-height: 185px;
                color: @link-color;
                &:hover { 
                    .text-none(); 
                    background: #fdfdfd;
                }
                span {
                    .padding-left(15px);
                    .vertical-middle();
                    &.subject {
                        font-size: 18px;
                        .bold();
                        color: #1daad8;
                    }
                    &.view {
                        .inline-block();
                        padding: 0px !important;
                        width: 28px;
                        .height(28px);
                        text-align: center;
                        color: #fff;
                        .bold();
                        background: #fd7261;
                        border-radius: 50%;
                    }
                    &.info {
                        .inline-block();
                        .mt5();
                        color: @link-hover-color;
                        font-size: @font-size-small;
                        em:first-child {
                            .margin-right(8px);
                            .padding-right(8px);
                            .background-image('custom/talk_pipe');
                            background-position: right 70%;
                            // .background-no-repeat();
                        }
                    }
                    &.text {
                        .block();
                        .mt15();
                        .pt20(); 
                        .padding-right(20px);
                        overflow: hidden;
                        height: 75px;
                        border-top: 1px #c5ced3 dashed;
                    }
                }
            }
        }
    }
}

/* event-list */
div.event-list {
    ul {  
        .margin-top(-45px);
        .margin-left(-18px);
        li {
            .pos-relative();
            margin-top: 50px;
            .margin-left(18px);
            border: 1px #bfc3c6 solid;
            a {
                .block();
                overflow: hidden;
                width: 473px;
                height: 333px;
                &:hover { 
                    .text-none(); 
                    border: 0px;
                    background: #fdfdfd;
                }
                span {
                    .block();
                    &.subject {
                        .mt15();
                        .ml20();
                        font-size: 18px;
                        color: #30383f;
                        .text-overflow();
                        width: 80% !important;
                    }
                    &.date {
                        margin: 5px 0 0 20px;
                        font-size: @font-size-small;
                        color: @link-hover-color;
                    }
                    &.icon {
                        .pos-absolute();
                        top: 269px;
                        right: 16px;
                        width: 47px;
                        .height(47px);
                        color: #fff;
                        .bold();
                        font-size: @font-size-small;
                        text-align: center;
                        border-radius: 50%;
                        &.going-small {
                            background: #fd7261;
                        }
                        &.end-small {
                            background: #80878d;
                        }
                    }
                }
            }      
        }
    }
}

/* media
 =============================================================================== */
div.media-player {
    .background-image('custom/media_view_bg');
    background-repeat: repeat;
    *zoom: 1;
    &:after {
        visibility: hidden; 
        .block(); 
        content: " "; 
        clear: both; 
        height: 0; 
        font-size: 0; 
    }
    div.player {
        .pull-left();
        overflow: hidden;
        width: 712px;
        border-right: 1px #4a5159 solid;
        div.inner {
            padding: 30px;
            border-right: 1px #0e1013 solid;
        }
        img, iframe { width: 100%; }
    }
    div.info {
        .pos-relative();
        .pull-right();
        padding: 30px 15px;
        width: 224px;
        height: 400px;
        text-align: left;
        p {
            font-size: 14px;
            .name { color: #999; margin-right: 18px; }
            .value { color: #fff; }
        }
        .mov-buttons {
            position: absolute;
            left: 25px;
            bottom: 67px;
            width: 204px;
            height: 84px;
            .text-center();
            a {
                .inline-block();
                margin:0 8px;
                width: 38px;
                height: 46px;
                padding: 17px 21px;
                border-radius: 50%;
                border: 2px solid #999;
                color: #999;
                text-align: center;
                text-decoration: none;
                span {
                    display: inline-block;
                    width: 22px;
                    height: 20px;
                    .background-image('common/icon_hits_and_scraps');
                    // .background-no-repeat();
                }
                em {
                    display: block;
                    font-style: normal;
                    margin-top: 10px;
                    line-height: 1;
                }
                &.hit span { background-position: 0 0; }
                &.scraps span { background-position: -22px 0; }
                &:hover {
                    border-color: #fff;
                    color: #fff;
                    &.scraps span { background-position: -22px -20px; }
                }
            }
        }
    }
}

div.media-view {
    .mt40();
    .bbs-view-header {
        padding: 0px;
        border: 0px;
        .title {
            float: none !important;
            h4 strong {
                font-size: 24px;
                .normal();
                color: @brand-success;
            }
        }
    }
    .bbs-view-body {
        padding: 25px 0 50px 0;
        border-bottom-color: #d1d8dc;
        h5 { margin: 35px 0 15px; color: #48555f; }
    }
}

/* bbs */
div.bbs-writer {
    padding: 10px 30px;
    .background-image('common/dot_gray_02');
    background-position: left bottom;
    background-repeat: repeat-x;
}

div.comment-write {
    .pos-relative();
    margin-top: 35px;
    padding: 38px 0 20px 108px;
    background: #f3f4f8;
    span.level{
        .pos-absolute();
        left: 40px;
    }
    span.vote {
        .block();
        .mb15();
        .bold();
        font-size: 16px;
        input { .vertical-middle(); margin-left: 10px; }
    }
    textarea {
        .box-sizing(content-box);
        width: 731px;
        height: 70px;
        border: 1px #d9d9d9 solid;
    }
    .button {
        .pos-absolute();
        right: 35px;
        width: 90px;
        height: 80px;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        font-size: 15px;
        color: #fff;
        line-height: 80px;
        .bold();
        background: #fd7261;
    }
    p {
        .mb0();
        font-size: @font-size-small;
        color: #848b91;
    }
    &.poll {
        .pt25();
    }
}

div.comment-list {
    li {
        padding: 30px 0 30px 40px;
        border-bottom: 1px #dfe4e6 solid;
        div.inner {
            .pos-relative();
            .padding-left(70px);
            span.level {
                .pos-absolute();
                left: 0px;
            }
            div.info {
                .writer {
                    font-size: @font-size-large;
                }
                .date {
                    margin: 10px;
                    font-size: @font-size-small;
                    color: @link-color;
                }
                .reply {
                    .padding-left(22px);
                    color: @text-color;
                    .background-image('common/ico_reply_s');
                    background-position: left center;
                    // .background-no-repeat();
                }
            }
            p.text {
                margin: 0px;
                .mt10();
                font-size: @font-size-large;
                color: @link-color;
            }
            div.action {
                .pos-absolute();
                top: 0px;
                right: 0px;
            }
            div.comment-write {
                margin-top: 30px;
                padding: 38px 0 20px 115px;
                .background-image('common/ico_reply_2');
                background-position: 20px 45px;
                .background-no-repeat();
                span.level{
                    left: 45px;
                }
                textarea {
                    width: 627px;
                }
                .button {
                    right: 22px;
                    background: #80878d;
                }
            }
        }
        &.reply {
            padding: 20px 0 20px 135px;
            .background-image('common/ico_reply_2');
            background-position: 108px 20px;
            // .background-no-repeat();
            div.inner {
            }
        }
    }
}

/* section-login */
div.section-login {
    .pos-relative();
    margin: 70px auto;
    width: 848px;
    border: 1px #d5dde4 solid;
    div.pic {
        .pos-absolute();
        top: 0px;
        left: 0px;
        .padding-top(55px);
        width: 320px;
        .text-center();
        .icon { 
            width: 124px;
            height: 162px;
            .background-image('custom/login_icon');
            background-position: center top;
            // .background-no-repeat();
        }
    }
    div.form {
        .pos-relative();
        .margin-left(320px);
        padding: 45px 30px 0 30px;
        height: 235px;
        border-left: 1px #d5dde4 solid;
        background: #f5f9fc;
        ul.core li {
            .padding-left(110px);
            .margin-bottom(8px);
            label {
                .pos-absolute();
                .mt10();
                .margin-left(-70px);
                .bold();
                font-size: 15px;
            }
            input.text {
                width: 214px;
            }
        }
        div.action {
            .pos-absolute();
            top: 45px;
            right: 70px;
            .button {
                padding: 18px 20px 20px 20px;
                width: 40px;
                .icon {
                    .block();
                    width: 100%;
                }
            }
        }
        div.link {
            .mt15();
            .padding-left(110px);
            label {
                color: @link-color;
                .margin-right(10px);
                .padding-right(10px);
                .background-image('custom/talk_pipe');
                background-position: right 70%;
                // .background-no-repeat();
            }
        }
        div.message {
            .margin-top(30px);
            .background-image('common/dot_gray_02');
            background-position: left top;
            background-repeat: repeat-x;
            ul { 
                .mt0();
                .pt25();
                li { 
                    .padding-left(25px);
                    .background-image('common/icon_notice');
                    background-position: left top;
                    // .background-no-repeat();
                }
            }
        }
    }
    &.my-login {
        div.form {
            .padding-top(70px);
            height: 208px;
            div.action {
                top: 70px;
            }
            div.message {
                .margin-top(60px);
            }
        }
    }
}

/* mission-map */
div.mission-map {
    .margin-top(60px);
    div.map {
        overflow: hidden;
        .background-image('custom/mission_map');
        background-position: right top;
        ul { 
            .margin-top(-59px);
            li {
                .margin-top(59px);
                .margin-right(19px);
                width: 188px;
                height: 131px;
                background: url('../img/custom/mission_map_bg.png') no-repeat center 98px;
                div.mission {
                    padding: 0 20px;
                    height: 96px;
                    .text-center();
                    color: @link-color;
                    border-radius: 10px;
                    border: 1px #b9d8e2 solid;
                    background: #f3fbfc;
                    h4 {
                        margin: 10px 0; 
                        .height(25px);
                        font-size: 14px;
                        color: #fff;
                        .background-image('custom/mission_map_h4_on');
                    }
                }
                &.fail, &.clear {
                    .background-image('custom/mission_map_fail_bg');
                    div.mission {
                        .pos-relative();
                        border: 1px #e8e8e8 solid;
                        background: #f8f8f8;
                        h4 {
                            margin: 10px 0; 
                            .height(25px);
                            font-size: 14px;
                            color: #fff;
                            .background-image('custom/mission_map_h4_off');
                        }
                        span.fail {
                            .pos-absolute();
                            top: 19px;
                            left: 56px;
                            width: 78px;
                            height: 61px;
                            .background-image('custom/mission_map_fail');
                            background-position: left top;
                        }
                        span.clear {
                            .pos-absolute();
                            top: 15px;
                            left: 51px;
                            width: 88px;
                            height: 69px;
                            .background-image('custom/mission_map_clear');
                            background-position: left top;
                        }
                    }
                }
                &.no {
                    div.mission {
                        .padding-top(25px);
                        height: 71px;
                        font-size: 16px;
                        color: @brand-info;
                    }
                }
                &:nth-child(8n+1) {
                    .margin-left(140px);
                }
                &:nth-child(8n+5),
                &:nth-child(8n+6),
                &:nth-child(8n+7),
                &:nth-child(8n+8) {
                	.pull-right();
                }
                &:nth-child(8n+5) {
                    .margin-right(140px);
                }
	            .lt-ie8 & {
	            	&.nth-child-1 {
	                		.margin-left(140px);
	            	}
	            	&.nth-child-5,
	            	&.nth-child-6,
	            	&.nth-child-7,
	            	&.nth-child-8 {
                		.pull-right();
	            	}
	            	&.nth-child-5 {
                    	.margin-right(140px);
	            	}
	            }
            }
        }
    }
}

/* 개인정보 입력 */
.information-input .selecter {
    .inline-block();
    .vertical-middle();
    width: 130px !important;
    min-width: 130px !important;
}

/* 잔반토론 */
table.idea-vod {
   td.agree {
        .bold();
        color: @brand-danger;
   }
   td.disagree {
        .bold();
        color: @brand-info;
   }
}

/* 거꾸로 창의 - 추천 도서 */
div.book-recommend-view {
	.clearfix();
	div.book {
		.pos-relative();
		.pull-left();
		width: 200px;
		overflow: hidden;
		.text-center();
		a.like {
			.mt20();
			padding: 0px;
			width: 69px;
			height: 69px;
			.border-radius(50%);
			.icon {
				.mt15();
				.margin-right(0px);
			}
		}
	}
	div.bbs-view {
		.pull-right();
		.mt0();
		width: 720px;
		table {
			.mt0();
		}
	}
}

/* 마이페이지 - Weekly Plan
div.monthly-plan {
    .fc-day-number {
        float: none;
        padding: 10px 0 5px 10px;
        color: @link-color;
    }
    .fc-day-content {
        padding: 0 20px 10px 20px;
    }
    .fc-event {
        .reset();
        .mb5();
        padding: 5px 0;
        .text-center();
        border-radius: 5px !important;
        /*
        border-color: #6ab5ef;
        background-color: #6ab5ef;
        color: #fff;
        &.end {
            border-color: #eaeff3;
            background-color: #eaeff3;
        }
        &.mission {
            color: @text-color;
            border-color: #bac0c6;
            background-color: #fff;
        }
        &.fc-holiday {
            color: @brand-danger !important;
            border: 0px !important;
            background-color: transparent !important;
        }
    }
    .fc-day-header {
        height: 55px;
        .vertical-middle();
    }
}
 */
/* 마이페이지 - Weekly Plan */
div.today-info {
    ul.tab {
        margin: 0px;
        li {
            padding: 0px;
            width: 49.5%;
            .text-center();
            color: @link-color;
            font-size: 16px;
            &:first-child {
                border-right: 1px #cfe0e5 solid;
            }
            .icon {
                .margin-right(15px);
                &.name { .icon-set(41px, 41px, '@{path-images}/common/icon_user'); }
                &.process { .icon-set(41px, 41px, '@{path-images}/common/icon_process'); }
            }
            strong {
                .ml5();
                font-size: 18px;
                color: @text-color;
            }
        }
    }
}

div.study-schedule {
    padding: 0 10px;
    border: 10px #50c4d3 solid;
    h4 {
        .reset();
        .padding-top(65px);
        font-size: 22px;
        .bold();
        .text-center();
        background: url('../img/custom/study_schedule_bg.png') no-repeat center top;
        .datepicker {
            .margin-right(5px);
            background: url('../img/common/ico_datepicker_2.png'); 
        }
    }
    li.section {
        .clearfix();
        .mt15();
        font-size: 14px;
        border: 1px #d5dde4 solid;
        border-radius: 5px;
        .date, .category  {
            .pull-left();
            .mt30();
            .text-center();
            &.date { 
                width: 160px;
                color: #80878d;
            }
            &.category { 
                width: 90px;
                .bold();
                .badge { .mt5(); }
            }
        }
        ul.list { 
            .pull-left();
            .margin-left(35px);
            width: 455px;
            color: #80878d;
         }
        .action {
            .mt15();
            .mb15();
            .pull-right();
            .margin-right(30px);
            .icon { 
                .icon-set(52px, 53px, '@{path-images}/custom/study_schedule_control');
                &.up { 
                    background-position: left top;
                    &:hover { background-position: left bottom; }
                    &.disabled { 
                        opacity: 0.3;
                        background-position: left top;
                    }
                }
                &.down { 
                    .ml5();
                    background-position: right top;
                    &:hover { background-position: right bottom; }
                    &.disabled { 
                        cursor: default;
                        opacity: 0.3;
                        background-position: right top;
                    }
                }
            }
        }
        &.finish { background-color: #f5f9fc; }
    }
    p {
        .reset();
        padding: 250px 0;
        font-size: 22px;
        .text-center();
        .bold();
        color: @text-color;
        background: url('../img/custom/study_schedule_bg.png') no-repeat center top;
        .datepicker {
            .margin-right(5px);
            background: url('../img/common/ico_datepicker_2.png'); 
        }
    }
}