/* ==========================================================================
   Tab
   ========================================================================== */

/* 탭메뉴 */
.tab-a {
    .mt20();
    .clearfix();
    text-align: center;
    .tab {
        // border: solid 1px #5f5235;
            border-left: 1px solid #5f5235;
            border-bottom: 1px solid #5f5235;
        li {
            a { 
                .block(); 
                padding: 10px 20px;
                text-align: center;
                color: #2f2f2f; 
                .bold();
                .text-none();   
                border-top: 1px solid #5f5235;
                border-right: 1px solid #5f5235;
            }
            &.active {
                a {
                    color: #fff;
                    background: #2f2f2f; 
                    cursor: default;
                }
            }
        }
    }
}

.tab-b {
    .clearfix();
    text-align: center;
    .tab {
        margin:0 auto;
        display:block;
        width: 960px;
        border: solid 1px #cacaca;
        .box-shadow(0 2px 2px rgba(0,0,0,.075));
        li {
            width: 240px;
            a { 
                .block(); 
                .height(42px);
                text-align: center;
                font-size: 16px;
                .bold();
                .text-none();
                color: @text-color;
            }
            &.active {
                a {
                    background: #1daad8;
                    color: #fff;
                    cursor: default;
                }
            }
            & + li a {
                border-left: 1px solid #cacaca;
            }
        }
    }
}