/* ==========================================================================
   Text
   ========================================================================== */

html {
    font-size: 1em;
    .line-height();
}

html, button, input, select, textarea, option { 
    color: @text-color; 
}

body { 
    font-family: @font-family-base;
    font-size: @font-size;
    color: #80878d;
}

/* line-height */
.line-height-reset,
.line-height-xsmall { line-height: 1; }
.line-height-small { line-height: 1.2; }
.line-height { line-height: 1.4; }
.line-height-large { line-height: 1.6; }
.line-height-xlarge { line-height: 1.8; }

/* text weight */
.thin, .normal {
    font-weight: @font-weight-normal;
}
.thick, .bold { 
    font-weight: @font-weight-bold;
    .chrome & { 
        font-weight: @font-weight-bold-chrome;
    } 
}

/* title */
.title { 
    .clearfix();
    .reset();
    .pos-relative();
    min-height: 26px;
    overflow: hidden;
    .font-family(@headings-font-family);
    img { 
        .vertical-top(); 
    }
    
    div.add-on { 
        .pos-absolute();
        line-height: inherit;
        top: 0;
        right: 0;
        font-size: @font-size;
        .normal();
        color: #808080;
        input, select { 
            .vertical-middle(); 
        }
    }
    &.title-order-detail {
        padding: 10px;
        background: #f6f6f6;
        font-size: 12px;
        border-top: 2px solid #000;
        font-weight: normal;
        min-height: auto;
    }
}

/* heading */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    .font-family(@headings-font-family);
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color: @headings-color;

    .firefox & { 
        font-weight: 600;
    }

    small, .small, .desc {
        font-size:  @headings-small-font-size;
        color: @headings-small-color;
        .normal();
        .line-height-reset();
        strong { color: #ff0000; }
    }
    .desc { 
        .pos-absolute(); 
        right: 0;
        top: 50%;
    }
}

h3, .h3 { font-size: @font-size-h3; } /* 실제 타이틀 시작 */
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }

/* heading title */
h3.title { 
    .clearfix();
    .box-sizing(content-box);
    height: 35px;
    margin-top: 41px;
    margin-bottom: 20px;
    line-height: 1;
    strong.core { 
        display: inline-block;
        padding-left: 18px;
        .height(35px);
        color: #000; 
        background: url('../img/admin/h3.png') left center no-repeat;
    }
}

h4.title {
    .clearfix();
    .box-sizing(content-box);
    margin-top: 20px;
    line-height: 1;
    strong.core {
        display: inline-block;
        padding-left: 15px;
        .height(34px);
        color: #000;
        background: url('../img/admin/h4.png') left center no-repeat;
    }
}

h5.title {
    .box-sizing(content-box);
    strong {
        .height(40px);
        margin-top: 25px;
        color: #48555f;
    }
    .desc {
        .normal();
    }
}

h6.title {
    .mt20();
    .box-sizing(content-box);
    strong {
        .height(40px);
        margin-top: 25px;
        color: #48555f;
    }
    .desc {
        position: static;
        .normal();
    }
}

i { 
    font-style: normal; 
    .normal();
}

.strike { 
    .text-strike(); 
    color: #666; 
}
.underline:link , a .underline { .text-underline(); }

span, strong {
    &.primary { color: @brand-primary; }
    &.warning { color: #ff0000; }

    &.large { font-size: 17px; }
    &.xlarge { font-size: 22px; }
}

small, .small { 
    font-size: 11px; 
}

// Text overflow
// Requires inline-block or block for proper styling
// .text-overflow() {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }
.text-overflow,
.ellipsis { 
    .inline-block(); 
    *display: block; 
    *zoom: 1; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    word-wrap: normal !important; 
    word-break: keep-all; 
    white-space: nowrap; 
    width: 99%; 
} 


/* width 제한 필요 */
.nowrap { 
    /* .nowrap */
    word-wrap: break-word; 
    word-break: keep-all; 
    white-space: nowrap; 
}

/* message */
p.message { 
    clear: both;
    margin: 0; 
    padding: 10px 0; 
    font-size: 12px; 
    &.large { 
        padding: 15px 0;
        text-align: center;
        font-size: 12px; 
        .bold();
    }
    &.xlarge { 
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
        .bold();
    }
}

span.pipe { 
    .inline-block(); 
    margin-left: 4px; 
    margin-right: 4px; 
    font-size: 10px; 
    color: #a6a6a6;
    .thin(); 
    // .font-family(@font-family-dotum);
    font-smooth: never;
    -webkit-font-smoothing : none;
}

/* anchor */
a {
    &:link { .text-none(); color: @link-color; }
    &:visited { .text-none(); color: @link-color; }
    &:hover { .text-underline(); color: @link-hover-color; }
    &:active { .text-none(); color: @link-hover-color; }
    &:hover .link { .text-underline(); }

    .scale { // CSS Transform Hover Anchor
        -moz-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
        -o-transform: scale(1.1); 
    } 

    // &[href^="http://"], a.external { 
    //      padding-right: 20px; 
    //      background: url('@{path-images}/common/ico_external.gif') no-repeat center right; 
    // }
    // &[href^="mailto:"] { 
    //      padding-right: 20px; 
    //      background: url('@{path-images}/common/ico_email.gif') no-repeat center right; 
    // }
    // &[href$=".pdf"] { 
    //      padding-right: 20px; 
    //      background: url('@{path-images}/common/ico_pdf.gif') no-repeat center right; 
    // }

    /* 촛점 이슈 */
    &.block-holder { .inline-block(); }
    &.block-holder strong,
    &.block-holder span { .block(); }

}

.outline {
    & a:focus, 
    & input:focus, 
    & button:focus, 
    & textarea:focus { 
        outline: 3px solid #D7F07F; 
    }
}

