/* ==========================================================================
   helper mixins
   ========================================================================== */

/* cross Browsing
   ========================================================================== */

.backface-visibility(@visibility){
    /* .backface-visibility(); */
    -webkit-backface-visibility: @visibility;
    -moz-backface-visibility:    @visibility;
    -ms-backface-visibility:     @visibility;
    -o-backface-visibility:      @visibility;
    backface-visibility:         @visibility;
} 

.min-height(@size) {
    /* .min-height(); min height for ie6 */
    min-height: @size;
    height: auto !important; /* except ie6 will respect the !important flag */
    height: @size;
}

.min-width(@size) {
    /* .min-width(); */
    min-width: @size;
    width: auto !important; /* except ie6 will respect the !important flag */
    width: @size;
}

.border-radius(@size) {
    /* .border-radius prefix */
    -webkit-border-radius: @size;
    -moz-border-radius: @size;
    border-radius: @size;
}

/* typhography
   ========================================================================== */

// font-family
.font-family(@font-family) { 
    /* .font-family(); */
    font-family: @font-family; 
} 

// text align
.text(@align: center){ 
    text-align: @align !important; 
}

// text decoration
.text-none { /* .text-none */ text-decoration: none; }
.text-underline { /* .text-underline */ text-decoration: underline; }
.text-strike { /* .text-strike */ text-decoration: line-through; }

/* align */
.text-center { /* .text-center */ text-align: center !important; }
.text-left { /* .text-left */ text-align: left !important; }
.text-right { /* .text-right */ text-align: right !important; }

// position
.pos(@position: absolute){ position: @position; }
.pos-relative { /* .pos-relative */ position: relative; }
.pos-absolute { /* .pos-absolute */ position: absolute; }
.pos-fixed { /* .pos-fixed */ position: fixed; }

// reset
.reset { 
    /* .reset */
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

// semantic markup
.reader, .semantic, .ir {
    /* .reader div.reader em */
    .pos-relative();
    overflow: hidden;
    em, .em { 
        .pos-absolute();
        z-index: -1;
        visibility: hidden;
        text-indent: -1000px;
    }
}

/* semantic
   ========================================================================== */

/* image replacement */
.ir { 
    .reset();
    .inline-block();
    .background-no-repeat(); 
    .nowrap();
    overflow: hidden; 
    background-position: center center; 
}

// visible
.hidden { 
    /* .hidden */ 
    display: none !important; 
    visibility: hidden; 
}
.invisible { 
    /* .invisible */ 
    visibility: hidden; 
}

/* only semantic-text */
.sr-only, .semantic-text, .visuallyhidden { 
    .pos-absolute(); 
    overflow: hidden; 
    margin: -1px; 
    padding: 0; 
    width: 1px; 
    height: 1px; 
    border: none; 
    clip: rect(0 0 0 0); 
    &:active,
    &:focus {
        position: static; 
        overflow: visible; 
        margin: 0; 
        height: auto; 
        width: auto; 
        clip: auto;
    }
}

/* align
   ========================================================================== */

// float
.center-block {
    /* .center-block */
    .block();
    margin-left: auto;
    margin-right: auto;
}
.pull-right { /* .pull-right */ float: right !important; }
.pull-left { /* .pull-left */ float: left !important; }

// clearfix
.clearfix {
    /* .clearfix(); */
    &:before, &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}
.clear-after {
    /* clear-after */
    &:after {
        visibility: hidden; 
        .block(); 
        content: " "; 
        clear: both; 
        height: 0; 
        font-size: 0; 
    }
}

/* vertical-align */
.vertical(@align: middle) { vertical-align: @align; }
.vertical-top { /* .vertical-top */ vertical-align: top; }
.vertical-middle { /* .vertical-middle */ vertical-align: middle; }
.vertical-bottom { /* .vertical-bottom */ vertical-align: bottom; }

.vertical-center(@height) {
    /* vertical-center */
    min-height: @height;
    display: table-cell;
    vertical-align: middle;
}


/* display
   ========================================================================== */

/* Toggling content */
// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.block { /* .block */ display: block; }
.inline { /* .inline */ display: inline; }
.inline-block { /* .inline-block */ display: inline-block; }
.inline-block-ie { /* .inline-block-ie */ display: inline-block; *display: block; *zoom: 1; }

.hide { /* .hide */ display: none !important; }
.show { /* .show */ display: block !important; }

/* margin and padding
   ========================================================================== */

/* margin */
.margin-top(@size) { margin-top: @size !important; }
.margin-bottom(@size) { margin-bottom: @size !important; }
.margin-left(@size) { margin-left: @size !important; }
.margin-right(@size) { margin-right: @size !important; }
.padding-top(@size) { padding-top: @size !important; }
.padding-bottom(@size) { padding-bottom: @size !important; }
.padding-left(@size) { padding-left: @size !important; }
.padding-right(@size) { padding-right: @size !important; }

.mt50 { /* .mt50 */ .margin-top(50px); }
.mt40 { /* .mt40 */ .margin-top(40px); }
.mt30 { /* .mt30 */ .margin-top(30px); }
.mt25 { /* .mt25 */ .margin-top(25px); }
.mt20 { /* .mt20 */ .margin-top(20px); }
.mt15 { /* .mt15 */ .margin-top(15px); }
.mt10 { /* .mt10 */ .margin-top(10px); }
.mt5 { /* .mt5 */ .margin-top(5px); }
.mt0 { /* .mt0 */ .margin-top(0); }
.mb60 { /* .mb60 */ .margin-bottom(60px); }
.mb50 { /* .mb50 */ .margin-bottom(50px); }
.mb40 { /* .mb40 */ .margin-bottom(40px); }
.mb30 { /* .mb30 */ .margin-bottom(30px); }
.mb25 { /* .mb25 */ .margin-bottom(25px); }
.mb20 { /* .mb20 */ .margin-bottom(20px); }
.mb15 { /* .mb15 */ .margin-bottom(15px); }
.mb10 { /* .mb10 */ .margin-bottom(10px); }
.mb5 { /* .mb5 */ .margin-bottom(5px); }
.mb0 { /* .mb0 */ .margin-bottom(0); }
.ml20 { /* .ml20 */ .margin-left(20px); }
.ml10 { /* .ml10 */ .margin-left(10px); }
.ml5 { /* .ml5 */ .margin-left(5px); }
.ml0 { /* .ml0 */ .margin-left(0); }
.mr10 { /* .mr10 */ .margin-right(10px); }
.mauto { .margin-left(auto); .margin-right(auto); }

/* padding */
.pt50 { /* .pt50 */ .padding-top(50px); }
.pt40 { /* .pt40 */ .padding-top(40px); }
.pt30 { /* .pt30 */ .padding-top(30px); }
.pt25 { /* .pt25 */ .padding-top(25px); }
.pt20 { /* .pt20 */ .padding-top(20px); }
.pt15 { /* .pt15 */ .padding-top(15px); }
.pt10 { /* .pt10 */ .padding-top(10px); }
.pt5 { /* .pt5 */ .padding-top(5px); }
.pt0 { /* .pt0 */ .padding-top(0); }
.pb50 { /* .pb50 */ .padding-bottom(50px); }
.pb40 { /* .pb40 */ .padding-bottom(40px); }
.pb30 { /* .pb30 */ .padding-bottom(30px); }
.pb25 { /* .pb25 */ .padding-bottom(25px); }
.pb20 { /* .pb20 */ .padding-bottom(20px); }
.pb15 { /* .pb15 */ .padding-bottom(15px); }
.pb10 { /* .pb10 */ .padding-bottom(10px); }
.pb5 { /* .pb5 */ .padding-bottom(5px); }
.pb0 { /* .pb0 */ .padding-bottom(0); }
.pl30 { /* .pl30 */ .padding-left(30px); }

/* image
   ========================================================================== */

// background
.background-repeat { /* .background-repeat */ background-repeat: repeat; }
.background-no-repeat { /* .background-no-repeat */ background-repeat: no-repeat; }
.background-repeat-x { /* .background-repeat-x */ background-repeat: repeat-x; }
.background-repeat-y { /* .background-repeat-y */ background-repeat: repeat-y; }

// photo-bg
.photo-bg {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-size: cover !important;
    background-position: center center !important;
}

/* 촛점 이슈 */
// .block-holder { .inline-block(); }
// .block-holder strong,
// .block-holder span { .block(); }
// .table-bbs a { .inline-block(); }
// .table-col a.block-holder { margin: 2px 0; }

