/* ==========================================================================
   badge
   ========================================================================== */

@badge-font-size: 13px;
@badge-bgcolor: #84929d;

/* default badge
   ========================================================================== */

/* badge */
span.badge {
    display: inline-block !important;
    .line-height();
    vertical-align: baseline;
    white-space: nowrap;
    .text-center();
    background-color: @badge-bgcolor;
    border-radius: @border-radius;
    font-size: @badge-font-size;
    .normal();
    color: #fff;
    .vertical-middle();
    cursor: default;
    padding: 2px 8px 4px;

    &.large {
        padding-left: 18px;
        padding-right: 18px;
    }

    &.small {
        padding-left: 4px;
        padding-right: 4px;
    	font-size: @font-size-small;
    	.bold();
    }

    em { 
        .sr-only(); 
    }

    &.success {
        background-color: @brand-success;
    }
    &.danger {
        background-color: @brand-danger;
    }

    .lt-ie8 & {
        background-color: transparent;
        .background-image('common/badge');
        border-radius: 0;
    }

    &:empty {
        display: none;
    }

    a & { .opacity(0.8); transition: all 0.3s; cursor: pointer; }
    a:hover & { .opacity(1); .text-none(); }
}

/* custom badge
   ========================================================================== */

/* rank */
span.rank {
    .pos-relative();
    .inline-block();
    .vertical-middle();
    .text-center();
    width: 24px;
    .height(24px);
    font-size: 12px;
    color: #fff;
    background-color: #98a0a7;
    &.nth-child-1 { background-color: #ffa600; }
    &.nth-child-2 { background-color: #50c4d3; }
    &.nth-child-3 { background-color: #466f8f; }
}

// a.badge {
//     &:hover,
//     &:focus {
//         .text-none();
//         cursor: pointer;
//     }
// }

// .tag {
//     .inline-block();
//     &, &:link {
//         .text-underline();
//     }
//     &.primary {
//         color: @brand-primary;
//         .opacity(0.8);
//         &:hover {
//             .opacity(1);
//         }
//     }
// }