/* ==========================================================================
   BBS
   ========================================================================== */

/* utility
   ========================================================================== */

/* button */
.bbs-button {
    .clearfix();
    margin-top: 18px;
    margin-bottom: 30px;
    .line-height-xsmall();
}

/* status */
.bbs-status {
    .selecter {
        max-width: 150px !important;
    }
}

/* search */
.bbs-search {
    .pos-relative();
    .clearfix();
    margin-top: 30px;
    margin-bottom: 35px;
    padding: 23px 20px;
    background-color: #f5f9fc;
    border: solid 1px #d5dde4;
    text-align: center;
    .selecter .selecter-selected { background-color: #fff; }
    ul.tab {
        display: inline-block;
        .height(34px);
        text-align: left;
        li {
            padding-left: 5px;
        }
        input,
        .button {
            .vertical-top();
        }
        .selecter {
            min-width: 130px;
            width: 130px;
            .selecter-selected { 
                .background-image('plugins/selecter_arrow_down'); 
            }
        }
        input.text {
            width: 220px;
        }
        .button {
            padding-left: 22px;
            padding-right: 22px;
            font-size: 15px;
        }
        select.long, .long .selecter-selected {
            width: 300px !important;
        }
        .long .selecter-options {
            width: 320px;
        }

        &.no-margin {
            display: block;
            li.pr {
                float: right !important;
            }
        }
    }
    a.js-print {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
}

/* search by term: 날짜선택 & 우측정렬 검색창 */
.bbs-search-term {
    .clearfix();
    text-align: right;
    margin-bottom: 20px;
    ul {
        .reset(); 
        .inline-block();
    }    
    li {
        .pull-left();
        padding-left: 5px;
        &.action {
            padding-left: 10px;
        }
    }
    .select { 
        .inline-block(); 
        text-align: left;
        vertical-align: bottom;
    }  
    input.text {
        width: 220px;
        &.date { width: auto; }
    }
    &.point {
        padding: 20px 0;
        .text-center();
        background-color: #f5f9fc;
        border: solid 1px #d5dde4;
        label {
            font-size: 16px;
            .bold();
        }
    }
}

/* faq search */
.faq-search {
    .category {
        .clearfix();
        text-align: center;
        ul.holder {
            margin: 0 auto;
            padding: 0;
            width: 760px;
            list-style: none;
        }
        li {
            .pull-left();
            margin: 0;
            padding: 0;
            width: 190px;
            a { text-decoration: none; }
            .icon {
                .icon-set(120px, 107px, 'common/icon_faq_search_category');
                background-position: left top;
                // .background-no-repeat();
            }
            &.nth-child-1 .icon { background-position: left top; }
            &.nth-child-2 .icon { background-position: -120px top; }
            &.nth-child-3 .icon { background-position: -240px top; }
            &.nth-child-4 .icon { background-position: -360px top; }
            &.nth-child-1.active .icon { background-position: left -107px; }
            &.nth-child-2.active .icon { background-position: -120px -107px; }
            &.nth-child-3.active .icon { background-position: -240px -107px; }
            &.nth-child-4.active .icon { background-position: -360px -107px; }
            strong { 
                .block(); 
                margin: 10px auto 10px;
                font-size: 17px;
            }
        }
    }
}

/* view
   ========================================================================== */
.bbs-view {
    .clearfix();
    margin-top: 20px;
    .bbs-view-header {
        .clearfix();
        padding: 13px 30px;
        height: 30px;
        .line-height-xsmall();
        border-top: solid 2px #bfc3c6;
        border-bottom: solid 2px #bfc3c6;
        .title {
            .pull-left();
            h4 {
                margin: 0;
                padding: 0;
                .line-height-xsmall();
                strong { 
                    .inline-block(); 
                    .height(30px);
                    font-size: 18px;
                    .bold();
                    color: #1daad8;
                }
            }
        }
        .info {
            .pull-right();
            li {
                .background-image('base/pipe_01');
                background-position: 20px center;
                // .background-no-repeat();
                padding: 0 0 0 40px;
                .height(30px);
                font-size: 14px;
                color: #80878d;
                &:first-child { background: none; }
            }
        }
    }
    .bbs-view-body {
        .clearfix();
        margin-bottom: 15px;
        padding: 30px;
        .line-height-large();
        font-size: 14px;
        color: #80878d;
        border-bottom: solid 1px #848b91;
        .pic {
            .clearfix();
            margin-bottom: 20px;
            text-align: center;
        }
        .thumb908 {
            img { 
                margin: 0 auto;
                max-width: 908px;
            }
        }
	    &.poll {
	        border-bottom: 0;
	    }
        &.story {
            h5.title {
                .reset();
                .mt40();
                height: auto;
                font-size: 16px;
                line-height: 1;
                &:first-child { .mt0(); }
            }
            div.text-box {
                .mt20();
                p:first-child { .mt0(); }
            }
        }
    }
    /* 답변 글 */
    &.reply .bbs-view-body {
        margin-bottom: 0;
        border-bottom: 0;
        .background-image('common/dot_gray_02');
        background-position: left bottom;
        background-repeat: repeat-x;
    }
    .bbs-view-nav {
        .clearfix();
        margin-top: 30px;
        ul {
            border-top: solid 1px #d9d9d9;
            li {
                padding-left: 44px;
                .badge {
                    padding-left: 20px;
                    .background-image('base/badge_bbs_nav_prev');
                    background-position: left center;
                    .background-no-repeat();
                }
                &.next .badge {
                    .background-image('base/badge_bbs_nav_next');
                }
                .message,
                a {
                    .inline-block();
                    padding-left: 15px;
                    .height(45px);
                }
                .message {
                    color: @link-hover-color;
                }
                border-bottom: solid 1px #d9d9d9;
            }
        }   
    }
    .bbs-view-attach {
        // 지난 수업 자동녹화
        .height(38px);
        text-align: right;
        background-color: #f8f8f8;
        border-bottom: solid 1px #d9d9d9;
        a { 
            .inline-block();
            padding: 0 10px;
            .text-none(); 
            font-size: 14px;
            color: @text-color;
            .icon {
                margin-top: -5px;
            }
        }
    }
    .bbs-view-reply {
        .clearfix();
        margin-bottom: 20px;
        border-bottom: solid 1px #d1d8dc;
        .background-image('common/ico_reply');
        background-position: left top;
        // .background-no-repeat();
        .subject {
            .pos-relative();
            strong { 
                .block();
                padding: 18px 0 18px 63px;
                .normal();
                font-size: 24px;
            }
            .date {
                .pos-absolute();
                top: 25px;
                right: 30px;
                font-size: 14px;
                color: @link-color;
            }
        }
        .body {
            padding: 0 0 30px 63px;
            .line-height-large();
            color: @link-color;
            font-size: 14px;
        }
    

        // .clearfix();
        // .pos-relative();
        // margin-top: 50px;
        // padding: 0 0 22px;
        // .line-height-xsmall();
        // color: #848b91;
        // .border-radius(5px);
        // .subject {
        //     padding-top: 25px;
        //     padding-left: 60px;
        //     .height(31px);
        //     .bold();
        //     font-size: 18px;
        //     color: @text-color;
        // }
        // .tab {
        //     padding-left: 60px;
        //     font-size: 14px;
        //     li {
        //         padding-right: 15px;
        //         .height(27px);
        //         .icon {
        //             margin-top: -3px;
        //         }
        //     }
        // }
        // .body {
        //     padding: 5px 60px 0;
        //     font-size: 15px;
        //     line-height: 25px;
        // }
        // .tail {
        //     .pos-absolute();
        //     left: 0;
        //     top: 0;
        //     width: 30px;
        //     height: 30px;
        //     margin-top: -30px;
        //     margin-left: 18px;
        //     .background-image('common/bbs_replay_balloon');
        // }
    }
}

/* write
   ========================================================================== */
.bbs-write {
    .clearfix();
    .line-height-xsmall();
    table.core {
        table-layout: fixed;
        border-top: solid 2px #c0c4c7;
        border-bottom: solid 1px #d2d8dc;
    }
    tr {
        th, td {
            border-top: solid 1px #d2d8dc;
        }
        &:first-child {
            th, td {
                border-top: 0;
            }
        }
    }
    th {
        background-color: #eef0f5;
        span { 
            .block();
            text-align: center;
            line-height: 24px;
            padding: 17px 0;
        }
    }
    td {
        padding: 8px 0 8px 10px;
        input.xlarge {
            width: 95%;
        }
    }
    .attach {
        input.file {
            margin: 10px 0;
        }
        .inner {
            p {
                margin: 0;
                padding: 5px 0;
                strong { 
                    .normal(); 
                    .text-underline(); 
                }
            }
        }
    }
    .textarea {
        .min-height(180px);
    }
    .form {
        padding: 20px 0;
        text-align: center;
        // border-bottom: solid 1px #d2d8dc;
        .textarea {
            margin: 0 auto;
            width: 99.4%;
            .min-height(250px);
        }
    }
}
div.bbs-writer {
    padding: 10px 30px;
    .background-image('common/dot_gray_02');
    background-position: left bottom;
    background-repeat: repeat-x;
}
div.comment-write {
    .pos-relative();
    margin-top: 35px;
    padding: 38px 0 20px 108px;
    background: #f3f4f8;
    span.level-m {
        .pos-absolute();
        left: 40px;
    }
    span.vote {
        .block();
        .mb15();
        .bold();
        font-size: 16px;
        input { .vertical-middle(); margin-left: 10px; }
    }
    textarea {
        .box-sizing(content-box);
        width: 731px;
        height: 70px;
        border: 1px #d9d9d9 solid;
    }
    .button {
        .pos-absolute();
        right: 35px;
        width: 90px;
        height: 80px;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        font-size: 15px;
        color: #fff;
        line-height: 80px;
        .bold();
        background: #fd7261;
    }
    p {
        .mb0();
        font-size: @font-size-small;
        color: #848b91;
    }
    &.poll {
        .pt25();
    }
}
div.comment-list {
    li {
        padding: 30px 0 30px 40px;
        border-bottom: 1px #dfe4e6 solid;
        div.inner {
            .pos-relative();
            .padding-left(70px);
            span.level-m {
                .pos-absolute();
                left: 0px;
            }
            div.info {
                .writer {
                    font-size: @font-size-large;
                }
                .date {
                    margin: 10px;
                    font-size: @font-size-small;
                    color: @link-color;
                }
                .reply {
                    .padding-left(22px);
                    color: @text-color;
                    .background-image('common/ico_reply_s');
                    background-position: left center;
                    // .background-no-repeat();
                }
            }
            p.text {
                margin: 0px;
                .mt10();
                font-size: @font-size-large;
                color: @link-color;
            }
            div.action {
                .pos-absolute();
                top: 0px;
                right: 0px;
            }
            div.comment-write {
                margin-top: 30px;
                padding: 38px 0 20px 115px;
                .background-image('common/ico_reply_2');
                background-position: 20px 45px;
                .background-no-repeat();
                span.level-m {
                    left: 45px;
                }
                textarea {
                    width: 627px;
                }
                .button {
                    right: 22px;
                    background: #80878d;
                }
            }
        }
        &.reply {
            padding: 20px 0 20px 135px;
            .background-image('common/ico_reply_2');
            background-position: 108px 20px;
            // .background-no-repeat();
            div.inner {
            }
        }
    }
}

/* list
   ========================================================================== */
.bbs-list {
    table.core {
        border-top: solid 2px #bfc3c6;
    }
    .line-height-xsmall();
    th, td {
        text-align: center;
    }
    th {
        border-bottom: solid 2px #bfc3c6;
        span { 
            .inline-block(); 
            .height(45px); 
            font-size: 16px;
        }
    }
    td {
        padding: 12px 5px;
        height: 26px;
        background-color: #fff;
        border-bottom: solid 1px #d9d9d9;
        font-size: 15px;
        .line-height();
        color: @link-color;
        &.no-result { 
            .height(133px);
            text-align: center;
            color: #848b91;
            font-size: 15px;
        }
    }
    tr:hover td,
    tr.notice td {
        background: #fafafc;
    }
    tr.disabled {
        tr, td { background: #f7f7f8; }
    }
    .reply-count { color: #f45c51; }
    .lock { vertical-align: text-bottom; }
}

/* faq collapse list
   ========================================================================== */
.faq-list {
    .line-height-xsmall();
    table.core {
        border-top: solid 2px #bfc3c6;
        border-bottom: solid 1px #d9d9d9;
        tr {
            td {
                border-top: solid 1px #d9d9d9;
            }
            &:first-child { 
                td { border-top: 0; }
            }
            &.question {
                td {
                    text-align: center;
                    &.subject {
                        .background-image('common/faq_off');
                        background-position: right center;
                        // .background-no-repeat();
                    }
                    a { 
                        .block(); 
                        padding: 12px 0;
                        .line-height();
                    }
                }
                &.active td.subject {
                    .background-image('common/faq_on');
                    a { 
                        .bold(); 
                        color: @text-color; 
                    }
                }
            }
            &.answer {
                td {
                    display: none;
                    .box-sizing(content-box);
                    padding: 19px 15px 19px 120px;
                    height: 90px;
                    .background-image('common/faq_answer');
                    background-color: #fafafa;
                    background-position: left top;
                    // .background-no-repeat();
                    line-height: 22px;
                }
            }
        }
    }
}

/* media */
div.media-player {
    .background-image('custom/media_view_bg');
    background-repeat: repeat;
    *zoom: 1;
    &:after {
        visibility: hidden; 
        .block(); 
        content: " "; 
        clear: both; 
        height: 0; 
        font-size: 0; 
    }
    div.player {
        .pull-left();
        overflow: hidden;
        width: 712px;
        border-right: 1px #4a5159 solid;
        div.inner {
            padding: 30px;
            border-right: 1px #0e1013 solid;
        }
        img, iframe { width: 100%; }
    }
    div.info {
        .pos-relative();
        .pull-right();
        padding: 30px 15px;
        width: 224px;
        height: 400px;
        text-align: left;
        p {
            font-size: 14px;
            .name { color: #999; margin-right: 18px; }
            .value { color: #fff; }
        }
        .mov-buttons {
            position: absolute;
            left: 25px;
            bottom: 67px;
            width: 204px;
            height: 84px;
            .text-center();
            a {
                .inline-block();
                margin:0 8px;
                width: 44px;
                height: 46px;
                padding: 17px 18px;
                border-radius: 50%;
                border: 2px solid #999;
                color: #999;
                text-align: center;
                text-decoration: none;
                span {
                    display: inline-block;
                    width: 22px;
                    height: 20px;
                    .background-image('common/icon_hits_and_scraps');
                    // .background-no-repeat();
                }
                em {
                    display: block;
                    font-style: normal;
                    margin-top: 10px;
                    line-height: 1;
                }
                &.hit span { background-position: 0 0; }
                &.scraps span { background-position: -22px 0; }
                &:hover {
                    border-color: #fff;
                    color: #fff;
                    &.scraps span { background-position: -22px -20px; }
                }
            }
        }
    }
}
div.media-view {
    .mt40();
    .bbs-view-header {
        padding: 0px;
        border: 0px;
        .title {
            float: none !important;
            h4 strong {
                font-size: 24px;
                .normal();
                color: @brand-success;
            }
        }
    }
    .bbs-view-body {
        padding: 25px 0 50px 0;
        border-bottom-color: #d1d8dc;
        h5 { margin: 35px 0 15px; color: #48555f; }
    }
}

/* custom
   ========================================================================== */

/* 커뮤니티 - 우리 Talk  */
div.talk-list {
    ul { 
        margin: -45px 0 0 -25px;
        .pb15();
    }
    li {
        .pos-relative();
        margin-top: 50px;
        .margin-left(25px);
        width: 302px;
        border: 2px #bfc3c6 solid;
        border-radius: @border-radius;
        .bg {
            .pos-absolute();
            left: 26px;
            bottom: -24px;
            .inline-block();
            width: 23px;
            height: 24px;
            .background-image('custom/talk_list_bg');
            background-position: left top;
            background-repeat: no-repeat;
        }
        a {
            .block();
            padding: 15px 5px;
            min-height: 185px;
            color: @link-color;
            &:hover { 
                .text-none(); 
                background: #fdfdfd;
            }
            span {
                .padding-left(15px);
                .vertical-middle();
                &.subject {
                    .inline-block();
                    overflow: hidden;
                    max-width: 235px;
                    font-size: 18px;
                    .bold();
                    color: #1daad8;
                }
                &.view {
                    .inline-block();
                    padding: 0px !important;
                    width: 28px;
                    .height(28px);
                    text-align: center;
                    color: #fff;
                    .bold();
                    background: #fd7261;
                    border-radius: 50%;
                }
                &.info {
                    .inline-block();
                    .mt5();
                    color: @link-hover-color;
                    font-size: @font-size-small;
                    em.writer {
                        .margin-right(8px);
                        .padding-right(8px);
                        .background-image('custom/talk_pipe');
                        background-position: right 70%;
                        // .background-no-repeat();
                    }
                }
                &.text {
                    .block();
                    .mt15();
                    .pt20(); 
                    .padding-right(20px);
                    overflow: hidden;
                    height: 75px;
                    border-top: 1px #c5ced3 dashed;
                }
            }
        }
    }
}

/* 커뮤니티 - event */
div.event-list {
    ul {  
        .margin-top(-45px);
        .margin-left(-18px);
    }
    li {
        .pos-relative();
        margin-top: 50px;
        .margin-left(18px);
        border: 1px #bfc3c6 solid;
        a {
            .block();
            overflow: hidden;
            width: 473px;
            height: 333px;
            &:hover { 
                .text-none(); 
                border: 0px;
                background: #fdfdfd;
            }
            span {
                .block();
                &.thumbnails img {
                    width: 473px;
                    height: 249px;
                }
                &.subject {
                    .mt15();
                    .ml20();
                    font-size: 18px;
                    color: #30383f;
                    .text-overflow();
                    width: 80% !important;
                }
                &.date {
                    margin: 5px 0 0 20px;
                    font-size: @font-size-small;
                    color: @link-hover-color;
                }
                &.icon {
                    .pos-absolute();
                    top: 269px;
                    right: 16px;
                    width: 47px;
                    .height(47px);
                    color: #fff;
                    .bold();
                    font-size: @font-size-small;
                    text-align: center;
                    border-radius: 50%;
                    &.going-small {
                        background: #fd7261;
                    }
                    &.end-small {
                        background: #80878d;
                    }
                }
            }
        }      
    }
}

/* 직업검색 */
.future-search {
    .pos-relative();
    width: 506px;
    margin: 0 auto;
    text-align: center;
    .clearfix();
    input { display: block; float: left; }
    input { 
        margin-right: 5px;
        width: 410px;
        border: 3px solid @brand-danger; 
    }
    .button.large { padding:9px 22px 10px; }
}

/* search result info */
.search-result-info {
    margin: 50px 0;
    text-align: center;
    .search-value, .matched-num { color: @brand-success; .bold(); }
}