/* ==========================================================================
   Breadcrumb
   ========================================================================== */

// vars
@breadcrumb-font-size: @font-size-small;
@breadcrumb-color: @gray-light;
@breadcrumb-color-accent: @gray-dark;

// core
// .breadcrumb {
//     .clearfix();
//     margin: 0;
//     padding: 0;
//     color: @breadcrumb-color;
//     font-size: @breadcrumb-font-size;
//     > a {
//         color: @breadcrumb-color-accent;
//         .text-none();
//         &:hover {
//             .text-underline();
//         }
//     }
//     > strong {
//         color: @breadcrumb-color-accent;
//     }
// }

/* breadcrumbs */
// .breadcrumbs {
//     float:right;
//     color:#333;
//     padding-top:50px;
//     padding-bottom:15px;
//     > a, > span.gt {
//         .text-none();
//         display:inline-block;
//         height:13px;
//         .vertical-top();
//         margin-right:5px;
//     }

//         margin-top:1px;}
// }