/* [[ cutom COMMON ]]
   ========================================================================== */

body[class^='page-'] { border: none; }

.text-success { color: #1daad8; }
.text-info { color: @brand-info; }

/* common - 타이포 : 시사다큐, 퓨처플랜 등 */
.section-typho {
    .clearfix();
    margin-top: 20px;
    .line-height-reset();
    text-align: center;
    strong {
        .block();
        font-size: 40px;
        .normal();
        .line-height();
        color: #80878d;
    }
    p {
        margin: 8px 0;
        padding: 0;
        .line-height();
        font-size: 18px;
        color: #80878d;
    }
    .pic {
        margin: 25px 0 0;
    }
    &.sisadocu {
        .icon {
            .icon-set(190px, 130px, 'custom/typho_sisadocu');
        }
    }
    &.myfuture {
        .icon {
            .icon-set(248px, 171px, 'custom/typho_myfuture');
        }
    }
    &.myportfolio {
        .icon {
            .icon-set(151px, 126px, 'custom/typho_myportfolio');
            margin: 0 auto;
        }
    }
    &.test {
        p {
            font-size: 14px;
            line-height: 1.8;
        }
    }
    &.ifuture {
        em {
            font-size: 24px;
            color: #48555f;
            margin: 0;
            font-style: normal;
            letter-spacing: -1px;
        }
        strong {
            font-size: 40px;
            color: #1daad8;
            .bold();
            margin: 5px 0 24px;
        }
        p {
            margin: 0;
            color: #80878d;
            font-size: 16px;
        }
    }
    &.mission-result {
        strong {
            color: #3ab3da;
            font-size: 55px;
            .bold();
        }
        p {
            font-size: 21px;
            line-height: 1.8;
        }
        .icon {
            .icon-set(70px, 70px, 'custom/typho_mission_result');
        }
    }
    &.economy {
        margin-bottom: 50px;
        strong {
            color: #48555f;
            font-size: 55px;
            .height(55px);
            .bold();
        }
        p {
            color: #48555f;
            font-size: 21px;
            .height(21px);
            margin: 2px 0;
        }
    }
    &.level-test {
        p {
            margin: 35px 0;
            padding: 25px;
            .text-left();
            font-size: 14px;
            line-height: 1.8;
            border: 1px #d5dde4 solid;
            border-radius: 5px;
            background-color: #f5f9fc;
        }
    }
    &.introduce, &.running-making {
        p {
            margin: 0px;
            font-size: 24px;
            color: @text-color;
        }
        strong {
            font-size: 40px;
            .bold();
            color: @brand-info;
        }
    }

    &.typho-sub-main {
        margin-top: 50px;
        text-align: left;
        padding-left: 289px;
        height: 283px;
        line-height: 1.5;
        background-repeat: no-repeat;
        background-position: left top;
        p {
            margin: 40px 0 0;
            color: #48555f;
            font-size: 24px;
        }
        strong {
            color: #1daad8;
            .bold();
            letter-spacing: -2px;
        }
        > span {
            color: #80878d;
            font-size: 18px;
            .normal();
        }

        &.sub-main-record { .background-image('custom/visual_sub_main_record'); }
        &.sub-main-plan { .background-image('custom/visual_sub_main_plan'); }
        &.sub-main-creative {
        	height: 240px; 
        	.background-image('custom/visual_sub_main_creative');
        	p { .mt50(); }
        }
        &.sub-main-remote {
            .mt0();
            height: 200px;
            .background-image('custom/visual_sub_main_remote');
            p {
                margin: 0;
                font-size: 22px;
            }
            > span {
                font-size: 17px;
                color: #848b91;
            }
        }
    }

    &.type-b {
        line-height: 1.5;
        strong {
            color: #1daad8;
            font-size: 32px;
            .bold();
        }
        p {
            color: #48555f;
            font-size: 22px;
            .normal();
            &.font-small { font-size: 16px; }
        }
        span {
            display: block;
            text-align: left;
            margin-top: 35px;
            font-size: 15px;
            color: #80878d;
            &.icon { 
                .inline-block();
                margin-top: 0px;
            }
            &.badge { 
                .inline-block();
                color: #fff;
                font-size: 13px;
                margin-top: 0px;
            }
        }
        span.icon {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        span.danger {
            display: inline;
            margin: 0;
            color: @brand-danger;
        }
    }
}


/* 문제지 */
.section-exercise {
    .clearfix();
    .line-height-xsmall();
    .guide {
        .reset();
        .height(40px);
        .text-overflow();
        font-size: 14px;
    }
    .module {
        .clearfix();
        margin-bottom: 15px;
        border: solid 1px #d2d8db;
        .border-radius(@border-radius);
        background-color: @body-bg;
        // 제목
        .subject {
            .clearfix();
            .reset();
            padding: 13px 20px;
            background-color: #f9f9fa;
            em, strong {
                .block();
                line-height: 22px;
                font-size: 15px;
                .bold();
                color: #1daad8;
            }
            em {
                .pull-left();
                width: 30px;
            }
            strong {
                margin-left: 30px;
                margin-right: 0;
                color: #48555f;
            }
        }
        .pic {
            .clearfix();
            padding: 0px 50px 20px;
            background-color: #f9f9fa;
            p { 
                .reset(); 
            }
            img {
                max-width: 100%;
            }
        }
        // 보기
        .article {
            .clearfix();
            padding: 10px 20px;
            color: #848b91;
            background-color: #fff;
            border-top: solid 1px #edeeee;
            .list {
                .reset();
                > li {
                    .reset();
                    .clearfix();
                    padding: 3px 0;
                    &.choice {
                        color: @text-color;
                    }
                    &.correct {
                        color: @brand-danger;
                        span.ok {
                            background: @brand-danger;
                        }
                    }
                }
            }
            p {
                line-height: @line-height;
            }
            textarea {
                width: 99.9%;
                height: 120px;
                border: solid 1px #d9d9d9;
            }
            label {
                display: block;
                float: left;
                margin-bottom: 10px;
                cursor: pointer;
                .detail {
                    display: block;
                    margin: 5px 0 0 30px;
                }
            }
        }
        div.explanation {
            margin: 0 25px 25px 25px;
            color: #848b91;
            .background-image('common/dot_gray_02');
            background-position: left top;
            background-repeat: repeat-x;
            dl {
                .reset();
                .clear-after();
                .pos-relative();
                padding: 22px 0;
                dt {
                    .pull-left();
                    .padding-top(3px);
                    .bold ();
                    font-size: 16px;
                    color: @text-color;
                }
                dd {
                    .pull-left();
                    .objective {
                        .pos-absolute();
                        .margin-top(-10px);
                        font-size: 24px;
                        .bold ();
                        strong {
                            color: @brand-danger;
                            font-size: 32px;
                        }
                    }
                    p {
                        line-height: @line-height;
                    }
                    .action {
                        .pos-absolute();
                        right: 0px;
                        top: 13px;
                    }
                }
            }
            .text {
                padding: 20px 20px 20px 90px;
                line-height: @line-height;
                border: 1px #d5dde4 solid;
                background: #f5f9fc;
                em {
                    .pos-absolute();
                    .margin-left(-45px);
                }
            }
            &.solution dd { .margin-right(150px); }
        }
        div.marking {
            margin: 0 25px;
            .background-image('common/dot_gray_02');
            background-position: left top;
            background-repeat: repeat-x;
            dl {
                .reset();
                .clear-after();
                padding: 20px 0;
                dt {
                    .pull-left();
                    .pt10();
                    .bold ();
                    font-size: 16px;
                    color: @text-color;
                }
                dd {
                    .pull-left();
                    label {
                        .margin-right(20px);
                    }
                }
            }
            .text {
                padding: 20px 20px 20px 90px;
                line-height: @line-height;
                border: 1px #d5dde4 solid;
                background: #f5f9fc;
                em {
                    .pos-absolute();
                    .margin-left(-45px);
                }
            }
        }
        &.incorrect {
            .subject {
                em, strong {
                    color: @brand-danger;
                }
            }
        }
    }
    .section-button {
        margin: 15px 0;
    }
    .score-box {
        .text-center();
        border: 2px #848b91 solid;
        background-color: @body-bg;
        h3 {
            .height(60px);
            font-size: 24px;
            color: @text-color;
            border-bottom: 1px #d2d8db solid;
        }
        li {
            width: 33.1%;
            height: 95px;
            border-left: 1px #d2d8db solid;
            h4 {
                .mt20();
                .mb15();
                color: #848b91;
                font-size: 16px;
            }
            strong.score {
                color: @brand-info;
                font-size: 28px;
                em {
                    font-size: 22px;
                }
            }
        }
    }
    &.miss {
        .article { min-height: 95px; }
    }
}

/* 서브메인 */
.sub-main {
    .sub-title {
        font-size: 18px;
        margin: 0 0 20px 0;
        color: @text-color;
    }
    h4.title {
    	.margin-top(60px);
    	&:first-child { .margin-top(35px); background: red;}
    }
    h5.title {
    	.mt5();
    	.height(45px);
    	font-size: 17px;
    }

    // 플랜페이지
    .items {
        .reset();
        .clearfix();
        li { 
            border: 1px solid #cfd0cb;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }
        &.row3 li {
            float: left;
            width: 267px;
            height: 290px;
            margin-left: 20px;
            &:first-child { margin-left: 0; }
        }
        .subject {
            font-size: 20px;
            margin: 15px 0 12px 0;
            line-height: 30px;
            color: #48555f;
            .bold();
        }
        .sub-subject {
            display: block;
            color: #848b91;
            font-size: 14px;
            .normal();
            line-height: 24px;
            letter-spacing: -1px;
            margin: 0;
            height: 90px;
        }
        .bbs-button {
            margin: 0;
            a { width: 150px; }
        }
        span.item {
            display: block;
            height: 115px;
            background-repeat: no-repeat;
            &.item-1 { background-position: 0 0; }
            &.item-2 { background-position: 0 -115px; }
            &.item-3 { background-position: 0 -230px; }
            &.item-4 { background-position: 0 -345px; }
            &.item-5 { background-position: 0 -460px; }
        } 
        &.row1 li {
            .clearfix();
            text-align: left;
            padding-top: 60px;
            span.item.item-6 {
                width: 267px;
                float: left;
                height: 230px;
                background-position: 0 0;
            }
            .pull-right {
                width: 658px;
                .sub-subject {}
            }
            .sub-subject { height: 187px; }
        }
        &.record-items {
            span.item { .background-image('custom/icon_sub_main_record_1'); }
            &.row1 li {
                padding-top: 35px;
                .sub-subject { height: 114px; }
            }
            &.row1 span.item.item-6 {
                .background-image('custom/icon_sub_main_record_2');
            }
        }
        &.plan-items {
            span.item { .background-image('custom/icon_sub_main_plan_1'); }
            &.row1 span.item.item-6 {.background-image('custom/icon_sub_main_plan_2'); 
            }
        }
    	// 거꾸로 창의
        &.creative-items {
	        span.item {
	        	background-position: center center;
	            &.item-1 { .background-image('custom/icon_sub_main_creative_1'); }
	            &.item-2 { .background-image('custom/icon_sub_main_creative_2'); }
	            &.item-3 { .background-image('custom/icon_sub_main_creative_3'); }
	            &.item-4 { .background-image('custom/icon_sub_main_creative_4'); }
	            &.item-5 { .background-image('custom/icon_sub_main_creative_5'); }
	            &.item-6 { .background-image('custom/icon_sub_main_creative_6'); }
	            &.item-7 { .background-image('custom/icon_sub_main_creative_7'); }
	            &.item-8 { .background-image('custom/icon_sub_main_creative_8'); }
	            &.item-9 { .background-image('custom/icon_sub_main_creative_9'); }
	            &.item-10 { .background-image('custom/icon_sub_main_creative_10'); }
	            &.item-11 { .background-image('custom/icon_sub_main_creative_11'); }
	            &.item-12 { .background-image('custom/icon_sub_main_creative_12'); }
	            &.item-13 { .background-image('custom/icon_sub_main_creative_13'); }
	            &.item-14 { .background-image('custom/icon_sub_main_creative_14'); }
	            &.item-15 { .background-image('custom/icon_sub_main_creative_15'); }
	            &.item-16 { .background-image('custom/icon_sub_main_creative_16'); }
	            &.item-17 { .background-image('custom/icon_sub_main_creative_17'); }
	            &.item-18 { .background-image('custom/icon_sub_main_creative_18'); }
	        }
        	&.row1 li { 
        		.pt30();
        		.item {
        			.pull-left();
        			width: 240px;
        			height: 178px;
        		}
        		.pull-right { 
        			.pt10();
        			.margin-right(45px);
        			width: 600px;
            		.sub-subject { height: 115px; }
        		}
        	}
	        &.row2 li {
	        	.reset();
	            .pull-left();
	            .padding-left(31px);
	            width: 302px;
	            border: 0px;
	            .background-image('custom/money_step');
	            background-position: 7px center;
	            &:first-child { 
	            	.padding-left(0px);
	            	background: none;
	            }
	            .frame {
			        .pos-relative();
	            	padding: 25px 0 0 100px;
	            	.text-left();
	            	height: 100px;
	            	border-color: #cfd0cb;
	            	background: none;
			        span.item {
			            .pos-absolute();
			            left: 27px;
			            top: 30px;
			        	width: 60px;
			        	height: 60px;
			        	background-repeat: no-repeat;
			        	background-position: center center;
			        }
			        .subject {
			        	.reset();
			        	.mb5();
			        	color: @brand-info;
			        	font-size: 18px;
			        	line-height: 1.4;
			        }
			        .sub-subject {
			        	color: @text-color;
			        	line-height: 1.4;
			        	font-size: 15px;
			        }
	            }
	        }
	        &.row3, &.row4, &.row5, &.row6 {
	        	li {
	        		.pull-left();
		            .ml10();
		            width: 192px;
		            height: 290px;
		            &:first-child { .ml0(); }
	        	}
	        }
	        &.row4 {
	        	.nth-child-3 { 
	            	width: 437px;
	            	.sub-subject { .text-left(); }
	            }
	        }
	        &.row5 {
	        	li {
	        		.padding-left(0px);
	        		.padding-right(0px);
	        		width: 233px;
		            &.nth-child-1 { 
		        		.padding-left(30px);
		        		.padding-right(30px);
		            	width: 415px;
		            	height: 572px;
		            	.item { height: 330px; }
		            	.sub-subject { 
		            		.text-left();
		            		strong { color: #faa51a; }
		            	}
		            }
		            &.nth-child-4 { 
		            	.mt10();
		            	height: 230px;
		            }

	        	}
	        }
	        &.row6 {
	            .nth-child-1 { 
	        		.padding-left(30px);
	        		.padding-right(30px);
	            	width: 417px;
		            .item { height: 155px; }
	            	.sub-subject { .text-left(); }
            	}
	            .nth-child-2 { 
	        		.padding-left(0px);
	        		.padding-right(0px);
	        		width: 233px;
            	}
	        }
	    }
    }
    .desc {
        color: #848b91;
        font-size: 14px;
        .normal();
        line-height: 1.7;
    }

    // 원격지원 프로그램
    .remote-process {
        .reset();
        li {
            position: relative;
            padding-left: 88px;
            height: 88px;
            .bg {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 68px;
                height: 68px;
                .background-image('custom/icon_remote');
                background-repeat: no-repeat;    
            }
            &.nth-child-1 .bg { background-position: 0 0; }
            &.nth-child-2 .bg { background-position: 0 -68px; }
            &.nth-child-3 .bg { background-position: 0 -136px; }
            &.nth-child-4 .bg { background-position: 0 -204px; }
            &.nth-child-5 .bg { background-position: 0 -272px; }

            .subj {
                line-height: 30px;
                margin: 0;
                padding: 9px 0 0;
                font-size: 20px;
            }
            .desc {
                color: #848b91;
                font-size: 14px;
                line-height: 1;
                margin: 0;
            }
        }
    }
}
.creative-guide {
	strong { color: #faa51a; }
}
.creative-slogan {
	.margin-top(60px);
	.text-center();
	font-size: 30px;
	span {
		.block();
		color: #fdb226;
	}
	strong {
		.block();
		color: @brand-info;
	}
}



/* [[ 내신전략 ]]
   ========================================================================== */

/* smart search */
.smart-search {
    .clearfix();
    margin-top: 30px;
    border: solid 4px #40b7de;
    .border-radius(@border-radius);
    .line-height-reset();
    .icon {
        .block();
        .icon-set(64px, 64px, 'common/icon_smartsearch_off');
        &.subject-1 { background-position: 0 0; }
        &.subject-2 { background-position: -64px 0; }
        &.subject-3 { background-position: -128px 0; }
        &.subject-4 { background-position: -192px 0; }
        &.subject-5 { background-position: -255px 0; }
    }
    .active .icon {
        .background-image('common/icon_smartsearch_on');
    }
    .form {
        .pull-left();
        width: 210px;
        height: 210px;

        .background-image('common/smart_search');
        background-color: #3ab3da;
        background-position: right top;
        // .background-no-repeat();
        p {
            margin: 105px 10px 10px 18px;
            padding: 0;
            .line-height-large();
            color: #cef3ff;
        }
        .field {
            margin-left: 18px;
            input.text { width: 158px; }
        }
    }
    .core {
        .pull-left();
        li a {
            .block();
            .line-height-reset();
            text-align: center;
            .text-none();
            transition: all 0.3s;   
        }
        .scroll {
            overflow-y: auto;
            height: 125px;
        }
        .step {
            .box-sizing(content-box);
            .pull-left();
            height: 190px;
            padding-top: 20px;
            border-left: solid 1px #dde0e3;
            strong.subject {
                .block();
                .height(47px);
                font-size: 18px;
                .bold();
                color: #48555f;
                text-align: center;
            }
        }
        &:first-child { border-left: 0; }
        .step-1 {
            width: 90px;
            li {
                a {
                    .height(24px);
                }
                &.active a,
                a:hover {
                    background-color: #48555f;
                    color: #fff;
                }
            }
        }
        .step-2 {
            width: 100px;
            li {
                a {
                    .height(24px);
                }
                &.active a,
                a:hover {
                    background-color: #3ab3da;
                    color: #fff;
                }
            }
        }
        .step-3 {
            width: 465px;
            text-align: center;
            ul { 
                display: inline-block;
                text-align: center;
                li {
                    margin: 0 5px 18px;
                    width: 64px;
                    text-align: center;
                    .name {
                        .inline-block();
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

/* 내신전략 : 스마트 서치 */
.smart-search-view {
    .clearfix();
    margin-top: 40px;
    margin-bottom: 20px;
    border: solid 4px #40b7de;
    .border-radius(@border-radius);
    .line-height-reset();
    .icon {
        .block();
        .icon-set(64px, 64px, 'common/icon_smartsearch_off');
        &.subject-1 { background-position: 0 0; }
        &.subject-2 { background-position: -64px 0; }
        &.subject-3 { background-position: -128px 0; }
        &.subject-4 { background-position: -192px 0; }
        &.subject-5 { background-position: -255px 0; }
    }
    .active .icon {
        .background-image('common/icon_smartsearch_on');
    }
    .form {
        .pull-left();
        width: 210px;
        height: 167px;

        .background-image('common/smart_search');
        background-color: #3ab3da;
        background-position: right top;
        // .background-no-repeat();
        p {
            margin: 112px 10px 10px 18px;
            padding: 0;
            .line-height-large();
            color: #cef3ff;
        }
    }
    .core {
        .pull-left();
        li a {
            .block();
            .line-height-reset();
            text-align: center;
            .text-none();
            transition: all 0.3s;   
        }
        .scroll {
            overflow-y: auto;
            height: 203px;
        }
        .step {
            .box-sizing(content-box);
            .pull-left();
            height: 167px;
            border-left: solid 1px #dde0e3;
            strong.subject {
                .block();
                .height(47px);
                font-size: 18px;
                .bold();
                color: #48555f;
                text-align: center;
            }
        }
        .step-1 {
            width: 290px;
            .text-center();
            .year {
                padding: 19px 0;
            }
            .month {
            }
            ul { 
                margin: 0 auto;
                width: 220px; 
            }
            li {
                width: 55px;
                margin-bottom: 5px;
                a {
                    margin: 0 3px 0 2px;
                    padding: 0;
                    .height(24px);
                    background-color: #eef0f5;
                    border: 0;
                }
                &.active a,
                a:hover {
                    background-color: #3ab3da;
                    color: #fff;
                }
            }
        }
        .step-2 {
            width: 458px;
            text-align: center;
            ul { 
                margin: 0 auto;
                width: 370px;
                li {
                    margin: 0 5px 18px;
                    width: 64px;
                    text-align: center;
                    .name {
                        .inline-block();
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

/* 내신전략 : 강좌요약 */
.section-lecture-summary {
    .clearfix();
    height: 320px;
    overflow: hidden;
    .background-image('custom/frame_lecture_summary');
    background-position: left top;
    // .background-no-repeat();
    .teacher {
        .pic {
            .pull-left();
            .box-sizing(content-box);
            padding: 23px 0 0 21px;
            width: 286px;
            img.blank { 
                width: 267px; 
                height: 267px;
            } 
        }
        .name {
            .pull-left();
            width: 150px;
            strong {
                .block();
                padding-top: 205px;
                width: 150px;
                .bold();
                font-size: 30px;
                .text-overflow();
            }
            span { 
                font-size: 20px; 
                color: #80878d;
            }
        }
    }
    .desc {
        .module {
            margin: 23px 0 0 53px;
            width: 374px;
        }
        .subject {
            .reset();
            font-size: 24px;
            line-height: 1.3;
        }
        ul {
            margin-top: 20px;
            margin-bottom: 20px;
            .background-image('common/dot_dark_01');
            background-position: left top;
            background-repeat: repeat-x; 
            li {
                .background-image('common/dot_gray_01');
                background-position: left bottom;
                background-repeat: repeat-x; 
                .height(40px);
                font-size: 15px;
                .th { width: 94px; .bold(); }
                .td { width: 280px; color: @link-color; }
            }
        }
    }
}

/* 내신전략 : 강좌소개 */
.section-lecture-description {
    .clearfix();
    .line-height-reset();
    h5 { 
        margin: 25px 0 10px;
        padding-left: 33px;
        .height(34px);
        font-size: 20px;
        background-position: left 5px;
        .background-no-repeat();
    }
    .module {
        .min-height(240px);
        padding: 0 30px;
        border: solid 1px #d8d8d8;
        .border-radius(10px);
        font-size: 14px;
    }
    .description {
        h5 { 
            .background-image('custom/lecture_desc_01'); 
        }
        .module { margin-right: 6px; }
    }
    .target {
        h5 { 
            .background-image('custom/lecture_desc_02');
        }
        .module { margin-left: 6px; }
    }
    .inner {
        .line-height-large();
    }
}



/* [[ 거꾸로 창의 ]]
   ========================================================================== */

/* 경제야 놀자 */
.bg-economy {
    padding-bottom: 50px;
    .background-image('/custom/bg_economic');
    background-position: 100% 0;
    background-repeat: no-repeat;
    ul { 
        .reset();
        padding-top: 5px;
    }
    li {
        position: relative;
        padding-left: 35px;
        margin: 20px 0;
        span {
            position: absolute;
            left: 0;
            top: -3px;
            width: 24px;
            .height(24px);
            border-radius: 12px;
            background-color: #425f76;
            color: #fff;
            .bold();
            text-align: center;
        }
    }
}
.link-economy {
    .clearfix();
    padding-top: 10px;
    > div {
        width: 463px;
        border: 1px solid #d5dde4;
        border-radius: 5px;
        > div { padding: 20px 20px 0; }
    }
    .nth-child-1 {
        float: left;
        span {
            .icon-set(72px, 54px, 'custom/bg_economic_girl');
        }

    }
    .nth-child-2 {
        float: right;
        span {
            .icon-set(47px, 54px, 'custom/bg_economic_boy');
        }
    }
    p.title {
        background: #f5f9fc;
        position: relative;
        padding: 15px;
        overflow: inherit;
        text-align: center;
        color: #1daad8;
        .bold();
        font-size: 18px;
        span {
            position: absolute;
            display: block;
            top: -10px;
            left: 60px;
        }
    }
}
.money-contents {
    line-height: 23px;
    h4.title {
        color: #48555f;
        font-size: 34px;
        .height(34px);
        margin: 60px 0;
    }
    h5.title {
        color: #48555f;
        font-size: 22px;
        .height(22px);
        margin: 60px 0 30px;
    }
    .list-money-use {
        .reset();
        .clearfix();
        li {
            float: left;
            margin-left: 17px;
            border: 1px solid #cfd0cb;
            border-radius: 4px;
            width: 227px;
            position: relative;
            &.nth-child-1 { margin-left: 0; }
            .bg {
                display: block;
                width: 112px;
                height: 104px;
                margin: 38px auto 35px;
                .background-image('/custom/icons_money_diary');
            }
            &.nth-child-1 .bg { background-position: 0 0; }
            &.nth-child-2 .bg { background-position: -112px 0; }
            &.nth-child-3 .bg { background-position: -224px 0; }
            &.nth-child-4 .bg { background-position: -336px 0; }
            .text {
                color: #48555f;
                display: block;
                text-align: center;
                height: 73px;
            }
        }
    }
    .how-to {
        .clearfix();
        ol {
            .reset();
            float: left;
            width: 500px;
            li {
                position: relative;
                margin: 5px 0 15px;
                padding-left: 33px;
                line-height: 23px;
            }
            span {
                position: absolute;
                display: block;
                width: 23px;
                .height(23px);
                left: 0;
                top: 0;
                border-radius: 50%;
                background: #425f76;
                color: #fff;
                text-align: center;
                font-size: 11px;
            }
        }
        img { float: right;}
    }
    &.grid {
        h5.title { 
            margin: 10px 0; 
            font-size: 20px;
            .height(20px);
            letter-spacing: -1px;
        }
        p { margin: 5px 0 30px; }
    }     // 용돈다이어리
    .economic { // 종잣돈관리 - 경제와 증권
        .margin-top(60px);
        .clearfix();
        h5.title { margin: 50px 0 0; }
        h6.title { 
            color: @brand-info;
            font-size: 18px;
        }
        .text-a {
            .padding-left(310px);
            .background-image('custom/economic_bg_1');
            background-repeat: no-repeat;
            background-position: 72px 25px;
            h5.title { margin: 0; }
        }
        .text-b {
            ul {
                .mt20();
                li {
                    .pos-relative();
                    .pt15();
                    .padding-left(140px);
                    height: 125px;
                    .icon {
                        .pos-absolute();
                        top: 0px;
                        left: 0px;
                        .icon-set(114px, 114px, 'custom/economic_bg_2');
                        &.corporation {
                            background-position: left top;
                        }
                        &.family {
                            background-position: left -134px;
                        }
                        &.government {
                            background-position: left -268px;
                        }
                        
                    }
                }
            }
        }
        .text-c {
            .pull-left();
            width: 470px;
            h5.title { 
                .height(25px);
                .icon { 
                    .margin-right(8px);
                    .icon-set(27px, 22px, 'custom/economic_bg_3'); 
                }
            }
        }
        .text-d {
            .pull-right();
            width: 485px;
            h5.title { 
                .height(25px);
                .icon { 
                    .margin-right(8px);
                    .icon-set(22px, 25px, 'custom/economic_bg_4'); 
                }
            }
        }
        .frame {
            .mt20();
            padding: 5px 25px;
            height: 165px;
            .text-left();
            border: 1px #d5dde4 solid;
            border-radius: 5px;
            background-color: #f5f9fc;
        }
    }
    .business { // 종잣돈관리 - 기업과 증권
        .margin-top(60px);
        h5.title { margin: 50px 0 0; }
        .text-a {
            .padding-left(325px);
            .background-image('custom/business_bg_1');
            background-repeat: no-repeat;
            background-position: 62px 15px;
            h5.title { margin: 0px; }
        }
        .text-b {
            .pos-relative();
            .padding-right(480px);
            .chart {
                .pos-absolute();
                top: 35px;
                right: 0px;
            }
        }
        .text-c {
            .pos-relative();
            .padding-left(325px);
            min-height: 340px;
            .chart {
                .pos-absolute();
                top: 0px;
                left: 0px;
            }
        }
    }
    .stock { // 종잣돈관리 - 증권투자 절차
        .margin-top(60px);
        h5.title { margin: 50px 0 0; }
        h6.title {
            .reset();
            color: #1daad8;
            font-size: 18px;
        }
        p { line-height: @line-height; }
        .text-a {
            .padding-left(395px);
            .background-image('custom/stock_bg_1');
            background-repeat: no-repeat;
            background-position: 95px 15px;
            h5.title { 
                .mt30();
                &:first-child { .mt0(); }
            }
        }
        ul.list-a {
            margin: 0px;
            li {
                .pos-relative();
                .mt30();
                .pl30();
                .num {
                    .reset();
                    .pos-absolute();
                    top: -2px;
                    left: 0px;
                    width: 24px;
                    .height(24px);
                    border-radius: 50%;
                    font-size: 12px;
                    font-family: @font-family-num;
                    background: #425f76;
                }
            }
        }
        ul.step {
            .reset();
            .mt30();
            li {
                .padding-left(33px);
                width: 217px;
                .background-image('custom/money_step');
                background-repeat: no-repeat;
                background-position: 10px center;
                &:first-child {
                    .padding-left(0px);
                    background: none;
                }
                .box {
                    height: 156px;
                    border: 1px #d5dde4 solid;
                    border-radius: 5px;
                    h6.title { 
                        .height(44px);
                        .text-center();
                        background: #f5f9fc;
                    }
                    p { 
                        margin: 20px;
                        color: @text-color;
                    }
                }
            }
        }
        ul.list-notice {
            .reset();
            .mt20();
            li {
                margin: 10px 0 0;
            }
        }
    }
}
#interestCalc {
    position: relative;
    padding: 40px 0 30px 260px;
    border: 1px solid #d5dde4;
    background: #f5f9fc;
    border-radius: 5px;
    p { margin: 5px 0; }
    label { display: inline-block; width: 100px; .bold(); }
    .text { width: 200px; text-align: right; }
    .example { margin-left: 110px; }
    .button {
        position: absolute;
        right: 260px;
        top: 45px;
        height: 53px;
        padding-top: 15px;
    }
}

/* 원어민 화상 영어 */
.english-main {
    margin-top: 265px;
    border: 1px solid #dbdcd7;
    background-color: #f6f5f6;
    padding: 57px 118px 20px;
    .bg {
        display: block;
        margin-top: -275px;
        height: 348px;
        .background-image('custom/bg_english');
        background-position: 50% 0;
    }
    ul { 
        .reset(); 
        margin-top: 40px;
    }
    li {
        padding-left: 60px;
        position: relative;
        margin-bottom: 40px;
        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 44px;
            font-size: 20px;
            .height(44px);
            text-align: center;
            background-color: #6ab9eb;
            color: #fff;
            .bold();
            border-radius: 22px;
        }
    }
    p.title {
        font-size: 19px;
        .bold();
        margin: 0 0 15px;
    }
    p.cont { margin: 0; color: #80878d; }
}

/* English Class */
.eng-class-info {
    padding: 7px 7px 0 7px;
    min-height: 326px;
    .pos-relative();
    .clearfix();
    .background-image('custom/bg_eng_note_01');
    background-position: center top;
    border: 7px solid #40b7de;
    border-radius: 7px;
    .nth-child-1 {
        width: 293px;
        float: left;
        text-align: center;
        padding: 44px 0;
        a { margin-top: 20px; }
    }
    .nth-child-2 {
        padding: 43px 61px 14px 85px;
        width: 494px;
        float: right;
        border-left: 7px solid #40b7de;
        .title {
            color: #3e3f43;
            font-size: 18px;
            .bold();
            margin: 0 0 18px;
        }
        .download {
            padding-bottom: 20px;
            border-bottom: 1px dashed #c3c8cb;
            margin: 0;
            a {
                padding-left: 23px;
                .background-image('common/icon_download_2');
                background-position: 0 50%;
                text-decoration: underline;
                color: #1daad8;
                margin-right: 15px;
            }
        }
        ul { .reset(); margin-top: 20px; }
        li {
            margin-bottom: 10px;
            span {
                display: inline-block;
                width: 18px;
                height: 18px;
                background: #a6abaf;
                border-radius: 4px;
                color: #fff;
                .bold();
                margin-right: 5px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .eng-level {
        display: block;
        width: 141px;
        height: 183px;
        margin:0 auto;
        .background-image('custom/icon_eng_level');
        &.level-a { background-position: 0 0; }
        &.level-b { background-position: -141px 0; }
        &.level-f { background-position: -282px 0; }
    }
    .bottom-bg {
        .pos-absolute;
        bottom: 0;
        left: 0;
        height: 7px;
        width: 100%;
        .background-image('custom/bg_eng_note_02')
    }
}
.eng-timetable {
    thead td span {display: block;}
    tbody th {
        background-color:#fff;
        & > span { font-weight: normal !important; }
    }
    .large { font-size: 15px; }
}

/* English Level Test */
div.eng-level-info {
    margin: 50px 0;
    .padding-left(320px);
    .icon {
        .pos-absolute();
        .margin-left(-320px);
        &.amass { .icon-set(320px, 250px, 'custom/level_test_amass'); }
        &.bounce { .icon-set(320px, 250px, 'custom/level_test_bounce'); }
        &.fly { .icon-set(320px, 250px, 'custom/level_test_fly'); }
    }
    h4.title {
        .mt20();
        .mb10();
        font-size: 18px;
    }
    p { 
        .reset();
        line-height: 1.6;
    }
}

/* 추천 도서 */
div.book-recommend-view {
    .clearfix();
    div.book {
        .pos-relative();
        .pull-left();
        width: 200px;
        overflow: hidden;
        .text-center();
        a.like {
            .mt20();
            padding: 0px;
            width: 69px;
            height: 69px;
            .border-radius(50%);
            .icon {
                .mt15();
                .margin-right(0px);
            }
        }
        .thumb img { width: 198px; height: 293px; }
    }
    div.bbs-view {
        .pull-right();
        .mt0();
        width: 720px;
        table {
            .mt0();
        }
    }
}

/* 잔반토론 */
table.idea-vod {
   td.agree {
        .bold();
        color: @brand-danger;
   }
   td.disagree {
        .bold();
        color: @brand-info;
   }
}

/* 지식별 탐험 */
.adventure {
    .banner {
        padding-top: 86px;
        height: 109px;
        line-height: 1.5;
        color: #80878d;
        font-size: 18px;
        letter-spacing: -1px;
        text-align: center;
        .background-image('custom/bg_star');
        background-repeat: no-repeat;
        background-position: center top;
    }
    .intro {
        font-size: 15px;
        line-height: 25px;
        color: #848b91;
        margin: 0 0 17px;
    }
    .star-list {
        .reset();
        .clearfix();
        li {
            float: left;
            margin-left: 34px;
            margin-bottom: 40px;
            &.nth-child-1 { margin-left: 0; }
            &, a {
                font-size: 18px;
                color: #30383f;
                .bold();
            }
            &.cleared, &.saved {
                .star-badge { background-position: 0 0; }
            }
            &.available .star-badge { background-position: 0 -21px; }
            &.deactive {
                .star-badge { background-position: 0 -42px; }
            }
            &.complete .star-badge { background-position: 0 -63px; }
        }
        a:hover, li.cleared, li.complete, {
            .img span {
                width: 294px;
                height: 214px;
                border: 3px solid #1daad8;
                background-color: transparent;
            }
            .noimage span { border: none; background: none; }
        }
    }
    
    .img {
        position: relative;
        width: 300px;
        height: 220px;
        background-size: 300px 220px;
        background-repeat: no-repeat;
        margin-bottom: 16px;
        img { width: 300px; height: 220px; }
        span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #e3e3e3;
            background-color: #000;
            filter: alpha(opacity=70);
            background-color: rgba(0,0,0,.7);
            width: 298px;
            height: 218px;
        }
        &.noimage span { border: none; background: none; }

        

        &.noimage { .background-image('star/star_noimage'); }
    }
    
    .star-badge {
        display: inline-block;
        vertical-align: middle;
        width: 52px;
        .height(21px);
        .background-image('custom/badge_star_status');
        background-size: 52px 84px;
        background-repeat: no-repeat;
        text-align: center;
        margin-right: 10px;
        color: #fff;
        font-size: 12px;
        .bold();
    }
    
}

/* 지식별 탐험 : 상세 */
.section-star-summary {
    height: 334px;
    .background-image('custom/frame_star_summary');
    background-position: left top;
    .thumb {
        .pull-left();
        width: 444px;
        .pic {
            .box-sizing(content-box);
            padding: 35px 0 0 35px;
            width: 360px;
            img.blank { 
                width: 360px; 
                height: 264px;
            }
        }
    }
    .desc {
        .pull-left();
        width: 524px;
        .module {
            margin: 30px 0 0 50px;
            width: 445px;
        }
        .subject {
            .reset();
            font-size: 25px;
            .bold();
            color: @text-color;
            line-height: 1; 
        }
        ul {
            .mt15();
            .mb10();
            .pt5();
            border-top: 1px #edeeee solid;
            li {
                .height(35px);
                font-size: 16px;
                .bold();
                .th { width: 55px; color: @text-color; }
                .td { width: 380px; }
            }
        }
        .text {
            .reset();
            .mt40();
            font-size: 15px;
            .bold();
            letter-spacing: -1px;
        }
    }
}

/* 내신전략 : 강좌소개 */
.section-star-description {
    .clearfix();
    .mt40();
    .line-height-reset();
    h5 {
        .reset();
        font-size: 22px;
    }
    .module {
        .mt15();
        .min-height(240px);
        padding: 20px 20px 10px 20px;
        border: solid 1px #d8d8d8;
        .border-radius(5px);
        font-size: 15px;
        letter-spacing: -1px;
    }
    .description {
        .module, h5 { margin-right: 10px; }
    }
    .target {
        .module, h5 { margin-left: 10px; }
    }
    .inner {
        .line-height-large();
    }
}
.section-star-keyword {
    .mt10();
    .pos-relative();
    .layer-tooltip {
        left: 72px;
    }
}
.section-star-explanation {
    padding: 30px;
    border: 1px #d5dde4 solid;
    border-top: 0px;
    overflow:   hidden;
    p:first-child { .mt0(); }
}
.layer-tooltip { 
    .pos-absolute();
    display: none;
    border: 1px #a6d7e7 solid;
    border-radius: 5px;
    background: #e7f4f8;
    .inner {
        padding: 20px 15px;
        color: #31a2c7;
        .bold();
        font-size: 15px;
    }
    .arrow {
        .pos-absolute();
        right: 50px;
        bottom: -15px;
        .inline-block();
        width: 22px;
        height: 15px;
        .background-image('common/layer_tooltip');
    }
}


/* [[ 퓨처플랜 ]]
   ========================================================================== */

/* ifuture 랭킹 */
.section-ranking {
    .line-height-reset();
    .subject {
        text-align: center;
        strong {
            font-size: 40px;
            .bold();
            color: @link-color;
            img { .vertical-middle(); }
        }
        p {
            margin: 15px 0; 
            padding: 0;
            color: @link-color;
            font-size: 18px;
        }
    }
    .tab-a {
        margin-top: 40px;
        text-align: center;
        .tab {
            margin: 0;
            display: inline-block;
        }
    }
    
    .core {
        .pos-relative();
        z-index: 1;
        height: 350px;
        text-align: left;
        .background-image('common/obj_ranking_01');
        background-position: center top;
        .item {
            .pos-absolute();
            z-index: 2;
            width: 100px;
            height: 200px;
            background-position: center bottom;
            .background-no-repeat();
            &.boy-1 { 
                .background-image('temp/boy_01'); 
            }
            &.boy-2 { 
                .background-image('temp/boy_02'); 
            }
            &.girl-1 { 
                .background-image('temp/girl_01'); 
            }
            &.nth-child-1 { top: 12px; left: 435px; }
            &.nth-child-2 { top: 51px; left: 663px; }
            &.nth-child-3 { top: 100px; left: 235px; }
        }
        .item-desc {
            .pos-absolute();
            z-index: 3;
            top: 0;
            left: 0;
            width: 218px;
            line-height: 1.3;
            color: #fff;
            text-align: center;
            font-size: 15px;
            &.nth-child-1 { 
                top: 254px; 
                left: 373px;
                font-size: 20px; 
                strong { .block(); }
            }
            &.nth-child-2 { 
                top: 270px; 
                left: 591px; 
                font-size: 20px;
                strong { .block(); }
            }
            &.nth-child-3 { 
                top: 315px; 
                left: 155px; 
            }
        }
    }

    /* 센터킹 */
    &.place {
        .core {
            .background-image('common/obj_ranking_02');
        }
    }
}
.section-tips {
    margin-top: 35px;
    border: 1px solid #cfd0cb;
    padding: 18px;
    font-size: 15px;
    color: #80878d;
    font-weight: normal;
}

/* 마이킹, 센터킹 리스트 */
.list-ranking {
    .clearfix();
    margin-top: 30px;
    tr:first-child td {
        background-color: #f3fbfc;
    }
    tr:nth-child(1) td,
    tr:nth-child(2) td,
    tr:nth-child(3) td {
        background-color: #f3fbfc;
    }
}
.list-grade {
    .reset();
    .clearfix();
    > li { 
        float: left; 
        text-align: center;
        li {
            .height(55px);
            border-bottom: 1px solid #dbdcd7;
            &.last { background: #fafafc; }
            &.th {
                .line-height();
                .text-left();
                height: 120px;
                padding: 10px;
                color: #48555f;
                font-size: 13px;
                .normal();
                &.first { font-size: 16px; line-height: 120px; .text-center(); }
            }
        }
    }
    .title, .title-2 {
        background: @brand-info;
        color: #fff;
        line-height: 50px;
        .bold();
        border-left: 1px solid #5fbbd8;
    }
    .no-border-left { 
        .title, .title-2 { border-left: none; }
    }
    .title-2 {
        background: #f6f5f6;
        color: #3e3f43;
        border-color: #dbdcd7;
        font-size: 15px;
        border-top: 1px solid #dbdcd7;
        border-bottom: 1px solid #dbdcd7;
        margin: 25px 0 0;
    }
    .input-area {
        color: #1daad8;
        .bold();
    }
    ul { .reset(); }
    &.submit {
        > li { 
            width: 197px;
            &.no-border-left { width: 177px; }
        }
        ul { height: 532px; }
        .data-field ul { border-left: 1px solid #dbdcd7; }
        .saved { color: @brand-info; .bold(); }
    }
    &.choose {
        li {
            width: 322px;
            border-bottom: 1px solid #dbdcd7;
            > div {
                padding: 10px 50px;
                border-left: 1px solid #dbdcd7;
            }
            .select {text-align: left;}
            &.no-border-left div {border-left: none;}
        }
    }
}
ul.list.grade-notice {
    margin: 20px 0 50px;
    color: #80878d;
    li { line-height: 1.8; }
}

.not-ready li:first-child {
    height: 247px;
    line-height: 1.7;
    padding-top: 88px;
    span {
        display: block;
        margin: 0 auto 10px;
    }
}

/* As Is Test & To Be Test */
.list-asistest-1 {
    .reset();
    .clearfix();
    margin-bottom: 30px;
    li {
        width: 372px;
        height: 300px;
        border:1px solid #cfd0cb;
        padding: 40px 50px;
        border-radius: 5px;
        .buttons {
            margin-top: 40px;
            text-align: center;
            a { margin-bottom: 5px; }
        }
        &.pull-left .bg { background-position: 0 0; }
        &.pull-right .bg { background-position: -280px 0; }
    }
    h5 {
        text-align: center;
        margin: 0 0 20px;
        font-size: 26px;
    }
    .bg {
        display: inline-block;
        width: 140px;
        height: 90px;
        .background-image('custom/icons_future_test');
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }
}
.list-asistest-2 {
    padding: 45px 0 41px;
    border: 1px solid #cfd0cb;
    border-radius: 5px;
    .clearfix();
    .pull-left {
        width: 298px;
        text-align: center;
    }
    .bg {
        display: inline-block;
        margin-top: 15px;
        width: 140px;
        height: 90px;
        .background-image('custom/icons_future_test');
        background-repeat: no-repeat;
        background-position: -420px 0;
    }
    .pull-right {
        width: 616px;
        padding-right: 50px;
    }
    p {margin: 0 0 15px;}
    ul {
        .reset();
        .clearfix();
        li {
            float: left;
            margin: 0 0 4px 4px;
        }
        a.button {
            padding: 5px 0 7px;
            width: 118px;            
        }
    }
}

/* iFuture 지수 */
.ifuture-1, .ifuture-2 {
    .reset();
    .clearfix();
}
.ifuture-1 {
    margin-top: 75px;
    .background-image('custom/bg_ifuture_1');
    padding: 160px 0 0 23px;
    li {
        float: left;
        width: 289px;
        margin-right: 26px;
        text-align: center;
        height: 180px;
        color: #fff;
    }
    .subject {
        margin: 0 0 10px;
        font-size: 26px;
        .bold();
    }
    .content-1 {
        font-size: 16px;
        .bold();
        margin: 0 0 5px;
    }
    .content-2 {
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
    }
}
.ifuture-2 {
    margin-top: 79px;
    li {
        float: left;
        margin-left: 19px;
        padding: 33px 20px 0;
        width: 268px;
        height: 378px;
        border: 1px solid #cfd0cb;
        border-radius: 4px;
        &.item-1 { margin-left: 0;}
        .img {
            width: 80px;
            height: 89px;
            display: block;
            margin: 0 auto 30px;
            .background-image('custom/bg_ifuture_2');
        }
    }
    .item-1 .img { background-position : 0 0;}
    .item-2 .img { background-position : -80px 0;}
    .item-3 .img { background-position : -160px 0;}

    .subject {
        font-size: 26px;
        text-align: center;
        .bold();
        color: #48555f;
        margin: 0 0 15px;
    }
    .content-1 {
        margin: 0;
        color: #80878d;
        font-size: 14px;
        line-height: 19px;

    }
}

/* 직업검색 결과 */
.career-contents {
    padding: 0 30px 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c4d0da;
    color: #80878d;
    h5 {
        margin: 40px 0 15px; 
        font-size: 18px;
    }
    h6 {
        font-size: 15px;
        color: #1daad8;
        margin: 30px 0 15px;
    }
    th { color: #3e3f43; }
    img { max-width: 100%; }
    .mov {
        .inline-block();
        width: 300px;
        text-align: center;
        span { 
            .block(); 
            margin-top: 10px;
        }
    }
}

/* 직업전망 그래프 */
.career-graph {
    .clearfix();
    .pos-relative();
    .y-axis {
        float: left;
        width: 30px;
        text-align: right;
        p {margin:0 -4px 61px 0;}
    }
    .grid {
        padding-top: 5px;
        float: right;
        width: 875px;
    }
    .grid-table {
        width: 780px;
        border-collapse : collapse;
        border: 2px solid #a1a1a1;
        td {
            width: 14.285714%;
            border: 1px solid #d6d6d6;
            height: 77px;
        }
    }
    .x-axis {
        clear:both;
        .reset();
        .clearfix();
        margin-left: 30px;
        width: 780px;
        li {
            float: left;
            width: 14.285714%;
            text-align: center;
            .height(30px);
        }
    }
    .average {
        position: absolute;
        left: 36px;
        top: 145px;
        width: 100px;
        padding-left: 785px;
        color: @brand-warning;
        .bold();
        .border {
            position: absolute;
            width: 775px;
            left: 0;
            top: 7px;
            height: 0;
            display: block;
            border: 1px dashed @brand-warning;
        }
    }

    .graph-result {
        position: absolute;
        width: 776px;
        height: 319px;
        top: 7px;
        left: 50px;
        .reset();
        li {
            float: left;
            width: 80px;
            text-align: center;
            position: absolute;
            bottom: 0;
            &.nth-child-1 { left: 0; background: #4FBBCF; }
            &.nth-child-2 { left: 112px; background: #F6AA2A; }
            &.nth-child-3 { left: 224px; background: #CFBD85; }
            &.nth-child-4 { left: 335px; background: #5B9C7B; }
            &.nth-child-5 { left: 446px; background: #899C5B; }
            &.nth-child-6 { left: 557px; background: #9C9313; }
            &.nth-child-7 { left: 668px; background: #9C387F; }
            span {
                position: absolute;
                top: -25px;
                display: block;
                width: 100%;
                color: #000;
                .bold();
            }
        }
    }
}
 
/* 직업탐방영상 / 우리토론 play */
.list-wrapper {
    .list-header {
        .clearfix();
        margin-bottom: 20px;
    }
    .list-options {
        float: right;
        a {
            display: block;
            float: left;
            .ml5();
            width: 34px;
            height: 34px;
            .background-image('common/icon_list_type');
            em { .sr-only(); }
            &.list-type-a { background-position: 0 0; }
            &.list-type-b { background-position: -34px 0; }
            &.list-type-a:hover, &.list-type-a.active { background-position: 0 -34px; }
            &.list-type-b:hover, &.list-type-b.active { background-position: -34px -34px; }
        }
    }
}
.mov-list.type-a {
    .reset();
    clear: both;
    .clearfix();
    .mt20();
    li {
        .pos-relative();
        width: 300px; 
        margin-left: 34px;
        margin-bottom: 50px;
        float: left;
        &.ml0 { margin-left: 0; }
        a { 
            img  { width: 300px; height: 220px; }
        }
        .time {
            position: absolute;
            display: block;
            padding:0 5px;
            .height(20px);
            text-align: center;
            color: #fff;
            font-size: 11px;
            background-color: #30383f;
            background-color: rgba(48, 56, 63, 0.6);
            border-radius: 3px;
            right: 4px;
            top: 196px;
        }
        div {
            margin-left: 20px;
            .pos-relative(); }
        input {
            .pos-absolute;
            left: 0;
            top: 237px;
            width: 15px;
            height: 15px;
        }
        h5 { 
            .text-overflow();
            width: 230px;
            margin: 15px 0 5px;
            font-size: 18px;
        }
        p { color: #80878d; margin: 0; }
        p.hit {
            position: absolute;
            top:234px;
            right:0;
            span.hit2 { 
                padding-top: 1px;
                margin-right: 5px;
            }
        }
        .category {
            .pos-absolute();
            width: 56px; 
            .height(55px);
            color: #fff;
            .text-center();
            font-size: 14px;
            .background-image('common/media_category_bg');
            background-repeat: no-repeat;
            background-position: left top;
            &.type-b {
                .padding-top(7px);
                line-height: @line-height-small;
            }
        }
    }
}
.mov-list.type-b {
    td.category span {
        color: #fff;
        font-size: 14px;
        .background-image('common/media_category_bg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 7px 15px;
        &.type-b {
            .padding-top(7px);
            line-height: @line-height-small;
        }
    }
}



/* [[ 마이페이지 ]]
   ========================================================================== */
/* 아이디어뱅크 */
.section-ideabank { .mb40(); }
.section-ideabank .core { margin: 30px 0 20px; }

/* 추천도서 목록 */
.list-book {
    .reset();
    .clearfix();
    .mt40();
    .background-image('custom/book_shelf');
    background-position: center top;
    background-repeat: repeat-y;
    li {
        float: left;
        position:relative;
        padding-bottom: 89px;
        padding-left: 40px;
        &.empty {
            width: 157px;
            height:212px;
            .background-image('custom/book_empty');
            background-position: center top;
        }
        &:hover .hoverbox {display:block;}
        a img { width: 152px; height: 212px; }
        input {
            .pos-absolute;
            left: 20px;
            top: 10px;
            width: 15px;
            height: 15px;
        }
        .icon.grade-1, .icon.grade-2 {
            left: 40px; top: 0;
        }
        &.nth-child-1 {
            padding-left: 20px;
            input { left: 0; }
            .icon.grade-1, .icon.grade-2 {
                left: 20px;
            }    
        }
    }
    .hoverbox {
        display: none;
        position: absolute;
        background-color: #48555f;
        background-color: rgba(52, 65, 75, .9);
        color: #fff;
        top: 0;
        left: 40px;
        width: 152px;
        height: 212px;
        .title {
            margin: 0;
            padding: 15px;
            font-size: 18px;
            .bold();
        }
        .like, .date {
            position: absolute;
            display: block;
            left: 15px;
            padding-left: 22px;
            .background-image('custom/icon_book_hover');
            .background-no-repeat();
            line-height: 18px;
        }
        .like {
            bottom: 40px;
            background-position: 0 0;
        }
        .date {
            bottom: 15px;
            background-position: 0 -18px;
        }
    }
    li.nth-child-1 .hoverbox { left: 20px; }
}

/* 포인트 내역 */
.bbs-search.point {
    text-align: center;
    font-size: 20px;
    .bold();
    color: @link-color;
    background: none;
    border: none;
    .point-icon {
        display: inline-block;
        width: 25px;
        .height(25px);
        background: #fd7261;
        color: #fff;
        font-size: 20px;
        border-radius: 19px;
        margin-right: 5px;
    }
    .point-value, strong {
        font-size: 28px;
        color: @brand-danger;
    }
}

/* section-login */
div.section-login {
    .pos-relative();
    margin: 70px auto;
    width: 848px;
    border: 1px #d5dde4 solid;
    div.pic {
        .pos-absolute();
        top: 0px;
        left: 0px;
        .padding-top(55px);
        width: 320px;
        .text-center();
        .icon { 
            width: 124px;
            height: 162px;
            .background-image('custom/login_icon');
            background-position: center top;
            // .background-no-repeat();
        }
    }
    div.form {
        .pos-relative();
        .margin-left(320px);
        padding: 45px 30px 0 30px;
        height: 235px;
        border-left: 1px #d5dde4 solid;
        background: #f5f9fc;
        ul.core li {
            .padding-left(110px);
            .margin-bottom(8px);
            label {
                .pos-absolute();
                .mt10();
                .margin-left(-70px);
                .bold();
                font-size: 15px;
            }
            input.text {
                width: 214px;
            }
        }
        div.action {
            .pos-absolute();
            top: 45px;
            right: 70px;
            .button {
                padding: 18px 20px 20px 20px;
                width: 40px;
                .icon {
                    .block();
                    width: 100%;
                }
            }
        }
        div.link {
            .mt15();
            .padding-left(110px);
            label {
                color: @link-color;
                .margin-right(10px);
                .padding-right(10px);
                .background-image('custom/talk_pipe');
                background-position: right 70%;
                // .background-no-repeat();
            }
        }
        div.message {
            .margin-top(30px);
            .background-image('common/dot_gray_02');
            background-position: left top;
            background-repeat: repeat-x;
            ul { 
                .mt0();
                .pt25();
                li { 
                    .padding-left(25px);
                    .background-image('common/icon_notice');
                    background-position: left top;
                    // .background-no-repeat();
                }
            }
        }
    }
    &.my-login {
        div.form {
            .padding-top(70px);
            height: 208px;
            div.action {
                top: 70px;
            }
            div.message {
                .margin-top(60px);
            }
        }
    }
    &.find-id {
	    div.pic {
	        .icon { 
	            width: 158px;
	            .background-image('custom/icon_find_id');
	            background-position: center center;
	        }
	    }
	    form ul { 
	    	height: 120px; 
	    	input.small { width: 55px !important; }
	    }

    }
}

/* 아이디 찾기 결과 */
.find-result {
	margin: 0px auto;
	padding: 45px 0;
	width: 848px;
	fontsize: 14px;
	color: #80878d;
	.text-center();
	border-radius: 0px;
	strong {
		font-size: 16px;
		color: @brand-info;
	}
}

/* mission-map */
div.mission-map {
    .margin-top(60px);
    div.map {
        overflow: hidden;
        .background-image('custom/mission_map');
        background-position: right top;
        ul { 
            .margin-top(-59px);
            li {
                .margin-top(59px);
                .margin-right(19px);
                width: 188px;
                height: 131px;
                .background-image('custom/mission_map_bg');
                background-repeat: no-repeat;
                background-position: center 98px;
                div.mission {
                    padding: 0 20px;
                    height: 96px;
                    .text-center();
                    color: @link-color;
                    border-radius: 10px;
                    border: 1px #b9d8e2 solid;
                    background: #f3fbfc;
                    h4 {
                        margin: 10px 0; 
                        .height(25px);
                        font-size: 14px;
                        color: #fff;
                        .background-image('custom/mission_map_h4_on');
                    }
                }
                &.fail, &.clear {
                    .background-image('custom/mission_map_fail_bg');
                    div.mission {
                        .pos-relative();
                        border: 1px #e8e8e8 solid;
                        background: #f8f8f8;
                        h4 {
                            margin: 10px 0; 
                            .height(25px);
                            font-size: 14px;
                            color: #fff;
                            .background-image('custom/mission_map_h4_off');
                        }
                        span.fail {
                            .pos-absolute();
                            top: 19px;
                            left: 56px;
                            width: 78px;
                            height: 61px;
                            .background-image('custom/mission_map_fail');
                            background-position: left top;
                        }
                        span.clear {
                            .pos-absolute();
                            top: 15px;
                            left: 51px;
                            width: 88px;
                            height: 69px;
                            .background-image('custom/mission_map_clear');
                            background-position: left top;
                        }
                    }
                }
                &.no {
                    div.mission {
                        .padding-top(25px);
                        height: 71px;
                        font-size: 16px;
                        color: @brand-info;
                    }
                }
                &:nth-child(8n+1) {
                    .margin-left(140px);
                }
                &:nth-child(8n+5),
                &:nth-child(8n+6),
                &:nth-child(8n+7),
                &:nth-child(8n+8) {
                    .pull-right();
                }
                &:nth-child(8n+5) {
                    .margin-right(140px);
                }
                .lt-ie8 & {
                    &.nth-child-1 {
                            .margin-left(140px);
                    }
                    &.nth-child-5,
                    &.nth-child-6,
                    &.nth-child-7,
                    &.nth-child-8 {
                        .pull-right();
                    }
                    &.nth-child-5 {
                        .margin-right(140px);
                    }
                }
            }
        }
    }
}

/* 개인정보 입력 */
.information-input .selecter {
    .inline-block();
    .vertical-middle();
    width: 130px !important;
    min-width: 130px !important;
}

/* 오늘의 학습 */
div.today-info {
    ul.tab {
    	display: block;
        margin: 0px;
        li {
            padding: 0 20px;
            width: 45%;
            color: @link-color;
            font-size: 16px;
            &:first-child {
            .text-right();
                border-right: 1px #cfe0e5 solid;
            }
            .icon {
                .margin-right(15px);
                &.name { .icon-set(41px, 41px, 'common/icon_user'); }
                &.process { .icon-set(41px, 41px, 'common/icon_process'); }
            }
            strong {
                .ml5();
                font-size: 18px;
                color: @text-color;
            }
        }
    }
}

/* iFuture 지수 분석 */
.ifuture-result {
    .clearfix();
    .pull-left {
        width: 470px;
        border: 1px solid #dbdcd7;
    }
    .pull-right {
        width: 484px;
        border-top: 1px solid #dbdcd7;
        table.table-a {margin: 0;}
    }
}
div.study-schedule {
    padding: 0 10px;
    border: 10px #50c4d3 solid;
    h4 {
        .reset();
        .padding-top(65px);
        font-size: 22px;
        .bold();
        .text-center();
        .background-image('custom/study_schedule_bg');
        background-repeat: no-repeat;
        background-position: center top;
        .datepicker {
            .margin-right(5px);
            .background-image('common/ico_datepicker_2'); 
        }
    }
    li.section {
        .clearfix();
        .mt15();
        font-size: 14px;
        border: 1px #d5dde4 solid;
        border-radius: 5px;
        .date, .category  {
            .pull-left();
            .mt30();
            .text-center();
            &.date { 
                width: 160px;
                color: #80878d;
            }
            &.category { 
                width: 90px;
                .bold();
                .badge { .mt5(); }
            }
        }
        ul.list { 
            .pull-left();
            .margin-left(35px);
            width: 330px;
            color: #80878d;
         }
        .action {
            .pull-left();
            margin: 20px 30px 20px 0;
            .icon { 
                .icon-set(52px, 53px, 'custom/study_schedule_control');
                &.up { 
                    background-position: left top;
                    &:hover { background-position: left bottom; }
                    &.disabled { 
                        opacity: 0.3;
                        background-position: left top;
                    }
                }
                &.down { 
                    .ml5();
                    background-position: right top;
                    &:hover { background-position: right bottom; }
                    &.disabled { 
                        cursor: default;
                        opacity: 0.3;
                        background-position: right top;
                    }
                }
            }
        }
        .bbs-button {
            .pull-right();
            margin: 30px 14px 0;
            a { padding: 8px 10px; }
        }
        &.finish { background-color: #f5f9fc; }
    }
    p {
        .reset();
        padding: 250px 0;
        font-size: 22px;
        .text-center();
        .bold();
        color: @text-color;
        .background-image('custom/study_schedule_bg');
        background-repeat: no-repeat;
        background-position: center top;
        .datepicker {
            .margin-right(5px);
            .background-image('common/ico_datepicker_2'); 
        }
    }
}


/* [[ Etc. ]]
   ========================================================================== */

/* 포시스 안내 */
div.introduce-logo {
    .margin-top(60px);
    .padding-left(370px);
    .logo {
        .pos-absolute();
        .margin-left(-370px);
    }
    h4.title { font-size: 20px; }
    li {
        .pos-relative();
        .mt40();
        .padding-left(50px);
        width: 240px;
        .num {
            .reset();
            .pos-absolute();
            width: 39px;
            .height(39px);
            top: 7px;
            left: 0px;
            .text-center();
            border-radius: 50%;
            font-size: 16px;
            color: #fff;
            .bold();
            font-family: @font-family-num;
            background-color: #8abe42;
            &.num-2 { background-color: #fcb016; }
            &.num-3 { background-color: #15a7d7; }
            &.num-4 { background-color: #7e79b8; }
        }
        strong {
            .block();
            color: @text-color;
            .bold();
            font-size: 20px;
        }
    }
    &.bi {
        height: 251px;
        .padding-left(485px);
        .logo {
            .margin-left(-485px);
        }
    }
}
div.introduce {
    h4.title { 
        margin: 90px 0 40px 0;
        .text-center();
        font-size: 28px; 
    }
    h5.title { 
        margin: 70px 0 0 0;
        font-size: 22px; 
    }
    p {
        .reset();
        line-height: 1.7;
    }
    .vod {
        margin: 0px auto;
        width: 660px;
        p { .margin-top(35px); }
    }
    .program {
        margin: 0px auto;
        width: 970px;
        li {
            .margin-left(20px);
            padding: 30px 20px 30px 25px;
            width: 262px;
            height: 270px;
            border: 1px #cfd0cb solid;
            border-radius: 5px;
            &:first-child { .ml0(); }
            .icon {
                background-position: center 10px;
                &.program-1 {.icon-set(100%, 160px, 'custom/introduce_program_1'); }
                &.program-2 {.icon-set(100%, 160px, 'custom/introduce_program_2'); }
                &.program-3 {.icon-set(100%, 160px, 'custom/introduce_program_3'); }
            }
            strong {
                .block();
                .mb10();
                .text-center();
                font-size: 20px;
                color: @text-color;
            }
        }
    }
}
.color-system {
    .clearfix();
    ul.tab {
        border: 1px solid #cfd0cb;
        padding: 18px 0;
        li {
            float: left;
            width: 223px;
            padding: 11px 49px 10px;
            &.nth-child-1 .color { background-position: 0 0;}
            &.nth-child-2 .color { background-position: -70px 0;}
            &.nth-child-3 .color { background-position: -140px 0;}
            &.nth-child-4 .color { background-position: 0 -70px;}
            &.nth-child-5 .color { background-position: -70px -70px;}
            &.nth-child-6 .color { background-position: -140px -70px;}
        }
    }
    
    .color {
        .background-image('custom/bi_color');
        display: block;
        float: left;
        width: 70px;
        height: 70px;
        margin-right: 22px;
    }
    p {
        float: left;
        margin: 13px 0 0;
        color: #48555f;
        font-size: 16px;
        line-height: 24px;
        .bold();
    }
    .color-id { 
        display: block;
        color: #80878d;
        font-size: 14px;
    }
}
.bi-type {
    li {
        .mt15();
        &:first-child { .mt0(); }
    }
}

/* 러닝센터 개설
   ========================================================================== */
div.running-step {
    .mt50();    
    li {
        .padding-right(32px);
        .padding-bottom(33px);
        width: 301px;
        .background-image('custom/running_step_right');
        background-repeat: no-repeat;
        background-position: 310px center;
        .frame {
            padding: 0px;
            height: 322px;
            background: none;
            .text-center();
            border-color: #cfd0cb;
            .icon {
                .mt30();
                &.consultation { .icon-set(86px, 86px, 'custom/icon_consultation'); } 
                &.analysis { .icon-set(86px, 86px, 'custom/icon_analysis'); } 
                &.contract { .icon-set(86px, 86px, 'custom/icon_contract'); } 
                &.interior { .icon-set(86px, 86px, 'custom/icon_interior'); } 
                &.hr { .icon-set(86px, 86px, 'custom/icon_hr'); } 
                &.open { .icon-set(86px, 86px, 'custom/icon_open'); } 
            }
            p {
                margin: 0 0 0 25px;
                .text-left();
                font-size: 14px;
                &.subject {
                    .mt25();
                    .pl30();
                    .num {
                        .pos-relative();
                        padding: 0px;
                        .margin-top(-5px);
                        .margin-left(-30px);
                        width: 23px;
                        .height(23px);
                        font-family: @font-family-num;
                        border-radius: 50%;
                        background: #425f76;
                    }
                    strong {
                        font-size: 20px;
                        color: @text-color;
                    }
                }
                &.text {
                    .mt25();
                }
            }
        }
        &.nth-child-4, &.nth-child-5, &.nth-child-6 { 
            .pull-right();
            .background-image('custom/running_step_left');
            background-repeat: no-repeat;
            background-position: 310px center;
        }
        &.nth-child-3, &.nth-child-4 { 
            .padding-right(0px);
            background: none;
        }
        &.nth-child-3 {
            .background-image('custom/running_step_down');
            background-repeat: no-repeat;
            background-position: center 334px;
        }
    }
}

/* 포시스 이용 가이드
   ========================================================================== */
div.use-guide {
    h4.title { .mt40(); }
    p.desc { font-size: 17px; }
    strong.subject {
        .block();
        .text-center();
        font-size: 20px;
        color: @text-color;
    }
    .guide-list {
        overflow: hidden;
        ul.tab {
            .margin-top(-20px);
            li.frame {
                .mt20();
                padding: 0px;
                .margin-left(20px);
                width: 307px;
                height: 352px;
                .text-center();
                border: 1px #cfd0cb solid;
                border-radius: 5px;
                background: none;
                ul.list { margin: 15px 20px 0 30px; }
                &:nth-child(3n+1) { .ml0(); }
                .icon {
                    position: static;
                    width: 175px;
                    height: 175px;
                    &.grade-1 { .icon-set(175px, 175px, 'custom/icon_guide_grade_1'); } 
                    &.grade-2 { .icon-set(175px, 175px, 'custom/icon_guide_grade_2'); } 
                    &.grade-3 { .icon-set(175px, 175px, 'custom/icon_guide_grade_3'); } 
                    &.creative-1 { .icon-set(175px, 175px, 'custom/icon_guide_creative_1'); } 
                    &.creative-2 { .icon-set(175px, 175px, 'custom/icon_guide_creative_2'); } 
                    &.creative-3 { .icon-set(175px, 175px, 'custom/icon_guide_creative_3'); } 
                    &.creative-4 { .icon-set(175px, 175px, 'custom/icon_guide_creative_4'); } 
                    &.creative-5 { .icon-set(175px, 175px, 'custom/icon_guide_creative_5'); } 
                    &.plan-1 { .icon-set(175px, 175px, 'custom/icon_guide_plan_1'); } 
                    &.plan-2 { .icon-set(175px, 175px, 'custom/icon_guide_plan_2'); } 
                    &.plan-3 { .icon-set(175px, 175px, 'custom/icon_guide_plan_3'); } 
                    &.community-1 { .icon-set(175px, 175px, 'custom/icon_guide_community_1'); } 
                    &.community-2 { .icon-set(175px, 175px, 'custom/icon_guide_community_2'); } 
                    &.my-1 { .icon-set(175px, 175px, 'custom/icon_guide_my_1'); } 
                    &.my-2 { .icon-set(175px, 175px, 'custom/icon_guide_my_2'); } 
                    &.my-3 { .icon-set(175px, 175px, 'custom/icon_guide_my_3'); } 
                    &.my-4 { .icon-set(175px, 175px, 'custom/icon_guide_my_4'); } 
                }
                &.grade {
                    height: 332px;
                }
            }
        }
    }
    div.frame {
        border-color: #cfd0cb;
        background: none;
        &.media {
            padding: 40px 60px 40px 305px;
            line-height: 1.8;
            .background-image('custom/icon_guide_media');
            background-repeat: no-repeat;
            background-position: 77px center;
        }
        &.future-rank {
            .mb20();
            padding: 25px 0 15px 30px;
            strong { .text-left(); }
            ul.rank {
                .mt30();
                li {
                    .margin-left(27px);
                    width: 130px;
                    .text-center();
                    &:first-child { .ml0(); }
                    .level-l { .mb10(); }
                    p {
                        .reset();
                    }
                }
            }
        }
    }
}

/* 검색결과
   ========================================================================== */
.search-result { 
    .margin-bottom(70px);
    padding: 55px 0 55px 60px;
    font-size: 18px;
    color: @text-color;
    .text-center();
    background-color: #f5f9fc;
    .background-image('custom/icon_search');
    background-repeat: no-repeat;
    background-position: 210px center;
    border: solid 1px #d5dde4;
    strong {
        color: @brand-info;
    }
}

.search-result-no {
    padding: 40px 0 40px 55px;
    font-size: 18px;
    color: @text-color;
    .text-center();
    border-top: 1px #dbdcd7 solid;
    border-bottom: 1px #dbdcd7 solid;
    background-color: #f6f5f6;
    .background-image('custom/icon_search_2');
    background-repeat: no-repeat;
    background-position: 285px center;
    strong {
        color: @brand-info;
    }
}

/* 사이트맵
   ========================================================================== */
#sitemap {
    position: relative;
    .reset();
    .clearfix();
    > li {
        border: 1px solid #cfd0cb;
        border-radius: 5px;
        padding: 30px 28px 0;
        width: 176px;
        height: 670px;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        &.nth-child-1, &.nth-child-5 { margin-left: 0; }
    }
    ul { .reset(); }
    ul.d2 { padding-left: 8px; }

    .bg {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 25px;
        .background-image('custom/icon_sitemap');
    }
    .nth-child-1 .bg { background-position: 0 0; }
    .nth-child-2 .bg { background-position: -150px 0; }
    .nth-child-3 .bg { background-position: -300px 0; }
    .nth-child-4 .bg { background-position: -450px 0; }
    .nth-child-5 .bg { background-position: 0 -150px; }
    .nth-child-6 .bg { background-position: -150px -150px; }
    .nth-child-7 .bg { background-position: -300px -150px; }

    a { text-decoration: none; color: #48555f; }
    a:hover, a:active { text-decoration: underline; }
    a.nav-0 {
        font-size: 20px;
        line-height: 44px;
        .bold();
    }
    a.nav-1 {
        font-size: 16px;
        line-height: 36px;
    }
    a.nav-2 {
        font-size: 14px;
        line-height: 22px;
        color: #848b91;
    }
    li.nth-child-6 {
        a.nav-1 { line-height: 34px; }
        a.nav-2 { line-height: 20px; }
    }

    li.nth-child-7 {
        .d1 {
            padding-bottom: 20px;
            border-bottom: 1px solid #eeefed;
        }
    }
    li.nth-child-8 { 
        position: absolute;
        border: none;
        height: 240px;
        bottom: 0;
        left: 479px;
    }
}