/* ==========================================================================
   device
   ========================================================================== */

/* smartphones
   ========================================================================== */
@media only screen and (min-width: 480px) {


}

/* tablet
   ========================================================================== */
@media only screen and (min-width: 768px) {


}

/* table landscape and wide
   ========================================================================== */
@media only screen and (min-width: 1140px) {

    .wrapper { 
        /* 1140px - 10% for margins  */
        // width: 1026px;  
        // margin: 0 auto;
    }
}
