/* ==========================================================================
   Global Navigation Bar
   ========================================================================== */

#gnb {
    .clearfix();
    .min-height(60px);
    
    .pos-absolute(); 
    z-index: @gnb-z-index-base + 10;

    left: 50%;
    top: 80px;
    width: @desktop-width + 10;
    margin-left: -(@desktop-width/2) - 5;
    .min-height(60px);

    .background-image('common/gnb_bg');

    a:hover,
    a:active { 
        .text-none(); 
    }
    ul {
        .clearfix();
        .reset();
        li { 
            .reset();
        }
    }
    ul.core {
        .pos-absolute();
        z-index: 11100;
        left: 50%;
        top: 5px;
        margin-left: -(@desktop-width / 2);
        width: @desktop-width;
        .clearfix();
        // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }

    ul.d3 {
        .reset();
        a.d3 { 
            .block();
            margin: 0 0 0 1px;
            padding: 0 20px 0 30px;
            .height(28px);
            font-size: 15px;
            color: #848b91;
            transition: all 0s;
            &:hover {
                background-color: #f7f7f7;
            }
        }
    }

    ul.d2 {
        padding: 28px 0 20px;
        li.d2 {
            .pull-left();
            width: (@desktop-width/5);
            .min-height(210px);
            .background-image('base/dot_1x4');
            background-position: left top;
            background-repeat: repeat-y;
            &:first-child { background: none; }
            a.d2 {
                .block();
                padding: 0 20px 0 30px;
                .height(40px);
                font-size: 15px;
                .bold();
                color: #595a60;
                &:hover { color: #93a2ad; }
            }
        }
    }

    li.d1 {
        .pull-left();
        width: 161px;
        background-color: #fff;
        .background-image('common/gnb_pipe');
        background-position: left top;
        background-repeat: repeat-y;
        &:first-child {
            background: #fff;
            width: 163px;
        }
        a.d1 { 
            .block();
            .height(50px);
            text-align: center;
            font-size: 16px;
            .bold();
            transition: all 0.3s;
            color: #3e3f43; 
        }
        div.d1 {
            .js & { display: none; }
            .pos-absolute();
            // box-shadow: inset 0 5px 5px -3px rgba(0, 0, 0, 0.15);
            z-index: @gnb-z-index-base - 10;
            left: 50%;
            margin-left: -(@desktop-width / 2);
            width: @desktop-width;
            .background-image('common/gnb_shadow');
            background-position: center top;
            .background-repeat-x();
            background-color: #fff;
            background-color: rgba(255, 255, 255, 0.98);
        }
        // 배너
        li.banner {
            width: (@desktop-width/5) * 2;
            .background-image('base/dot_1x4');
            background-position: left top;
            background-repeat: repeat-y;
            .holder {
                padding: 0 30px;
                text-align: center;
                .min-height(210px);
                img { width: 320px; height: 210px; }
            }
        }
        // 미디어통
        &.d1-2 {
            li.d2 {
                width: 16.66%;
                text-align: center;
                .text {
                    .block();
                    margin-top: 20px;
                    .bold();
                    font-size: 15px;
                }
                &:hover .icon, &.on .icon {
                    &.nth-child-1 { background-position: 0 -100px; }
                    &.nth-child-2 { background-position: -100px -100px; }
                    &.nth-child-3 { background-position: -200px -100px; }
                    &.nth-child-4 { background-position: -300px -100px; }
                    &.nth-child-5 { background-position: -400px -100px; }
                    &.nth-child-6 { background-position: -500px -100px; }
                }
            }
            .icon {
                .background-image('common/gnb_icon');
                .block();
                margin: 10px auto 0;
                width: 100px;
                height: 100px;
                &.nth-child-1 { background-position: 0 0; }
                &.nth-child-2 { background-position: -100px 0; }
                &.nth-child-3 { background-position: -200px 0; }
                &.nth-child-4 { background-position: -300px 0; }
                &.nth-child-5 { background-position: -400px 0; }
                &.nth-child-6 { background-position: -500px 0; }
            }
        }
    }

    &.unhover {
        li.d1 {
            &.active a.d1 { color: #fff; }
            &.d1-1.active a.d1 { background-color: #1daad8; }
            &.d1-2.active a.d1 { background-color: #24aeab; }
            &.d1-3.active a.d1 { background-color: #5db432; }
            &.d1-4.active a.d1 { background-color: #3f70bd; }
            &.d1-5.active a.d1 { background-color: #e0a531; }
            &.d1-6.active a.d1 { background-color: #fd7544; }
        }
    }
    &.hover {
        li.d1 {
            &.hover a.d1 { color: #fff; }
            &.d1-1.hover a.d1 { background-color: #1daad8; }
            &.d1-2.hover a.d1 { background-color: #24aeab; }
            &.d1-3.hover a.d1 { background-color: #5db432; }
            &.d1-4.hover a.d1 { background-color: #3f70bd; }
            &.d1-5.hover a.d1 { background-color: #e0a531; }
            &.d1-6.hover a.d1 { background-color: #fd7544; }
        }
    }

    .gnb-utility {
        .clearfix();
        .pos-relative();
        z-index: 10000;
        background-color: #8a8a8a;

        ul {
            padding-left: 10px;
            padding-right: 10px;
            a {
                .inline-block();
                padding: 0 10px;
                .height(42px);
                .bold();
                font-size: 15px;
                color: #fff;
                transition: all 0.3s;
                &:hover {
                    background-color: #999;
                }
            }
            .last-child { .pull-right(); }
        }
    }
}