/* ==========================================================================
   Grid System
   ========================================================================== */

/* vars ========================================================================== */
@grid_gutter: 10px;
@grid_padder: 10px;
@grid_margin_bottom: 1px;
@grid_module_padder: 10px; 

/* grid system ========================================================================== */
.grid {
    .box-sizing(border-box);
    // margin-bottom: @grid_margin_bottom; 
    &:after {
        /* Or @extend clearfix */
        content: "";
        display: table;
        clear: both;
    }
}

.lt-ie8 .grid { overflow: hidden; }

.grid [class*='col-'] {
    .box-sizing(border-box);
    .pull-left();
    // background: #e9ecec;
}

.module {
    // padding: @grid_module_padder;
    // background: #fff;
}

.col-1-2 { width: 50% !important; }
.col-1-3 { width: 33.31% !important; }
.col-1-4 { width: 25% !important; }
.col-1-5 { width: 20% !important; }
.col-1-6 { width: 16.66% !important; }
.col-1-7 { width: 14.28% !important; }
.col-1-8 { width: 12.5% !important; }
.col-1-9 { width: 12.5% !important; }
.col-1-10 { width: 11.11% !important; }
.col-2-3 { width: 66.66% !important; }
.col-2-4 { width: 50% !important; }
.col-3-4 { width: 75% !important; }
.col-2-5 { width: 40% !important; }
.col-3-5 { width: 60% !important; }
.col-4-5 { width: 80% !important; }

/* Opt-in inside gutter */
.grid.gutter [class*='col-'] {
    padding-right: @grid_gutter;
    &:last-of-type {
        padding-right: 0;
    }
}

/* Opt-in outside padder */
.grid.padder {
    padding: @grid_padder 0 @grid_padder @grid_padder;
    [class*='col-']:last-of-type {
        padding-right: @grid_padder;
    }
}

.flexbox .grid.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    [class*='col-'] {
        flex: 1;
    }
}

/* responsive system ========================================================================== */
@media only screen and (max-width: 480px) {

    .grid {
        [class*='col-'] {
            float: none;
            padding-right: 0;
            .grid &:last-of-type {
                padding-right: 0;
            }
        }

        .col-1-2,
        .col-1-3,
        .col-1-4,
        .col-1-5,
        .col-1-6,
        .col-1-7,
        .col-1-8,
        .col-1-9,
        .col-1-10,
        .col-2-3,
        .col-2-4,
        .col-3-4,
        .col-2-5,
        .col-3-5,
        .col-4-5 { width: 100%; }
    }

    .grid.gutter [class*='col-'] {
            padding-right: 0;
            padding-bottom: @grid_gutter;
        &:last-of-type {
            padding-bottom: 0;
        }
    }

     /* Opt-in outside padding */
    .grid.padder {
        padding: @grid_padder @grid_padder @grid_padder @grid_padder;
        [class*='col-']:last-of-type {
            padding-right: 0;
        }
    }

    .flexbox .grid.flex {
        .block();
        [class*='col-'] {
            flex: none;
            .module {
                height: auto;
            }
        }
    }

}
@media only screen and (min-width: 480px) {

}

/* grid-fix by riix ========================================================================== */
@gutter-grid-fix: 10px;

.grid-fix {
    .clearfix();
    [class*='col-'] {
        .pull-left();
    }
    &.gutter {
        [class*='col-'] {
            .module {
                padding-left: @gutter-grid-fix;
            }
            &:first-child .module {
                padding-left: 0;
            }
        }
    }
}