/* ==========================================================================
   Icon
   ========================================================================== */

.background-image(@file, @type: png, @retina: false) when (@retina = false){
    background-image: url('@{path-images}/@{file}.@{type}');
}

.background-image(@file, @type: png, @retina: false) when (@retina = true){
    background-image: url('@{path-images}/@{file}.@{type}');
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('@{path-images}/@{file}@2x.@{type}');
    }
}

.icon-size(@x, @y, @retina: false) when (@retina = false){
    width: @x;
    height: @y;
} 

.icon-size(@x, @y, @retina: false) when (@retina = true){
    width: @x;
    height: @y;
    background-size: @x @y;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: @x * 2 @y * 2;
    }
}

.icon-set(@x, @y, @file, @type: png, @retina: false){
    .icon-size(@x, @y, @retina);
    .background-image(@file, @type, @retina);
}

/* icon
 =============================================================================== */

// single example
// span.icon-single-example { .icon(20px, 20px, '@{path-images}/common/temp'); }

.icon { 
    .inline-block();
    margin: 0;
    padding: 0;
    .text-none();
    .vertical-middle();
    background-color: transparent;
    .background-no-repeat();
    background-position: center center;
    .line-height-reset();
    .vertical-middle();
    // .opacity(0.9);
    // &:hover, &:focus {
    //     .opacity(1);
    // }
    .reader();
}

span.icon { 

    text-align: left;

    .button & {
        margin-right: 3px;
        .vertical-middle();
    }

    &.new {
        .icon-set(20px, 20px, 'common/icon_new');
    }

    &.attatch {
        .icon-set(30px, 30px, 'common/icon_attatch');
        .button.primary & { 
            margin-top: -1px; 
            .icon-set(22px, 22px, 'common/icon_attatch_dark');
        }
    }

    &.delete {
        .icon-set(18px, 18px, 'common/icon_delete');
        .small & {
            .icon-set(8px, 7px, 'common/icon_delete_2');
        }
    }

    &.search {
        .icon-set(18px, 18px, 'common/icon_search');
    }

    &.vod {
        .icon-set(18px, 18px, 'common/icon_vod');
        .button & { margin-top: -5px; }
    }
    &.doc {
        .icon-set(18px, 18px, 'common/icon_doc');
        .button & { margin-top: -5px; }
    }

    &.hit {
        .icon-set(18px, 18px, 'common/icon_hit');
    }

    &.hit2 {
        .icon-set(18px, 18px, 'common/icon_hit2');
    }    

    &.point {
        .icon-set(18px, 18px, 'common/icon_point');
    }

    &.going {
        .icon-set(52px, 21px, 'common/icon_going');
    }

    &.end {
        .icon-set(52px, 21px, 'common/icon_end');
    }

    &.attatch {
        .icon-set(30px, 30px, 'common/icon_attatch');
        .button.primary & { 
            margin-top: -1px; 
            .icon-set(22px, 22px, 'common/icon_attatch_dark');
        }
    }

    &.submit {
        .icon-set(18px, 18px, 'common/icon_submit');
        .button & { 
            margin-top: -1px;
        }
    }

    &.cancel {
        .icon-set(18px, 18px, 'common/icon_cancel');
        .button & { 
            margin-top: -1px;
        }
    }
    &.warning {
        .icon-set(47px, 47px, 'common/icon_warning');
    }

    &.modify {
        .icon-set(10px, 10px, 'common/icon_modify');
    }
    &.datepicker {
        .icon-set(30px, 30px, 'common/ico_datepicker');
    }
    &.close {
        .icon-set(18px, 18px, 'common/ico_close');
    }
    &.question {
        .icon-set(20px, 20px, 'common/ico_question');
    }
    &.print {
        .icon-set(20px, 20px, 'common/icon_print');
        .button & { 
            margin-top: -1px;
        }
    }
    &.study {
        .icon-set(20px, 20px, 'common/icon_study');
        .button & { 
            margin-top: -1px;
        }
    }
    &.modify-plan {
        .icon-set(20px, 20px, 'common/icon_modify_plan');
        .button & { 
            margin-top: -1px;
        }
    }
    &.change {
        .icon-set(20px, 18px, 'common/ico_change');
        .button & { 
            margin-top: -1px;
        }
    }
    &.lock {
        .icon-set(18px, 18px, 'common/ico_lock');
    }
    &.download {
        .icon-set(29px, 21px, 'common/icon_download');
    }
    &.download3 {
        .icon-set(18px, 18px, 'common/icon_download3');
    }
	&.grade-1, &.grade-2 {
		.pos-absolute();
		width: 56px;
		height: 59px;	
	}
	&.grade-1 { 
		.icon-set(56px, 59px, 'common/icon_grade_1');
	}
	&.grade-2 {
		.icon-set(56px, 59px, 'common/icon_grade_2'); 
	}
    &.scraps {
        .icon-set(25px, 18px, 'common/icon_scraps_2');
    }
    &.more {
        .icon-set(18px, 18px, 'common/icon_more');
    }
    &.more2 {
        .icon-set(18px, 18px, 'common/ico_more');
    }
    &.result {
        .icon-set(52px, 21px, 'common/icon_result');
    }
    &.print2 {
        .icon-set(18px, 18px, 'common/icon_print2');
    }
    &.link-black {
        .icon-set(12px, 18px, 'common/icon_link_black');
    }
    &.link-dark {
        .icon-set(12px, 18px, 'common/icon_link_dark');
    }
    &.link-bright {
        .icon-set(12px, 18px, 'common/icon_link_bright');
    }
    &.tv {
        .icon-set(18px, 18px, 'custom/icon_tv');
    }
    &.lock {
        .icon-set(18px, 25px, 'custom/icon_lock');
    }
    &.new {
        .icon-set(18px, 18px, 'custom/icon_new');
    }
    /*    
    &.close2 {
        .icon-set(18px, 18px, 'common/ico_close2');
    }
    &.help {
        .icon-set(18px, 18px, 'common/ico_help');
    }
    &.map {
        .icon-set(18px, 18px, 'common/ico_map');
    }
    &.add {
        .icon-set(18px, 18px, 'common/ico_add');
    }
    &.picture {
        .icon-set(18px, 18px, 'common/ico_picture');       
    }
    &.question {
        .icon-set(35px, 37px, 'common/ico_question');
    }
    &.answer {
        .icon-set(35px, 37px, 'common/ico_answer');
    }
    &.ding {
        .icon-set(18px, 18px, 'common/ico_ding');
    }
    &.lock {
        .icon-set(18px, 18px, 'common/ico_lock');
    }
    &.pulldown-off {
        .icon-set(18px, 18px, 'common/ico_pulldown_off');
    }
    &.pulldown-on {
        .icon-set(18px, 18px, 'common/ico_pulldown_on');
    }
    &.switch {
        .icon-set(46px, 20px, 'common/switch_off');
        &.active {
            .background-image('common/switch_on');
        }
    }
    &.calc {
        .icon-set(10px, 12px, 'common/ico_calc');
    }
    &.button-search-faq {
        .icon-set(43px, 43px, 'common/ico_search_faq');
    }
    a & { .opacity(0.85); }
    a:hover & { .opacity(1); .text-none(); cursor: pointer; }
    */
}


/* star point */
span.star { 
    .icon();
    width: 130px;
    height: 20px;
    vertical-align: text-bottom;
    .background-image('common/ico_star');
    background-position: left top;
    background-repeat: no-repeat;
    &.star-1 { background-position: -104px 0; }
    &.star-2 { background-position: -78px 0; }
    &.star-3 { background-position: -52px 0; }
    &.star-4 { background-position: -26px 0; }
    &.star-5 { background-position: 0 0; }
    em {
        text-indent: -9999px;
        color: transparent;
        font-size: 1px;
    }
}

/* a.color {
    .inline-block();
    padding: 1px;
    border: solid 1px #ccc;
    &.active {
        padding: 0;
        border: solid 2px #000;
    }
}
span.color {
    .icon();
    width: 25px;
    height: 25px;
    background-color: #000;
} */

/* level
 =============================================================================== */
span.level-s {
    .icon();
    .vertical-middle();
    .icon-size(25px, 25px);
    margin-right: 5px;
    &.level-1 { .background-image('common/level_s_1'); }
    &.level-2 { .background-image('common/level_s_2'); }
    &.level-3 { .background-image('common/level_s_3'); }
    &.level-4 { .background-image('common/level_s_4'); }
    &.level-5 { .background-image('common/level_s_5'); }
}
span.level-m {
    .icon();
    .vertical-middle();
    .icon-size(50px, 50px);
    margin-right: 5px;
    &.level-1 { .background-image('common/level_m_1'); }
    &.level-2 { .background-image('common/level_m_2'); }
    &.level-3 { .background-image('common/level_m_3'); }
    &.level-4 { .background-image('common/level_m_4'); }
    &.level-5 { .background-image('common/level_m_5'); }
}
span.level-l {
    .icon();
    .vertical-middle();
    .icon-size(130px, 130px);
    &.level-1 { .background-image('common/level_l_1'); }
    &.level-2 { .background-image('common/level_l_2'); }
    &.level-3 { .background-image('common/level_l_3'); }
    &.level-4 { .background-image('common/level_l_4'); }
    &.level-5 { .background-image('common/level_l_5'); }
    &.level-6 { .background-image('common/level_l_6'); }
}

/* sticker
 =============================================================================== */
span.sticker { 
    .pos-absolute();
    z-index: 10;
    left: 0;
    top: 0;
    span {
        width: 50px;
        height: 50px;
    }
    &.new span {
        .background-image('common/sticker_new');
    }
    &.hot1 span {
        .background-image('common/sticker_hot_1');
    }
    &.hot2 span {
        .background-image('common/sticker_hot_2');
    }
    &.hot3 span {
        .background-image('common/sticker_hot_3');
    }
    &.hot4 span {
        .background-image('common/sticker_hot_4');
    }
    &.hot5 span {
        .background-image('common/sticker_hot_5');
    }
}