/* ==========================================================================
   Layout
   ========================================================================== */

// vars
@desktop-width: 968px;
@gnb-width: @desktop-width + 10;
@gnb-z-index-base: 100;

#header, #contents, #footer { 
    min-width: @desktop-width;
}

// container
.container {}
/* background-color:#f0f0f0; */

// wrap
.wrap {
    .clearfix();
    margin: 0 auto;
    width: @desktop-width;
    // text-align: left;
}

/* Skip to Content */
#skipNavigation, #skipToContent { 
    .pos-relative();
    a { 
        .block(); 
        height: 1px; 
        width: 1px; 
        margin-bottom: -1px; 
        overflow: hidden; 
        text-align: center; 
        white-space: nowrap; 
        .box-sizing(border-box);
        &:hover,
        &:focus,
        &:active  { 
            height: auto; 
            width: 100%; 
            padding: 5px; 
            margin-bottom: 1px; 
            font-size: 14px; 
            .bold(); 
            background: #FBF4DF; 
            border: solid 3px #E5CDB6; 
            color: #683109; 
        }
    }
}

/* header */
#header { 
    .pos-absolute();
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#wrapper {
    padding-top: 373px;
}

#contents {
    .outer-wrap {}
    .wrap {}
    .inner-wrap {
        margin: 0 30px; 
    }
}

#header {

    .min-height(373px);

    .container {
        .clearfix();
        text-align: center;
    }
    .wrap {
        .clearfix();
        margin: 0 auto;
        width: @desktop-width;
        text-align: left; 
    }
    .upper-container {
        background-position: center top;
        .background-repeat();
        
        /* 카테고리별 헤더 비쥬얼 색상 */
        .page-record & { background-color: #9ad5ee; .background-image('common/visual_record_bg');}
        .page-media & { background-color: #93eee5; .background-image('common/visual_media_bg'); }
        .page-creative & { background-color: #9aeeb0; .background-image('common/visual_creative_bg');}
        .page-plan & { background-color: #aac5ee; .background-image('common/visual_plan_bg');}
        .page-community & { background-color: #eedba1; .background-image('common/visual_community_bg'); }
        .page-mypage & { background-color: #d0acee; .background-image('common/visual_mypage_bg'); }
        .page-etc &,
        .page-helpdesk & { background-color: #c9bdf1; .background-image('common/visual_helpdesk_bg');}
    }
    .downer-container {
        background-color: #eef0f5;
    }
    .logo-wrapper {
        .pos-relative();
        height: 80px;
        overflow: hidden;
        .logo {
            margin-top: 15px;
            text-align: center;
            .icon {
                .icon-set(170px, 60px, 'common/logo');
                .opacity(1);
            }
        }
        .lnb {
            .pos-absolute();
            left: 0;
            top: 55px;
            a {
                color: #48555f;
                font-size: 12px;
            }
        }
        .searchbar {
            input.search {
                .pos-absolute();
                right: 2px;
                top: 36px;
                margin: 0;
                padding: 0 10px;
                width: 141px;
                .height(33px);
                border: none;
                .border-radius(3px);
                background-color: #fff;
                background-color: rgba(255, 255, 255, 0.9);
            }
            input.image {
                .pos-absolute();
                right: 2px;
                top: 36px;
            }
        }
    }
    .gnb-wrapper {
        width: @gnb-width;
        .min-height(50px);
    }
    .jumbotron-wrapper {
        height: 190px;
        overflow: hidden;
    }
    .breadcrumb-wrapper {
        height: 48px;
        .breadcrumb {
            .pull-left();
            .icon {
                border-left: solid 1px #ddd;
                .icon-set(60px, 48px, 'common/icon_home');   
            }
            li {
                border-right: solid 1px #ddd;
                &.home {
                    width: 62px;
                }
                // width: 160px;
                &:last-child {
                    .selecter-selected {
                        background-color: #fff;
                    }
                }
            }
        
        }
        .utility {
            .pull-right();
            .icon {
                .icon-set(48px, 48px, 'common/icon_utility');
            }
        }
    }
}

#contents {
    .min-height(400px);
}

// bottom spacer
.bottom-spacer {
    .clearfix();
    overflow: hidden;
    margin-top: 100px;
    height: 0px;
}

/* footer */
#footer {

    .clearfix();
    .min-height(162px);
    .line-height-reset();
    color: #848b91;
    background-color: #eef0f5;
    font-size: 12px;
    text-transform: uppercase;

    a:hover { .text-none(); }

    .container {
        text-align: center;
    }

    .wrap {
        .clearfix();
        margin: 0 auto;
        width: @desktop-width;
        text-align: left; 
    }

    .logo {
        .pull-left();
        padding-top: 24px;
        width: 150px;
        .icon {
            .icon-set(131px, 69px, 'common/logo_footer');
        }
    }
    .core {
        .pull-left();
        width: 645px;
        letter-spacing: -1;
        p { 
            .reset();
        }
        .row { 
            margin-left: 10px; 
            line-height: 20px;
        }
        .quicklink {
            margin-top: 24px;
            margin-bottom: 7px;
            .height(20px);
            a { 
                .inline-block();
                padding: 0 10px;
                color: #3e3f43; 
            }
            li {
                .background-image('common/footer_quick_pipe');
                background-position: left center;
                // .background-no-repeat();
                &:first-child {
                    background: none;
                    a { padding-left: 0; }
                }
            }
        }
    }
    .familysites {
        .pull-right();
        margin-top: 24px;
        width: 170px;
        .selecter {
            .selecter-options {
                top: auto;
                bottom: 100%;
                border-width: 1px 1px 0;
            }
            .selecter-selected {
                background-color: #fff;
                color: #848b91;
                font-size: 12px;
                .bold();
            }
        }
    }
}

/* tablet */
@media only screen and (min-width: 480px) {

}

/* desktop */
@media only screen and (min-width: 768px) {

}
/* wide */
@media only screen and (min-width: 1140px) {

}
