.lt-ie7 #asideNav { position: absolute; }
.word-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-main {
	a > em, span > em {
		font-size: 1px;
		color: transparent;
		text-indent: -9999px;
	}
	#header .upper-container {
		transition: background-color .75s;
		&.visual_0 { background-color: #84d1ec; }
		&.visual_1 { background-color: #8cdea1; }
		&.visual_2 { background-color: #9ddbd7; }
	} 
	.main-jumbotron {
		.clearfix();
	    .pos-relative();
	    .reset();
	    width: 968px;
	    height: 290px;
	    margin: 0 auto;
	}
	.main-jumbotron-contents {
		.reset();
		li {
			.pos-absolute();
			top: 0;
			left: 0;
			width: 100%;
			height: 290px;
			display: none;
		}
	}
	.main-jumbotron-btn {
		.pos-absolute();
		display: block;
		top: 108px;
		width: 38px;
		height: 56px;
		.background-image('custom/btn_jumbotron');
		text-decoration: none;
		&.prev {
			right: 100%;
			background-position: 0 0;
			&:hover { background-position: 0 -56px;}
		}
		&.next {
			left: 100%; 
			background-position: -38px 0;
			&:hover { background-position: -38px -56px;}
		}
	}
	.main-jumbotron-pagination {
		.pos-absolute();
		top:198px;
		left: 53px;
		a {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 7px;
			.background-image('custom/icon_visual_pagi');
			background-position: 0 0;
			&.active {
				background-position: -18px 0;
			}
		}
	}

	#asideNav {
		.reset();
		position: fixed;
		background: #fff;
		left: 50%;
		top: 135px;
		margin-left: 550px;
		border: 1px solid #dedddc;
		li {
			border-bottom: 1px solid #dedddc;
			width: 70px;
		}
		a {
			display: block;
			line-height: 26px;
			text-align: center;
			font-size: 12px;
			color: #888;
		}
		.nth-child-3, .nth-child-4, .nth-child-5 {
			span {
				display: block;
				margin: 10px auto 3px;
				width: 31px;
				height: 30px;
				.background-image('custom/icon_aside');
				background-repeat: no-repeat;
			}
		}
		.nth-child-3 a {  color: #1daad8; }
		.nth-child-3 span { background-position: 0 0; }
		.nth-child-4 span { background-position: 0 -30px; }
		.nth-child-5 span { background-position: 0 -60px; }
	}


	#wrapper { padding-top: 420px; }

	#contents1, #contents2 {
		.row { .clearfix(); }
		.col1-3 {
			width: 321px;
			float: left;
			border-right: 1px solid #dad9d7;
			&.item-1 { 
				width: 322px;
				border-left: 1px solid #dad9d7;
			}
		}
		.col2-3 {
			width: 644px;
			float: left;
			border-left: 1px solid #dad9d7;
			border-right: 1px solid #dad9d7;
		}
		h4 {
			margin: 0 0 9px 0;
			font-size: 18px;
			line-height: 25px;
			color: #333;
			.bold();
		}
		p {
			margin: 0;
			color: #777;
			font-size: 13px;
			line-height: 18px;
		}
	}

	#contents1 {
		border-bottom: 1px solid #dad9d7;
		.row-1 {
			.col1-3 {
				position: relative;
				a {
					display: block;
					width: 277px;
					padding: 25px 22px;
					height: 100px;
				}
				.bg {
					display: block;
					position: absolute;
					width: 128px;
					height: 76px;
					bottom: 30px;
					right: 0;
					.background-image('custom/main_row_1');
					background-repeat: no-repeat;
				}
				
				&.item-1 {
					border-left: none;
					a {
						width: 279px;
					}
					.bg { background-position: 0 0; }
				}
				&.item-2 .bg { background-position: -128px 0;}
				&.item-3 {
					border-right: none;
					a { width: 278px; }
					.bg { background-position: -256px 0; }
				}
			}
		}
	}

	#contents2 {
		.row { border-bottom: 1px solid #dad9d7; }
		.row-2 {
			.col2-3 {
				padding: 43px 22px;
				width: 600px;
				height: 132px;
				.background-image('custom/bg_main_item_4');
				h4 { font-size: 22px; margin-bottom: 11px; color: #fff; .normal(); }
				p { color: #cdcecf; }
			}

			.col1-3.item-3 {
				.pos-relative();
				background-color: #edeef0;
				
				&.not-logged {
					padding: 25px 39px;
					width: 243px;
					height: 168px;
					h4 {
						font-family: Arial;
						font-size: 16px;
						text-align: center;
						margin-bottom: 18px;
					}
					ul { .reset(); }
					li { margin: 4px 0 5px; }
					input.text { width: 140px; }
					.action {
						position: absolute;
						left: 196px;
						top: 68px;
						a { height: 62px; line-height: 32px; }
					}
					label {
						cursor: pointer;
						margin: 0;
						&:hover { text-decoration: underline; }
					}
					.link {
						margin-top: 19px;
						text-align: center;
						&, & a {
							font-size: 12px;
							color: #333;
						}
					}
					.pipe {
						color: #999;
						margin: 0 10px;
					}
				}

				&.logged {
					.logged-1 {
						.pos-relative();
						padding: 17px 0 0 109px;
						width: 212px;
						height: 76px;
						border-bottom: 1px solid #dfdfdf;
						.level-m {
							.pos-absolute();
							left: 40px;
							top: 18px;
						}
						p {
							color: #48555f;
							.bold();
							margin: 0 0 9px;
							line-height: 25px;
						}
						span {
							font-size: 14px;
							&.icon { margin-left: 5px; }
							&.point { color: #fd7261; }
						}
						.button.small {
							padding: 5px 10px;
						}
					}
					.logged-2 {
						.reset();
						.clearfix();
						padding: 13px 0;
						li {
							float: left;
							width: 106px;
							height: 83px;
							padding-top: 15px;
							text-align: center;
							border-left: 1px dashed #d4d4d5;
							span {
								display: block;
								width: 42px;
								height: 42px;
								margin: 0 auto 15px;
								.background-image('custom/icon_logged');
							}
							&.nth-child-1 {
								width: 107px;
								border-left: none;
								span { background-position: 0 0; }
							}
							&.nth-child-2 span { background-position: -42px 0; }
							&.nth-child-3 span { background-position: -84px 0; }
							a {
								display: block;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}

		.row-3 {
			.col1-3 {
				position: relative;
				width: 160px;
				height: 181px;
				padding: 38px 0 0 161px;
				h4 { font-size: 17px; }
				.bg {
					display: block;
					position: absolute;
					left: 0;
					bottom: 45px;
					width: 161px;
					height: 125px;
					.background-image('custom/icon_row_3');
					background-repeat: no-repeat;
				}
				&.item-1 {
					width: 161px;
					.bg { background-position: 0 0;}
				}
				&.item-2 .bg { background-position: -161px 0;}
				&.item-3 .bg { background-position: -322px 0;}
				p { margin-bottom: 23px; color: #727270; }
			}
			a.button {
				padding: 5px 10px;
				font-size: 13px;
				color: #727270;
			}
		}

		.tab-navi {
			.reset();
			float: left;
			a {
				display: block;
				padding-left: 25px;
				width: 90px;
				.height(35px);
				font-size: 13px;
				color: #878785;
				background: #edeef0;
				text-decoration: none;
				border-bottom: 1px solid #e0e1e3;
				span { display: none;}
			}
			li{
				height: 36px;
				&.last a {
					border-bottom: none;
					.height(38px);
				}
				&.active a {
					color: #fff;
					height: 35px;
					background: #466f8d;
					border-bottom: 1px solid #466f8d;
					span { display: inline-block; }
				}
			}
		}
		.tab-contents-wrap {
			float: right;
			.reset();
			.pos-relative();
			width: 529px;
			height: 218px;
		}
		.tab-contents-inner {
			.pos-absolute;
			display: none;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			&.active { display: block; }
			ul { .reset(); }
		}
		.tab-content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: none;
			z-index: 2;
			&.active { display: block; }
		}
		.content-inner {
			padding: 45px 55px;
			width: 417px;
			height: 130px;
			img {
				.pos-absolute();
				bottom: 0;
				right: 0;
				z-index: 0;
				height: 218px;
			}
			.hot {
				font-size: 17px;
				.bold();
				color: #1daad8;
				font-family: Arial;		
			}
			.best {
				display: block;
				.pos-absolute();
				width: 57px;
				height: 56px;
				.background-image('custom/badge_best');
				top: 18px;
				left: 200px;
			}
			h4 {
				font-size: 14px;
				margin-bottom: 7px;
				span { font-size: 18px; }
			}
			.button {
				margin-top: 20px;
				padding: 5px 12px;
				font-size: 13px;
			}
		}
		.slider-btn {
			position: absolute;
			top: 81px;
			width: 16px;
			height: 27px;
			padding: 14px;
			z-index: 10;
			text-decoration: none;
			span { 
				display: block;
				width: 16px; height: 27px;
				.background-image('custom/btn_slider'); }
			&.prev {
				left: 0px;
				span { background-position: 0 0; }
				&:hover span { background-position: 0 -27px;}
			}
			&.next {
				right: 0px;
				span { background-position: -16px 0; }
				&:hover span { background-position: -16px -27px;}
			}
		}
		.row-4 {
			.item-3 {
				height: 218px;
				.pos-relative();
				.background-image('custom/main_vod');
				a {
					display: block;
					height: 100%;
				}
				.btn-play {
					.pos-absolute();
					left: 131px;
					top: 78px;
					width: 64px;
					height: 64px;
					.background-image('custom/btn_main_vod');
					background-position: 0 0;
				}
				a:hover .btn-play { background-position: -64px 0; }
			}
		}
		.row-5 {		
			border-bottom: none;
			.col1-3 {
				height: 177px;
				width: 291px;
				padding: 20px 15px 21px;
				h4 {
					line-height: 23px;
					font-size: 16px;
					background-position: left top;
					background-repeat: no-repeat;
				}
				&.item-1 {
					width: 292px;
					.pos-relative();
					h4 {
						padding-left: 30px;
						.background-image('custom/icon_main_5_1');
					}
					ul { .reset(); }
					li { width: 183px; }
					li a {
						display: block;
						padding-left: 23px;
						line-height: 26px;
						font-size: 14px;
						color: #727270;
						width: 160px;
						.word-wrap();
						.background-image('custom/icon_main_booklist');
					}
					.nth-child-1 a { background-position: 0 0; }
					.nth-child-2 a { background-position: 0 -26px; }
					.nth-child-3 a { background-position: 0 -52px; }
					.nth-child-4 a { background-position: 0 -78px; }
					.nth-child-5 a { background-position: 0 -104px; }

					.book-img {
						.pos-absolute();
						top: 49px;
						right: 19px;
						width: 90px;
						height: 132px;
						display: none;
					}
					li.active .book-img { display: block;}
				}

				&.item-2 {
					h4 {
						padding-left: 40px;
						.background-image('custom/icon_main_5_2'); 
						margin-bottom: 23px;
						font-size: 15px;
					}
				}
				.graph {
					margin-left: 28px;
					span {
						line-height: 43px;
						display: inline-block;
						vertical-align: middle;
					}
					.side {
						width: 32px;
						.bold();
						color: #333;
					}
					.bar { 
						border-radius: 0 6px 6px 0; 
						width: 0;
						height: 12px;
						margin-right: 5px;
					}
					&.agree .bar { background-color: #fd7261; }
					&.disagree .bar { background-color: #1daad8; }
					.percentage {
						color: #1daad8;
						font-size: 17px;
						.bold();
						letter-spacing: -1px;
					}
					.num {
						display: none;
					}
				}

				&.item-3 {
					padding: 17px 15px;
					height: 184px;
					.background-image('custom/icon_row_5_3');
					background-position: 100% 35px;
					background-repeat: no-repeat;
				}

				&.item-3 h4 {
					font-size: 13px;
					line-height: 20px;
					margin: 0;
				}
				.item-3-1 {
					height: 91px;
					padding-left: 16px;
					margin-bottom: 12px;
					border-bottom: 1px dashed #d9d9d9;
					.tel {
						display: block;
						font-size: 28px;
						.bold();
						color: #333;
						line-height: 30px; 
						margin-bottom: 8px;
					}
					p { margin: 0; font-size: 12px;}
				}
				.item-3-2 {
					h4 {
						padding-left: 15px;
						font-size: 13px;
						margin-bottom: 4px;
					}
					ul {
						.reset();
						letter-spacing: -1px;
						line-height: 28px;
						font-size: 13px;
					}
					li a { display: inline-block; max-width: 260px; .word-wrap(); vertical-align: middle; }
					.icon { margin-right: 5px; vertical-align: middle;}
				}
			}
		}
	}
}