/* ==========================================================================
   Pagination
   ========================================================================== */

// <div class="section-pagination"><!-- section pagination -->
//     <a href="javascript:;" class="nav first"><span class="icon"><em>첫 페이지</em></span></a>
//     <a href="javascript:;" class="nav prev"><span class="icon"><em>이전 페이지</em></span></a>
//     <a href="javascript:;" class="num"><span>1</span></a>
//     <a href="javascript:;" class="num"><span>2</span></a>
//     <a href="javascript:;" class="num"><span>3</span></a>
//     <a href="javascript:;" class="num"><span>4</span></a>
//     <a href="javascript:;" class="num"><span>5</span></a>
//     <a href="javascript:;" class="num"><span>6</span></a>
//     <a href="javascript:;" class="num"><span>7</span></a>
//     <a href="javascript:;" class="num"><span>8</span></a>
//     <a href="javascript:;" class="num"><span>9</span></a>
//     <a href="javascript:;" class="num"><span>10</span></a>
//     <a href="javascript:;" class="nav next"><span class="icon"><em>다음 페이지</em></span></a>
//     <a href="javascript:;" class="nav last"><span class="icon"><em>마지막 페이지</em></span></a>
// </div><!-- // section pagination -->

.section-pagination { 
    .clearfix();
    .pos-relative();
    margin: 35px auto 35px;
    text-align: center; 
    .line-height-reset();
    cursor: default;
    a {
        .inline-block();
        .box-sizing(content-box);
        margin: 0 1px;
        width: 34px;
        .height(34px);
        border: solid 1px #d9d9d9;
        .vertical-middle();
        transition: all 0.3s;
        font-size: 14px;
        color: @text-color;
        &.active,
        &:hover { 
            .text-none(); 
            background-color: #f2f2f2;
            color: @text-color;
            .bold();
        }
        &.nav {
            background-position: center center;
            .background-no-repeat();
            &.prev {.background-image('base/pagination_prev'); }
            &.next { .background-image('base/pagination_next'); }
            &.first { .background-image('base/pagination_first'); }
            &.last { .background-image('base/pagination_last'); }
            &.prev, &.next, &.first, &.last {
                .opacity(0.9);
                &:hover, &:focus {
                    .opacity(1);
                }
            }
        }

        &.button {
            width: auto;
            padding: 0 20px;
        }
    }
}

