/* ==========================================================================
   Step Wizard
   ========================================================================== */

.step-wizard {
    .clearfix();
    margin-bottom: 20px;
    ul {
        li {
            height: 53px;
            span {
                .block();
                .height(53px);
                text-align: center;
                background-color: #4d4d4d;
                border-left: solid 1px #838383;
                font-size: 14px;
                .bold();
                color: #fff;
            }
            &.active span {
                background-color: #262626;
            }
            &:first-child span {
                border-left: 0;
            }
        }
    }
}
