/* ==========================================================================
   Tab
   ========================================================================== */

/* 탭메뉴 */
.tab-a {
    .clearfix();
    text-align: center;
    .tab {
        margin: 0 auto;
        display:inline-block;
        border: solid 1px #8e9398;
        .border-radius(@border-radius);            
        li {
            width: 107px;
            a { 
                .block(); 
                .height(42px);
                text-align: center;
                background-color: #80878d;
                color: #fff;
                font-size: 16px;
                .bold();
                .text-none();
            }
            &.active {
                a {
                    background: #fff;
                    .background-image('common/tab_ranking');
                    background-position: center center;
                    background-repeat: repeat-x;
                    color: @text-color;
                    cursor: default;
                }
            }
            & + li {
                border-left: 1px solid #8e9398
            }
        }
    }
}

.tab-b {
    .clearfix();
    text-align: center;
    .tab {
        margin:0 auto;
        display:block;
        border: solid 1px #cacaca;
        .box-shadow(0 2px 2px rgba(0,0,0,.075));
        li {
            width: 240px;
            a { 
                .block(); 
                .height(42px);
                text-align: center;
                font-size: 16px;
                .bold();
                .text-none();
                color: @text-color;
            }
            &.active {
                a {
                    background: #1daad8;
                    color: #fff;
                    cursor: default;
                }
            }
            & + li a {
                border-left: 1px solid #cacaca;
            }
        }
    }
}