/* ==========================================================================
   Table
   ========================================================================== */

/* caption */
.caption { 
    .pos-relative(); 
    clear: both; 
    .block(); 
    margin: 10px 0 0; 
    padding: 7px 0; 
    text-align: center; 
}

.caption .more { 
    .pos-absolute(); 
    .block(); 
    top: 0; 
    bottom: 0; 
    right: 0; 
    margin: auto 0; 
    *margin-top: 10px; 
    padding: 0 22px; 
    height: 20px; 
}

/* default */
table {
    width: 100%;
    .scroll & { width: 96%; }
    &.fixed { table-layout: fixed; }
    .webkit &.fixed { table-layout: auto; }

    &.center { 
        td, th { text-align: center; }
    }
    caption { display: none; }

    img, select, input, button, .button { .vertical-middle(); }

    textarea { width: 99%; }

    label { .vertical-middle(); }

    p.message { color: #999; }

    
    &.table-col {
        .line-height-xsmall();
        width: 100%;
        th, td { padding: 0; }
        thead th > span { .inline-block(); white-space: nowrap; }
    }

    &.table-row {
        width: 100%;
    }

    /* table a */
    &.table-a {
        margin-top: 15px;
        margin-bottom: 20px;
        border-bottom: solid 1px #dbdcd7;
        th, td { 
            border-top: solid 1px #dbdcd7; 
            border-left: solid 1px #dbdcd7; 
            text-align: center;
            &:first-child {
                border-left: 0;
            }
        }
        th, tfoot td { 
            background-color: #f6f5f6; 
            > span {
                .height(50px);
                font-size: 15px;
                .bold();
            }
        }
        td {
            .box-sizing(content-box);
            padding: 9px 5px;
            height: 34px;
            .line-height();
            &.text-left {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    /* table b */
    &.table-b {
        border-top: 0px !important;
        th, td {
            font-size: @font-size-large;
            border-top: 1px #dbdcd7 solid !important;
        }
        th {
            .padding-right(20px);
            color: #3e3f43;
            border-right: 1px #dbdcd7 solid;
            background-color: #f6f5f6;
            span {
                .text-right();
                letter-spacing: 0px;
            }
        }
        td {
            .pl30();
            color: #848b91;
        }
    }

    &.table-c {
        th, td {
            color: #3e3f43;
            font-size: 15px;
            border-bottom: 1px solid #dbdcd7;
            border-left: 1px solid #dbdcd7;
            .text-center();
            &:first-child { border-left: none; }
        }
        th {
            .bold();
            border-top: 1px solid #dbdcd7;
            background: #f6f5f6;
            .height(45px);
        }
        td {
            .height(50px);
            &.success { color: #1daad8; .bold(); }
        }
    }

 
}



ul.table {
    .reset();
    li { 
        .clearfix();
        .th, .td { 
            .inline-block();
            .vertical-middle();
        }
        .th {
            .pull-left();
        }
        .td {
            .pull-right();
        }
    }
}