<h1 id="datepickr">datePickr</h1>
<ul>
<li>a web accessible date picker</li>
</ul>
<h2 id="demo">demo</h2>
<ul>
<li><a href="http://riix.github.io/labs/datePickr/index.html">sample</a></li>
</ul>
<h2 id="html">HTML</h2>
<pre><code class="lang-html">&lt;p&gt;
    &lt;input type=&quot;date&quot; data-min=&quot;2015-02-10&quot; data-max=&quot;2015-04-20&quot; /&gt;
    &lt;a href=&quot;#!&quot; class=&quot;js-datepicker&quot;&gt;날짜선택&lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;
    &lt;input type=&quot;text&quot; data-min=&quot;2015-02-10&quot; data-max=&quot;2015-04-20&quot; /&gt;
    &lt;a href=&quot;#!&quot; class=&quot;js-datepicker&quot;&gt;날짜선택&lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;
    &lt;input type=&quot;text&quot; data-min=&quot;2015-02-10&quot; data-max=&quot;2015-04-14&quot; /&gt;
    &lt;a href=&quot;#!&quot; class=&quot;js-datepicker&quot;&gt;시작날짜&lt;/a&gt;
    &lt;input type=&quot;text&quot; data-min=&quot;2015-03-15&quot; data-max=&quot;2015-04-20&quot; /&gt;
    &lt;a href=&quot;#!&quot; class=&quot;js-datepicker&quot;&gt;마감날짜&lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;
    &lt;input type=&quot;text&quot; data-min=&quot;2015-02-10&quot; data-max=&quot;2015-04-20&quot; /&gt;
    &lt;a href=&quot;#!&quot; class=&quot;js-datepicker&quot;&gt;날짜선택&lt;/a&gt;
&lt;/p&gt;
</code></pre>
<h2 id="javascript">Javascript</h2>
<pre><code class="lang-javascript">$(function() {
    $(&#39;.js-datepicker&#39;).datePickr();
});
</code></pre>
<h2 id="settings">Settings</h2>
<pre><code class="lang-javascript">var setting = {
    shortDate: false, // 표기 방법
    appendAfter: true // 달력 객체 삽입 위치
};
</code></pre>
