<h1 id="underscor">underScor</h1>
<p>Responsive Slide Navigation Width Underscore</p>
<h3 id="demo">demo</h3>
<p><a href="http://riix.github.io/labs/underScor/">basic</a></p>
<h3 id="html">html</h3>
<pre><code class="lang-html">&lt;div id=&quot;container&quot;&gt;
    &lt;div id=&quot;underscoreWrap&quot;&gt;
        &lt;ul id=&quot;underscore&quot; class=&quot;tab&quot;&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴1&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴2&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴3&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴4&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴5&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴6&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴7&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴8&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴9&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴10&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴11&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;span&gt;메뉴12&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;indicator-wrap&quot;&gt;
        &lt;div id=&quot;underscoreIndicator&quot; class=&quot;indicator&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;p class=&quot;buttons&quot;&gt;
        &lt;button&gt;1&lt;/button&gt;
        &lt;button&gt;2&lt;/button&gt;
        &lt;button&gt;3&lt;/button&gt;
        &lt;button&gt;4&lt;/button&gt;
        &lt;button&gt;5&lt;/button&gt;
        &lt;button&gt;6&lt;/button&gt;
        &lt;button&gt;7&lt;/button&gt;
        &lt;button&gt;8&lt;/button&gt;
        &lt;button&gt;9&lt;/button&gt;
        &lt;button&gt;10&lt;/button&gt;
        &lt;button&gt;11&lt;/button&gt;
        &lt;button&gt;12&lt;/button&gt;
    &lt;/p&gt;
&lt;/div&gt;
</code></pre>
<h3 id="javascript">javascript</h3>
<pre><code class="lang-javascript">$(&#39;#underscore&#39;).underScor({   

    // indicator
    indicator: &#39;#underscoreIndicator&#39;, 

    // callback function on setup complete
    onComplete: function(base) { 
        $(&#39;.buttons button&#39;).on(&#39;click&#39;, function(e) {
            e.preventDefault();
            var _idx = $(this).index();
            base.$el.data(&#39;afteridx&#39;, _idx).trigger(&#39;goto&#39;);
        });
    }

});
</code></pre>
<h3 id="options">options</h3>
<pre><code>indicator: indicator selector
item: item selector
activeClass: activate class name
onComplete: callback function on setup complete
</code></pre>