@charset "utf-8";

/* ===============================================================
Basic Swiper Styles 
================================================================*/

#intro .swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:1;
}
#intro .swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#intro .swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
#intro .swiper-slide {
	float: left;
}


.btn { display: inline-block; }
.btn.full { display: block; height: 100%; }
.btn em { display: inline-block; overflow: hidden; width: 0; height: 0; font-size: 0; text-indent: -1000px; }

.table { display: table; width: 100%; table-layout: fixed; }
.row { display: table-row; }
.row > li, .cell { display: table-cell; }

html, body { height: 100%; }

.opacity-0 { opacity: 0; }


/* pagination */
.pagination { position: absolute; z-index: 1000; width: 100%; text-align: center; }
.pagination span.swiper-pagination-switch { display: inline-block; overflow: hidden; cursor: pointer; }
.pagination span.swiper-active-switch { cursor: default; }

#intro .pagination { top: 50%; margin-top: -8px; }
#intro .pagination span.swiper-pagination-switch { width: 16px; height: 16px; background-size: 12px 12px; background-image: url('https://mcdn.louisclub.com/mo/img/custom/pager_off.png'); }
#intro .pagination span.swiper-active-switch { background-image: url('https://mcdn.louisclub.com/mo/img/custom/pager_on.png'); }



/* top */
#top { display: none; height: 69px; }

.body-main #contents { margin: 0px; min-height: 100px; }


/* ================================================================================
gate :
================================================================================ */

#intro { position: relative; width: 640px; height: 100%; }

/* slide */
#intro, #intro .swiper-slide { width: 100%; height: 100%; }
.swiper-slide { float: left; }
.swiper-slide img { vertical-align: middle; }

/* scaffold */
#intro .swiper-wrapper { height: 100%; }
#intro .grid { float: left; width: 640px; height: 100%; }
#intro .table { height: 100%; table-layout: fixed; }
#intro .table .cell { 
    position: relative; 
    vertical-align: middle;
    background-size: cover; 
}

#intro .cell { background-size: cover; }

/* middle */
#intro .middle .cell { height: 50%; }

/* right */
#intro .right .upper .cell { height: 50%; }
#intro .right .downer .cell { height: 50%; }


/* pager */
#intro .pager a { position: absolute; z-index: 1000; top: 50%; margin-top: -19px; padding: 10px; opacity: 1; transition: all 0.6s; }
#intro .pager a img { width: 16px; height: 28px; }
#intro .pager a.disabled { opacity: 0.2; cursor: default; }
#intro .pager a.prev { left: 0; }
#intro .pager a.next { right: 0; }


body.intro .swipe { overflow: hidden; visibility: hidden; position: relative; }
body.intro .swipe-wrap { overflow: hidden; position: relative; }
body.intro .swipe-wrap > div { float: left; width: 100%; position: relative; display: none; }
body.intro .swipe-wrap > div:nth-child(2n) { display: block; }
#intro.active .swipe-wrap > div { display: block; }

/* ================================================================================
main :
================================================================================ */
.body-main .swiper-container,
.body-main .swiper-wrapper { background: none; }
.body-main #contents { margin: 0px; }

.body-main .main-title { padding: 25px 0 5px 0; margin: 0px; text-align: center; }	
.body-main .main-title strong { display: block; font-size: 24px; color: #494949; }	
.body-main .main-title span.desc { display: block; margin-top: 10px; font-weight: normal; font-size: 11px; color: #4a4a4a; }
.body-main .no-product { padding: 94px 0; }

.body-club .main-title strong,
.body-club .main-title span.desc { color: #9a9a9a; }

.body-main .swipe { overflow: hidden; visibility: hidden; position: relative; }
.body-main .swipe-wrap { overflow: hidden; position: relative; }
.body-main .swipe-wrap > div { float: left; width: 100%; position: relative; display: none; }
.body-main .swipe-wrap > div:first-child { display: block; }
#shop.active .swipe-wrap > div { display: block; }

/* nav */
.body-main #nav { background-color: #000; overflow: hidden; }	
.body-main #nav li.home { width: 10%; }
.body-main #nav li.new { width: 18%; }
.body-main #nav li.best { width: 27%; }
.body-main #nav li.online { width: 28%; }
.body-main #nav li.event { width: 17%; }
.body-main #nav li a { display: block; text-align: center; color: #fff; font-weight: bold; }
.body-main #nav li { background: url('https://mcdn.louisclub.com/mo/img/custom/pipe_01.png') left center no-repeat; background-size: 1px 11px; }
.body-main #nav li:first-child { background: none; }
.body-main #nav li a:hover { text-decoration: none; }
.body-main #nav li a span { display: inline-block; height: 35px; line-height: 35px; }
.body-main #nav li.home img { width: 11px; height: 13px; }
.body-main #navUnderBar { 
position: absolute; z-index: 1000; opacity: 0; margin-top: -3px; height: 3px; width: 10px; background-color: #2ff2f9;
-webkit-transition: -webkit-width 0s;
   -moz-transition: -moz-width 0s;
     -o-transition: -o-width 0s;
        transition: width 0s;
-webkit-transition: -webkit-transform 0.1s;
   -moz-transition: -moz-transform 0.1s;
     -o-transition: -0-transform 0.1s;
        transition: transform 0.1s;
}

/* slidePromotion */
.body-main #slidePromotion { position: relative; min-height: 277px; max-height: 555px; }
.body-main #slidePromotion,
.body-main #slidePromotion .swiper-wrapper,
.body-main #slidePromotion .swiper-slide  { text-align: center; overflow: hidden; }
.body-main #slidePromotion .swiper-slide a { display: block; position: relative; z-index: 10; }
.body-main #slidePromotion div a img { width: 100%; max-width: 640px; }
.body-main #slidePromotion li { text-align: center; }
.body-main #slidePromotion .pagination { bottom: -7px; }

/* pager */
.body-main .pager a { position: absolute; top: 50%; margin-top: -18px; width: 40px; height: 56px; background-size: 20px 36px;}
.body-main .pager a.prev { left: 0; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_prev.png'); background-position: left center;  }
.body-main .pager a.next { right: 0; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_next.png'); background-position: right center;  }
.body-main .pagination { text-align:center; }
.body-main .pagination a { display:inline-block; width: 10px; height: 10px; border-radius:50%; margin: 0 2px;background: #bcc3c9;}
.body-main .pagination a.selected { background: #2ed7f6; }

/* gift shop */
.body-main div.gift-list { background: #f1e5d5; }
.body-main div.gift-list ul { padding: 10px; }
.body-main div.gift-list ul li { margin-top: 10px; text-align: center; }
.body-main div.gift-list ul li:first-child { margin-top: 0px; }

/* event */
.body-main div.bbs-thumb-list { padding: 10px; margin: 0px; background: #e1e2e2; }
.body-main div.bbs-thumb-list li { text-align: center; }
.body-main div.bbs-thumb-list ul.core li:first-child { margin-top: 0px; }

.body-main div.pro-wrap { padding: 10px; }
.body-main div.pro-wrap:after { visibility: hidden; display: block; content: " "; clear: both; height: 0; font-size: 0; }
.body-main div.pro-wrap div.cartbox-item { margin-top: 10px; border: 1px solid #b6bdbd; }

.body-main div.section-button { margin: 0px; padding: 0 10px 10px 10px; }

/* ================================================================================
main : mall
================================================================================ */
.body-main #contents {min-height: auto; }
/* New Arrivals */
.body-mall .slide-b-wrapper { position: relative; background-color: #fff; }
.body-mall .slide-b-wrapper h3 { margin: 0px; padding: 10px; font-size: 14px; color: #fff; border-top: 1px #000 solid; background: #454545; }
.body-mall .slide-b-wrapper .section { float: left; background: #fff; }
.body-mall .slide-b-wrapper .pagination { margin: 0px; padding: 10px 0; position: static; background: #e7eeee; }
.body-mall .slide-b-wrapper .row:first-child .cell{ border-bottom: 1px #dcdcdc solid; }
.body-mall .slide-b-wrapper .cell { width: 50%; text-align: center; }
.body-mall .slide-b-wrapper .cell img { max-width: 250px; width: 100%; }
.body-mall .slide-b-wrapper .cell div.item { padding: 15px; }
.body-mall .slide-b-wrapper .cell span.thumb { display: block; margin-bottom: 10px; }
.body-mall .slide-b-wrapper .cell span.shop,
.body-mall .slide-b-wrapper .cell span.subject { display: block; color: #787878; font-size: 11px; }
.body-mall .slide-b-wrapper .cell:first-child { border-right: 1px #dcdcdc solid; }
.body-mall .slide-b-wrapper p.price { margin: 5px 0 0; }
.body-mall .slide-b-wrapper p.price { font-size: 12px; color: #444; }
.body-mall .slide-b-wrapper a.btn-more { position: absolute; right: 10px; top: 10px; display: inline-block; padding-right: 10px; color: #fff; font-size: 11px; font-weight: bold; background: url('https://mcdn.louisclub.com/mo/img/custom/main_more_w.gif') no-repeat right center; background-size: 7px 7px; }

/* Best Seller */
.body-mall .slide-c-wrapper { position: relative; background-color: #fff; border-top: 1px #5b5b5b solid; }
.body-mall .slide-c-wrapper #slideC { visibility: hidden; }
.body-mall .slide-c-wrapper #slideC.active { visibility: visible; }
.body-mall .slide-c-wrapper h3 { margin: 0px; padding: 15px 0 10px 10px; color: #000; font-size: 14px; }
.body-mall .slide-c-wrapper .caroufredsel_wrapper { border: 1px #646868 solid; }
.body-mall .slide-c-wrapper .section { float: left; overflow: hidden; display: block; }
.body-mall .slide-c-wrapper ul { width: 580px; }
.body-mall .slide-c-wrapper ul li { clear: both; background: #e9ecec; }
.body-mall .slide-c-wrapper ul li:after { content:''; height:0; display:block; clear: both; }
.body-mall .slide-c-wrapper ul li span.thumb { position: relative; width: 50%; text-align: center; background: #fff; }
.body-mall .slide-c-wrapper ul li span.thumb img { widht: 100%; max-width: 90%; }
.body-mall .slide-c-wrapper ul li span.thumb:before { content:''; display: inline-block; position:absolute; top: 50%; margin-top: -15px; width: 15px; height: 29px; background-size: 100%; }
.body-mall .slide-c-wrapper ul li span.text { display: inline-block; padding-top: 6%; width: 50%; text-align: center; color: #4a4a4a; }
.body-mall .slide-c-wrapper ul li span.shop { display: block; }
.body-mall .slide-c-wrapper ul li span.subject { display: block; margin: 0 15px; text-align: center; }
.body-mall .slide-c-wrapper ul li p { text-align: center; }
.body-mall .slide-c-wrapper ul li.subject { display: block; }
.body-mall .slide-c-wrapper ul li strong.price { display: block; margin-top: 5px; color: #444; font-size: 14px; }
.body-mall .slide-c-wrapper ul li span.level-num { position: relative; display: inline-block; margin-bottom: 17px; padding-bottom: 13px; color: #323232; font-size: 24px; }
.body-mall .slide-c-wrapper ul li span.level-num:before { content:''; display:block; position:absolute; bottom: 0px; left: 50%; margin-left: -7px; width: 14px; height:0; border-bottom:1px solid #323232;}
.body-mall .slide-c-wrapper ul li:nth-child(odd) { background: #e9ddb7; }
.body-mall .slide-c-wrapper ul li:nth-child(odd) span.thumb { float: right; }
.body-mall .slide-c-wrapper ul li:nth-child(odd) span.thumb:before { left: -15px; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_best_arrow_odd.gif') }
.body-mall .slide-c-wrapper ul li:nth-child(odd) span.text { float: left; }
.body-mall .slide-c-wrapper ul li:nth-child(even) { background: #c7d9e4; }
.body-mall .slide-c-wrapper ul li:nth-child(even) span.thumb { float: left; }
.body-mall .slide-c-wrapper ul li:nth-child(even) span.text { float: right; }
.body-mall .slide-c-wrapper ul li:nth-child(even) span.thumb:before { right: -15px; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_best_arrow_even.gif'); }
.body-mall .slide-c-wrapper .pagination { margin: 0px; padding: 10px; position: static; }
.body-mall .slide-c-wrapper a.btn-more { position: absolute; right: 10px; top: 10px; display: inline-block; padding-right: 10px; color: #000; font-size: 11px; font-weight: bold; background: url('https://mcdn.louisclub.com/mo/img/custom/main_more_b.gif') no-repeat right center; background-size: 7px 7px; }
.body-mall .slide-c-inner { clear: both; margin: 0 10px; }

/* ================================================================================
main : club
================================================================================ */
.body-main.body-club #wrapper { background: #000; }
.body-main.body-club #nav { background-color: #171919; border-bottom-color: #050505;  }
.body-main.body-club #nav li a { text-shadow: none; }
.body-main.body-club #navUnderBar { background-color: #f37043; }
.body-main.body-club .pagination a.selected { background: #f37043; }

/* nav */
.body-club #nav li.home { width: 11%; }
.body-club #nav li.new { width: 20.5%; }
.body-club #nav li.best { width: 30.5%; }
.body-club #nav li.brand { width: 19.5%; }
.body-club #nav li.event { width: 18.5%; }

.body-club #slideD { position: relative; max-height: 615px; }
.body-club #slideD ul li { text-align: center; }
.body-club #slideD ul li a { display: block; }
.body-club #slideD .pager a { position: absolute; top: 50%; margin-top: -16px; width: 32px; height: 32px; background-size: 32px 32px; }
.body-club #slideD .pager a.prev { left: 0; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_promotion_prev.png'); }
.body-club #slideD .pager a.next { right: 0; background-image: url('https://mcdn.louisclub.com/mo/img/custom/main_promotion_next.png'); }
.body-club #slideD .pagination { bottom: -7px; }

/* home-banner */
.body-main.body-club div.home-banner { margin: 10px; margin-top: 0px; text-align:center; }
.body-main.body-club div.home-banner ul.banner-a li { float: left; margin-top: 10px; width: 50%; }
.body-main.body-club div.home-banner ul.banner-a li a { display: block; }
.body-main.body-club div.home-banner ul.banner-a li a img { width: 100%; }
.body-main.body-club div.home-banner ul.banner-a li:nth-child(odd) a { margin-right: 5px; }
.body-main.body-club div.home-banner ul.banner-a li:nth-child(even) a { margin-left: 5px; }

.body-main.body-club div.home-banner ul.banner-b { padding-bottom: 10px; }
.body-main.body-club div.home-banner ul.banner-b li { margin-top: 10px; }

/* brand-list */
.body-main.body-club div.brand-list { position: relative; background: none; }
.body-main.body-club div.brand-list ul { margin-top: 5px; }
.body-main.body-club div.brand-list ul.core li { border: 0px; }
.body-main.body-club div.brand-list a.btn-brand { color: #8efbea; font-weight: bold; font-size: 11px; }

.body-main.body-club #clubBrand { position: absolute; top: 30px; }
.body-main.body-club #clubBrand div.layer-inner li { margin: 10px 0; border: 0px; text-align: left; }

/*
@media only screen and (min-width: 320px) { 
	#slidePromotion { height: 278px; }
	#slideB div.swiper-wrapper { min-height: 500px; }
	#slideC div.swiper-wrapper { min-height: 300px; }
	#shop { max-height: 1511px; }
}
@media only screen and (min-width: 480px) { 
	#slidePromotion { height: 396px; }
	#slideB div.swiper-wrapper { min-height: 592px; }
	#slideC div.swiper-wrapper { min-height: 453px; }
	#shop { max-height: 1809px; }
}
*/