@charset "utf-8";
/* [== 나눔폰트. ( normal:ng, bold:ngb ) ==] */
@font-face {
	font-family: 'ng';
	src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff');}
@font-face {
	font-family: 'ngb';
	src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff');}
@font-face {
	font-family: 'ng';
	font-weight: bold;
	src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff');}

/* ================================================================================
Category : Layout
================================================================================ */
body { /* background-color:#252525; */}
#container { position: relative; width: 100%; overflow-x:hidden; background-repeat: no-repeat; background-position: left top; background-size: 320px 740px;}
#container.active { background-image: url('https://mcdn.louisclub.com/mo/img/common/background@2x.png'); }

/* guide */
.em {color:#0aa1c9 !important;}
.strong {color:#f36b20 !important;}

.color-title {color:#000;}
.color-basic {color:#4a4a4a;}
.color-description {color:#777;}
.color-point-lq1 {color:#f36b20;}
.color-point-lc1 {color:#1f68c2;}
.color-point2 {color:#0aa1c9;}
.color-dim {color:#999;}

/* header ========================================================================== */
#header { background-color: #f2f5f5; margin: 0; padding: 0; position: relative; z-index:1005;}
#header a span { font-size: 0; }
#head {position:relative;}
#head > h1 {margin:0;}
#header .logo { display: block; margin: 0 auto 0; width: 171px; height: 48px; background-size: 171px 48px; }
#header .category, 
#header .search-core, 
#header .search,
#header .btn-cart { display: inline-block; position: absolute; top: 10px; width: 28px; height: 28px; background-size: 28px 28px; }
#header .category { z-index: 10; left: 10px; }
#header .search { z-index: 10; right: 40px; }
#header .btn-cart { z-index: 10; right: 10px; }
#header .cart-count { display: block; position: absolute; top: 3px; z-index: 11; right: 6px; margin: 0; width: 15px; height: 15px; color: #fff; background: #f36b21; border-radius: 12px; text-align: center; font-size: 11px; line-height:15px; font-weight: bold; }
#header .search-core { z-index: 9; overflow: hidden; padding: 0 63px 0 60px; width: 0; right: 0; margin-right: 10px; line-height: 1; opacity: 0; transition: all 0.1s; }
#header .search-core.active { width: 100%; opacity: 1; }
#header .search-core .table { table-layout: fixed; }
#header .search-core span.cell { overflow: hidden; vertical-align: middle; border: solid 1px #bdbab5; }
#header .search-core span.field { border-right: 0; background-color: #fff; }
#header .search-core span.reset { border-left: 0; width: 32px; }
#header .search-core span.submit { border: 0; width: 50px; }
#header .search-core a.reset { display: inline-block; margin: 0; width: 32px; height: 32px; background-size: 32px 32px; vertical-align: middle; }
#header .search-core .btn.submit { display: block; width: 46px; margin-left: 4px; text-align: center; line-height: 36px; height: 36px; border-color: #bdbab5; }
#header .search-core input[type="text"] { display: block; float: right; margin: 2px 0 2px 2px; width: 99%; border: 0; height: 30px; line-height: 30px; background-color: #fff; vertical-align: middle; font-size: 14px; font-weight: bold; }
#header .search-core input[type="text"]:focus { border-color: #bdbab5 !important; }

/* images */
#header * { background-repeat: no-repeat; background-position: center center; }
#header .category { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_category.png'); }
#header .search { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_search.png'); }
#header .logo { background-image: url('https://mcdn.louisclub.com/mo/img/common/logo.gif'); }
#header .btn-cart { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_header_cart.png'); }
#header .search-core a.reset { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_search_reset.png'); }


#header.club  { background: #fff; }
#header.club .logo { width: 139px; background-image: url('https://mcdn.louisclub.com/mo/img/common/logo_club@2x.png'); background-size: 139px 48px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		#header .category { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_category@2x.png'); }
		#header .search { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_search@2x.png'); }
		#header .logo { background-image: url('https://mcdn.louisclub.com/mo/img/common/logo@2x.png'); }
		#header .btn-cart { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_header_cart@2x.png'); }
		#header .search-core a.reset { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_search_reset@2x.png'); }
}


/* aside nav ========================================================================== */
.no-js #asideNav { display: none; }
#asideNav { position: absolute; width: 278px; height: 100%; top: 0; left: 0; z-index: 1; opacity: 1; background: #000 no-repeat left 82px; line-height: 1; background: rgba(19, 19, 19, 0.75);}

#asideNav ul { margin:0; padding: 0; list-style: none; }
#asideNav li { margin: 0; padding: 0; }
#asideNav a { display: block; color: #f2e9e1; }
#asideNav .current > a,
#asideNav a:hover { color: #fff; }
#asideNav a > span { display: block; }
#asideNav a:hover { text-decoration: none; }

#asideNav .nav-shop { height: 84px; background-image: url('https://mcdn.louisclub.com/mo/img/common/aside_top_quartorze@2x.png'); background-size: 278px 84px; }
#asideNav.club .nav-shop { background-image: url('https://mcdn.louisclub.com/mo/img/common/aside_top_club@2x.png');  }
#asideNav .nav-shop li { width: 50%; height: 84px; }
#asideNav .nav-shop a { display: block; height: 84px; }

#goHome {display:block; text-align:right; padding-right:15px; margin:10px 0;}
#asideTitle {position:relative; color:#fff; font-size:16px; margin:0 10px; padding:10px 0 10px 5px; border-bottom:2px solid #fff;}
#asideTitle > a {display:block; position:absolute; right:0; top:10px; width:16px; height:16px; background:url(https://mcdn.louisclub.com/mo/img/common/aside_close.png) no-repeat; background-size:100%;}
#asideNav div.category {margin: 10px 15px 10px 10px;}
div.category a { display: block; transition: .5s; }
div.category > ul > li { transition:.5s; }
div.category > ul > li > a { float:left; font-size: 13px; width: 140px; height: 42px; line-height: 42px; border-bottom: solid 1px #777777; padding-left: 5px; }
div.category > ul > li > a:hover { background: rgba(50,50,50,.8); }

div.category .d2 {float:right; width:120px;}
div.category .d3 {padding:5px 0 15px 10px;}
div.category:after, div.category > ul > li::after, div.category ul:after {content:''; height:0; display:block; clear:both;}
div.category .d2 > li > a { position:relative; display:block; font-size: 12px; height: 34px; line-height: 34px; padding-left: 15px;}
div.category .d2 > li > a::before {content:'+'; position:absolute; left:8px; top:0;}
div.category .d2 > li > a:only-child { background: none; border:none;}
div.category .d2 > li > a:only-child::before {content:'';}
div.category .d3 > li > a { height: 24px; line-height: 24px; padding-left:20px; font-size:12px;}
div.category ul ul {display:none;}
div.category > ul > li:first-child ul.d2 { display: block; }


/* shop Nav ------------------------- */
#shopNav { height: 34px; padding-top: 2px; background-color: #000; }
#shopNav .cell { height: 30px; background-repeat: no-repeat; }
#shopNav .cell a { display: block; height: 32px; background-size: 105px 32px; background-position: center center; }
.quatorze #shopNav .cell:nth-child(1) { background-color: #f2f5f5; background-size: 100px 32px; background-position: right top; }
.quatorze #shopNav .cell:nth-child(2) { background: #000; }

.club #shopNav .cell:nth-child(1) { background: #000; }
.club #shopNav .cell:nth-child(2) { background-color: #f2f5f5; background-size: 100px 32px; background-position: left top; }

.quatorze #shopNav .cell:nth-child(1) { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_left_on.png'); }
.club #shopNav .cell:nth-child(2) { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_right_on.png'); }
.quatorze #shopNav .cell:nth-child(1) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_quatorze_on.png'); }
.quatorze #shopNav .cell:nth-child(2) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_club_off.png'); }
.club #shopNav .cell:nth-child(1) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_quatorze_off.png'); }
.club #shopNav .cell:nth-child(2) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_club_on.png'); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.quatorze #shopNav .cell:nth-child(1) { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_left_on@2x.png'); }
		.club #shopNav .cell:nth-child(2) { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_right_on@2x.png'); }
		.quatorze #shopNav .cell:nth-child(1) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_quatorze_on@2x.png'); }
		.quatorze #shopNav .cell:nth-child(2) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_club_off@2x.png'); }
		.club #shopNav .cell:nth-child(1) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_quatorze_off@2x.png'); }
		.club #shopNav .cell:nth-child(2) a { background-image: url('https://mcdn.louisclub.com/mo/img/common/top_club_on@2x.png'); }
}

/* title common ------------------------- */
#titleNav { position: relative; text-align: left; }
#titleNav h2 { margin:0; border-bottom: 1px #788083 solid; }
#titleNav a {text-decoration: none; color:inherit;}
#titleNav ul.tab, #titleNav h2 { display: block; height: 35px; font-size: 15px; line-height: 35px; text-align: center; color: #fff; background-color: #000; }
#titleNav a.back { display: inline-block; position: absolute; z-index: 1001; top: 0; left: 0; width: 37px; height: 34px; background: url('https://mcdn.louisclub.com/mo/img/common/title@2x.png') no-repeat 10px center; background-size: 17px 13px; }
#titleNav a.core {position:relative; display:block; z-index:1000; margin-left:37px; padding-right:37px;}
#titleNav a.core span { padding-right: 20px; background: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_on.png') no-repeat right center; }
#titleNav.active a.core span { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_off.png'); }

body.body-club #titleNav ul.tab, body.body-club #titleNav h2 { background-color: #000; border-bottom-color: #000;  }
body.body-club #titleNav a.core span { padding-right: 20px; background: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_club_off.png') no-repeat right center; }
body.body-club #titleNav.active a.core span { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_club_on.png'); }

/* title nav ------------------------- */
#titleNav ul.tab li:nth-child(1) { width: 16%; }
#titleNav ul.tab li:nth-child(2) { width: 20%; }
#titleNav ul.tab li:nth-child(3) { width: 20%; }
#titleNav ul.tab li:nth-child(4) { width: 22%; }
#titleNav ul.tab li:nth-child(5) { width: 22%; }
#titleNav ul.tab li a { display: block; height: 34px; color: #fff; transition: all 0.6s; }
#titleNav ul.tab li a:hover { background-color: #ffdab6; text-decoration: none; }
#titleNav ul.tab li.current a { border-bottom: solid 4px #fff; }

/* title sub nav ------------------------- */
#titleNavSub { display: block; z-index: 900; margin:0; padding:0; width: 100%; border-bottom: solid 2px #252929; overflow:hidden; box-shadow: 0 0 3px #000; background-color: #3c3f3f; list-style:none; opacity:1;}
#titleNavSub li { position: relative; width: 50%; }
#titleNavSub li:nth-child(even) { float: right; }
#titleNavSub li:nth-child(odd) { float: left; }
#titleNavSub li:nth-child(odd):after { content: ""; position: absolute; left: 0; top: 0; width: 200%; border-bottom: solid 1px #252929; }
#titleNavSub li:nth-child(odd) a { border-right: solid 1px #252929; }
#titleNavSub li a { display: block; padding-left: 10px; margin-top: 1px; height: 34px; line-height: 34px; text-decoration: none; transition: all 0.3s; color: #f2f5f5; text-align: center; }
#titleNavSub li a:hover,
#titleNavSub li.active a { color: #f36b20; }
.club #titleNavSub { background-color: #323536; }

/* skyscraper ========================================================================== */
#skyscraper { display: none; position: fixed; z-index: 100; right: 10px; -webkit-backface-visibility: hidden; } 
#skyscraper a.top { width: 50px; height: 50px; background: url('https://mcdn.louisclub.com/mo/img/common/top.png') no-repeat left top; background-size: 100%; }

/* search */
#search { display: none; position: absolute; z-index: 1002; top: 82px; left: 0px; right: 0px; padding: 35px 0; }
#search div.search-frame { position: relative; z-index: 1; text-align:center; }
#search div.search-frame h2 { margin: 0 0 15px 0; color: #fff; }
#search div.search-frame * { vertical-align: middle; }
#search div.search-frame .button { box-shadow: none; width: 30px; min-width: auto; height: 25px; background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_search_go.png'); background-size: 15px 15px; }
#search div.overlay { position: absolute; z-index: 0; left: 0px; top: 0px; right: 0px; bottom: 0px; opacity: 0.85; background: #000; }
#search a.btn-close { position: absolute; z-index: 1003; top: 0px; right: 0px; padding: 0 0 10px 10px; }
#search a.btn-close span { display: block; width: 20px; height: 20px; background: #fff url('https://mcdn.louisclub.com/mo/img/common/btn_search_close.gif') no-repeat center center; background-size: 9px 9px; }
#search input.text { width: 70%; border-radius: 0px; box-shadow: none; border: 0px; height: 25px; }

/* Contents ========================================================================== */
#contents { min-height: 250px; margin: 10px 10px 30px 10px;}

a.benefit, a.coupon {color:#fff; display:inline-block; line-height:20px; padding:0 2px; font-size:12px; text-decoration: none;}
a.benefit {background:#4a4a4a; border:1px solid #3c3c3c; margin-left:5px;}
a.coupon {background:#7f8082; border:1px solid #767779;}

select.option {font-size:12px; height:20px; width:90px;}
span.amount {display:inline-block;}
span.amount > a, span.amount > input {display:block; float:left; width:30px; height:20px; background-size:100%;} 
span.amount > a.number_minus {background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount1@2x.png); background-repeat:no-repeat;}
span.amount > input {text-align:center; outline:none; border:none; box-shadow:none; font-size:12px; line-height:20px; background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount2@2x.png); background-repeat:no-repeat;}
span.amount > a.number_plus {background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount3@2x.png); background-repeat:no-repeat;}

/* 장바구니 -------------------- */
p.cart-total {margin:0; margin-bottom:10px; font:700 12px/1 'ngb';}
p.cart-total > a {padding:0 8px;}
p.cart-total > a:first-child {padding-left:0; position:relative;}
p.cart-total > a:first-child::after {content:''; position:absolute; top:3px; right:0; height:8px; border-right:1px solid #999;}

.cartbox {background:#fff; margin-bottom:10px;}
.cartbox > h3 {position:relative; background:#3c3f3f; border:1px solid #252929; height:40px; font:400 16px/38px 'ng'; color:#fff; padding-left:36px; margin:0;}
.cartbox input[type=checkbox] {position:absolute; left:10px; top:13px; height:15px; width:15px;}
.cartbox > h3 > a {display:block;}
.cartbox a:link, .cartbox a:hover, .cartbox a:visited {color:#fff; text-decoration:none;}

.cartbox-item {position:relative; padding-top: 10px; border:1px solid #b6bdbd; border-top:none; background:#fff;}
.cartbox-del {position:absolute; top:10px; right:10px; width:10px; height:10px; background:url(https://mcdn.louisclub.com/mo/img/common/btn_close@2x.png) no-repeat; background-size:100%;}
.cartbox-img {display:block; position:relative; width:50%; float:left; text-align:center;}
.cartbox-img > img {vertical-align:middle; width:250px; max-width: 85%; margin-bottom:10px;}
.cartbox-img > h5, .cartbox-img > p {position:absolute; left:100%; top:0; font-size: 12px; margin:0 0 10px; color:#222; text-align:left;}
.cartbox-img > h5.title { top: 20px; font-weight: normal; }

.cartbox-item.soldout a { cursor: default; text-decoration: none; }
.cartbox-item.soldout div.soldout { position: absolute; z-index: 1; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.cartbox-item.soldout div.soldout strong { position: absolute; z-index: 2; top: 45%; width: 100%; text-align: center; color: #212028; font-size: 20px; }
.cartbox-item.soldout div.soldout div.bg { position: relative; z-index: 1; height: 100%; background: #fff; opacity: 0.7; }

.cartbox-item .soldout { position: absolute; top: 10px; left: 10px; z-index: 10; width: 40px; height: 40px; background: red url('../img/common/icon_soldout_s.png') no-repeat left top; background-size: 100%; }

.cartbox-cont {float:right; width:50%; margin-top:70px; position:relative;}
.cartbox-cont span.price {position:absolute; display:inline-block; left:45px;}
.cartbox-cont a.coupon,
.cartbox-cont select.option,
.cartbox-cont span.amount {position:absolute; display:inline-block; left:45px;}
.cartbox-cont2 {clear:both; background:#f6f7f7; padding:10px; position:relative;}
.cartbox-cont2 > p {font:700 14px/1 'ngb'; margin-top:0; margin-bottom:15px; position:relative;}
.cartbox-cont2 .price {position:absolute; left:100px;}
.cartbox-cont2 .price.total {font:700 20px/1 'ngb'; top:-3px;}
.cartbox-cont2 > a.buy {display:block; position:absolute; top:20px; right:10px; background:#139abd; padding:10px 15px; font:700 14px/1 'ngb'; border-radius:5px; border-bottom:2px solid #e5e6e6;}
#totalPrice {width:100%; margin:0; border-collapse: collapse; border:1px solid #4a4a4a; background:#fff; font:700 14px/1.5 'ngb'; margin-bottom:10px;}
#totalPrice td {padding:10px;}
#totalPrice td > em {font:700 20px/1.5 'ngb';}
#totalPrice td > span {font:400 14px/1.5 'ng';}
#totalPrice tr:first-child > td {border-bottom:1px solid #b7bebe; text-align:center; }
#totalPrice tr:first-child > td:first-child {border-right:1px solid #b7bebe;}
#totalPrice tr:last-child > td:first-child {text-align:left;}
#totalPrice tr:last-child > td:last-child {text-align:right;}

.buttons > a {display:block; float:left; font:700 14px/40px 'ngb'; text-align:center;border-radius:5px; border:none; border-bottom:2px solid #e5e6e6; color:#fff; text-decoration: none;}
.order-btns {margin-bottom:10px;}
.order-btns2 {margin-bottom:15px;}
.order-btns > a {width:32%; margin-left:2%;}
.order-btns2 > a {width:49%; margin-left:2%;}
.order-btns > a:first-child, .order-btns2 > a:first-child {margin-left:0;}
.btn-gray {background:#7a7a7a;}
.btn-black {background:#474747;}
.btn-blue {background:#1298bc;}
.btn-interest {display:inline-block; width:16px; height:16px; line-height:16px; text-align:center; font-size:11px; font-weight:700; color:#999; border-radius:50%; border:1px solid #e7e6e6;}

#keepShopping > span {color:#798184;}
.show-more {display:block; margin: 10px 0; clear:both; text-align:center; border:1px solid #b6bdbd; border-radius:5px; background:#fff; font:700 14px/35px 'ngb'; text-decoration: none;}
#showMore > span {display:inline-block; width:10px; height:6px; background:url(https://mcdn.louisclub.com/mo/img/custom/btn_cart_toggle_off@2x.png) no-repeat; background-size:100%;}
.product-detail > li > a.show-more-dark {display:block; clear:both; margin:10px 0; color:#fff; text-align:center; background:#7f8082; font:700 14px/35px 'ngb'; text-decoration: none;}
a.show-more-dark > span {display:inline-block; width:10px; height:6px; background:url(https://mcdn.louisclub.com/mo/img/common/btn_clampDown@2x.png) no-repeat; background-size:100%;}


/* 주문실패 ------------- */
#orderFailure1 {border:1px solid #4a4a4a; padding:10px 0 15px; text-align:center; background:#fff;}
#orderFailure1 > p {margin:0; font-size:14px; line-height:1.5;}
#orderFailure1 > p:first-child {font:700 18px/1.5 'ngb';}
#orderFailure1 > p:nth-child(2) {font-weight:700; font-family:'ngb'; margin-bottom:10px;}
#orderFailure1 > p:last-child {margin:0 20px; background:#e9ecec;}
#orderFailure2 {text-align:center; font:700 12px/1.5 'ngb'; color:#878787;}
#orderFailure2 > p > a {color:#f36b20;}
a.btn_home {display:inline-block; position:relative; margin:15px auto 0; padding:10px 20%; color:#fff; text-decoration:none; font-size:14px; background:#169abd; border-radius:5px; border-bottom:2px solid #e5e6e6;}

/* 상품리스트 ------------ */
.listbox-header {margin-bottom:10px;}
.list-type {display:block; float:right; width:55px; height:28px;  }
.list-type a { float: left; width: 27px; height:28px; background-repeat:no-repeat; background-size: 55px 28px; }
.list-type a.type-a { background-image:url(https://mcdn.louisclub.com/mo/img/common/list_type_2_on@2x.png); background-position: left top; }
.list-type a.type-b { background-image:url(https://mcdn.louisclub.com/mo/img/common/list_type_1_on@2x.png); background-position: right top; }
.list-type a.type-a.active { width: 28px; background-image:url(https://mcdn.louisclub.com/mo/img/common/list_type_1_on@2x.png); }
.list-type a.type-b.active { width: 28px; background-image:url(https://mcdn.louisclub.com/mo/img/common/list_type_2_on@2x.png); }
.cartbox-item:after {content:''; height:0; display:block; clear:both;}


/* 타입A - 리스트 형태 */
.type-a .cartbox-item {width:100%; border-top:1px solid #b6bdbd; margin-top:5px; padding-bottom: 10px; }
.type-a .cartbox-item p { margin:0; }
.type-a .cartbox-item p.state { margin-top: 5px; }
.type-a .cartbox-item .info-icons {margin-bottom:20px;}
.type-a .cartbox-img > h5, .cartbox-img > p { width: 100%;}
.info-icons > span { display: inline-block; margin: 3px 3px 0 0; padding: 0 4px; height: 14px; line-height:14px; border:1px solid #b6bdbd; font-size: 10px; font-weight:700;}
.info-icons > span.icon-best   {background:#999; color:#fff;}
.info-icons > span.icon-coupon {background:#ced9db;}
.info-icons > span.icon-new    {background:#4a4a4a; color:#fff;}
.info-icons > span.icon-rcmd   {background:#999; color:#fff;}

.cartbox-wrap:after { content:''; height:0; display:block; clear: both; }
.cartbox-item p:after { content:''; height:0; display:block; clear: both; }
.type-a .cartbox-img > img { margin-bottom:0px;}
.type-a .cartbox-item p.price-original { margin-top: 10px; margin-right:20px;}
.type-a .cartbox-item .name {float:left;}
.type-a .cartbox-item .price {position:static; float:right; margin-top:-5px;}
.type-a .cartbox-item p.price-original del {text-decoration: line-through; font-size:11px; }
.type-a .cartbox-item p.price-original em { margin-left:10px; font-weight: bold; }
.type-a .cartbox-item p.price-original em span.name { vertical-align: top; }
.type-a .cartbox-item p.price-advanced { font-size: 13px; font-weight: bold; margin-right:20px; }
.type-a .cartbox-item .price-advanced > em {font-size:16px;}
.type-a .cartbox-item .price-advanced > em span {font-size: 14px;}
body.body-club .type-a .cartbox-item p.price-advanced { color: #276dc4; }

/* 타입B - 그리드 형태 */
.type-b .cartbox-img > p, .type-b .cartbox-img > h5 {position:static; margin:0; padding:0 10px; background:#e9ecec;}
.type-b .cartbox-img > :nth-child(2) { padding-top: 10px; }
.type-b .cartbox-img > img { margin: 0px; padding: 10px; }
.type-b .cartbox-item { padding-top: 0px; overflow: hidden; border-top:1px solid #b6bdbd; margin-bottom:10px; float:left; width: 48%; background:#e9ecec;}
.type-b > .cartbox-item:nth-child(odd) {  clear: both;}
.type-b > .cartbox-item:nth-child(even) { float: right; }
.type-b .cartbox-img {float:none; display: block; width: auto;background:#fff; }
.type-b .cartbox-cont {float:none; margin:0; padding:10px; width: auto; background:#e9ecec;}
.type-b .cartbox-item p { margin:0; }
.type-b .cartbox-item .info-icons {display:none;}
.type-b .cartbox-item .name:after {content:' : ';}
.type-b .cartbox-item .price {position:static;}
.type-b .cartbox-item p.price-original del {text-decoration: line-through; font-size:11px;}
.type-b .cartbox-item p.price-original span.name,
.type-b .cartbox-item p.price-original span.name:after { vertical-align: top;}
.type-b .cartbox-item p.price-original em {font-size:11px; margin-left:10px; font-weight: bold; color: #444; }
.type-b .cartbox-item p.price-advanced { margin-top: 5px; font-size: 11px; font-weight: bold; }
.type-b .cartbox-item .price-advanced > em { font-size: 13px;  margin-top:2px;}
body.body-club .type-b .cartbox-item p.price-advanced { color: #276dc4; }
div.use-item div.cartbox-cont p { margin-top: 5px; }
.cartbox-item.no-product { float: none; margin: 0px; padding: 70px 0; width: 100%; text-align: center; font-weight: bold; font-size: 14px; color: #000; }

/* 상세보기 ----------- */
.product-summary {margin-bottom:10px;}
.product-summary div.caroufredsel_wrapper { min-width: 250px; height: 250px !important;}
.product-summary > h3 {font:700 16px/1.5 'ngb'; color:#4a4a4a; margin:10px 0 0; }
.product-summary > h3 > span {display:block; font-size:12px; font-weight:400; font-family:'ng';}
.product-summary > p.like { margin:10px 0 0; }
.product-summary > p.like a.like { vertical-align: middle; width: 12px; height: 10px; background: url('https://mcdn.louisclub.com/mo/img/custom/btn_heart@2x.png') no-repeat left center; background-size:12px 10px; }
.product-summary > p.like a.like.active { background-image: url('https://mcdn.louisclub.com/mo/img/custom/btn_heart_active_@2x.png'); }

.product-summary > .link-btns {margin:0 0 5px;}
.product-summary > .link-btns a {display:inline-block; width:24px; height:26px; background-repeat:no-`repeat; background-size:24px 26px;}
.product-summary > .link-btns a.btn:first-child {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_facebook@2x.png);}
.product-summary > .link-btns a.btn:nth-child(2) {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_kakaotalk@2x.png);}
.product-summary > .link-btns a.btn:last-child {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_url@2x.png);}

.product-summary .holder { border-top: 1px solid #97a1a5; background:#fff;}
.product-summary .article { margin: 0px; padding: 0; list-style: none; border:1px solid #b7bebe; border-top:none;}
.product-summary .article.hide {display:none;}
.product-summary .article.info {margin-bottom:10px;}
.product-summary li { position: relative; margin: 0px; padding: 7px 5px 7px 90px; }
.product-summary a.button.small { padding: 0 3px; }

.product-summary .title  { position: absolute; left: 10px; z-index: 0; font-size: 12px; color: #777; margin:0;}
.product-summary .title.big {font-size:13px !important; color: #4a4a4a; }
.price, .detail {color:#787878;}
.product-summary .price { font-size: 13px; }
.product-summary .price:after {content:'원'; font-weight:400; font-size:12px; color:#787878;}
.product-summary .price.big { font-size:13px !important; font-weight: bold; }
.product-summary .strike { margin-right: 10px; text-decoration:line-through;}
.product-summary .big .price { font-size:16px; letter-spacing: -1px; }

.product-detail {list-style:none; margin:0; margin-bottom:25px; padding:0; background:#fff; border-top:1px solid #97a1a5;}
.product-detail h5, .product-detail th, .product-detail td, .product-detail h6, .product-detail .bbs-contents, .qna-summary p, .qna-desc p {color:#777;}
.product-detail > li {border-bottom:1px solid #b6bdbd;}
.product-detail > li.accordion-item {padding:10px;}
.product-detail > li.accordion > a {display:block; padding-left:10px; font:700 14px/35px 'ngb'; text-decoration: none; color:#4a4a4a; background:#fff; transition:.5s;}
.product-detail > li.open {border-bottom:1px solid #798184;}
.product-detail > li.open > a {background:#97a1a5; background-image:url(https://mcdn.louisclub.com/mo/img/custom/tab_bg.png); background-size:1px 35px; background-repeat:repeat-x; color:#fff;}
.product-detail > li.open strong.strong {color:#fff !important;}
.product-detail > li.info1 div.action { position: static; text-align: center; margin: 10px 0 20px 0; }
.product-detail > li.info1 a.button { padding: 0 10px;}

div.product-summary .sale { padding-left: 5px; padding-right: 5px; font-size: 11px; line-height: 1; }
div.product-summary a.section-banner {margin-bottom:20px;}
div.product-summary a.section-banner img {width:100%;}

/* 아코디언 메뉴 관련 */
.accordion {position:relative;}
.accordion-item {position:relative;}
.accordion-item.hide {display:none;}
.accordion-item div.action { position: absolute; top: 12px; right: 10px; }
.article.accordion li {padding:0; border-top:1px solid #b7bebe; text-align:right;}
.article.accordion li:first-child {border-top:none;}
.article.accordion h5 {position:relative; left:0; padding:0 10px;}
.article.accordion h5 span {position:absolute; left:10px; top:10px; font-size: 13px; color: #4a4a4a; }
.article.accordion h5 a { position:relative; display:block; padding: 5px 10px;}
	/* 흰색 배경에 + - */
	.accordion em.up_down {display:inline-block; width:20px; height:20px; background: url(https://mcdn.louisclub.com/mo/img/custom/btn_product_info_control.gif) no-repeat 4px center;}
	.accordion.open a > em.up_down { background-position:-28px center; }
	/* 까만 배경에 ^ v */
	.accordion a > span.up_down {display:block; position:absolute; right:10px; top:15px; width:11px; height:7px; background:url(https://mcdn.louisclub.com/mo/img/common/btn_clampDown@2x.png) no-repeat ; background-size:100%;}
	.accordion.open a > span.up_down {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_clampUp@2x.png);}
	/* 흰색 배경에 ^ v */
	.accordion a > span.dark.up_down {display:block; position:absolute; right:10px; top:15px; width:11px; height:7px; background:url(https://mcdn.louisclub.com/mo/img/common/btn_clampDown_dark@2x.png) no-repeat ; background-size:100%;}
	.accordion.open a > span.dark.up_down {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_clampUp@2x.png);}

.article.info {background:#e9ecec;}
.order-btns2 img { width:18px; vertical-align:middle;}

.info1 {text-align:center;}
.info1 img {width:100%;}

.info2 > table {border-collapse: collapse; border:none; width:100%;}
.info2 caption {height:0; font-size:0; text-indent:-9999px; overflow:hidden;}
.info2 tr {border-bottom:1px solid #c9cece;}
.info2 th, .info2 td {padding:5px 2%; font-size:12px;}
.info2 th {background:#f4f5f5; width:20%;}
.info2 td {width:72%;}

/* 별점 */
.star {display:inline-block; margin-left:10px; width:90px; height:15px; background:url(https://mcdn.louisclub.com/mo/img/common/star_empty.png) repeat-x; background-size:18px 15px;}
.star-filled {display:inline-block; height:15px; background:url(https://mcdn.louisclub.com/mo/img/common/star_filled.png) repeat-x; background-size:18px 15px;}
.fill1 {width:18px;}
.fill2 {width:36px;}
.fill3 {width:54px;}
.fill4 {width:72px;}
.fill5 {width:90px;}

.product-detail > li > h5 {position:relative; font-size:12px; margin:0; padding:5px 0 15px; border-bottom:1px solid #c9cece;}

.info3 li {padding:0 10px 10px; border-bottom:1px solid #c9cece;}
.info3 h5 span.star { display: block; margin: 5px 0 0; }
.bbs-summary {position:relative; text-align:right; margin:10px 0; line-height:15px; height:15px; font-size:11px;}
.bbs-summary .star {position:absolute; left:0; top:0; margin-left:0; text-align:left;}
.bbs-desc { margin: 0; }
.bbs-desc * { vertical-align: middle; }
.bbs-desc a.subject { font-weight: bold; width: 78%; }
.bbsinfo {display:inline-block; padding:0 4px; font-size:11px; font-weight:700; font-family:'ngb'; color:#fff;}
.bbs-mdbest {background:#f36b20;}
.bbs-best {background:#0aa1c9;}
.bbs-camera {display:inline-block; width:15px; height:13px; line-height:15px; background:url(https://mcdn.louisclub.com/mo/img/custom/bbs_camera.png) no-repeat; background-size:15px 13px;}
.bbs-contents { display: none; margin-top: 10px; }
.bbs-contents :first-child { margin-top: 0px; }
a.question {position:absolute; right:0; top:10px; display:block; padding:3px 7px; background:#7f8082; color:#fff; border:1px solid #707172; text-decoration: none}
div.bbs-action { margin-top: 15px; text-align: right; }
div.bbs-action:after { content:''; height:0; display:block; clear: both; }
div.bbs-action a.fleft { padding: 0 5px; border: 1px #acbabc solid; height: 18px; line-height: 18px; } 
div.bbs-action a.report { margin-right: 4px; } 
div.bbs-action a.report span { padding-left: 12px; background: url('https://mcdn.louisclub.com/mo/img/custom/ico_report.png') no-repeat left center; background-size: 9px 8px; } 
div.bbs-action a.recommend span { padding-left: 13px; background: url('https://mcdn.louisclub.com/mo/img/custom/ico_recommend.png') no-repeat left center; background-size: 10px 9px; } 

.info4 li {padding:10px;}
.qna-summary {background:#fcfcfc; border-bottom:1px solid #b6bdbd; font-size:10px; line-height:20px;}
.qna-summary > a {display:block;}
.qna-summary.open {border-bottom-color:#c9cece;}
.qna-summary p {font-style:normal; font-size:12px; font-weight:700; font-family:'ngb'; margin:0;}
.qna-desc {background:#f4f5f5; border-bottom:1px solid #b6bdbd;}

.bbsinfo.bbs-asked {color:#4a4a4a; border:1px solid #4a4a4a;}
.bbsinfo.bbs-answered {color:#0aa1c9; border:1px solid #0aa1c9;}

.qna-desc > p {padding-left:20px; position:relative; margin:0 0 10px;}
.qna-desc > p:before {position:absolute; left:0; top:0; color:#0aa1c9; font-size:16px; font-weight:700; font-family:'ngb';}
.qna-desc > p.question:before {content:'Q';}
.qna-desc > p.answer:before {content:'A';}

.qna-desc > a {display:inline-block; width:38px; height:21px; line-height:21px; font-size:11px; text-decoration: none; text-align:center; font-weight:700;}
.qna-desc > a, .qna-desc > a:visited, .qna-desc > a:link {color:#fff !important;}
.qna-desc > a.btn-gray {margin-left:20px;background:#7f8082; border:1px solid #767779;}
.qna-desc > a.btn-black {background:#4a4a4a; border:1px solid #3c3c3c;}

/* footer ========================================================================== */
#footer { background:#161716; color:#fff; font-size:11px;}
#footer > h2 {text-align:center; font-size:12px; line-height:30px; margin:0;}
.quickmenu {list-style:none; margin:0 10px 10px; padding:0;}
.quickmenu > li {float:left; width:19%; border:1px solid #3b3f41; margin-left:1.25%} 
.quickmenu > li:first-child {margin-left:0;}
.quickmenu > li a { display: block; height: 62px; text-align: center; color: #f9fafa; }
.quickmenu > li span { display: block; height: 23px; line-height: 23px; color: #aaa; transition: all 0.3s; }
.quickmenu > li span:before { content: ''; display: block; height: 38px; background-repeat: no-repeat; background-position: center center; }
.quickmenu > li.login span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_login.png') no-repeat center 6px; background-size: 20px 26px; }
.quickmenu > li.logout span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_logout.png') no-repeat center 6px; background-size: 20px 26px; }
.quickmenu > li.notice span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_notice.png') no-repeat center 8px; background-size: 26px 26px; }
.quickmenu > li.one span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_one.png') no-repeat center 4px; background-size: 15px 30px; }
.quickmenu > li.my span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_notice.png') no-repeat center 8px; background-size: 26px 26px; }
.quickmenu > li.join span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_join.png') no-repeat center 8px; background-size: 26px 25px; }
.quickmenu > li.customer span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_customer.png') no-repeat center 10px; background-size: 23px 23px; }
.quickmenu > li.store span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_store.png') no-repeat center 8px; background-size: 24px 26px; }
.quickmenu > li.history span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_history.png') no-repeat center 10px; background-size: 23px 23px; }
.quickmenu > li.app span:before { background: url('https://mcdn.louisclub.com/mo/img/common/footer_service_app.png') no-repeat center 8px; background-size: 16px 25px; }
.quickmenu a:hover { text-decoration: none; }
.quickmenu a:hover span { color: #fff; }

#footer > .info { position: relative; padding:10px; background:#000; font-size: 10px; }
#footer > .info > p, #footer > .info a {margin:0; line-height:1.7; }
#footer > .info > p{ color:#777;}
#footer > .info a { color:#a8a8a8;}
#footer > .info > p > em {color:#a8a8a8;}
#footer > .info a.box {display:inline-block; padding:0 5px; border:1px solid #999; margin-top:-2px;}

#footer .util { text-align:center; font-size: 11px;border-top:1px solid #2f302f; background: #000; }
#footer .util ul { margin:0px auto; display: inline-block; padding: 0px; list-style:none;}
#footer .util li {float:left; text-align:center; position:relative;}
#footer .util li::after {content:''; position:absolute; top:10px; left:100%; width:0; height:8px; border-right:1px solid #2f302f;}
#footer .util li:last-child::after {border:none;}
#footer .util li a {display:block; padding: 0 20px; height: 30px; line-height: 30px; color:#a8a8a8; text-decoration: none;}
#footer .util li a strong { color: #b9b9b9; }

#footer .banner { position: absolute; top: 10px; right: 10px; width: 50px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#titleNav a.back { background-image: url('https://mcdn.louisclub.com/mo/img/common/title@2x.png'); }
	#titleNav a.core span.title span:after { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_off@2x.png'); }
	#titleNav a.core.active span.title span:after { background-image: url('https://mcdn.louisclub.com/mo/img/common/btn_title_nav_on@2x.png'); }

	.cartbox > h1 > a > span {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_clampDown.png);}
	.cartbox.open > h1 > a > span {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_clampUp.png);}
	.cartbox-del {background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_close.png);}

	.cartbox-cont span.amount > a.number_minus {background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount1.png);}
	.cartbox-cont span.amount > input {background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount2.png);}
	.cartbox-cont span.amount > a.number_plus {background-image:url(https://mcdn.louisclub.com/mo/img/common/cart_amount3.png);}
}
@media screen and (max-width: 320px) {
	#footer > .info { padding-right: 90px; }
}
/*
@media screen and (max-width: 640px) {
	.cartbox-img > img {padding:0 10px;}
}

@media screen and (max-width: 480px) {
	.cartbox-cont > p {font:400 12px/1.5 'ng';}
	.cartbox-cont a.coupon,
	.cartbox-cont select.option,
	.cartbox-cont a.coupon {padding:0 2px; line-height:20px;}
	.cartbox-cont select.option {height:20px; width:90px;}
	#footer {font-size:12px; letter-spacing:-1px;}
	#footer > h1 {text-align:center; font-size:14px; line-height:30px; margin:0; letter-spacing:0;}
	#footer > .util {margin: 0 auto;}
	#footer > .util > li {width:auto; display:inline-block; padding:0 3.5%;}
	
	.type-a .cartbox-item .price {margin-top:-2px;}
	.type-a .cartbox-item p.price-original {font-size:11px; margin-right:10px;}
	.type-a .cartbox-item p.price-original del {font-size:10px;}
	.type-a .cartbox-item p.price-original em {font-size:11px; margin-left:2px; letter-spacing: -1px;}
	.type-a .cartbox-item p.price-original em span { font-size: 10px; }
	.type-a .cartbox-item p.price-advanced {font:700 12px/1.5 'ngb'; margin-right:10px;}
	.type-a .cartbox-item p.price-advanced > em {font-size:16px;}
	.type-a .cartbox-item p.price-advanced > em span {font-size: 14px;}
	.type-b .cartbox-item p.price-original {font-size:11px; margin-right:10px;}
	.type-b .cartbox-item p.price-original del {font-size:10px;}
	.type-b .cartbox-item p.price-original em {font-size:11px; margin-left:2px; letter-spacing: -1px;}
	.type-b .cartbox-item p.price-advanced {font:700 12px/1.5 'ngb'; margin-right:10px;}
	.type-b .cartbox-item p.price-advanced > em {font-size:16px; letter-spacing:-1px;}

}*/
@media screen and (max-width: 480px) {
.type-a .cartbox-item p.price-original { text-align: right; }
.type-a .cartbox-item .price { margin: 0px; }
.type-a .cartbox-item p.price-original em { display: block; margin: 0px; }
.type-b .cartbox-item p.price-original em { display: block; margin: 0px; }

}

/* =============================================================================
Category : layer
============================================================================= */
div.js-layer-contents { display: none; position: absolute; margin-top: 5px; z-index: 10; left: 50%; max-width: 100%; border: 1px #000 solid; background: #fff; box-shadow: 1px 1px 0px #a8a8a8; }
div.js-layer-contents .title { position: static; margin: 0px; padding: 0px 10px; height: 30px; line-height: 30px; text-align:left; font-size: 12px; color: #fff; background: #000; border: 0px; }
div.js-layer-contents a.btn-close { position: absolute; right: 0px; top: 0px; width: 30px; height: 30px; background: #000 url('https://mcdn.louisclub.com/mo/img/common/btn_close_layer.gif') no-repeat center center; background-size: 10px 10px; }
div.js-layer-contents div.layer-inner { padding: 12px 10px; }
div.js-layer-contents div.action { position: static !important; text-align: center; margin: 12px 10px; }
div.js-layer-contents div.scroll { overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling : touch; }
.page-popup { margin: 0px; padding: 0px; }


/* =============================================================================
Category : carousel
============================================================================= */


.product-summary .swipe {
	overflow: hidden;
	position: relative;
}
.product-summary .swipe-wrap {
	overflow: hidden;
	position: relative;
}
.product-summary .swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

#carousel {position:relative; margin:0; border:1px solid #ccc; padding:25px 0; background:#fff; clear:both; overflow: hidden; }
#carousel > div {text-align:center;}
#carousel > div img { max-width: 250px;}
.caroufredsel_wrapper {margin:0 auto !important;}
#carousel .prev {position:absolute; display:block; width:32px; top:50%; margin-top:-16px; height:32px; background-size:100%; background-repeat:no-repeat; background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_left.png);left:0;}
#carousel .next {position:absolute; display:block; width:32px; top:50%; margin-top:-16px; height:32px; background-size:100%; background-repeat:no-repeat; background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_right.png);right:0;}

div.item-like .prev { position:absolute; display:block; width: 36px; top:50%; margin-top:-23px; height: 47px; background-size: 16px 27px; background-repeat:no-repeat; background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_left_sub@2x.png);left:-10px;}
div.item-like .next { position:absolute; display:block; width: 36px; top:50%; margin-top:-23px; height: 47px; background-size: 16px 27px; background-repeat:no-repeat; background-image:url(https://mcdn.louisclub.com/mo/img/common/btn_right_sub@2x.png);right:-10px;}
.pagination {text-align:center; margin:5px 0 10px;}
.pagination a {display:inline-block; width:10px; height:10px; border-radius:50%; margin-left:4px;background:#a6a7a7;}
.pagination a:first-child {margin-left:0;}
.pagination a.selected {background:#0aa1c9;}


div.item-like {position:relative; margin:0; border:none; background:none; padding-bottom:30px;}
div.item-like > h4 { position:relative; padding-top:10px; text-align:center; margin:0 0 15px; font-size: 16px; color:#000;}
div.item-like > h4:before {content:''; display:block; position:absolute; top:0; left:50%; margin-left:-10px; width:20px; height:0; border-bottom:1px solid #2e2e2e;}
div.item-like .type-b .cartbox-item { float: left; margin: 0px !important; clear: none; text-align:center;}
div.item-like .type-b .cartbox-item:first-child { margin-right: 5px !important; }
div.item-like .type-b p, div.item-like .type-b h5 {text-align:center;}
div.item-like .type-b .cartbox-item { margin: 0 5px;}
div.item-like li img {padding:10px; padding-top: 0px; margin:0;}
