@charset "utf-8";

/* ================================================================================
* Filename: main.css
* Author: riix@epascni.com
================================================================================ */

/* ================================================================================
Category : Default Style
================================================================================ */

/* *, *:before, *:after */ div, p, li, a, span, em, strong, textarea, input {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}

html, button, input, select, textarea { color: #222; font-size: 12px; }
html { line-height: 1.4em; font-size: 13px; }
::-moz-selection { background-color: #b3d4fc; text-shadow: none; }
::selection { background-color: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; borer: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio,canvas,img,video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.browsehappy { margin: .2em 0; background-color: #ccc; color: #000; padding: .2em 0; }

a:link { color: #555; text-decoration: none; }
a:visited { color: #555; }
a:hover { color: #888; text-decoration: underline; }
a:active { color: #555;  }

.frame { clear: both; padding: 10px; border: solid 1px #4a4a4a; background: #fff; }

em { font-style: normal; }

select { height: 25px; vertical-align: middle; }
select option { height: 25px; line-height: 25px; }
textarea, input[type="text"], input[type="number"], input[type="tel"], input[type="date"], input[type="password"] {
    border: solid 1px #ccc;
    background-color: #fff;
    transition: all 0.6s;
}
textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="password"]:focus { border-color: #ff9e2b; }
input[type="text"], input[type="number"], input[type="tel"], input[type="date"], input[type="password"] { height: 25px; line-height: 25px; }
input.text { padding: 0 5px; width: 130px; height: 25px; font-size: 12px; border: solid 1px #c8c8c8; }
input.thin { width: 50px; }
input.short { width: 60px; }
input.long { width: 95%; }
input.address-a { margin-top: 5px; width: 95%; }
input.address-b { margin-top: 5px; width: 95%; }
.modal input.address-a { width: 60%; }
.modal input.address-b { width: 80%; }
input.email-id { width: 100px; }
input.email-domain { width: 100px; }
input.message { width: 400px; }
input.date { width: 90px; }

select { padding: 0px; padding-left: 5px; height: 25px; background-color: #fff; }
select.long { min-width: 98%; max-width: 98%; }
textarea.long { width: 100%; }
input.text,
select.select,
textarea.textarea { border-radius: 5px; box-shadow: inset 0 5px 5px -3px rgba(0, 0, 0, 0.1); }
select.none { border-radius: 0px; box-shadow: none; }
textarea.textarea { padding: 5px; min-height: 150px; }
input.js-spinner { vertical-align: middle; padding: 0px; width: 30px; height: 20px; line-height: 20px; text-align: center; border-left: 0px; border-right: 0px; }
a.spinner {vertical-align: middle;  width: 30px; height: 20px; background-repeat:no-repeat; background-size:100%; }
a.spinner.minus { background-image:url('https://mcdn.louisclub.com/mo/img/common/cart_amount1@2x.png'); }
a.spinner.plus { background-image:url('https://mcdn.louisclub.com/mo/img/common/cart_amount3@2x.png'); }

/* helper classes ========================================================================== */
.ir { position: relative; display: inline-block; overflow: hidden; margin: 0; padding: 0; list-style: none; text-decoration: none; background-repeat: no-repeat; background-position: center center; white-space: nowrap; }
.ir em { position: absolute; z-index: -1; visibility: hidden; }
.clearfix { *zoom: 1; }
.clearfix:after { content:''; height:0; display:block; clear: both; }
.fleft {float:left;}
.fright {float:right;}
.nowrap {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* display ========================================================================== */

/* display model */
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

/* position */
.pos-abs { position: absolute; }
.pos-rel { position: relative; }

/* align */
.center { text-align: center !important; }

/* table layout */
section.table, article.table, div.table, ul.table { display: table; width: 100%; margin: 0; padding: 0; list-style: none; }
.table > .row, ul.table > li { display: table-row; margin: 0; padding: 0; }
.table > .row > .cell, ul.table li > .th, ul.table li > .td { display: table-cell; }

.spacer { clear: both; display: table; overflow: hidden; height: 1px; }

.left {text-align: left;}

/* margin */
.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mb0 { margin-bottom: 0 !important; }

/* padding */
.pt0 { padding-top: 0px !important; }
.pt12 { padding-top: 12px !important; }
.pb10 { padding-bottom: 10px !important; }

/* full width images */
.fullwidth { width: 100%; text-align: center; }
.fullwidth p { margin: 0; padding: 0; }
.fullwidth img { margin: 0 auto; width: 100%; max-width: 1024px; min-width: 320px; }

/* frame-shadow */
.shadow { box-shadow: 0 0 3px 0 #aaa; }

/* list ========================================================================== */

.reset { clear: both; margin: 0; padding: 0; list-style: none; }
.reset li { margin: 0; padding: 0; }

ul.tab { clear: both; margin: 0; padding: 0; list-style: none; }
ul.tab:after { content: ""; clear: both; display: table; width: 0; height: 0; visibility: hidden; }
ul.tab li { float: left; margin: 0; padding: 0; }

ul.list { clear: both; margin: 0; padding: 0; list-style: none; }
ul.list > li { margin: 5px 0 5px 13px; padding: 0 0 0 8px; background-position: left 6px; background-image: url('https://mcdn.louisclub.com/mo/img/common/list_a.gif'); }

ul.list-a { clear: both; margin: 0; padding: 0; list-style: none; }
ul.list-a > li { margin: 5px 0; padding: 0 0 0 8px;background-position: left 5px; background-image: url('https://mcdn.louisclub.com/mo/img/common/list_a.gif'); }

ul.list-b { clear: both; margin: 0; padding: 0; list-style: none; }
ul.list-b > li { margin: 5px 0; padding: 0 0 0 8px;background-position: left 6px; background-image: url('https://mcdn.louisclub.com/mo/img/common/list_b.gif'); }

ol.list-a { clear: both; margin: 0; padding: 0; }
ol.list-a  > li { margin: 5px 0; padding: 0 0 0 0px; }

ul.none {clear:both; margin:0; padding:0; list-style:none;}
.none > li {margin:0; padding:0;}

/* animation ========================================================================== */
.animated { -webkit-animation-duration: 0.7s; animation-duration: 0.7s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.animated.hinge { -webkit-animation-duration: 1.4s; animation-duration: 1.4s; }

/* icon ========================================================================== */

/* emoticon */
span.emoticon { display: inline-block; overflow: hidden; width: 17px; height: 17px; background-size: 17px 17px; }
span.emoticon em { font-size: 0; }

/* bar type */
span.mileage { color: #999; }
span.mileage em { display: inline-block; overflow: hidden; vertical-align: middle; margin-top: -2px; margin-right: 5px; width: 14px; height: 14px; font-size: 0; background-size: 14px 14px; }
span.bar { display: inline-block; padding: 2px 0; min-width: 40px; border: solid 1px #ddd; background-color: #fff; line-height: 1; text-align: center; font-size: 11px; font-weight: normal; color: #888; }
span.bar.re { background-color: #ff9000; border-color: #ed7811; color: #fff; }

/* 질문 답변 */
.ico { display: inline-block; overflow: hidden; }
.ico.q { width: 17px; height: 17px; background-size: 17px 17px; }
.ico.q em { font-size: 0; }
.ico.a { display: inline-block; border: solid 1px #d1d1d1; padding: 0; min-width: 60px; height: 22px; line-height: 22px; text-align: center; font-size: 11px; background-color: #aaa; border: solid 1px #999; color: #fff; }
.ico.a.ok { background-color: #ff9100; border-color: #ec7811; }

/* badge */
.badge { display: block; clear: both; position: relative; z-index: 1; }
.badge > span { position: absolute; display: block; overflow: hidden; top: 0; left: 0; width: 24px; height: 28px; line-height: 24px; color: #fff; font-weight: bold; background-size: 24px 28px; text-align: center; }
.badge > span em { font-size: 0; }
.badge.percent > span { width: 39px; height: 35px; line-height: 38px; background: #ff9e2c; font-weight: bold; font-size: 17px; }
.badge.percent > span small { font-weight: normal; font-size: 13px; }
.badge.freeship > span { width: 39px; height: 35px; padding-top: 4px; line-height: 13px; background: #43bff7; font-size: 12px; }

/* 제휴 포인트 */
img.partner { width: 76px; height: 21px; vertical-align: middle; }

/* images */
span.emoticon.verygood { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_verygood.png'); }
span.emoticon.good { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_good.png'); }
span.emoticon.notbad { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_notbad.png'); }
span.emoticon.bad { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_bad.png'); }
span.mileage em { background-image: url('https://mcdn.louisclub.com/mo/img/common/ico_mileage.png'); }
.ico.q { background-image: url('https://mcdn.louisclub.com/mo/img/common/ico_q.png'); }
.badge > span { background-image: url('https://mcdn.louisclub.com/mo/img/common/badge_best_on.png'); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    span.emoticon.verygood { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_verygood@2x.png'); }
    span.emoticon.good { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_good@2x.png'); }
    span.emoticon.notbad { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_notbad@2x.png'); }
    span.emoticon.bad { background-image: url('https://mcdn.louisclub.com/mo/img/common/emoticon_bad@2x.png'); }
    span.mileage em { background-image: url('https://mcdn.louisclub.com/mo/img/common/ico_mileage@2x.png'); }
    .ico.q { background-image: url('https://mcdn.louisclub.com/mo/img/common/ico_q@2x.png'); }
    .badge > span { background-image: url('https://mcdn.louisclub.com/mo/img/common/badge_best_on@2x.png'); }
}
/* button ========================================================================== */
.btn { display: inline-block; word-break: keep-all; overflow: hidden; }
.btn.block { display: block; text-align: center; }
.btn:hover { text-decoration: none; }
.btn em { font-size: 0; }
.btn.light, .btn.regular, .btn.dark {  padding: 0 10px; height: 22px; line-height: 22px; border: solid 1px #cdd2d4; }
.btn.light { background-color: #f9fafa; }
.btn.regular { background-color: #ff9e2c; border-color: #d96303; color: #fff; }
.btn.dark { background-color: #fe434c; border-color: #cf161e; color: #fff; }
.btn.large { height: 30px; line-height: 30px; font-weight: bold; font-size: 12px; }
.btn.xlarge { height: 40px; line-height: 40px; }
.btn.arrow { padding: 0 17px 0 7px; background-position: right center; background-size: 11px 6px; }
.btn.minus, .btn.plus { padding: 15px 0; line-height: 1; width: 33px; background-position: center center; background-size: 33px 29px; }

/* list */
.btn-list-a,
.btn-list-grid { width: 26px; height: 26px; border: solid 1px #d1d2d2; background-size: 26px 26px; }
.btn-list-a.current, .btn-list-grid.current { border-color: #ee8824; }

/* more */
.more a.btn { display: block; text-align: center; }
.more a.btn span { display: inline-block; padding: 0 20px; background-position: right center; background-size: 10px 6px; }
.nav-prev, .nav-next { display: block; position: absolute; overflow: hidden; width: 31px; height: 65px; background-size: 11px 19px; }
.nav-prev em, .nav-next em { font-size: 0; }

/* images */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

/* message ========================================================================== */
.message-success { text-align: center; }
.message-success p { margin: 0; padding: 0; }
.message-success .xlarge { margin-top: 20px; color: #fe434c; font-weight: bold; font-size: 16px; }
.message-success .large { margin-bottom: 20px; color: #444; font-size: 11px; }

/* slider ========================================================================== */

/* 슬라이더 공통 */
.swiper-container { clear: both; background-color: #fff; }
.swiper-wrapper { background-size: 16px 16px; background-color: #fff;  }

/* 메인 슬라이더 */
.slider-main .pic { text-align: center; }
.slider-main .pic img { margin: 0 auto; width: 100%; max-width: 768px; }

/* 페이저 */
.slider-pager { clear: both; text-align: center; height: 30px; }
.slider-pager.main, .slider-pager.list { background-color: #e6e6e4; box-shadow: 0 2px 0 0 #ddd inset; }
.slider-pager a, .slider-pager span { display: inline-block; overflow: hidden; margin: 0; width: 20px; height: 30px; font-size: 0; background-size: 10px 10px; cursor: pointer; }

/* 상품 리스트 슬라이더 */
.slider-list .badge > span { padding-top: 20px; width: 45px; height: 52px; line-height: 1; background-size: 45px 52px; font-size: 17px; }
.slider-list .cell { vertical-align: middle; }
.slider-list .desc p { margin: 0 5px; padding: 0; line-height: 1.4; }
.slider-list .desc p.subject { font-size: 13px; }
.slider-list .desc p.before { margin-top: 10px; color: #999; text-decoration: line-through; }
.slider-list .desc p.before strong { font-size: 13px; }
.slider-list .desc p.price { margin-top: -3px; color: #333; font-weight: bold; }
.slider-list .desc p.price strong { font-size: 19px; }
.slider-list .pic { position: relative; width: 40%; min-width: 110px; text-align: center; }
.slider-list .pic a { display: inline-block; margin: 14px auto; padding: 0 10px; }
.slider-list .pic img { height: 90px; }

/* 상품 상세 썸네일 */
.slider-detail { margin-top: 11px; }
.slider-detail .pic { text-align: center; }
.slider-detail .pic a { display: inline-block; margin: 0 auto; }
.slider-detail .pic img { height: 175px; min-width: 175px; }

/* large display */
@media only screen and (min-width: 480px) {
    .slider-list .pic img { height: 180px; }
    .slider-detail .pic img { height: 350px; }
}

/* images */
.slider-list .badge > span { background-image: url("https://mcdn.louisclub.com/mo/img/badge/best_01.png"); }
.slider-pager a, .slider-pager span { background-image: url('https://mcdn.louisclub.com/mo/img/common/pager_off.png'); }
.slider-pager .swiper-visible-switch { background-image: url('https://mcdn.louisclub.com/mo/img/common/pager_on.png'); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .slider-list .badge > span { background-image: url("https://mcdn.louisclub.com/mo/img/badge/best_01@2x.png"); }
    .slider-pager a, .slider-pager span { background-image: url('https://mcdn.louisclub.com/mo/img/common/pager_off@2x.png'); }
    .slider-pager .swiper-visible-switch { background-image: url('https://mcdn.louisclub.com/mo/img/common/pager_on@2x.png'); }
}

/* paginate ========================================================================== */
.paginate { clear: both; margin: 10px 0 0; line-height: 23px; text-align: center; }
.paginate span.pipe, .paginate a { display: inline-block; overflow: hidden; height: 23px; text-decoration: none; color: #999; font-size: 15px; }
.paginate span.pipe:before { content: ""; display: inline-block; margin: 0 5px 0 5px; width: 1px; height: 12px;  background-color: #d6d6d6; }
.paginate a.no.current { font-weight: bold; color: #333; }
.paginate a.btn { width: 26px; border: solid 1px #bdbab5; background-size: 26px 23px; }
.paginate a.prev { margin-right: 10px; }
.paginate a.next { margin-left: 10px; }

/* images */
.paginate a.prev { background-image: url('https://mcdn.louisclub.com/mo/img/common/pagination_prev.png'); }
.paginate a.next { background-image: url('https://mcdn.louisclub.com/mo/img/common/pagination_next.png'); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .paginate a.prev { background-image: url('https://mcdn.louisclub.com/mo/img/common/pagination_prev@2x.png'); }
    .paginate a.next { background-image: url('https://mcdn.louisclub.com/mo/img/common/pagination_next@2x.png'); }
}

/* list header ========================================================================== */
.list-header { clear: both; margin: 10px 8px; height: 28px; }
.list-header .total { float: left; height: 28px; line-height: 28px; font-size: 16px; }
.list-header .sort { float: right; }
.list-header .sort * { vertical-align: middle; }
.list-header .sort select { display: inline-block; width: 70px; height: 26px; border: solid 1px #d1d2d2; background-color: #fff; }
.list-header .sort option { border-box: content-box; padding: 5px; }

/* 상품 목록  ========================================================================== */
.list-a, .list-grid { clear: both; font-size: 12px; }
.list-a p, .list-grid p { margin: 0; padding: 0; }
.list-a .pic, .list-grid .pic { text-align: center; }

/* 일반 */
section.list-a { border-top: solid 2px #cfcfcf; }
section.list-a img.thumb { width: 75px; height: 75px; }
section.list-a .col { clear: both; min-height: 90px; overflow: hidden; }
section.list-a .col:nth-child(n+1) { border-bottom: solid 1px #e2e2e2; }
section.list-a .pic { float: left; width: 95px; }
section.list-a .pic a { display: inline-block; margin-top: 5px; }
section.list-a .desc { margin-left: 95px; }
section.list-a .subject { padding-right: 7px; }
section.list-a .subject a { display: inline-block; margin: 12px 0 10px; font-size: 13px; }
section.list-a .sale { float: left; margin-right: 5px; }
section.list-a .sale p.before { color: #999; text-decoration: line-through; font-size: 13px; }
section.list-a .sale p.price { color: #333; font-weight: bold; font-size: 19px; }
section.list-a .save { float: left; margin-top: 17px;  }
section.list-a .action { float: right; margin-right: 8px; line-height: 0.1; min-height: 45px; }
section.list-a .action:after { content: ""; display: table; overflow: hidden; }

/* 썸네일형 */
section.list-grid { border-top: solid 2px #cfcfcf; }
section.list-grid .row { clear: both; overflow: hidden; border-bottom: solid 1px #e2e2e2; }
section.list-grid .col { width: 50%; float: left; }
section.list-grid .col:nth-child(odd) .desc { margin-left: 10px; margin-right: 5px; }
section.list-grid .col:nth-child(even) .desc { margin-left: 5px; margin-right: 10px; }
section.list-grid img.thumb { width: 141px; height: 141px; }
section.list-grid .pic a { display: inline-block; margin-top: 5px; }
section.list-grid .desc { text-align: center; }
section.list-grid .subject { line-height: 1.3; font-size: 13px; }
section.list-grid .sale { margin-top: 5px; padding-bottom: 10px; }
section.list-grid .sale .before { color: #666; text-decoration: line-through; font-size: 13px; }
section.list-grid .sale .price { font-size: 19px; color: #333; }
section.list-grid .save { margin-top: 5px; }
section.list-grid .action { margin-top: 10px; line-height: 0.1; min-height: 45px; }

/* quick order ========================================================================== */
#quickOrder { position: fixed; z-index: 400; bottom: 0; left: 0; right: 0; width: 100%; }
#quickOrder .wrapper { position: relative; background-color: #fff; }
#quickOrder .toggler { position: absolute; margin-left: -42px; margin-top: -27px; width: 84px; height: 27px; left: 50%; top: 0; background-color: #454545; color: #fff; }
#quickOrder .toggler a { display: block; height: 27px; line-height: 27px; color: #fff; text-indent: 10px; font-size: 12px; background-size: 23px 26px; background-position: right center; }
#quickOrder .toggler a:hover { text-decoration: none; }
#quickOrder .wrapper { border-top: solid 2px #454545; }
#quickOrder .option { border-bottom: solid 1px #b7b7b7; }
#quickOrder .option ul, #quickOrder .option li { margin: 0; padding: 0; list-style: none; }
#quickOrder .option ul:nth-child(n+2) { border-top: solid 1px #ccc; }
#quickOrder .option li { background-color: #f4f4f4; }
#quickOrder .option ul.option-core li { height: 45px; line-height: 45px; }
#quickOrder .option ul.option-piece li { height: 60px; line-height: 60px; }
#quickOrder .option .th { display: block; float: left; width: 82px; font-weight: bold; }
#quickOrder .option .th strong { margin-left: 14px; }
#quickOrder .option .td { display: block; margin-left: 82px; }
#quickOrder .option select { width: 97%; }
#quickOrder .option ul.option-piece * { vertical-align: middle; }
#quickOrder .option ul.option-piece input { margin: 0; height: 32px; border: solid 1px #ccc; border-left: 0; border-right: 0; text-align: center; font-size: 14px; width: 100px; font-weight: bold; }
#quickOrder .option ul.option-piece a { line-height: 30px; }
#quickOrder .core { background-color: #fff; }
#quickOrder .core .cost { padding: 0 14px; height: 43px; line-height: 43px; }
#quickOrder .core .cost strong,
#quickOrder .core .cost em { color: #fe434c; }
#quickOrder .core .cost strong { margin-left: 10px; font-size: 22px; }
#quickOrder .core .cost em { font-size: 16px; }
#quickOrder .core .action { padding: 0 4px; border-top: solid 1px #e2e2e2; }
#quickOrder .core .action li { text-align: center; }
#quickOrder .core .action li a { margin: 7px 2px; display: block; text-decoration: none; font-weight: bold; transition: all 0.6s; }
#quickOrder .core .action li.payment { width: 37%; }
#quickOrder .core .action li.cart { width: 37%; }
#quickOrder .core .action li.wishlist { width: 26%; }
#quickOrder .option { overflow: hidden; height: 0; transition: all 0.6s; opacity: 0; }
#quickOrder.open .option { height: auto; opacity: 1; }

/* 하단 장바구니 */
#quickCart { position: fixed; z-index: 400; bottom: 0; left: 0; right: 0; width: 100%; }
#quickCart .core { background-color: #fff; }
#quickCart .core ul, #quickCart .core li { margin: 0; padding: 0; list-style: none; }
#quickCart .core .action { padding: 0 4px; border-top: solid 1px #464646; }
#quickCart .core .action li { text-align: center; }
#quickCart .core .action li a { margin: 7px 2px; display: block; text-decoration: none; font-weight: bold; transition: all 0.6s; }
#quickCart .core .action li.delete { width: 26%; }
#quickCart .core .action li.order { width: 37%; }
#quickCart .core .action li.order-all { width: 37%; }

/* images */
#quickOrder .toggler a { background-image: url('https://mcdn.louisclub.com/mo/img/common/quickorder_toggler_on.png'); }
#quickOrder.open .toggler a { background-image: url('https://mcdn.louisclub.com/mo/img/common/quickorder_toggler_off.png'); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #quickOrder .toggler a { background-image: url('https://mcdn.louisclub.com/mo/img/common/quickorder_toggler_on@2x.png'); }
    #quickOrder.open .toggler a { background-image: url('https://mcdn.louisclub.com/mo/img/common/quickorder_toggler_off@2x.png'); }
}

/* indicator ========================================================================== */
.indicator { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.indicator-inactive { display: none; }
.indicator-active .indicator-progress {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	animation: indicator-progress 2s linear infinite;
	background-color: #fff;
}

.indicator .indicator-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.indicator .indicator-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    right: 15px;
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 20px;
    -webkit-animation: indicator-spinner 400ms linear infinite;
    -moz-animation: indicator-spinner 400ms linear infinite;
    -ms-animation: indicator-spinner 400ms linear infinite;
    -o-animation: indicator-spinner 400ms linear infinite;
    animation: indicator-spinner 400ms linear infinite;
}

@keyframes indicator-progress-inactive {
    0% { width: 0; left: 0; }
    100% { width: 0; left: 0; }
}

@keyframes indicator-progress {
    0% { width: 0; left: 0; }
    25% { width: 50%; left: 0; }
    50% { width: 100%; left: 0; }
    70% { width: 50%; left: 50%; }
    100% { width: 0; left: 100%; }
}

@-webkit-keyframes indicator-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes indicator-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes indicator-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes indicator-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes indicator-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* re custom */
.indicator-active .indicator-progress { background-color: #ff9e2c; }
.indicator .indicator-progress-inner { box-shadow: 0 0 10px #fed29e, 0 0 5px #fed29e; }
.indicator .indicator-activity { top: 16px; right: 17px; border-top-color: #ff9e2c; border-left-color: #ff9e2c; }