/*****************************************/
/* Kenburns */
/*****************************************/

// 다음 페이지 사라질 화면
.fxKenburn .navOutNext {
    .animation(kenburnOutNext 2.5s forwards cubic-bezier(0.5, 0, 0.5, 1));
}

// 다음 페이지 나타날 화면
.fxKenburn .navInNext {
    .animation(kenburnInNext 2.5s forwards cubic-bezier(0.5, 0, 0.5, 1));
}

// 이전 페이지 사라질 화면
.fxKenburn .navOutPrev {
    .animation(kenburnOutPrev 2.5s forwards cubic-bezier(0.5, 0, 0.5, 1));
}

// 이전 페이지 나타날 화면
.fxKenburn .navInPrev {
    .animation(kenburnInPrev 2.5s forwards cubic-bezier(0.5, 0, 0.5, 1));
}

// 다음 페이지 사라질 화면
@-webkit-keyframes kenburnOutNext {
    to {
        -webkit-transform: scale(1.15);
        opacity: 0;
    }
}

@keyframes kenburnOutNext {
    to {
        transform: scale(1.15);
       opacity: 0;
    }
}

// 다음 페이지 나타날 화면
@-webkit-keyframes kenburnInNext {
    from {
       opacity: 0;
        -webkit-transform: scale(1);
    }
    to {
       opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes kenburnInNext {
    from { 
        opacity: 0; 
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

// 이전 페이지 사라질 화면
@-webkit-keyframes kenburnOutPrev {
    to {
       opacity: 0;
        -webkit-transform: scale(1);
    }
}

@keyframes kenburnOutPrev {
    to {
       opacity: 0;
        transform: scale(1);
    }
}

// 이전 페이지 나타날 화면
@-webkit-keyframes kenburnInPrev {
    from {
        -webkit-transform: scale(1.15);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes kenburnInPrev {
    from {
        transform: scale(1.15);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}