/* 4 classes: navInLeft, navInRight, navOutLeft, navOutRight */

/*****************************************/
/* Slide forward */
/*****************************************/

.fxSlideForward .navOutNext {
    .transform-origin(-50% 50%);
    .animation(trprScaleDown 0.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.fxSlideForward .navInNext {
    .transform-origin(150% 50%);
    .animation(trprScaleUp 0.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.fxSlideForward .navOutPrev {
    .transform-origin(150% 50%);
    .animation(trprScaleDown 0.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.fxSlideForward .navInPrev {
    .transform-origin(-50% 50%);
    .animation(trprScaleUp 0.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

@-webkit-keyframes trprScaleUp {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes trprScaleUp {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes trprScaleDown {
	to {
		-webkit-transform: scale(0);
		opacity: 0;
	}
}

@keyframes trprScaleDown {
	to {
		transform: scale(0);
		opacity: 0;
	}
}

/*****************************************/
/* Table Drop */
/*****************************************/

.fxTableDrop .navOutNext {
    .animation(trprSlideOutDown 0.4s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.fxTableDrop .navInNext {
    .transform-origin(50% 100%);
    .animation(trprSlideInDown 0.4s 0.2s forwards ease-in);
}

.fxTableDrop .navOutPrev {
    .animation(trprSlideOutUp 0.4s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.fxTableDrop .navInPrev {
    .transform-origin(50% 100%);
    .animation(trprSlideInUp 0.4s 0.2s forwards ease-in);
}

@-webkit-keyframes trprSlideOutDown {
	100% {
		-webkit-transform: translateY(150%);
		opacity: 0;
	}
}

@keyframes trprSlideOutDown {
	100% {
		transform: translateY(150%);
		opacity: 0;
	}
}

@-webkit-keyframes trprSlideInDown {
	0% {
		-webkit-animation-timing-function: ease-in-out;
		-webkit-transform: translateY(-150%);
	}
	50% {
		-webkit-transform: translateY(0) rotate(1deg);
		opacity: 1;
	}
	70% {
		-webkit-transform: translateY(0) rotate(-1deg);
	}
	85% {
		-webkit-transform: translateY(0) rotate(1deg);
	}
	95% {
		-webkit-transform: translateY(0) rotate(-1deg);
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes trprSlideInDown {
	0% {
		animation-timing-function: ease-in-out;
		transform: translateY(-150%);
	}
	50% {
		transform: translateY(0) rotate(1deg);
		opacity: 1;
	}
	70% {
		transform: translateY(0) rotate(-1deg);
	}
	85% {
		transform: translateY(0) rotate(1deg);
	}
	95% {
		transform: translateY(0) rotate(-1deg);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes trprSlideOutUp {
	100% {
		-webkit-transform: translateY(-150%);
		opacity: 0;
	}
}

@keyframes trprSlideOutUp {
	100% {
		transform: translateY(-150%);
		opacity: 0;
	}
}

@-webkit-keyframes trprSlideInUp {
	0% {
		-webkit-animation-timing-function: ease-in-out;
		-webkit-transform: translateY(150%);
	}
	50% {
		-webkit-transform: translateY(0) rotate(-1deg);
		opacity: 1;
	}
	70% {
		-webkit-transform: translateY(0) rotate(1deg);
	}
	85% {
		-webkit-transform: translateY(0) rotate(-1deg);
	}
	95% {
		-webkit-transform: translateY(0) rotate(1deg);
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes trprSlideInUp {
	0% {
		animation-timing-function: ease-in-out;
		transform: translateY(150%);
	}
	50% {
		transform: translateY(0) rotate(-1deg);
		opacity: 1;
	}
	70% {
		transform: translateY(0) rotate(1deg);
	}
	85% {
		transform: translateY(0) rotate(-1deg);
	}
	95% {
		transform: translateY(0) rotate(1deg);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*****************************************/
/* Slide it */
/*****************************************/

.fxSlideIt li {
    .transform-origin(50% 100%);
}

.fxSlideIt .navOutNext {
    .animation(trprSlideOutLeft 0.5s forwards);
}

.fxSlideIt .navInNext {
    .animation(trprRotateSlideInRight 0.6s 0.1s forwards ease-in-out);
}

.fxSlideIt .navOutPrev {
    .animation(trprSlideOutRight 0.5s forwards);
}

.fxSlideIt .navInPrev {
    .animation(trprRotateSlideInLeft 0.6s 0.1s forwards ease-in-out);
}

@-webkit-keyframes trprSlideOutLeft {
	100% {
		-webkit-transform: translateX(-400%);
		opacity: 0;
	}
}

@keyframes trprSlideOutLeft {
	100% {
		transform: translateX(-400%);
		opacity: 0;
	}
}

@-webkit-keyframes trprRotateSlideInRight {
	0% {
		-webkit-transform: translateX(100%) rotate(20deg);
	}
	35% {
		-webkit-transform: rotate(-8deg);
	}
	55% {
		-webkit-transform: rotate(6deg);
	}
	70% {
		-webkit-transform: rotate(-4deg);
	}
	85% {
		-webkit-transform: rotate(2deg);
	}
	95% {
		-webkit-transform: rotate(-1deg);
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRotateSlideInRight {
	0% {
		transform: translateX(100%) rotate(20deg);
	}
	35% {
		transform: rotate(-8deg);
	}
	55% {
		transform: rotate(6deg);
	}
	70% {
		transform: rotate(-4deg);
	}
	85% {
		transform: rotate(2deg);
	}
	95% {
		transform: rotate(-1deg);
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes trprSlideOutRight {
	100% {
		-webkit-transform: translateX(400%);
		opacity: 0;
	}
}

@keyframes trprSlideOutRight {
	100% {
		transform: translateX(400%);
		opacity: 0;
	}
}

@-webkit-keyframes trprRotateSlideInLeft {
	0% {
		-webkit-transform: translateX(-100%) rotate(-20deg);
	}
	35% {
		-webkit-transform: rotate(8deg);
	}
	55% {
		-webkit-transform: rotate(-6deg);
	}
	70% {
		-webkit-transform: rotate(4deg);
	}
	85% {
		-webkit-transform: rotate(-2deg);
	}
	95% {
		-webkit-transform: rotate(1deg);
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRotateSlideInLeft {
	0% {
		transform: translateX(-100%) rotate(-20deg);
	}
	35% {
		transform: rotate(8deg);
	}
	55% {
		transform: rotate(-6deg);
	}
	70% {
		transform: rotate(4deg);
	}
	85% {
		transform: rotate(-2deg);
	}
	95% {
		transform: rotate(1deg);
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

/*****************************************/
/* Bottle kick */
/*****************************************/

.fxBottleKick li {
    .transform-origin(50% 100%);
}

.fxBottleKick .navOutNext {
    .transform-origin(0% 100%);
    .animation(trprRotateBounceOutLeft 1s forwards ease-in-out);
}

.fxBottleKick .navInNext {
    .animation(trprRotateBounceInRight 1s 0.1s forwards ease-in-out);
}

.fxBottleKick .navOutPrev {
    .transform-origin(100% 100%);
    .animation(trprRotateBounceOutRight 1s forwards ease-in-out);
}

.fxBottleKick .navInPrev {
    .animation(trprRotateBounceInLeft 1s 0.1s forwards ease-in-out);
}

@-webkit-keyframes trprRotateBounceOutLeft {
	25% {
		-webkit-transform: translateX(-100%) rotate(0deg);
		opacity: 0.9;
	}
	58% {
		-webkit-transform: translateX(-150%) rotate(-92deg);
		opacity: 0.9;
	}
	70% {
		-webkit-transform: translateX(-150%) rotate(-75deg);
	}
	86% {
		-webkit-transform: translateX(-150%) rotate(-92deg);
	}
	95% {
		-webkit-transform: translateX(-150%) rotate(-87deg);
	}
	100% {
		-webkit-transform: translateX(-150%) rotate(-90deg);
		opacity: 0;
	}
}

@keyframes trprRotateBounceOutLeft {
	25% {
		transform: translateX(-100%) rotate(0deg);
		opacity: 0.9;
	}
	58% {
		transform: translateX(-150%) rotate(-92deg);
		opacity: 0.9;
	}
	70% {
		transform: translateX(-150%) rotate(-75deg);
	}
	86% {
		transform: translateX(-150%) rotate(-92deg);
	}
	95% {
		transform: translateX(-150%) rotate(-87deg);
	}
	100% {
		transform: translateX(-150%) rotate(-90deg);
		opacity: 0;
	}
}

@-webkit-keyframes trprRotateBounceInRight {
	0% {
		-webkit-transform: translateX(200%) rotate(20deg);
	}
	25% {
		-webkit-transform: rotate(-5deg);
	}
	55% {
		-webkit-transform: translateX(-5%) rotate(3deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: rotate(-2deg);
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRotateBounceInRight {
	0% {
		transform: translateX(200%) rotate(20deg);
	}
	25% {
		transform: rotate(-5deg);
	}
	55% {
		transform: translateX(-5%) rotate(3deg);
		opacity: 1;
	}
	80% {
		transform: rotate(-2deg);
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes trprRotateBounceOutRight {
	25% {
		-webkit-transform: translateX(100%) rotate(0deg);
		opacity: 0.9;
	}
	58% {
		-webkit-transform: translateX(150%) rotate(92deg);
		opacity: 0.9;
	}
	70% {
		-webkit-transform: translateX(150%) rotate(75deg);
	}
	86% {
		-webkit-transform: translateX(150%) rotate(92deg);
	}
	95% {
		-webkit-transform: translateX(150%) rotate(87deg);
	}
	100% {
		-webkit-transform: translateX(150%) rotate(90deg);
		opacity: 0;
	}
}

@keyframes trprRotateBounceOutRight {
	25% {
		transform: translateX(100%) rotate(0deg);
		opacity: 0.9;
	}
	58% {
		transform: translateX(150%) rotate(92deg);
		opacity: 0.9;
	}
	70% {
		transform: translateX(150%) rotate(75deg);
	}
	86% {
		transform: translateX(150%) rotate(92deg);
	}
	95% {
		transform: translateX(150%) rotate(87deg);
	}
	100% {
		transform: translateX(150%) rotate(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes trprRotateBounceInLeft {
	0% {
		-webkit-transform: translateX(-200%) rotate(-20deg);
	}
	25% {
		-webkit-transform: rotate(5deg);
	}
	55% {
		-webkit-transform: translateX(5%) rotate(-3deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: rotate(2deg);
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRotateBounceInLeft {
	0% {
		transform: translateX(-200%) rotate(-20deg);
	}
	25% {
		transform: rotate(5deg);
	}
	55% {
		transform: translateX(5%) rotate(-3deg);
		opacity: 1;
	}
	80% {
		transform: rotate(2deg);
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

/*****************************************/
/* Off the Shelf */
/*****************************************/

.fxShelf li {
    .transform-origin(50% 100%);
}

.fxShelf .navOutNext {
    .animation(trprAddToShelfLeft 0.3s forwards ease-in-out);
}

.fxShelf .navInNext {
    .animation(trprRemoveFromShelfRight 0.5s forwards ease-in-out);
}

.fxShelf .navOutPrev {
    .animation(trprAddToShelfRight 0.3s forwards ease-in-out);
}

.fxShelf .navInPrev {
    .animation(trprRemoveFromShelfLeft 0.5s forwards ease-in-out);
}

@-webkit-keyframes trprAddToShelfLeft {
	to {
		-webkit-transform: translateY(-120%) translateX(-300%) rotate(-90deg);
		opacity: 0;
	}
}

@keyframes trprAddToShelfLeft {
	to {
		transform: translateY(-120%) translateX(-300%) rotate(-90deg);
		opacity: 0;
	}
}

@-webkit-keyframes trprRemoveFromShelfRight {
	0% {
		-webkit-transform: translateY(-120%) translateX(300%) rotate(90deg);
	}
	45% {
		-webkit-transform: translateY(0) translateX(0) rotate(-3deg);
		opacity: 1;
	}
	65% {
		-webkit-transform: translateY(0) translateX(0) rotate(2deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: translateY(0) translateX(0) rotate(-1deg);
		opacity: 1;
	}
	95% {
		-webkit-transform: translateY(0) translateX(0) rotate(1deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0) translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRemoveFromShelfRight {
	0% {
		transform: translateY(-120%) translateX(300%) rotate(90deg);
	}
	45% {
		transform: translateY(0) translateX(0) rotate(-3deg);
		opacity: 1;
	}
	65% {
		transform: translateY(0) translateX(0) rotate(2deg);
		opacity: 1;
	}
	80% {
		transform: translateY(0) translateX(0) rotate(-1deg);
		opacity: 1;
	}
	95% {
		transform: translateY(0) translateX(0) rotate(1deg);
		opacity: 1;
	}
	100% {
		transform: translateY(0) translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes trprAddToShelfRight {
	to {
		-webkit-transform: translateY(-120%) translateX(300%) rotate(90deg);
		opacity: 0;
	}
}

@keyframes trprAddToShelfRight {
	to {
		transform: translateY(-120%) translateX(300%) rotate(90deg);
		opacity: 0;
	}
}

@-webkit-keyframes trprRemoveFromShelfLeft {
	0% {
		-webkit-transform: translateY(-120%) translateX(-300%) rotate(-90deg);
	}
	45% {
		-webkit-transform: translateY(0) translateX(0) rotate(3deg);
		opacity: 1;
	}
	65% {
		-webkit-transform: translateY(0) translateX(0) rotate(-2deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: translateY(0) translateX(0) rotate(1deg);
		opacity: 1;
	}
	95% {
		-webkit-transform: translateY(0) translateX(0) rotate(-1deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0) translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes trprRemoveFromShelfLeft {
	0% {
		transform: translateY(-120%) translateX(-300%) rotate(-90deg);
	}
	45% {
		transform: translateY(0) translateX(0) rotate(3deg);
		opacity: 1;
	}
	65% {
		transform: translateY(0) translateX(0) rotate(-2deg);
		opacity: 1;
	}
	80% {
		transform: translateY(0) translateX(0) rotate(1deg);
		opacity: 1;
	}
	95% {
		transform: translateY(0) translateX(0) rotate(-1deg);
		opacity: 1;
	}
	100% {
		transform: translateY(0) translateX(0) rotate(0deg);
		opacity: 1;
	}
}
