.component {
    .pos-relative();
    margin: 0 auto;
    max-width: 100%;
    background: #eee;

    &.loading {
        background-image: url('../img/common/ajax-loader.gif');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .cursor-grab { 
        cursor: grab;
    }

    nav {
        a {
            .pos-absolute();
            display: inline-block;
            z-index: 1000;
            .transition(all 0.3s);
            .opacity(0.8);
            &:hover {
                .opacity(1);
            }
            .icon {
                .icon-set(38px, 76px, 'common/slider_pager_prev');
            }
            &.next {
                .icon {
                    .background-image('common/slider_pager_next');       
                }
            }
        }
    }

    > ul {
        .pos-relative();
        .reset();
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        height: 100%;
        li {
            /* pointer-events: none; */
            .pos-absolute();
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .opacity(0);
            z-index: 90;
            &.current {
                .opacity(1);
                pointer-events: auto;
                z-index: 100;
            }
            img {
                display: block;
                max-width: 100%;
            }
            .typho { 
                position: relative; 
                p { 
                    position: absolute; 
                    margin: 20px; 
                    padding: 0; 
                    color: #fff; 
                    font-size: 14px; 
                    text-shadow: 1px 1px #000000; 
                    transition: transform 0.5s ease 0.2s, opacity 1s ease 0.2s;
                    transform: translate(30px, 0px);
                    opacity: 0;
                    &:nth-child(1) { 
                        top: 0px; 
                        font-size: 30px; 
                        transition: transform 0.5s ease 0s, opacity 1s ease 0s;
                    }
                    &:nth-child(2) { 
                        top: 40px; 
                        transition: transform 0.5s ease 0.2s, opacity 1s ease 0.2s;
                    }
                    &:nth-child(3) { 
                        top: 60px; 
                        transition: transform 0.5s ease 0.4s, opacity 1s ease 0.4s;
                    }
                }
            }
            &.current .typho p { 
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

    }
    // full width
    &.component-fullwidth {
        width: 100%;
        > ul {
            overflow: hidden;
            li {
                overflow: hidden;
                img {
                    .pos-absolute();
                    left: 0;
                    min-width: 100%;
                    max-width: none;
                    .cssanimations & {
                        left: 50%;
                        .translateX(-50%);
                    }
                }
            }
        }
    }

    // nav
    &.component-small,
    &.component-fullwidth {
        nav {
            a {
                top: 50%;
                .translateY(-50%);
                &.prev {
                    left: 0;
                }
                &.next {
                    right: 0;
                }
            }
        }
    }
    &.fxFade {
        > ul li { 
            display: none; 
            .opacity(1);
            .current { 
                display: block; 
            }
        }
    }
    &.fxSlide {
        > ul li { 
            .opacity(1);
        }
    }
}

/* component */
.component-pager { 
    clear: both; 
    margin: 15px auto; 
    background: #eee; 
    a { 
        span { 
            display: inline-block; 
            adding: 5px; 
        }
        &.current span { 
            .bold(); 
            color: #000; 
        }
    }
}

// size
.component {
    &.component-fullwidth {
        height: 399px;
    }
    &.component-banner-a {
        height: 150px;
    }
    &.component-small {
        display: inline-block;
        height: 290px;
        > ul {
            width: 450px;
        }
    }
    &.component-transparent {
        width: 900px;
        height: 500px;
        > ul {
            width: 112px;
        }
    }
}
