<h1 id="productviewr">productViewr</h1>
<p>Product Viewer for Shopping Mall Product Detail Page.</p>
<h2 id="demo">demo</h2>
<ul>
<li><a href="http://riix.github.io/labs/productViewr/index.html">basic format</a></li>
<li><a href="http://riix.github.io/labs/productViewr/index.json.html">json format</a></li>
</ul>
<h2 id="basic-format">basic format</h2>
<h3 id="html">html</h3>
<pre><code class="lang-html">&lt;div id=&quot;productViewr&quot; class=&quot;viewr&quot;&gt;
    &lt;div class=&quot;middle&quot;&gt;
        &lt;ul class=&quot;reset&quot; id=&quot;middle&quot;&gt;
            &lt;li class=&quot;item nth-child-1&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 1&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-2&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_02.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 2&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-3&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_03.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 3&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-4&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_04.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 4&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-5&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_05.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 5&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-6&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 6&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-7&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_02.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 1&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-8&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_03.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 2&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-9&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/480x480_04.jpg&quot;&gt;&lt;p&gt;상품 사진 설명이 들어가는 부분 3&lt;/p&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;small&quot;&gt;
        &lt;ul class=&quot;tab&quot; id=&quot;small&quot;&gt;
            &lt;li class=&quot;item nth-child-1&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-2&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_02.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-3&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_03.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-4&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_04.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-5&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_05.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_05.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-6&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-7&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_02.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-8&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_03.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;item nth-child-9&quot;&gt;&lt;a href=&quot;http://riix.github.io/cdn/img/thumb/1024x1024_04.jpg&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div id=&quot;modalLarge&quot; class=&quot;viewr-modal&quot;&gt;&lt;!-- modalLarge --&gt;
    &lt;div class=&quot;wrap&quot;&gt;
        &lt;h3 class=&quot;subject&quot;&gt;상품이미지 보기&lt;/h3&gt;
        &lt;div class=&quot;nav&quot;&gt;
            &lt;ul id=&quot;largeNav&quot; class=&quot;tab&quot;&gt;
                &lt;li class=&quot;item nth-child-1&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-2&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-3&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-4&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-5&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_05.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-6&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-7&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-8&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;item nth-child-9&quot;&gt;&lt;a href=&quot;#!&quot;&gt;&lt;img alt=&quot;blah blah&quot; src=&quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;large&quot;&gt;
            &lt;div id=&quot;large&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a href=&quot;#!&quot; class=&quot;close&quot;&gt;&lt;img src=&quot;http://riix.github.io/cdn/img/module/btn_close.gif&quot; alt=&quot;닫기&quot; /&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;&lt;!-- // modalLarge --&gt;
</code></pre>
<h3 id="javascript">javascript</h3>
<pre><code class="lang-javascript">$(function(){
    $(&#39;#productViewr&#39;).productViewr({
        modal: &#39;#modalProductViewr&#39;,
        onComplete: function(base){
        }
    });
});
</code></pre>
<h2 id="json-format">json format</h2>
<h3 id="html">html</h3>
<pre><code class="lang-html">&lt;div id=&quot;productViewr&quot; class=&quot;viewr&quot;&gt;
    &lt;div class=&quot;middle&quot;&gt;
        &lt;ul id=&quot;middle&quot; class=&quot;reset&quot;&gt;&lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;small&quot;&gt;
        &lt;ul id=&quot;small&quot; class=&quot;tab&quot;&gt;&lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div id=&quot;modalLarge&quot; class=&quot;viewr-modal&quot;&gt;&lt;!-- modalLarge --&gt;
    &lt;div class=&quot;wrap&quot;&gt;
        &lt;h3 class=&quot;subject&quot;&gt;상품이미지 보기&lt;/h3&gt;
        &lt;div class=&quot;nav&quot;&gt;
            &lt;ul id=&quot;largeNav&quot; class=&quot;tab&quot;&gt;&lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;large&quot;&gt;
            &lt;div id=&quot;large&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;a href=&quot;#!&quot; class=&quot;close&quot;&gt;&lt;img src=&quot;http://riix.github.io/cdn/img/module/btn_close.gif&quot; alt=&quot;닫기&quot; /&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;&lt;!-- // modalLarge --&gt;
</code></pre>
<h3 id="javascript">javascript</h3>
<pre><code class="lang-javascript">var _jsonItems = {
    &quot;items&quot;: [{
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 1&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_02.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_02.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 2&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_03.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_03.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 3&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_04.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_04.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 4&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_05.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_05.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_05.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 5&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 6&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_02.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_02.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_02.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 1&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_03.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_03.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_03.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 2&quot;
    }, {
        &quot;large&quot;: &quot;http://riix.github.io/cdn/img/thumb/1024x1024_04.jpg&quot;,
        &quot;middle&quot;: &quot;http://riix.github.io/cdn/img/thumb/480x480_04.jpg&quot;,
        &quot;small&quot;: &quot;http://riix.github.io/cdn/img/thumb/70x70_04.jpg&quot;,
        &quot;alt&quot;: &quot;blah blah&quot;,
        &quot;desc&quot;: &quot;상품 사진 설명이 들어가는 부분 3&quot;
    }]
}

$(&#39;#productViewr&#39;).productViewr({
    json: _jsonItems,
    modal: &#39;#modalLarge&#39;
});
</code></pre>
<h2 id="options">options</h2>
<pre><code class="lang-javascript">var setting = {
    json: null,
    small: &#39;#small&#39;,
    middle: &#39;#middle&#39;,
    large: &#39;#large&#39;,
    largeNav: &#39;#largeNav&#39;,
    modal: &#39;#modalLarge&#39;,
    itemClass: &#39;.item&#39;,
    largeClose: &#39;.close&#39;,
    onInit: null,
    onComplete: null,
    onFullsize: null
};
</code></pre>
