html { height: 101%; }
body { background: #eee; }

#container { box-sizing: content-box; margin: 20px auto; width: 100%; max-width: 1000px; height: 1000px; background: #fff; }

.viewr { width: 100%; max-width: 480px; overflow: hidden; list-style: none; line-height: 1; }
.viewr p { transition: all 0.3s ease-in-out; }
.viewr p { margin: 0; padding: 0; }

/* indicator */
.viewr .indicator { position: absolute; left: 0; right: 0; top: 220px; text-align: center; }
.viewr .indicator p { margin-top: 5px; }

/* middle */
.viewr .middle { position: relative; height: 480px; background: #333; }
.viewr .middle .item img { width: 100%; max-width: 480px; }
.viewr .middle .item { display: none; }
.viewr .middle .item.active { display: block; }
.viewr .middle .item a { display: block; position: relative; overflow: hidden; }
.viewr .middle .item p { position: absolute; left: 0; right: 0; bottom: 0; padding: 10px; height: 40px; background: rgba(0, 0, 0, 0.5); color: #fff; }
.viewr .middle .item p { transform: translate3d(0, 100%, 0); }
.viewr .middle .item a:hover p { transform: translate3d(0, 0, 0); }

/* small */
.viewr .small { margin-top: 10px; height: 150px; }
.viewr .small a { display: block; }
.viewr .small img { width: 70px; height: 70px; }
.viewr .small .active img { width: 66px; height: 66px; border: solid 2px #000; }

/* modal */
.viewr-modal { display: none; position: absolute; z-index: 1000; left: 0; right: 0; top: 0; width: 100%; background: rgba(0, 0, 0, 0.6); text-align: center; }
.viewr-modal .wrap { position: relative; margin: 0 auto; width: 100%; max-width: 1040px; background: #fff; text-align: center; box-shadow: 0px 0px 2px #999; }
.viewr-modal .subject { margin: 0; padding: 0; text-align: center; }
.viewr-modal .close { position: absolute; right: 0; top: 0; }

/* nav */
.viewr-modal .nav { margin: 0 auto; width: 50%; height: 100px; }
.viewr-modal .nav a { display: block; }
.viewr-modal .nav img { width: 70px; height: 70px; }
.viewr-modal .nav .active img { width: 66px; height: 66px; border: solid 2px #000; }

/* large */
.viewr-modal .large { margin: 0px 20px 20px; text-align: center; }
.viewr-modal .large img { margin: 0 auto; max-width: 100%; }