html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }

a { outline: none; }

.container { overflow: hidden; max-width: 100%; }
.wrap { width: 980px; }

.badge-holder { position: relative; }
.badge { position: absolute; z-index: 3000; left: 0; top: 0; }

#utility { position: relative; z-index: 8000; background: #f3f3f3; }

#logo { position: relative; z-index: 8000; background: #000; border-bottom: solid 1px #333333; }

#gnb { position: relative; z-index: 8000; background: #000; cursor: pointer; }
#gnbSub { position: absolute; z-index: 6000; left: 0; top: 177px; right: 0; background: #fff; }

.no-csstransforms3d #gnbWrap #gnbSub { margin-top: -560px; }
.csstransforms3d #gnbWrap #gnbSub { 
    transition-property: all; 
    transition-duration: 0.2s; 
    -webkit-transform: translate3d(0, -560px, 0); 
    transform: translate3d(0, -560px, 0); 
    opacity: 0; 
    transition-timing-function: ease-in-out; 
    background-color: #000; 
}
.csstransforms3d #gnbWrap.active #gnbSub { 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
    opacity: 1; 
    background-color: #fff; 
}

.js-fxSlider { display: block; }
.js-fxSlider .item { opacity: 1; }

#jumbotron { position: relative; height: 570px; }
#jumbotronSlider { height: 570px; background: #333; }
#jumbotronSlider .item { float: left; text-align: center; overflow: hidden; }
#jumbotronSlider .bg { position: relative; z-index: 2000; width: 100%; height: 570px; overflow: hidden; text-align: left; }
#jumbotronSlider .bg img.large { position: absolute; left: 50%; top: 0; width: 1920px; height: 570px; margin-left: -960px; }
#jumbotronSlider .copy { position: relative; z-index: 3000; margin: -570px auto 0; width: 980px; overflow: hidden; text-align: left; }
#jumbotronSlider .typho { position: absolute; z-index: 4000; left: 50%; margin-left: -490px; top: 59px; }
#jumbotronSlider .typho.nth-child-2 { top: 59px; margin-left: -330px; }
#jumbotronSlider .typho.nth-child-3 { top: 219px; margin-left: -490px; }
#jumbotronSlider .typho.nth-child-4 { top: 219px; margin-left: -330px; }
#jumbotronSlider .typho.nth-child-5 { top: 247px; margin-left: 189px; }

.csstransforms3d #jumbotronSlider .item { display: block; opacity: 0; transition: opacity 1s; }
.csstransforms3d #jumbotronSlider .item.active { opacity: 1; }
.csstransforms3d #jumbotronSlider .typho { opacity: 0; transition-delay: 0.1s; transition-property: all; transition-duration: 0.6s; -webkit-transform: translate3d(-20px, 0, 0); transform: translate3d(-20px, 0, 0); }
.csstransforms3d #jumbotronSlider .typho.nth-child-2 { transition-delay: 0.2s; }
.csstransforms3d #jumbotronSlider .typho.nth-child-3 { transition-delay: 0.3s; }
.csstransforms3d #jumbotronSlider .typho.nth-child-4 { transition-delay: 0.4s; }
.csstransforms3d #jumbotronSlider .typho.nth-child-5 { transition-delay: 0.5s; }

.csstransforms3d #jumbotronSlider .fx .typho { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#jumbotronPager { position: absolute; z-index: 5000; left: 0; right: 0; top: 444px; height: 126px; }
#jumbotronPager .holder { margin-top: 20px; height: 106px; }
#jumbotronPager .wrap { background: url('../img/common/category.png') center top no-repeat; }
#jumbotronPager .tab li { position: relative; width: 12.5%; height: 126px; }
#jumbotronPager .tab li a { display: block; height: 126px; }

#jumbotronPager .tab li .over { position: absolute; left: 0; top: -20px; transition: all 0.3s; }

.no-csstransforms3d #jumbotronPager .tab li .over { margin-top: 126px;  }
.no-csstransforms3d #jumbotronPager .tab li.active .over { margin-top: 0; }

.csstransforms3d #jumbotronPager .tab li .over { -webkit-transform: translate3d(0, 126px, 0); transform: translate3d(0, 126px, 0); }
.csstransforms3d #jumbotronPager .tab li.active .over { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#jumbotronPager .tab li .out { }

.jumbotron-bg { position: absolute; z-index: 5000; left: 0; right: 0; top: 464px; height: 106px; background-color: #fff; opacity: 0.6; bakcground-repeat: no-repeat; background-position: center bottom; }
.item .jumbotron-bg { opacity: 1; background-color: transparent; -webkit-filter: blur(3px); filter: blur(3px); }
.no-opacity .jumbotron-bg { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); }

#event { background: #eaeaea; }
#eventSlider { position: relative; width: 600px; height: 682px; overflow: hidden; }
#eventSlider .itemwrap { position: absolute; width: 600px; height: 3410px; background: #333; }

#eventSliderPager li { position: relative; overflow: hidden; }
#eventSliderPager li .over { position: absolute; }
#eventSliderPager li.active .over { position: absolute; }

.csstransforms3d #eventSliderPager li .over { -webkit-transform: translate3d(-410px, 0, 0); transform: translate3d(-410px, 0, 0); transition: all 0.4s;  }
.csstransforms3d #eventSliderPager li.active .over { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.no-csstransforms3d #eventSliderPager li .over { margin-left: -410px; }
.no-csstransforms3d #eventSliderPager li.active .over { margin-left: 0; }

#newsSlider .nav ul { width: 490px; height: 727px; background: url('../img/common/new_01.png') center top no-repeat; }
#newsSlider.active-2 .nav ul { background-image: url('../img/common/new_02.png'); }
#newsSlider.active-3 .nav ul{ background-image: url('../img/common/new_03.png'); }
#newsSlider .nav ul li a { display: block; height: 242px; }
#newsSlider .items { width: 488px; }
#newsSlider .item { width: 243px; margin-bottom: 10px; }
#newsSlider .item.nth-child-2 img,
#newsSlider .item.nth-child-4 img { float: right; }

#newsSlider .items { position: relative; }
#newsSlider .items ul { position: absolute; }

.no-csstransforms3d  #newsSlider .items li { display: none; }
.no-csstransforms3d  #newsSlider .items.active li { display: block; }

.csstransforms3d #newsSlider .items li { opacity: 0; transition: all 0.3s; -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
.csstransforms3d #newsSlider .items.active li { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.csstransforms3d #newsSlider .items.active li.nth-child-1 { transition-delay: 0.2s; }
.csstransforms3d #newsSlider .items.active li.nth-child-2 { transition-delay: 0.3s; }
.csstransforms3d #newsSlider .items.active li.nth-child-3 { transition-delay: 0.4s; }
.csstransforms3d #newsSlider .items.active li.nth-child-4 { transition-delay: 0.5s; }

#brand .upper { background: #eaeaea; }
#brand .downer { display: none; }

#soon { background: #eaeaea; }

#footer { background: #535353; }