html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }

.wrap { width: 980px; }

.badge-holder { position: relative; }
.badge { position: absolute; z-index: 3000; left: 0; top: 0; }

#utility { background: #040707; }

#gnb { border-top: solid 1px #f2f2f2; border-bottom: solid 1px #f2f2f2; }

#jumbotron { position: relative; width: 100%; min-width: 980px; height: 422px; overflow: hidden; text-align: center; }
#jumbotron .badge-holder { margin: 0 auto; width: 980px; }
#jumbotron .mask { position: absolute; left: 50%; margin-left: -1470px; width: 2940px; height: 10px; background: #000; text-align: left; }
#jumbotron .mask .inner { position: relative; width: 100%; }
#jumbotron .mask .inner div { position: absolute; z-index: 100; width: 980px; height: 422px; background: #fff; opacity: 0.9; }
#jumbotron .mask .inner .left { left: 0; }
#jumbotron .mask .inner .right { right: 0; }

.no-opacity #jumbotron .mask .inner div { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); }

#jumbotron .itemwrap { position: absolute; overflow: hidden; margin-left: -1470px; left: 50%; width: 6860px; height: 422px; text-align: left; }
#jumbotron .item { 
    position: relative;
    float: left;
    width: 980px;
    height: 422px;
}
#jumbotron .item .slider-copy { position: absolute; top: 100px; left: 76px; }
#jumbotron .item p { opacity: 0; margin: 0; padding: 0; }
.no-csstransform3d #jumbotron .item p { opacity: 1; }

.csstransforms3d #jumbotron .item p { transition-property: all; transition-duration: 0.6s; }
.csstransforms3d #jumbotron .item p { opacity: 0; transform: translate3d(-10px, 0, 0); }
.csstransforms3d #jumbotron .item.active p { opacity: 1; transform: translate3d(0, 0, 0);  }
.csstransforms3d #jumbotron .item p:nth-child(1) { transition-delay: 0.2s; }
.csstransforms3d #jumbotron .item p:nth-child(2) { transition-delay: 0.3s; }
.csstransforms3d #jumbotron .item p:nth-child(3) { transition-delay: 0.4s; }
.csstransforms3d #jumbotron .item p:nth-child(4) { transition-delay: 0.5s; }

#jumbotronPager { line-height: 1; height: 96px; border-bottom: solid 1px #eee; }
#jumbotronPager .wrap { position: relative; }
#jumbotronPager .pager span { position: absolute; z-index: 3000; top: 0; }
#jumbotronPager .pager .prev { left: 0; margin-left: -44px; }
#jumbotronPager .pager .next { right: 0; margin-right: -44px; }
#jumbotronPager ul { position: absolute; height: 128px; overflow: hidden; margin-top: -33px; }
#jumbotronPager li { position: relative; height: 128px;  }
#jumbotronPager li .out { margin-top: 33px; }
#jumbotronPager li .over { position: absolute; margin-top: 128px; transition: all 0.3s ease-in-out; }
#jumbotronPager li:hover .over { margin-top: 0; }

#sectionC .large .module { position: relative; box-sizing: content-box; width: 465px; height: 649px; background: #333; border: solid 10px #000; }
#sectionC .small .module { position: relative; float: right; width: 486px; height: 670px; overflow: hidden; }
#sectionC .small .item { width: 50%; margin-bottom: 10px; }
#sectionC .small .item.nth-child-2 img,
#sectionC .small .item.nth-child-4 img { float: right; }
#sectionC .small ul { position: absolute; visibility: hidden; left: 0; }
#sectionC .small ul.active { visibility: visible; }

.csstransforms3d #sectionC .small li {  }
.csstransforms3d #sectionC .small ul.active { }
.csstransforms3d #sectionC .small li { opacity: 0; transition-property: all; transition-duration: 0.6s; transform: translate3d(0, 0, 0); }
.csstransforms3d #sectionC .small ul.active li { opacity: 1; transform: translate3d(0, 0, 0); }
.csstransforms3d #sectionC .small li:nth-child(1) { transition-delay: 0.3s; }
.csstransforms3d #sectionC .small li:nth-child(2) { transition-delay: 0.4s; }
.csstransforms3d #sectionC .small li:nth-child(3) { transition-delay: 0.5s; }
.csstransforms3d #sectionC .small li:nth-child(4) { transition-delay: 0.6s; }