html, body { margin: 0; padding: 0; }
html { height: 100%; overflow: auto; }
* { box-sizing: border-box; transition-timing-function: ease-in-out; }

body,
.container,
.grid,
.col-1-2 { height: 100%; min-height: 700px; }
.grid  { width: 100%; min-width: 1400px; }
.grid .col-1-2  div.inner { padding: 345px 0 60px 0; }
.grid .nth-child-1 { text-align: right; background: #e0e0e0; }
.grid .nth-child-1 div.inner { padding-right: 40px; }
.grid .nth-child-2 { background: #cacaca; }
.grid .nth-child-2 div.inner { padding-left: 40px; }

h1 { position: absolute; left: 145px; top: 80px; margin: 0px; padding: 0px; }

#footer { position: fixed; left: 0px; bottom: 0px; right: 0px; text-align: right; background: #fff; }



.csstransforms3d .reveal {
    opacity: 0;
    transition-duration: 0.5s;
}
.csstransforms3d h1 .reveal {
    transform: translate3d(0, 30px, 0);
}
.csstransforms3d .nth-child-1 .reveal {
    transition-duration: 0.1s;
    transform: translate3d(30px, 0, 0);
}
.csstransforms3d .nth-child-2 .reveal {
    transition-duration: 0.1s;
    transform: translate3d(-30px, 0, 0);
}
.csstransforms3d .reveal.inview {
    opacity: 1; 
    transform: translate3d(0px, 0px, 0px);
    transition-delay: 0.1s;
}