html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }
img { vertical-align: top; }

.wrap { width: 990px; }
.container { margin: 0 auto; }

#header { position: relative; z-index: 5000; }

#logo { position: relative; z-index: 5000; }
#utility { position: relative; z-index: 4000; border-bottom: 1px #dbdbdb solid; background: #fafafa; }

#gnb .d1 { display: block; position: relative; z-index: 2000; }
#gnb div.d2 { position: absolute; z-index: 100; top: 177px; }
#gnb div.d2 .close { position: absolute; top: 0px; right: 0px; display: inline-block; width: 70px; height: 40px; }

.no-csstransforms #gnb div.d2 { top: -550px; }
.no-csstransforms #gnb .active div.d2 { top: 177px; }

.csstransforms #gnb div.d2 { opacity: 0.5; transform: translate3d(0, -550px, 0); transition: all 0.5s; }
.csstransforms #gnb .active div.d2 { opacity: 1; transform: translate3d(0, 0, 0); }

.skyscraper { position: absolute; top: 229px; left: 50%; margin-left: 505px; z-index: 10000; font-size: 0; }

.skyscraper ul { float: right; padding-top: 10px; margin-right: -60px; }

#skyscraperA { left: 0px; }
#skyscraperB { }
#skyscraperB li {  }
#skyscraperB li a { position: relative; z-index: 1000; }
#skyscraperB li.cart a { width: 60px; height: 80px; background: url('../img/common/a_skyscraper_b_1.png') no-repeat left top; }
#skyscraperB li.view a { width: 60px; height: 80px; background: url('../img/common/a_skyscraper_b_2.png') no-repeat left top; }
#skyscraperB li.active a { background-position: left bottom; }
#skyscraperB .box { position: absolute; z-index: 900; top: 0px; right: 0; pointer-events: none; }
#skyscraperB .active .box { pointer-events: auto; }

.csstransforms .box { opacity: 0; transition: all 0.3s; transform: translate3d(100px, 0, 0) scale(0.8, 0.8);  }
.csstransforms li.active .box { opacity: 1; transform: translate3d(0, 0, 0) scale(1, 1); }

.no-csstransforms #skyscraperB .box { display: none; }
.no-csstransforms #skyscraperB li.active .box { display: block; }

#jumbotronCore { float: left; width: 767px; height: 255px; background: #fff; }
#jumbotronCore,
#jumbotronCore .item { height: 255px; opacity: 1; }
#jumbotron .nav { box-sizing: content-box; height: 49px; }

#jumbotron .prev { position: absolute; z-index: 2500; left: 50%; top: 50%; width: 46px; margin-left: -490px; margin-top: -36px; }
#jumbotron .next { position: absolute; z-index: 2500; left: 50%; top: 50%; width: 46px; margin-left: 444px; margin-top: -36px; }

.jumbotron { background-color: #f2f3f6; }
.jumbotron .bg,
.jumbotron .obj,
.jumbotron .core { position: absolute; z-index: 2; }
.jumbotron .bg { 
    width: 767px;
    height: 100%;
    overflow: hidden;
}
.jumbotron .core { 
    top: 0px;
    left: 0px;
    text-align: left;
}
.jumbotron .obj { 
    position: absolute;
    left: 0px; top: 0px;
}
.jumbotron p { margin: 0; padding: 0;  }


/* jumbotron */
.jumbotron .itemwrap,
.jumbotron .bg,
.jumbotron .item { height: 337px; }

.jumbotron .item { text-align: center; }
.jumbotron .wrap { position: relative; margin: 0 auto; width: 767px; }

#pager { position: absolute; z-index: 2500; bottom: 13px; left: 20px; text-align: center; }
#pager a { float: left; display: inline-block; width: 147px; height: 40px; background: url('../img/common/jumbotron_pager.png') no-repeat left 6px; }
#pager a.nth-child-2 { background-position: -147px 6px; }
#pager a.nth-child-3 { background-position: -293px 6px; }
#pager a.nth-child-4 { background-position: -440px 6px; }
#pager a.nth-child-5 { background-position: -587px 6px; }
#pager a.active { }
#pager a.nth-child-1.active { background-position: left bottom; }
#pager a.nth-child-2.active { background-position: -147px bottom; }
#pager a.nth-child-3.active { background-position: -293px bottom; }
#pager a.nth-child-4.active { background-position: -440px bottom; }
#pager a.nth-child-5.active { background-position: -587px bottom; }

#service { float: right; width: 215px; }

#searchItem { height: 278px; background: url('../img/common/a_09.png') center center no-repeat; }

#footer .upper { border-bottom: 1px #d5d5d5 solid; background: #eee; }
#footer .container { }
#footer .wrap { text-align: center; }
#footer .wrap img { margin: 0 auto; }

.wrapper-table { display: table; margin: 0 auto; }
.wrapper-row { display: table-row; }
.wrapper-cell-a { display: none; width: 0px; }
.wrapper-cell { display: table-cell; width: 990px; }
.wrapper-cell-b { position: relative; display: none; width: 0px; }