html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

body { background: url('../img/common/b_bg.png') repeat-x left top; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }

.wrap { width: 988px; }

#top { background: #0052a1; }

#gnb { float: left; width: 192px; }

#skyscraperA { position: fixed; top: 178px; left: 50%; margin-left: -605px; }
#skyscraperB { position: fixed; top: 178px; left: 50%; margin-left: 505px; }

#jumbotronCore { clear: none; float: left; width: 796px; height: 388px; }
#jumbotronCore,
#jumbotronCore .item { height: 388px; }

.jumbotron { background-color: #f2f3f6; }
.jumbotron .bg,
.jumbotron .obj,
.jumbotron .core { position: absolute; z-index: 2; }
.jumbotron .bg { 
    width: 796px;
    height: 100%;
    overflow: hidden;
}
.jumbotron .core { 
    top: 0px;
    left: 0px;
    text-align: left;

}
.jumbotron p { margin: 0; padding: 0; }

/* jumbotron */
.jumbotron .itemwrap,
.jumbotron .bg,
.jumbotron .item { height: 387px; }
.jumbotron .wrap { position: relative; margin: 0 auto; width: 796px; }

#pager { position: absolute; z-index: 2500; left: 67px; top: 338px; }
#pager a { display: inline-block; margin-right: 6px; width: 13px; height: 13px; background: #444; border-radius: 13px;
    transition-property: width background;
    transition-duration: 0.5s;
}
#pager a.active { width: 54px; background: #23b200;
    transition-property: width background;
    transition-duration: 0.5s;
}

#searchItem { height: 283px; background: url('../img/common/b_05.png') no-repeat center top; }

#footer { margin-top: 40px; }
#footer .upper { border-bottom: 1px #d5d5d5 solid; background: #eee; }
#footer .container { }