.js-fxSlider * { 
    -webkit-transition-timing-function: cubic-bezier(.42, 0, .58, 1.0); 
    transition-timing-function: cubic-bezier(.42, 0, .58, 1.0); 
}

/* display */
.js-fxSlider { display: none; }
.js-fxSlider .item { display: none; }
.js-fxSlider .item.active,
.js-fxSlider .item.navInPrev,
.js-fxSlider .item.navInNext,
.js-fxSlider .item.navOutPrev,
.js-fxSlider .item.navOutNext { display: block; }

/* default */
.js-fxSlider { clear: both; box-sizing: content-box; margin: 0 auto; text-align: left; line-height: 1; }
.js-fxSlider .itemwrap { margin: 0 auto; padding: 0; list-style: none; text-align: center; }
.js-fxSlider .item { opacity: 0; z-index: 999; pointer-events: none; }
.js-fxSlider .item.active { opacity: 1; z-index: 1000; pointer-events: auto; }

/* utilities */
.no-csstransforms .js-fxSlider a.nav { margin-top: -37px; }
.js-fxSlider a.nav { position: absolute; top: 50%; transform: translateY(-50%); }
.js-fxSlider a.prev { left: 0; }
.js-fxSlider a.next { right: 0; }

.pager-a { position: relative; text-align: center; }
.pager-a .wrap { position: absolute; margin-top: -40px; width: 100%; text-align: center; }
.pager-a .wrap .inner { display: none; }

.js-fxSlider-preloader { font-size: 11px; color: #333; line-height: 1; }
.js-fxSlider-preloader p { margin: 5px auto !important; }

.js-fxSlider a.nav { display: none; }
.pager-a { display: none; }

/* position and size, overflow */
.js-fxSlider { position: relative; max-width: 100%; width: 100%; overflow: hidden; }
.js-fxSlider .itemwrap { min-height: 100px; width: 100%; height: 100%; }
.js-fxSlider .item { position: absolute; width: 100%; height: 100%; }

/* full width */
.fullwidth { background: #333; }

/*.animating .item.navInPrev .bg img,
.animating .item.navInNext .bg img { 
    -webkit-transform: scale(1.1) translate3d(0, 0, 0); 
    transform: scale(1.1) translate3d(0, 0, 0); 
}
.animated .item.active .bg img {
    -webkit-animation: fxKenburn 10s forwards linear;
            animation: fxKenburn 10s forwards linear;
}*/

@-webkit-keyframes fxKenburn {
    from {
        -webkit-transform: scale(1.1) translate3d(0, 0, 0);
                transform: scale(1.1) translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(1) translate3d(0, 0, 0);
                transform: scale(1) translate3d(0, 0, 0);
    }
}
@keyframes fxKenburn {
    from {
        -webkit-transform: scale(1.1) translate3d(0, 0, 0);
                transform: scale(1.1) translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(1) translate3d(0, 0, 0);
                transform: scale(1) translate3d(0, 0, 0);
    }
}

