/* dropdown
 =============================================================================== */
/* 
 * Tipper v3.0.6 - 2014-05-06 
 * A jQuery plugin for simple tooltips. Part of the formstone library. 
 * http://formstone.it/tipper/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */ 

    .tipper { height: 1px; left: -99999px; .pos-absolute(); pointer-events: none; top: -99999px; width: 1px; }
    .tipper .tipper-content { background: rgba(0, 0, 0, 0.85); border-radius: 3px; color: #fff; .block(); .pull-left(); font-family: sans-serif; font-size: 12px; margin: 0; padding: 8px 12px; .pos-relative(); white-space: nowrap; }
    .tipper .tipper-caret { 
        .block(); 
        .pos-absolute(); 
        content: ''; 
        margin: 0; 
        height: 11px; 
        width: 5px; 
        .background-image('plugins/jquery.fs.tipper-icon');
        background-position: center center;
        background-repeat: no-repeat; 
    }

    .tipper.right .tipper-content { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25); }
    .tipper.right .tipper-caret { background-position: left center; left: -5px; top: 0; }

    .tipper.left .tipper-content { box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25); }
    .tipper.left .tipper-caret { background-position: right center; right: -5px; top: 0; }

    .tipper.top .tipper-caret,
    .tipper.bottom .tipper-caret { .block(); float: none; height: 5px; margin: 0 auto; width: 11px; }

    .tipper.top .tipper-content { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25); }
    .tipper.top .tipper-caret { background-position: center bottom; bottom: -5px; left: 0; }

    .tipper.bottom .tipper-content { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
    .tipper.bottom .tipper-caret { background-position: center top; top: -5px; left: 0; }