/* ==========================================================================
   base
   ========================================================================== */

// selection color
@selection-color:       #b3d4fc;

// HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/
::-moz-selection {
    background: @selection-color;
    text-shadow: none;
}
::selection {
    background: @selection-color;
    text-shadow: none;
}
hr {
    .block();
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #ccc;
}
audio, canvas, img, video {
    .vertical-middle();
}
form, fieldset {
    .reset();
    border: none;
}
textarea {
    resize: vertical;
}
.browsehappy {
    /* .browsehappy */
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}

