/* ==========================================================================
   BBS
   ========================================================================== */

/* utility
   ========================================================================== */

/* button */
.bbs-button {
    .clearfix();
    margin-top: 18px;
    margin-bottom: 30px;
    .line-height-xsmall();
}

/* search */
.bbs-search { 
    .clearfix();
    margin-top: 30px;
    margin-bottom: 35px;
    padding: 23px 0;
    background-color: #f5f9fc;
    border: solid 1px #d5dde4;
    .selecter .selecter-selected { background-color: #fff; }
    ul.tab {
        margin: 0 0 0 260px;
        .height(34px);
        text-align: left;
        li {
            padding-left: 5px;
        }
        input,
        .button {
            .vertical-top();
        }
        .selecter {
            min-width: 130px;
            width: 130px;
            .selecter-selected { 
                .background-image('plugins/selecter_arrow_down'); 
            }
        }
        input.text {
            width: 220px;
        }
        .button {
            padding-left: 22px;
            padding-right: 22px;
            font-size: 15px;
        }
        select.long, .long .selecter-selected {
            width: 300px !important;
        }
        .long .selecter-options {
            width: 320px;
        }
    }
}

/* search by term: 날짜선택 & 우측정렬 검색창 */
.bbs-search-term {
    .clearfix();
    text-align: right;
    margin-bottom: 20px;
    ul {
        .reset(); 
        .inline-block();
    }    
    li {
        .pull-left();
        padding-left: 5px;
        &.action {
            padding-left: 10px;
        }
    }
    .select { 
        .inline-block(); 
        text-align: left;
        vertical-align: bottom;
    }  
    input.text {
        width: 220px;
        &.date { width: auto; }
    }
    &.point {
        padding: 20px 0;
        .text-center();
        background-color: #f5f9fc;
        border: solid 1px #d5dde4;
        label {
            font-size: 16px;
            .bold();
        }
    }
}

/* faq search */
.faq-search {
    .category {
        .clearfix();
        text-align: center;
        ul.holder {
            margin: 0 auto;
            padding: 0;
            width: 760px;
            list-style: none;
        }
        li {
            .pull-left();
            margin: 0;
            padding: 0;
            width: 190px;
            a { text-decoration: none; }
            .icon {
                .icon-set(120px, 107px, 'common/icon_faq_search_category');
                background-position: left top;
                // .background-no-repeat();
            }
            &.nth-child-1 .icon { background-position: left top; }
            &.nth-child-2 .icon { background-position: -120px top; }
            &.nth-child-3 .icon { background-position: -240px top; }
            &.nth-child-4 .icon { background-position: -360px top; }
            &.nth-child-1.active .icon { background-position: left -107px; }
            &.nth-child-2.active .icon { background-position: -120px -107px; }
            &.nth-child-3.active .icon { background-position: -240px -107px; }
            &.nth-child-4.active .icon { background-position: -360px -107px; }
            strong { 
                .block(); 
                margin: 10px auto 10px;
                font-size: 17px;
            }
        }
    }
}

/* view
   ========================================================================== */

.bbs-view {
    .clearfix();
    margin-top: 20px;
    .bbs-view-header {
        .clearfix();
        padding: 13px 30px;
        height: 30px;
        .line-height-xsmall();
        border-top: solid 2px #bfc3c6;
        border-bottom: solid 2px #bfc3c6;
        .title {
            .pull-left();
            h4 {
                margin: 0;
                padding: 0;
                .line-height-xsmall();
                strong { 
                    .inline-block(); 
                    .height(30px);
                    font-size: 18px;
                    .bold();
                    color: #1daad8;
                }
            }
        }
        .info {
            .pull-right();
            li {
                .background-image('base/pipe_01');
                background-position: 20px center;
                // .background-no-repeat();
                padding: 0 0 0 40px;
                .height(30px);
                font-size: 14px;
                color: #80878d;
                &:first-child { background: none; }
            }
        }
    }
    .bbs-view-body {
        .clearfix();
        margin-bottom: 15px;
        padding: 30px;
        .line-height-large();
        font-size: 14px;
        color: #80878d;
        border-bottom: solid 1px #848b91;
        .pic {
            .clearfix();
            margin-bottom: 20px;
            text-align: center;
        }
        .thumb908 {
            img { 
                margin: 0 auto;
                max-width: 908px;
            }
        }
	    &.poll {
	        border-bottom: 0;
	    }
        &.story {
            h5.title {
                .reset();
                .mt40();
                height: auto;
                font-size: 16px;
                line-height: 1;
                &:first-child { .mt0(); }
            }
            div.text-box {
                .mt20();
                p:first-child { .mt0(); }
            }
        }
    }
    /* 답변 글 */
    &.reply .bbs-view-body {
        margin-bottom: 0;
        border-bottom: 0;
        .background-image('common/dot_gray_02');
        background-position: left bottom;
        background-repeat: repeat-x;
    }
    .bbs-view-nav {
        .clearfix();
        margin-top: 30px;
        ul {
            border-top: solid 1px #d9d9d9;
            li {
                padding-left: 44px;
                .badge {
                    padding-left: 20px;
                    .background-image('base/badge_bbs_nav_prev');
                    background-position: left center;
                    .background-no-repeat();
                }
                &.next .badge {
                    .background-image('base/badge_bbs_nav_next');
                }
                .message,
                a {
                    .inline-block();
                    padding-left: 15px;
                    .height(45px);
                }
                .message {
                    color: @link-hover-color;
                }
                border-bottom: solid 1px #d9d9d9;
            }
        }   
    }
    .bbs-view-attach {
        // 지난 수업 자동녹화
        .height(38px);
        text-align: right;
        background-color: #f8f8f8;
        border-bottom: solid 1px #d9d9d9;
        a { 
            .inline-block();
            padding: 0 10px;
            .text-none(); 
            font-size: 14px;
            color: @text-color;
            .icon {
                margin-top: -5px;
            }
        }
    }
    .bbs-view-reply {
        .clearfix();
        margin-bottom: 20px;
        border-bottom: solid 1px #d1d8dc;
        .background-image('common/ico_reply');
        background-position: left top;
        // .background-no-repeat();
        .subject {
            .pos-relative();
            strong { 
                .block();
                padding: 18px 0 18px 63px;
                .normal();
                font-size: 24px;
            }
            .date {
                .pos-absolute();
                top: 25px;
                right: 30px;
                font-size: 14px;
                color: @link-color;
            }
        }
        .body {
            padding: 0 0 30px 63px;
            .line-height-large();
            color: @link-color;
            font-size: 14px;
        }
    

        // .clearfix();
        // .pos-relative();
        // margin-top: 50px;
        // padding: 0 0 22px;
        // .line-height-xsmall();
        // color: #848b91;
        // .border-radius(5px);
        // .subject {
        //     padding-top: 25px;
        //     padding-left: 60px;
        //     .height(31px);
        //     .bold();
        //     font-size: 18px;
        //     color: @text-color;
        // }
        // .tab {
        //     padding-left: 60px;
        //     font-size: 14px;
        //     li {
        //         padding-right: 15px;
        //         .height(27px);
        //         .icon {
        //             margin-top: -3px;
        //         }
        //     }
        // }
        // .body {
        //     padding: 5px 60px 0;
        //     font-size: 15px;
        //     line-height: 25px;
        // }
        // .tail {
        //     .pos-absolute();
        //     left: 0;
        //     top: 0;
        //     width: 30px;
        //     height: 30px;
        //     margin-top: -30px;
        //     margin-left: 18px;
        //     .background-image('common/bbs_replay_balloon');
        // }
    }
}

/* write
   ========================================================================== */
.bbs-write {
    .clearfix();
    .line-height-xsmall();
    table.core {
        table-layout: fixed;
        border-top: solid 2px #c0c4c7;
        border-bottom: solid 1px #d2d8dc;
    }
    tr {
        th, td {
            border-top: solid 1px #d2d8dc;
        }
        &:first-child {
            th, td {
                border-top: 0;
            }
        }
    }
    th {
        background-color: #eef0f5;
        span { 
            .block();
            text-align: center;
            line-height: 24px;
            padding: 17px 0;
        }
    }
    td {
        padding: 8px 0 8px 10px;
        input.xlarge {
            width: 95%;
        }
    }
    .attach {
        input.file {
            margin: 10px 0;
        }
        .inner {
            p {
                margin: 0;
                padding: 5px 0;
                strong { 
                    .normal(); 
                    .text-underline(); 
                }
            }
        }
    }
    .textarea {
        .min-height(180px);
    }
    .form {
        padding: 20px 0;
        text-align: center;
        // border-bottom: solid 1px #d2d8dc;
        .textarea {
            margin: 0 auto;
            width: 99.4%;
            .min-height(250px);
        }
    }
}

/* list
   ========================================================================== */
.bbs-list {
    table.core {
        border-top: solid 2px #bfc3c6;
    }
    .line-height-xsmall();
    th, td {
        text-align: center;
    }
    th {
        border-bottom: solid 2px #bfc3c6;
        span { 
            .inline-block(); 
            .height(45px); 
            font-size: 16px;
        }
    }
    td {
        padding: 12px 5px;
        height: 26px;
        background-color: #fff;
        border-bottom: solid 1px #d9d9d9;
        font-size: 15px;
        .line-height();
        color: @link-color;
    }
    tr:hover td,
    tr.notice td {
        background: #fafafc;
    }
    tr.disabled {
        tr, td { background: #f7f7f8; }
    }
    .reply-count { color: #f45c51; }
    .lock { vertical-align: text-bottom; }
}

/* faq collapse list
   ========================================================================== */
.faq-list {
    .line-height-xsmall();
    table.core {
        border-top: solid 2px #bfc3c6;
        border-bottom: solid 1px #d9d9d9;
        tr {
            td {
                border-top: solid 1px #d9d9d9;
            }
            &:first-child { 
                td { border-top: 0; }
            }
            &.question {
                td {
                    text-align: center;
                    &.subject {
                        .background-image('common/faq_off');
                        background-position: right center;
                        // .background-no-repeat();
                    }
                    a { 
                        .block(); 
                        padding: 12px 0;
                        .line-height();
                    }
                }
                &.active td.subject {
                    .background-image('common/faq_on');
                    a { 
                        .bold(); 
                        color: @text-color; 
                    }
                }
            }
            &.answer {
                td {
                    display: none;
                    .box-sizing(content-box);
                    padding: 19px 15px 19px 120px;
                    height: 90px;
                    .background-image('common/faq_answer');
                    background-color: #fafafa;
                    background-position: left top;
                    // .background-no-repeat();
                    line-height: 22px;
                }
            }
        }
    }
}

/* custom
   ========================================================================== */

/* 직업검색 */
.future-search {
    .pos-relative();
    width: 506px;
    margin: 0 auto;
    text-align: center;
    .clearfix();
    input, a { display: block; float: left; }
    input { 
        margin-right: 5px;
        width: 410px;
        border: 3px solid @brand-danger; 
    }
    .button.large { padding:9px 22px 10px; }
}

/* search result info */
.search-result-info {
    margin: 50px 0;
    text-align: center;
    .search-value, .matched-num { color: @brand-success; font-weight: bold; }
}