/* ==========================================================================
   Button
   ========================================================================== */

// default
@button-font-size: 15px;
@button-padding-top:              5px;
@button-padding-right:            20px;
@button-padding-bottom:           7px;
@button-padding-left:             20px;

// xsmall
@button-font-size-xsmall: 11px;
@button-padding-top-xsmall:       3px;
@button-padding-right-xsmall:     4px;
@button-padding-bottom-xsmall:    5px;
@button-padding-left-xsmall:      4px;

// small
@button-font-size-small: 11px;
@button-padding-top-small:        3px;
@button-padding-right-small:      8px;
@button-padding-bottom-small:     5px;
@button-padding-left-small:       8px;

// large
@button-font-size-large: 15px;
@button-padding-top-large:        6px;
@button-padding-right-large:      22px;
@button-padding-bottom-large:     8px;
@button-padding-left-large:       22px;

// xlarge
@button-font-size-xlarge:         18px;
@button-padding-top-xlarge:       10px;
@button-padding-right-xlarge:     35px;
@button-padding-bottom-xlarge:    12px;
@button-padding-left-xlarge:      35px;

/* default button
   ========================================================================== */

// core
.button {
    /* mixin start */
    .user-select(none);
    /* mixin end */
    .inline-block();
    margin: 0;
    font-weight: @button-font-weight;
    text-align: center;
    .text-none();
    .vertical-middle();
    cursor: pointer;
    /* for firefox-on-android https://github.com/necolas/normalize.css/issues/214 */
    background-image: none;
    border: solid 1px transparent;
    white-space: nowrap;
    box-sizing: content-box;
    .bold();
    
    &:focus {
        .tab-focus();
    }

    &:link, &:hover, &:visited, &:focus {
        color: @button-default-color;
        .text-none();
    }

    &:active, &.active {
        outline: 0;
        background-image: none;
        .box-shadow(inset 0 1px 5px 0 rgba(0,0,0,.125));
    }

    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: not-allowed;
        /* Future-proof disabling of clicks */
        pointer-events: none; 
        .opacity(.65);
        .box-shadow(none);
        /* iOS fix for unreadable disabled content */
        .opacity(1);
    }

    &.full {
        .box-sizing(border-box);
        .block();
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        &.btn-block {
            width: 100%;
        }
    }

    &, &.default {
        .button-variant(@button-default-color; @button-default-bg; @button-default-border);
    }
    &.default.disabled {
        .button-variant(#aaa; @button-default-bg; @button-default-border);
    }

    &.primary {
        .button-variant(@button-primary-color; @button-primary-bg; @button-primary-border);
    }
    &.success {
        .button-variant(@button-success-color; @button-success-bg; @button-success-border);
    }
    &.info {
        .button-variant(@button-info-color; @button-info-bg; @button-info-border);
    }
    &.warning {
        .button-variant(@button-warning-color; @button-warning-bg; @button-warning-border);
    }
    &.danger {
        .button-variant(@button-danger-color; @button-danger-bg; @button-danger-border);
    }
    &.gray {
        .button-variant(#fff; #b7bbc1; #ccc);
    }
    &.disabled {
        .button-variant(#fff; #b7bbc1; #ccc);
        // .button-variant(@button-danger-color; @gray-lighter; @button-danger-border);
    }

    .button-size(@button-padding-top; @button-padding-right; @button-padding-bottom; @button-padding-left; @button-font-size; @line-height; @border-radius);

    &.xsmall {
        .button-size(@button-padding-top-xsmall; @button-padding-right-xsmall; @button-padding-bottom-xsmall; @button-padding-left-xsmall; @button-font-size-xsmall; @line-height-small; @border-radius);
    }
    &.small {
        .button-size(@button-padding-top-small; @button-padding-right-small; @button-padding-bottom-small; @button-padding-left-small; @button-font-size-small; @line-height-small; @border-radius);
    }
    &.large {
        .button-size(@button-padding-top-large; @button-padding-right-large; @button-padding-bottom-large; @button-padding-left-large; @button-font-size-large; @line-height-large; @border-radius);
    }
    &.xlarge {
        .button-size(@button-padding-top-xlarge; @button-padding-right-xlarge; @button-padding-bottom-xlarge; @button-padding-left-xlarge; @button-font-size-xlarge; @line-height-large; @border-radius);
    }

    // 추가, 고정 스타일
    /*
    &.xsmall {
        .border-radius(0px);
        .button-variant(@button-dark-color; @button-dark-bg; @button-dark-border);
        .font-family(@font-family-dotum);
        font-size: 11px;
    }
    */
}

/* custom button
   ========================================================================== */

/* delete button */
.button-delete {
    &:hover { .text-none(); }
}

// datepicker
.button-datepicker {
    .inline-block();
    .box-sizing(content-box);
    .vertical-middle();
    border-left: 0;
    .line-height-xsmall();
}

/* button section
   ========================================================================== */

/* section button */
.section-button {
    .clearfix();
    margin-top: 30px;
    text-align: center;
    &.gutter {
        .button { margin: 0 3px; }
    }
}
