/* ==========================================================================
   Close
   ========================================================================== */

// var

/* default close
   ========================================================================== */

/* close */
a.close { 
    background-color: #fff;
    .background-no-repeat();
    .block(); 
    .pos-absolute(); 
    z-index: 1010; 
    margin: 10px;
    padding: 0;
    right: 0; 
    top: 0; 
    width: 30px; 
    height: 30px; 
    text-indent: -99999px; 
    cursor: pointer; 
    // .icon {
    //     .opacity(.5);
    // }

    // &:hover, &:focus {
    //     .icon {
    //         .opacity(1);
    //     }
    // }

    // Additional properties for button version
    // iOS requires the button element instead of an anchor tag.
    // If you want the anchor version, it requires `href="#"`.
    button& {
        padding: 0;
        cursor: pointer;
        background: trnasparent;
        border: none;
        -webkit-appearance: none;
    }
}