/* ==========================================================================
   Code
   ========================================================================== */

// vars
@code-color:        #000;
@code-bg:           #fff;
@kbd-color:         #000;
@kbd-bg:            #fff;
@pre-color:         #000;
@pre-bg:            #fff;

// core
code, kbd, pre, samp {
    font-family: @font-family-monospace;
}

// inline code
code {
    padding: 2px 4px;
    font-size: 90%;
    color: @code-color;
    background-color: @code-bg;
    white-space: nowrap;
    border-radius: @border-radius;
}

// User input typically entered via keyboard
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: @kbd-color;
    background-color: @kbd-bg;
    border-radius: @border-radius;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

// Blocks of code
pre {
    .block();
    padding: ((@line-height-computed - 1) / 2);
    margin: 0 0 (@line-height-computed / 2);
    font-size: @font-size; // 14px to 13px
    line-height: @line-height;
    word-break: break-all;
    word-wrap: break-word;
    color: @pre-color;
    background-color: @pre-bg;
    border-radius: @border-radius;

    // Account for some code outputs that place code tags in pre tags
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}