/* ==========================================================================
   Custom
   ========================================================================== */

body[class^='page-'] { 
    border: none; 
}

.text-success { color: #1daad8; }
.text-info { color: @brand-info; }
