/* ==========================================================================
   Layout
   ========================================================================== */

// vars
@desktop-width: 1080px;
@desktop-max-width: 1024px;
@gnb-width: @desktop-width;
@gnb-z-index-base: 100;

html, body {
    height: 100%;
}

/* slideJs */

.slidejs-wrapper {
    display: none;
    .slidesjs-pagination .active {
        color: red;
    }
    .slidesjs-navigation {
        .pos-absolute();
        top: 215px;
        z-index: 100;
        .vertical-top();
        .line-height-xsmall();
        cursor: pointer;
        .opacity(0.5);
        transition: all 0.5s ease-in-out 0s;
        &:hover {
            .opacity(1);
        }
        &.slidesjs-previous {
            left: 0;
            margin-left: -110px;
            span {
                .icon-set(60px, 60px, '../img/common/pager_prev');
            }
        }
        &.slidesjs-next {
            right: 0;
            margin-right: -110px;
            span {
                .icon-set(60px, 60px, '../img/common/pager_next');
            }
        }
    }
    .slidesjs-pagination {
        .pos-absolute();
        z-index: 300;
        .reset();
        margin-top: -40px;
        li {
            float: left;
            width: auto;
            a {
                .icon();
                .icon-set(20px, 20px, '@{path-images}/plugins/slide_paginate_off');
                background-size: center top;
                .text-center();
                .opacity(0.5);
                .box-sizing(content-box);
                font-size: 0;
                &.active, 
                &:hover {
                    .opacity(1);
                }
            }
        }
    }
}

#sub2 {
    .slidesjs-navigation {
        &.slidesjs-previous {
            span {
                .icon-set(60px, 60px, '../img/common/pager_prev_02');
            }
        }
        &.slidesjs-next {
            span {
                .icon-set(60px, 60px, '../img/common/pager_next_02');
            }
        }
    }
}


.page-a {

    #header, #contents, #footer { 
        // min-width: @desktop-width;
    }

    // container
    .container {
        .clearfix();
    }
    /* background-color:#f0f0f0; */

    // wrap
    .wrap {
        .clearfix();
        margin: 0 auto;
        width: @desktop-width;
        text-align: left;
        // text-align: left;
    }

    /* Skip to Content */
    #skipNavigation, #skipToContent { 
        .pos-relative();
        a { 
            .block(); 
            height: 1px; 
            width: 1px; 
            margin-bottom: -1px; 
            overflow: hidden; 
            text-align: center; 
            white-space: nowrap; 
            .box-sizing(border-box);
            &:hover,
            &:focus,
            &:active  { 
                height: auto; 
                width: 100%; 
                padding: 5px; 
                margin-bottom: 1px; 
                font-size: 14px; 
                .bold(); 
                background: #FBF4DF; 
                border: solid 3px #E5CDB6; 
                color: #683109; 
            }
        }
    } 
 
    .notice-bar {
        height: 0;
        overflow: hidden;
        background-color: #54c8d5;
        .wrap {
            .pos-relative();
            .close {
                .pos-absolute();
                right: 0; 
                bottom: 0;
                margin-right: -35px;
            }
        }
        .item { 
            .opacity(0);  
            .translate(-30px, 0); 
            .transition(all 0.5s ease-in-out 0s);
            &.item-1 {
                .translate(-30px, 0); 
                .transition-delay(0.5s);
            }
            &.item-2 {
                .translate(-30px, 0); 
                .transition-delay(1s);
            }
            &.item-3 {
                .translate(-30px, 0); 
                .transition-delay(1.5s);
            }
            &.item-4 {
                .translate(0, -30px); 
                .transition-delay(1s);
            }
            &.item-5 {
                .translate(0, -30px); 
                .transition-delay(1.5s);
            }
            &.item-6 {
                .translate(0, -30px); 
                .transition-delay(2s);
            }
        }
        &.active {
            .item {
                .opacity(1);
                .translate(0, 0); 
            }
        }
    }

    .wrap {
        .title {
            .pos-relative();
            a.more {
                .pos-absolute();
                right: 0;
                top: 21px;
            }
        }
    }

    #gnb {
        .clearfix();
        .pos-relative();
        max-height: 447px;
        .category {
            .pos-absolute();
            z-index: 2000;
            left: 0;
            top: 49px;
            height: 0;
            overflow: hidden;
            img {
                margin-top: -399px;
                vertical-align: top;
            }
        }
        &.active-category {
            .category {
                display: block;
                height: 899px;
            }
        }
        .nth-child-1 {
            float: left;
            width: 181px;
        }
        .nth-child-2 {
            float: right;
            width: 899px;
        }
    }

    #header {
        .clearfix();
        #logo {
            float: left;
            width: 300px;
        }
        .util {
            float: right;
            width: 780px;
        }
        .lnb {
            .pos-relative();
            .pull-left();
            width: 181px;
            .sub {
                display: none;
                .pos-absolute();
                z-index: 1000;
            }
        }
        .jumbotron {
            .pull-right();
            width: 899px;
        }
        .banner {
            margin-top: 15px;
        }
    }

    #footer {
        .upper {
            border-top: solid 1px #e2e2e2;
            border-bottom: solid 1px #e2e2e2;
        }
    }

    #skyscraper {
        position: fixed;
        right: 0;
        top: 200px;
    }

    #newstyle {
        position: fixed;
        left: 50%;
        margin-left: -697px;
        top: 360px;
    }


    .container {
        .perspective(13000px);
        &.out {
            z-index: -99;
            .wrap {
                .animation(panelDropDown 0.8s forwards 0s);
            }
        }
    }

    #body {
        .container:nth-child(4){
            a.more {
                display: none;
            }
        }
    }

    .wrap-userarea {
        position: relative; 
        z-index: 1000;
        #userArea {
            .pos-absolute();
            right: 0;
            top: 0;
            width: 150px;
            height: 4931px;
            background-color: #57b3f6;
            .holder {
                position: relative;
                .core {
                    position: absolute;
                    .close {
                        position: relative;
                        a {
                            position: absolute;
                            left: -11px; 
                            top: 89px;
                        }
                    }
                }
            }
        }
    }

} 

// @-webkit-keyframes smallhideLeft { 
//     0% { -webkit-transform: translateY( 0px ); }
//     40% { -webkit-transform: translate( 0, -40% ) scale( 0.8 ) rotateY( 20deg ); z-index: 9999; }
//     100% { opacity: 1; -webkit-transform: translateY( -400px ); }
// }

@keyframes panelDropDown { 
    0% { 
        opacity: 1;
        transform: translateY(0px ); 
    }
    50% { 
        opacity: 1;
        transform: translateY(-250px) scale(0.8) rotateX(20deg); 
    }
    100% { 
        opacity: 0; 
        transform: translateY(150px); 
    }
}


#overlay {
    display: none;
}

.active-overlay #overlay {
    display: block;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
}

.rgba .active-overlay #overlay{
    background: rgba(0, 0, 0, 0.5);
}

.active-smartsearch,
.active-newstyle {
    #skyscraper,
    #overlay,
    #newstyle,
    #header,
    #contents,
    #footer {
        display: none;
    }
}

.active-smartsearch #overlay,
.active-newstyle #overlay {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
}

.active-smartsearch #overlaySmartSearch,
.active-newstyle #overlayNewstyle {
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
}

#newstyleBody {
    display: none;
}

.active-newstyle #newstyleBody {
    display: block;
    position: absolute;
    z-index: 3000;
    left: 50%;
    margin-left: -625px;
    top: 20px;
    width: 1250px;
    .wrap {
        .pos-relative();
        width: 1250px;
        a.close {
            .pos-absolute();
            z-index: 4000;
            right: 0;
            margin-right: -64px;
            top: 0;
        }
    }
}

#smartSearch {
    display: none;
}

.active-smartsearch #smartSearch {
    display: block;
    position: absolute;
    z-index: 3000;
    left: 50%;
    margin-left: -440px;
    top: 50px;
    width: 880px;
    height: 701px;
    .wrap {
        .pos-relative();
        width: 880px;
        a.close {
            .pos-absolute();
            z-index: 4000;
            right: 0;
            margin-right: -64px;
            top: 0;
        }
    }
}

.pagination {
    display: none;
}

.page-b {

    #header, #contents, #footer { 
        // min-width: @desktop-width;
    }

    .wrapper {
        width: 1600px;
    }

    // container
    .container {
        .clearfix();
        text-align: center;
    }
    /* background-color:#f0f0f0; */

    // wrap
    .wrap {
        .clearfix();
        margin: 0 auto;
        width: 1179px;
        text-align: left;
        // text-align: left;
    }

    .wrapper {
        .box-sizing(content-box);
        .clearfix();
        .aside {
        }
        .lnb {
            .pos-absolute();
            z-index: 3100;
            left: 0;
            top: 0;
            width: 179px;
            height: 1142px;
            background-color: #fff;
            border-right: solid 1px #e7e7e7;
        }
        .sub {
            .pos-absolute();
            z-index: 3000;
            left: 180px;
            top: 0;
            width: 280px;
            margin-left: -282px;
            height: 1142px;
            border-right: solid 1px #e7e7e7;
            box-shadow: 0px 2px 2px #999;
        }
        .contents {
            margin-left: 180px;
            width: 1265px;
            height: 1142px;
            background-color: #fafafa;
        }
        .util {
            .pos-absolute();
            top: 0;
            left: 1445px;
            width: 155px;
            height: 1142px;
            background-color: #535353;
        }
    }

    .component.component-fullwidth {
        width: 1180px !important;
        height: 809px !important;
    }

    .component nav a.prev .icon {
        margin-left: -42px;
        margin-top: -120px;
        .icon-set(80px, 80px, '../img/common/btn_arrow_prev');
    }
    .component nav a.next .icon {
        margin-right: -42px;
        margin-top: -120px;
        .icon-set(80px, 80px, '../img/common/btn_arrow_next');
    }
    
    #popupB {
        .pos-absolute();
        left: 0;
        top: 0;
        z-index: -1;
    }
    #overlayB {
        .pos-absolute();
        left: 0;
        top: 0;
        z-index: -1;
    }

    &.active-popup {
        #popupB {
            display: block;
            z-index: 4000;
            top: 80px;
            left: 50%;
            width: 670px;
            height: 850px;
            margin-left: -335px;
            .core {
                .pos-relative();
                .close {
                    .pos-absolute();
                    right: 0;
                    margin-right: -45px;
                }
            }
        }
        #overlayB {
            display: block;
            z-index: 3999;
            right: 0;
            width: 100%;
            height: 1142px;
            background: #000;
            opacity: 0.8;
        }
    }
}


 
/* tablet */
@media only screen and (min-width: 480px) {

}

/* desktop */
@media only screen and (min-width: 768px) {

}
/* wide */
@media only screen and (min-width: 1140px) {

}

/*

.component {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}

.component-fullwidth {
    width: 100%;
    margin-bottom: 0;
    background: #fff;
}

#jumbotron {
    height: 399px;
}

#banner {
    height: 150px;
}

.component > ul {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.component-fullwidth > ul {
    overflow: hidden;
}

.component li {
    // pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
}

.component-fullwidth li {
    float: left;
    overflow: hidden;
}

.component li.current {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}
 
.component li img {
    display: block;
    max-width: 100%;
}

.component-fullwidth li img {
    min-width: 100%;
    max-width: none;
    position: absolute;
    left: 0;
}

.cssanimations .component-fullwidth li img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.component nav a {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    .transition(all 0.3s);
    .opacity(0.8);
    &:hover {
        .opacity(1);
    }

    .icon {
        .icon-set(38px, 76px, '../img/common/slider_pager_prev');
    }
    &.prev {
        left: 0;
    }
    &.next {
        right: 0;
        .icon {
            background-image: url('../img/common/slider_pager_next.png');       
        }
    }
}


.component-pager { clear: both; margin: 15px auto; background: #eee; }
.component-pager a.current span { font-weight: bold; color: #000; }
.component-pager a span { display: inline-block; padding: 5px; }

*/