/* ==========================================================================
   List
   ========================================================================== */

ul.list { 
    .reset();
    margin: 5px; 
    text-align: left;
    li { 
        margin: 3px; 
        padding: 0 0 0 10px;
        line-height: 18px;
    }
    &.list-a {
		li {
			.background-image('common/ico_list_a');
            background-position: left 9px;
            // .background-no-repeat();
			margin: 6px 0;
			line-height: 24px;
		}
	}
    &.list-b {
        li {
            .background-image('common/ico_list_b');
            background-position: left 9px;
            // .background-no-repeat();
            margin: 6px 0;
            line-height: 1.6;
        }
    }
    // &.list-bbs {
    //     display: table;
    //     .reset();
    //     width: 100%;
    //     background: #eee;
    //     li {
    //         display: table-row;
    //         .th, .td {
    //         }
    //         .th {

    //         }
    //         .td {
    //             width: 60px;
    //         }
    //     }
    // }
}

