/* ==========================================================================
   Modal
   ========================================================================== */

.page-modal {
    .header {
        .pos-relative();
        height: 53px;
        .line-height-small();
        background-color: #333742;
        h2 {
            .pos-absolute();
            .reset();
            left: 26px;
            top: 17px;
            .height(17px);
            color: #fff;
            .bold();
        }
        .utility {
            height: 53px;
            a {
                .pos-absolute();
                .inline-block();
                right: 0;
            }
            .icon {
                border-left: solid 1px #121418;
            }
            .print {
                right: 55px;
                .icon-set(55px, 53px, '../img/common/ico_print');
            }
            .close {
                .icon-set(55px, 53px, '../img/common/ico_close_modal');
            }
        }
    }
    .contents {
        padding-top: 30px;
    }
    .wrap {
        margin: 0 30px;
        width: auto;
    }

    .tips {
        font-size: 14px;
        line-height: 1.6;
        color: #80878d;
        background: #f5f9fc;
        border: 1px solid #d5dde4;
        border-radius: 4px;
        padding: 20px;
        margin: 20px 0;
    }

    /* 일정 입력하기 */
    &.planner-add {
        .line-height-reset();
        .when {
            .text-center();
            .inner {
                margin: 0 auto;
                width: 380px;
            }
            .pic {
                .text-left();
                width: 114px;
            }
            .core {
                .text-left();
                width: 266px;
                .date {
                    .block();
                    padding-top: 15px;
                    font-size: 16px;
                    color: #80878d;
                }
                .time {
                    .block();
                    .height(58px);
                    .nowrap();
                    font-size: 36px;
                    color: #fd7261;
                }
            }
        }
        .field {
            margin-top: 25px;
            .textarea {
                width: 99%;
                height: 70px;
            }
        }
    }

    /* 학습일정 보기 */
    &.planner-schedule {
        .title {
            .reset();
            margin-bottom: 30px;
            background: none;
            .text-center();
            font-size: 30px;
            line-height: 48px;
            color: #fd7261;
        }
        table.core {
            tr.ended td {
                color: #888;
            }
            th {
                p { 
                    .reset();
                    margin-top: -10px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    /* 일일 미션 */
    &.planner-daily-mission {
        .daily-mission {
            .pos-relative();
            .question {
                .reset();
                margin: 10px 0;
                height: 310px;
                .text-center();
                font-size: 23px;
                .bold();
                line-height: 32px;
                background: url('../img/modal/daily_mission_boy.png') center 107px no-repeat;
                overflow: hidden;
            }
            .yes, .no {
                .pos-absolute();
                top: 150px;
                left: 50%;
                width: 101px;
                .text-center();
            }
            .yes {
                margin-left: -197px;
                .icon {
                    margin-bottom: 15px;
                    .icon-set(101px, 40px, '../img/modal/daily_mission_yes');
                }
            }
            .no {
                margin-left: 79px;
                .icon {
                    margin-bottom: 15px;
                    .icon-set(101px, 40px, '../img/modal/daily_mission_no');
                }
            }
        }
        .list li {
            margin: 7px 0;
            color: #80878d;
        }
    }

    &.fourcs-mission {
        .modal-wrapper {
            padding: 0 30px;
            border: 10px #50c4d3 solid;
        }
        h2 {
            .reset();
            padding-top: 65px;
            font-size: 22px;
            .bold();
            .text-center();
            background: url('../img/custom/study_schedule_bg.png') no-repeat center top;
            span {
                display: inline-block;
                width: 363px;
                height: 81px;
                text-indent: -9999px;
                color: transparent;
                margin: 0 auto 30px;
                .background-image('modal/mission_h4');
            }
        }
        img { display: block; margin: 15px auto 33px; }
        .bbs-write table.core {border-top: 1px solid #dbdcd7; }
        textarea { min-height: 70px; }
        input[type=radio] { width: 18px; height: 18px; }
        th { background-color: #f6f5f6; }
        th span, td { padding:15px; }
        th, td {
            border-left: 1px solid #dbdcd7;
            &:first-child { border-left: none; }
        }
        h3 {
            margin: 0;
            background-color: #466f8f;
            padding-left: 148px;
            height: 81px;
            color: #fff;
            border-bottom: 1px solid #8bb0c0;
            .title-main {
                display: inline-block;
                margin: 16px 0 0;
                font-size: 23px;
            }
            .title-sub {
                display: inline-block;
                margin: 10px 0 0;
                font-size: 14px;
            }
        }

        .mission-title {
            position: relative;
            border: 3px solid #466f8f;
            color: #fff;
            margin-bottom: 35px;
        }
        .mission-flag {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            font-weight: bold;
            padding: 25px 40px 40px 36px;
            width: 76px;
            .height(16px);
            .background-image('modal/mission_flag');
            background-position: 0 0;
        }
        .result-count { 
            margin: 0 0 5px; font-weight: bold; 
            span.count { color: #fd7261; }
        }
        .mission-result {
            padding: 30px;
            border: 1px solid #dbdcd7;
            span { display: block; text-align: center; font-weight: bold; }
        }

    }

    /* 다중지능 검사, 학습법 검사, 학습습관 검사 */
    &.future-test {
        h3.title span { 
            .background-image('/modal/icons_future_test2');
        }
        &.method     h3.title span { background-position: -5px 100%; }
        &.habit      h3.title span { background-position: -72px 100%; }
        &.timemanage h3.title span { background-position: -139px 100%; }
        &.iq         h3.title span { background-position: -206px 100%; }
        .contents {padding-top: 0; }
        
        h3.title {
            margin: 40px 0 10px;
            .text-center();
            span {
                display:inline-block;
                width: 56px;
                height: 43px;
                backgroound-repeat: no-repeat;
                vertical-align: text-bottom;
            }
        }
        .tab-b .tab {
            width: 100%;
            li { width: 25%; }
        }
        p.title { .text-center(); }
        .foot-info {
            .text-center();
            margin:15px 0 0;
            color: #80878d;
        }

        #hichart {
            width: 495px;
            height: 400px;
            border: 1px solid #dbdcd7;
            margin-right: 25px;
            float: left;
        }
        .chart-table {
            float: right;
            width: 290px;
            a { text-decoration: underline; }
        }
        table.table-a { margin-top: 0; 
            td, th { .height(16px); }
            td.bl {
                border-left: solid 1px #dbdcd7;
                text-align: left;
                padding: 10px;
            }
            td.question { text-align: left; padding: 10px 15px; }
            input[type=radio] { width: 15px; height: 15px; background: #fff; }

            &.padding20 {
                td { padding: 20px; }
            }
        }
        .highcharts-button { display: none; }
    }

    /* ToBeTest 결과 */
    &.to-be-test {
        h3.title {
            text-align: center;
            color: #48555f;
            span { 
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 13px;
                .icon-set(45px, 45px, '/modal/icon_tobetest');
            }
        }
        p.title {
            text-align: center;
            font-weight: bold;
            .badge2 {
                display: inline-block;
                vertical-align: bottom;
                margin-right: 3px;
                .icon-set(18px, 20px, '/modal/icon_tobetest_badge');
            }
        }
        h4.title {
            font-size: 18px;
            .height(20px);
            margin: 30px 0 15px;
        }
        .graph {
            .clearfix();
            .background-image('/modal/graph_tobetest');
            background-repeat: no-repeat;
            background-position: 0 0;
            border: 1px solid #dbdcd7;
            padding-top: 32px;
            ul {
                .reset();
                float: left;
                padding: 0 47px 0 30px;
            }
            li {
                float: left;
                margin-left: 90px;
                padding-top: 190px;
                position: relative;
                width: 62px;
                height: 50px;
                line-height: 40px;
                text-align: center;
                color: #938d8d;
                span {
                    display: block;
                    position: absolute;
                    bottom: 50px;
                    width: 30px;
                }
                .g1 {
                    left: 0;
                    background-color: #1daad8;
                }
                .g2 {
                    left: 32px;
                    background-color: #fdb226;
                }
            }
            .legend {
                float: right;
                width: 140px;
                p {                   
                    position: relative;
                    padding-left: 20px; 
                }
                span { 
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 4px;
                    width: 14px;
                    height: 10px;
                }
                .g1 span { background: #fdb226;}
                .g2 span { background: #1daad8;}
            }
        }
    }

    /* 수업이력보기 */
    &.study-history {
        h3.title {
            color: @brand-danger;
            font-size: 30px;
            .text-center();
            .mt0();
        }
    }
}

/* modal study */
.page-modal-study {
    .reset();
    .min-width(640px);
    background-color: #eaedf1;
}

.modal-study {

    // max-width: 970px;

    /* header */
    .header {
        .clearfix();
        .pos-relative();
        min-width: 340px;
        height: 80px;
        .line-height-reset();
        background-color: #333742;
        padding-left: 30px;
        padding-right: 274px;
        .type {
            ul {
                padding-top: 15px;
                min-width: 340px;
                width: 100%;
                max-width: 666px;
            }

            li {
                width: 33.33%;
                strong { 
                    .text-overflow();
                    .block();
                    margin: 0 3px;
                    .height(50px);
                    width: auto;
                    text-align: center;
                    font-size: 18px;
                    .bold();
                    background-color: #63666e;
                    color: #a2abb2;
                    .border-radius(@border-radius);
                    cursor: default;
                }
                .icon {
                    vertical-align: middle;
                    &.vod {
                        .icon-set(44px, 44px, '../img/common/icon_study_vod_off');
                    }
                    &.previous {
                        .icon-set(44px, 44px, '../img/common/icon_study_previous_off'); 
                    }
                    &.kbs {
                        .icon-set(44px, 44px, '../img/common/icon_study_kbs_off'); 
                    }
                    @media (max-width: @screen-sm-min) {
                        display: none;
                    }
                }
                &.active strong {
                    background-color: #1daad8;
                    color: #fff;
                    .icon {
                        &.vod {
                            .icon-set(44px, 44px, '../img/common/icon_study_vod_on');
                        }
                        &.previous {
                            .icon-set(44px, 44px, '../img/common/icon_study_previous_on'); 
                        }
                        &.kbs {
                            .icon-set(44px, 44px, '../img/common/icon_study_kbs_on'); 
                        }
                    }
                }
            }
        }
        .step {
            position: absolute;
            top: 0;
            right: 0;
            height: 80px;
            width: 244px;
            background-color: #292c36;
            li {
                border-left: solid 1px #121418;
                a,
                strong {
                    .block();
                    width: 80px;
                    .height(80px);
                    text-align: center;
                    font-size: 20px;
                    color: #fff;
                    .transition(all .2s ease-in-out);
                }
                &.prev,
                &.next {
                    .icon {
                        width: 80px;
                        height: 80px;
                        .vertical-top();
                    }

                }
                a:hover {
                    background-color: #1daad8;
                }
                &.prev .icon { .background-image('modal/step_nav_prev'); }
                &.next .icon { .background-image('modal/step_nav_next'); }
                &.prev a:hover .icon { .background-image('modal/step_nav_prev_on'); }
                &.next a:hover .icon { .background-image('modal/step_nav_next_on'); }
            }
        }
    }

    /* contents */
    .contents {
        
        h1.title { 
            .reset();
            .height(63px);
            font-size: 27px;
            .bold();
        }

        .container { 
            margin: 30px 0;
        }

        .wrap {
            margin: 0 35px;
            width: auto;
        }

    }

    .section-vod {

        .clearfix();
        margin-bottom: 18px !important;
        .line-height-reset();

        h2.title { 
            margin-top: 10px;
            .height(63px);
            font-size: 27px;
        }

        .inner-wrap {
            .pos-relative();
        }

        .core {
            margin-right: 235px;
            .min-height(468px);
            background-color: #ffeee;
            .media {
                img { 
                    width: 100%;
                    .vertical-middle(); 
                }
            }
            @media (max-width: @screen-tablet) {
                margin-right: 0;
                .min-height(0px);
            }
        }
        .aside {
            
            position: absolute;
            right: 0;
            top: 0;
            width: 210px;

            @media (max-width: @screen-tablet) {
                position: static;
                width: auto;
            }
            
            .book-description {
                .title {
                    background-color: #fd7544;
                    border-radius: @border-radius @border-radius 0 0;
                    strong {
                        .block();
                        margin-left: 20px;
                        .height(54px);
                        font-size: 20px;
                        color: #fff;
                    }

                }
                .inner {
                    .box-sizing(content-box);
                    .min-height(210px);
                    padding: 0 20px;
                    background-color: #fff;
                    .background-image('modal/book_description'); 
                    background-position: right bottom;
                    border-radius: 0 0 @border-radius @border-radius;
                    strong {
                        .block();
                        padding: 18px 0 8px;
                        font-size: 16px;
                    }
                    p { 
                        .reset();
                        padding-bottom: 18px;
                        font-size: 12px;
                        line-height: 1.4;
                        color: #84929d;
                    }
                }
                @media (max-width: @screen-tablet) {
                    float: left;
                    margin-top: 20px;
                    width: 50%;
                    .module {
                        margin-right: 10px;
                    }
                }
            }
 
            .book-recommend {
                margin-top: 20px;

                .module {
                    background-color: #fff;
                    .min-height(170px);
                    .border-radius(@border-radius);
                }

                .title {
                    .pos-relative();
                    strong { 
                        margin-top: 17px;
                        .block();
                        .height(30px);
                        font-size: 20px;
                        margin-left: 20px;
                    }
                    .more {
                        .pos-absolute();
                        top: 20px;
                        right: 20px;
                        .icon-set(20px, 20px, '../img/common/ico_more_01');
                    }
                }

                ul {
                    .reset();
                    margin: 7px 10px 5px 10px;
                    li {
                        padding: 2px 0 0 15px;
                        .line-height();
                        .background-image('common/ico_ding');
                        background-position: left 45%;
                        // .background-no-repeat();
                        a {
                            .block();
                            .text-overflow();
                        }
                    }
                }

                @media (max-width: @screen-tablet) {
                    float: right;
                    width: 50%;
                    .module {
                        margin-left: 10px;
                        .min-height(264px);
                    }
                }
            }

        }
    }
}