/* ==========================================================================
   Overlay
   ========================================================================== */

/* overlay */
.overlay { .pos-absolute(); z-index: 1000; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

/* preloader */
.preloader { .pos-absolute(); z-index: 1100; top: 50%; left: 50%; }
.preloader span { .block(); width: 100px; border: solid 1px #ccc; text-align: center; }

/* loading */
span.loading { 
    .block(); 
    height: 80px; 
     .background-image('common/preload','gif');
     background-postition: center center;
     background-repeat: no-repeat; 
}
