/* page main
 =============================================================================== */

@jumbotron-height:     650px;

.page-main {

    // jumbotron
    #jumbotron {
        margin: 0 auto;
        max-width: 1600px;
        .swiper-container {
            max-height: @jumbotron-height;
        }
        .swiper-wrapper {
            max-height: @jumbotron-height;
        }
        .swiper-pagination {
            z-index: 100;
        }
        .swiper-slide {
            .pos-relative();
            z-index: 350;
            .text-center();
            min-height: 650px;
            background-position: center top;
            img {
                width: 980px;
                height: @jumbotron-height;
            }
            .toggler {
                .icon {
                    .icon-set(52px, 52px, '../img/common/btn_theme_off');
                }
                &.active {
                    .icon {
                        background-image: url('../img/common/btn_theme_on.png');
                    }
                }
            }
            .theme-menu {
                .opacity(0.6);
                .pos-absolute();
                z-index: 200;
                margin-top: -52px;
                width: 100%;
                text-align: center;
                .wrap {
                    text-align: left;
                    margin: 0 auto;
                }
                .toggler {
                    .pull-right();
                }
                .core {
                    background-color: #fff;
                    height: 395px;
                    overflow: hidden;
                    img {
                        width: 980px;
                        height: 130px;
                    }
                    .col {
                        border-top: solid 1px #ccc;
                    }
                }
            }
        }
        .theme-core {
            margin: 0 auto;
            width: 980px;
            height: 650px;
            background-position: center top;
            background-repeat: no-repeat;
        }
        &.theme-a {
            .theme { 
                background-image: url('../img/common/main_theme_01.png');
            }
            .theme-core {
                background-image: url('../img/common/main_theme_01_980.png');
            }
        }
        &.theme-b {
            .theme { 
                background-image: url('../img/common/main_theme_02.png');
            }
            .theme-core {
                background-image: url('../img/common/main_theme_02_980.png');
            }
        }
        &.theme-c {
            .theme { 
                background-image: url('../img/common/main_theme_03.png');
            }
            .theme-core {
                background-image: url('../img/common/main_theme_03_980.png');
            }
        }
        .swiper-nav {
            top: 50%;
            margin-top: -21px;
        }
        .swiper-pagination {
            bottom: 37px;
        }
    }


}