/* ==========================================================================
   Panel
   ========================================================================== */

.wrap.panel { 
    background-color: #fff; 
}

/*
.panel.bbs { .pos-relative(); width: 100%; *zoom:1 }
.panel.bbs .title { margin: 0; padding: 0; background: #eee; }
.panel.bbs .core { background: #f7f7f7; }
.panel.bbs .more { .inline-block(); .pos-absolute(); top: 0; right: 0; }
*/