/* ==========================================================================
   Poll
   ========================================================================== */

/* 설문조사 그래프 */
// <div class="poll-result">
//     <ul class="agree">
//         <li class="stand">찬성</li>
//         <li class="graph"><span></span></li>
//         <li class="stats">
//             <span class="percentage">82%</span>
//             <span class="num">(100명)</span>
//         </li>
//     </ul>
//     <ul class="disagree">
//         <li class="stand">반대</li>
//         <li class="graph"><span></span></li>
//         <li class="stats">
//             <span class="percentage">18%</span>
//             <span class="num">(30명)</span>
//         </li>
//     </ul>
// </div>

.poll-result {
	padding: 0 30px;
	height: 260px;
	.background-image('common/poll_result_bg');
	background-position: 125px top;
	background-repeat: no-repeat;
	border-bottom: 1px #d1d8dc solid;
	ul {
		.reset();
		.clearfix();
		li {
			font-size: 14px;
			float: left;
			color: @text-color;
		}
		.stand {
			.padding-top(65px);
			width: 98px;
			.text-center();
			.bold();
			.background-image('common/icon_agreement');
			background-repeat: no-repeat;
		}
		.graph {
			.mt25;
			width: 807px;
			overflow: hidden;
			.percent {
				.inline-block;
				height: 21px;
				.vertical-middle();
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
			.stats {
				color: @link-hover-color;
				.vertical-middle();
				.percentage {
					.bold();
					font-size: 24px;
				}
			}
		}

		&.agree {
			.stand { background-position: center 32px; }
			.graph .percent { background-color: @brand-danger; }
			.percentage { color: @brand-danger; }
		}
		&.disagree {
			.stand { background-position: center -52px; }
			.graph .percent { background-color: @brand-success; }
			.percentage { color: @brand-success; }
		}
	}
}