/* ==========================================================================
   Table
   ========================================================================== */

/* caption */
.caption { 
    .pos-relative(); 
    clear: both; 
    .block(); 
    margin: 10px 0 0; 
    padding: 7px 0; 
    text-align: center; 
}

.caption .more { 
    .pos-absolute(); 
    .block(); 
    top: 0; 
    bottom: 0; 
    right: 0; 
    margin: auto 0; 
    *margin-top: 10px; 
    padding: 0 22px; 
    height: 20px; 
}

/* default */
table {
    width: 100%;
    .scroll & { width: 96%; }
    &.fixed { table-layout: fixed; }
    .webkit &.fixed { table-layout: auto; }

    &.center { 
        td, th { text-align: center; }
    }

    /*
    & caption { z-index: -100; left: -1000%; top: 0; margin: 0; padding: 0; width: 1px; height: 1px; font-size: 1; line-height: 0; overflow: hidden; text-indent: -10000px; }   
    .ie & caption,
    .ie10 & caption,
    .firefox & caption { .pos-absolute(); .block(); width: 0; height: 0; border: none; }
    .chrome & caption,
    .webkit & caption { width: 0; height: 0; }
    */
    caption { display: none; }

    img, select, input, button, .button { .vertical-middle(); }

    textarea { width: 99%; }

    label { .vertical-middle(); }

    p.message { color: #999; }

    // select {
    //     min-width: 50px; 
    //     .ie8 & { min-width: auto; }
    //     .webkit & { min-width: 7px; }
    // }
    
    &.table-col {
        .line-height-xsmall();
        width: 100%;
        th, td { padding: 0; }
        thead th > span { .inline-block(); white-space: nowrap; }
    }

    &.table-row {
        width: 100%;
        // th, td { padding: 0; text-align: left; }
        // th { .vertical-top(); }
        // td { padding: 4px 0; }
        // th > span { 
        //     .inline-block(); 
        //     margin: 15px 0 15px 0;
        //     white-space: nowrap;
        //     line-height: 1.2; 
        //     color: #333;
        // }
        // th > span { 
        //     .inline-block(); 
        //     span.icon { .vertical-middle(); }
        // }
        // td > .description { 
        //     color: #999; 
        // }
        // td > span.description { 
        //     .inline-block(); margin-left: 5px; 
        // }
        // td > p { margin: 9px 0; padding: 0; }
    }

    /* table a */
    &.table-a {
        margin-top: 15px;
        margin-bottom: 20px;
        border-bottom: solid 1px #dbdcd7;
        th, td { 
            border-top: solid 1px #dbdcd7; 
            border-left: solid 1px #dbdcd7; 
            text-align: center;
            &:first-child {
                border-left: 0;
            }
        }
        th, tfoot td { 
            background-color: #f6f5f6; 
            > span {
                .height(50px);
                font-size: 15px;
                .bold();
            }
        }
        td {
            .box-sizing(content-box);
            padding: 9px 5px;
            height: 34px;
            .line-height();
            &.text-left {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    /* table a */
    &.table-b {
        border-top: 0px !important;
        th, td {
            font-size: @font-size-large;
            border-top: 1px #dbdcd7 solid !important;
        }
        th {
            .padding-right(20px);
            color: #3e3f43;
            border-right: 1px #dbdcd7 solid;
            background-color: #f6f5f6;
            span {
                .text-right();
                letter-spacing: 0px;
            }
        }
        td {
            .pl30();
            color: #848b91;
        }
    }

    &.table-small {
        // border-top: solid 2px #333;
        // border-bottom: solid 2px #333;
        // thead tr th {
        //     text-align: center;
        //     border-bottom: solid 1px #333;
        //     border-lefT: solid 1px #ccc;
        //     &:first-child {
        //         border-left: 0;
        //     }
        // }
        // tbody tr td {
        //     border-top: solid 1px #ddd;
        //     border-left: solid 1px #ccc;
        //     &:first-child {
        //         border-left: 0;
        //     }
        // }
        // th {
        //     padding: 8px 0;
        //     .normal();
        //     font-size: 12px;
        // }
        // td { 
        //     padding: 5px 0;
        //     font-size: 11px; 
        // }
    }
 
}














// .table-col-a {
//     border-bottom: solid 1px #aaa;
//     thead th {
//         background-color: #f7f7f7;
//         text-align: center;
//         span { 
//              .inline-block(); 
//              .height(74px);
//         }
//     }
//     tbody tr {
//         &:first-child td {
//             border-top: solid 1px #aaa;
//         }
//         td {
//             padding: 10px 0;
//             border-top: solid 1px #eee;
//             background-color: #fff;
//             text-align: center;
//         }
//     }
//     p { margin: 3px 0; }
//     a.underline { .bold(); }
// }


// /* 나의 상품평 */
// .table-col-comment {
//     border-bottom: 0;
//     .body {
//         td {
//             .js & {
//                 display: none;
//             }
//             .pos-relative();
//             padding: 20px;
//             background-color: #f7f7f7;
//             text-align: left;                  
//             border-bottom: solid 2px #eee;
//         }
//         .review { 
//             .pull-left();
//             width: 160px; 
//             li { margin: 0 0 5px 0; padding: 0; line-height: 18px; }
//         }
//         .core {
//             margin-left: 210px;
//             .line-height-large();
//         }
//         .action {
//             .pos-absolute();
//             right: 30px;
//             top: 20px;
//         }
//     }
// }










// /* 1:1 문의 & 상품 Q&A */
// .table-col-qna {
//     .line-height-xsmall();
//     border-top: solid 1px #aaa;
//     border-bottom: 0;
//     div { .box-sizing(content-box); }
//     tr.head td {
//         .line-height();
//     }
//     tr.body {
//         td { 
//             .js & { display: none; }
//             padding: 0;
//             background-color: #f7f7f7;
//             text-align: left; 
//         }
//     }
//     div.icon {
//         .pos-absolute();
//         .inline-block();
//         width: 35px;
//         height: 37px;
//     }
//     div.core {
//         .line-height-large();
//     }
//     div.question {
//         .pos-relative();
//     }
//     div.answer {
//         .pos-relative();
//         border-top: solid 1px #ddd;
//     }
// }


// /* 1:1 문의 */
// .private .table-col-qna {
//     .qna-head {
//         th, td {background-color:#f7f7f7; text-align:left; height:74px; line-height:74px; padding:5px 25px; border-bottom:2px solid #bdbdbd;}
//         &.first { th, td {border-bottom:1px solid #d3d3d3;}}
//     }
//     .qna-detail {
//         th, td {text-align:left;}
//     }

//     tr.head td { padding: 17px 0; }
//     div.core { padding: 20px 0; }
//     div.question {
//         .pos-relative();
//         div.icon { top: 20px; left: 40px; }
//         div.core { padding-left: 130px; .min-height(70px); }
//     }
//     div.answer {
//         div.holder { padding-left: 130px; padding-right: 20px; }
//         div.icon { top: 20px; left: 57px; }
//         div.core { .min-height(35px); }
//         div.and {
//             .pos-relative();
//             padding: 20px 0;
//             .line-height-large();
//             border-top: solid 1px #aaa; 
//             p.list-a { margin: 0 0 10px; color: #ff0000; }
//             a.button {
//                 .pos-absolute();
//                 top: 20px;
//                 right: 0;
//             }
//         }
//     }
// }

// /* 상품 Qna */
// .public .table-col-qna {
//     border-top: 0;
//     tr.head {
//         td { padding: 17px 0; }
//         .product {
//             a.thumb {
//                 .inline-block();
//                 width: 155px;
//                 text-align: center;
//                 img { 
//                     margin: 20px auto;
//                 }
//             }
//             .text {
//             }
//         }
//     }
//     div.core { padding: 30px 0; padding-right: 30px; }
//     div.question {
//         div.icon { top: 22px; left: 57px; }
//         div.core { padding-left: 120px; .min-height(25px); }
//     }
//     div.answer {
//         div.icon { top: 22px; left: 77px; }
//         div.core { padding-left: 140px; .min-height(25px); }
//     }
// }







// .table-form {
//     th, td { 
//         border-top: solid 1px #ddd; 
//         border-left: solid 1px #ddd;
//     }
//     tr:first-child { 
//         th, td {
//             border-top: 0; 
//         }
//     }
//     tr th:first-child { border-left: 0; }
//     th { 
//         background-color: #f7f7f7;
//         label {
//             .inline-block();
//             margin-left: 20px;
//         }
//     }
//     td {
//         padding: 10px 10px 10px 30px;
//     }
//     p { margin: 5px 0; padding: 0; }
//     .message { color: #666; }
//     input.xlarge { width: 70%; }
// }
























ul.table {
    .reset();
    li { 
        .clearfix();
        .th, .td { 
            .inline-block();
            .vertical-middle();
        }
        .th {
            .pull-left();
        }
        .td {
            .pull-right();
        }
    }
}

/*
dl.table { margin: 0; padding: 0; }
dl.table * { .vertical-middle(); }
dl.table dt,
dl.table dd { height: 26px; line-height: 25px; overflow: hidden; }
dl.table dt { clear: left; .pull-left(); margin: 0 0; padding: 0; }
dl.table dd { margin: 0 0 0 100px; padding: 0; }
*/