/* ==========================================================================
   Thumbnail
   ========================================================================== */

a:hover span.thumb { background: #aaa; }

span.thumb { 
    .inline-block(); 
    padding: 1px; 
    background: #e8e8e8; 
}

/*
.thumb50 .thumb span.thumb,
.thumb50 a .thumb img { width: 50px; height: 50px; }
.thumb80 a .thumb,
.thumb80 a .thumb img { width: 80px; height: 80px; }
.thumb100 .thumb span.thumb,
.thumb120 a .thumb,
.thumb120 a .thumb img { width: 120px; height: 120px; }
.thumb130 a .thumb img,
.thumb130 .thumb span.thumb,
.thumb130 .thumb-nolink img { width: 130px; height: 130px; }
span.thumb280,
.thumb280 img,
.thumb400 a .thumb img { width: 400px; height: 400px; }

td.thumb80 { height: 90px; }
td.thumb100 { min-height: 0; }
td.thumb120 { min-height: 0; }
td.thumb130 { height: 130px; }
td.thumb280 { min-height: 0; }
td.thumb400 { min-height: 0; }
*/