<h1 id="fxslidr">fxSlidr</h1>
<p>CSS3 FX Slider with Typho Transitions</p>
<h2 id="demo">demo</h2>
<ul>
<li><a href="http://riix.github.io/labs/fxSlidr/default.classic.html">basic format</a></li>
</ul>
<h2 id="basic-format">basic format</h2>
<h3 id="html">html</h3>
<pre><code class="lang-html">

</code></pre>
<h3 id="javascript">javascript</h3>
<pre><code class="lang-javascript">

</code></pre>
<h2 id="options">options</h2>
<pre><code class="lang-javascript">var setting = {

};
</code></pre>
<h2 id="fx">fx</h2>
<pre><code class="lang-javascript">var _arrFx = [
    &#39;fxCrossFade&#39;,
    &#39;fxSoftScale&#39;, // Full Width
    &#39;fxPressAway&#39;,
    &#39;fxSideSwing&#39;,
    &#39;fxFortuneWheel&#39;,
    &#39;fxSwipe&#39;,
    &#39;fxPushReveal&#39;,
    &#39;fxSnapIn&#39;,
    &#39;fxLetMeIn&#39;,
    &#39;fxStickIt&#39;,
    &#39;fxArchiveMe&#39;,
    &#39;fxVGrowth&#39;,
    &#39;fxSlideBehind&#39;,
    &#39;fxSoftPulse&#39;,
    &#39;fxEarthquake&#39;,
    &#39;fxCliffDiving&#39;,
    &#39;fxSlideForward&#39;, // Transparent
    &#39;fxTableDrop&#39;,
    &#39;fxSlideIt&#39;,
    &#39;fxBottleKick&#39;,
    &#39;fxShelf&#39;,
    &#39;fxCorner&#39;, // Small Component
    &#39;fxVScale&#39;,
    &#39;fxFall&#39;,
    &#39;fxFPulse&#39;,
    &#39;fxRPulse&#39;,
    &#39;fxHearbeat&#39;,
    &#39;fxCoverflow&#39;,
    &#39;fxRotateSoftly&#39;,
    &#39;fxDeal&#39;,
    &#39;fxFerris&#39;,
    &#39;fxShinkansen&#39;,
    &#39;fxSnake&#39;,
    &#39;fxShuffle&#39;,
    &#39;fxPhotoBrowse&#39;,
    &#39;fxSlideBehind&#39;,
    &#39;fxVacuum&#39;,
    &#39;fxHurl&#39;
];
</code></pre>
<h3 id="plugins">plugins</h3>
<ul>
<li><a href="https://github.com/desandro/imagesloaded">imagesloaded.3.1.8.pkgd.min.js</a></li>
<li><a href="https://github.com/ngryman/jquery.finger">jquery.finger.0.1.2.min.js</a></li>
<li><a href="https://github.com/jquery/jquery-mousewheel">jquery.mousewheel.3.1.12.min.js</a></li>
<li><a href="https://github.com/ccampbell/mousetrap">moustrap.1.4.6.min.js</a></li>
</ul>
