html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
img { vertical-align: top; }


.jumbotron { background-color: #f2f3f6; }
.jumbotron .bg,
.jumbotron .obj,
.jumbotron .core { position: absolute; z-index: 2; }
.jumbotron .bg {
    margin-left: -490px;
    left: 50%;
    width: 981px;
    height: 100%;
    overflow: hidden;
}
.jumbotron .obj {
    left: 50%;
    width: 635px;
    height: 100%;
}
.jumbotron .core {
    top: 0px;
    left: 50%;
    margin-left: -391px;
    text-align: left;
}
.jumbotron p { margin: 0; padding: 0; }

/* jumbotron */
.jumbotron .itemwrap,
.jumbotron .bg,
.jumbotron .item { height: 337px; }

.jumbotron .item { text-align: center; }
.jumbotron .wrap { position: relative; margin: 0 auto; width: 981px; }

.wrap { width: 981px; }

#header { position: relative; z-index: 2000; }

#utility { position: relative; z-index: 2200; background: url('../img/common/a_utility_bg.png') center top repeat-x; }
#utility .wrap { position: relative; }
#utility img.util { position: absolute; left: 0; top: 0; }

#pick { position: absolute; z-index: 2100; left: 0; top: 33px; right: 0; margin-top: -408px; background: #fff; }
#pick .wrap { position: relative; z-index: 2101; }
#pick .btn { display: inline-block; position: absolute; z-index: 2202; right: 0; top: 408px; }

.active-pick #pick { border-bottom: solid 3px #0054a6; }

#top { border-top: solid 1px #dfdfdf; }

#gnb { border-top: solid 1px #e5e5e5; border-bottom: solid 2px #0054a6; }

#gnb li.d1 { position: relative;  }
#gnb a.d1 { display: block; height: 77px; }
#gnb div.d2 { display: none; position: absolute; top: 78px; width: 168px; height: 337px; background: #0054a6; }
#gnb div.d3 { display: none; position: absolute; top: 0; margin-left: 168px; width: 415px; height: 337px; background: #0b6ccb; }

#jumbotron .core { height: 337px; }
#jumbotronCore,
#jumbotronCore .item { height: 337px; }
#jumbotron .nav { box-sizing: content-box; height: 49px; border-top: solid 1px #e5e5e5; border-bottom: solid 1px #e5e5e5; background: #f9f9fb; }

#jumbotron .prev { position: absolute; z-index: 2500; left: 50%; top: 50%; width: 46px; margin-left: -490px; margin-top: -36px; }
#jumbotron .next { position: absolute; z-index: 2500; left: 50%; top: 50%; width: 46px; margin-left: 444px; margin-top: -36px; }

#pager { position: absolute; z-index: 2500; top: 300px; left: 50%; width: 980px; margin-left: -490px; text-align: center; }

#timeSale { margin-top: 46px; background: url('../img/common/a_timesale_bg.png') center top repeat-x; }

#themeShopping .ban-a { margin-top: 30px; }
#themeShopping .ban-b { margin-top: 8px; }
#themeShopping li { position: relative; overflow: hidden; }

.no-csstransforms3d #themeShopping li .on { position: absolute; top: -100%; }
.no-csstransforms3d #themeShopping li:hover .on { top: 0; }

.csstransforms3d #themeShopping li .on { position: absolute; opacity: 0; filter: alpha(opacity=0); -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); -webkit-transition: all 0.3s; transition: all 0.3s; }
.csstransforms3d #themeShopping li:hover .on { opacity: 1; filter: alpha(opacity=100); -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); }

#choice .core { margin-top: 15px; }

#footer .container { border-top: solid 1px #e5e5e5; }
#footer .upper { background: #fdfdfd; }