html, body { margin: 0; padding: 0; background: #0054a6; }
body { padding-left: 65px; padding-right: 65px; min-width: 980px; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }

.container { overflow: hidden; margin: 0px auto; margin-top: 67px; max-width: 1600px; background: #0054a6; }
.wrap {  width: auto; background: #fff; }
.wrap .inner {  margin: 30px 33px; padding-bottom: 139px; border: 1px solid #e5e5e5; background: #fff; }
h1 { margin: 40px 0 0 0; padding: 0px; text-align: center; }
#footer { max-width: 1600px; margin:0 auto; background: #0054a6; text-align: center; }

.grid { margin: 0px auto; width: 780px; }
.grid .nth-child-1,
.grid .nth-child-3 { width: 325px !important; }
.grid .nth-child-1 { text-align: right; }
.grid .nth-child-2 { width: 130px !important; text-align: center; }

.csstransforms3d .reveal {
    opacity: 0;
    transition-duration: 0.5s;
}
.csstransforms3d h1 .reveal {
    transform: translate3d(0, 30px, 0);
}
.csstransforms3d .nth-child-1 .reveal {
    transition-duration: 0.3s;
    transform: translate3d(30px, 0, 0);
}
.csstransforms3d .nth-child-3 .reveal {
    transition-duration: 0.3s;
    transform: translate3d(-30px, 0, 0);
}
.csstransforms3d .reveal.inview {
    opacity: 1; 
    transform: translate3d(0px, 0px, 0px);
    transition-delay: 0.1s;
}

/*
.csstransforms3d .reveal {
    opacity: 0;
    transition-duration: 0.5s;
    transform: translate3d(0, 30px, 0);
}
.csstransforms3d h1 .reveal {
    transform: translate3d(0, 0, 0) scale(1.3, 1.3);
}
.csstransforms3d .reveal.inview {
    opacity: 1; 
    transform: translate3d(0px, 0px, 0px) scale(1,1);
    transition-delay: 0.1s;
}
*/