body { background-color: #000; }

#container { margin: 30px 5%; }
.wrap { width: 982px; }

/* jumbotron */
.jumbotron { background-color: #333; }
.jumbotron .bg,
.jumbotron .obj,
.jumbotron .core { position: absolute; z-index: 2; }
.jumbotron .bg { 
    margin-left: -960px;
    left: 50%;
    width: 1920px;
    height: 100%;
    overflow: hidden;
}
.jumbotron .obj { 
    left: 50%;
    width: 635px;
    height: 100%;
}
.jumbotron .obj.nth-child-3 { margin-left: -70px; }
.jumbotron .core { 
    top: 80px;
    left: 50%;
    margin-left: -264px;
    width: 528px;
    text-align: left;
}
.jumbotron p { margin: 0; padding: 0; }

/* jumbotron */
.jumbotron .itemwrap,
.jumbotron .bg,
.jumbotron .item { height: 461px; }

#toggler { 
    position: absolute; 
    z-index: 4000; 
    left: 0; 
    top: 0; 
    background: #fff; 
}

#container { margin: 0; }
#aside { 
    position: absolute; 
    transform: translate3d(-100%, 0, 0);
    z-index: 5000; 
    left: 0; 
    top: 0; 
    width: 200px; 
    height: 100%; 
    min-height: 100%; 
}
.nav-end #aside { 
    transform: translate3d(0, 0, 0);
}
#square { 
    position: absolute;
    z-index: 3100;
    left: 60px;
    top: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
}
.nav-in #square button { opacity: 0; }


#aside button { position: absolute; right: 20px; top: 20px; }
#nav li a { 
    display: block; 
    height: 33px;
    line-height: 33px;
    b1ackground: #fff;
}
#nav li { opacity: 0; transition-duration: 0.3s; margin-top: 10px; }
#nav li.active { font-weight: bold; }
.nav-end #nav li { opacity: 1; margin-top: 0px; }