.js-fxSlidr * { 
    transition-timing-function: cubic-bezier(.42, 0, .58, 1.0); 
}

/* display */
.js-fxSlidr { display: none; }

.js-fxSlidr .item { display: none; }
.js-fxSlidr .item.active,
.js-fxSlidr .item.navInPrev,
.js-fxSlidr .item.navInNext,
.js-fxSlidr .item.navOutPrev,
.js-fxSlidr .item.navOutNext { display: block; }

/* default */
.js-fxSlidr { clear: both; box-sizing: content-box; margin: 0 auto; text-align: left; line-height: 1; }
.js-fxSlidr .itemwrap { margin: 0 auto; padding: 0; list-style: none; text-align: center; }
.js-fxSlidr .item { opacity: 0; z-index: 999; pointer-events: none;  }
.js-fxSlidr .item .holder { position: relative; }
.js-fxSlidr .item.active { opacity: 1; z-index: 1000; pointer-events: auto; }

/* utilities */
.no-csstransforms .js-fxSlidr a.nav { margin-top: -37px; }
.js-fxSlidr a.nav { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.js-fxSlidr a.prev { left: 0; }
.js-fxSlidr a.next { right: 0; }

.js-fxSlidr-pager { opacity: 0; transition: opacity .5s ease-in-out .5s; }
.js-fxSlidr-pager.shown { opacity: 1; }

.js-fxSlidr-preloader { font-size: 11px; color: #fff; line-height: 1; }
.js-fxSlidr-preloader p { margin: 5px auto !important; }

.js-fxSlidr a.nav { display: none; }

/* position and size, overflow */
.js-fxSlidr { position: relative; max-width: 100%; width: 100%; overflow: hidden; }
.js-fxSlidr .itemwrap { min-height: 100px; width: 100%; height: 100%; }
.js-fxSlidr .item { position: absolute; width: 100%; height: 100%; }

/* full width */
.js-fxSlidr.fullwidth { background: #333; }

/* kenburns effect */
.animating .item.kenBurnsIn .bg img { 
    -webkit-transform: scale(1); 
    transform: scale(1); 
}
.animated .item.kenBurnsOut .bg img {
    -webkit-animation: fxKenburn 10s forwards linear;
            animation: fxKenburn 10s forwards linear;
}
@-webkit-keyframes fxKenburn {
    1% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1.2); }
}
@keyframes fxKenburn {
    1% { -webkit-transform: scale(1); transform: scale(1); }
    100% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.pager-a { position: relative; text-align: center; }
.pager-a .wrap { position: absolute; margin-top: -40px; width: 100%; text-align: center; }

