html, body { margin: 0; padding: 0; }
html { height: 101.1%; }

* { box-sizing: border-box; transition-timing-function: ease-in-out; }

.wrap { width: 980px; }

#top { background: #0052a1; }

#gnb { position: relative; z-index: 6000; background: #343434; 
    -webkit-box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.4);
}

#skyscraperA { position: fixed; top: 230px; left: 50%; margin-left: -640px; }
#skyscraperB { position: fixed; top: 230px; left: 50%; margin-left: 510px; }

#navigation { position: relative; z-index: 5500; width: 178px !important; border: 1px #e5e5e5 solid; border-top: 0px; }
#navigation ul.core { margin: 0 0 0 -10px; padding: 0 0 0 10px; list-style: none; width: 200px; }
#navigation ul.core li { margin: 0px; padding: 0px; line-height: 0; }
#navigation ul.core li a.d1-1 { position: relative; display: inline-block; padding: 0 10px; width: 178px; text-decoration: none; font-size: 13px; color: #343434; overflow: hidden; }
#navigation ul.core li a.d1-1 em { position: absolute; display: block; z-index: -1; left: 0px; top: 0px; width: 178px; height: 45px; z-index: 0; content: ''; background: #ffab1f; }
#navigation ul.core li a.d1-1 span { position: relative; z-index: 1; display: inline-block; padding-left: 10px; width: 158px; height: 45px; line-height: 45px; border-top: 1px #e5e5e5 solid; font-weight: 600; }
#navigation ul.core li:first-child a.d1-1 span { border-top: 0px; }

#navigation .d1 a { position: relative; }
#navigation div.sub-box { display: none; position: absolute; z-index: 2; top: 0px; left: 179px;
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.4);
}
#navigation div.sub-box:after { position: absolute; left: -7px; top: 60px; content: ''; width: 8px; height: 15px; background: url('../img/common/sub_box.png') no-repeat left top; }
.csstransforms3d #navigation a.d1  { transition-property: color; transition-duration: 0.3s; }
.csstransforms3d #navigation a.d1 em { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 100px, 0); transition: all 0.4s;  }
.csstransforms3d #navigation .d1.active a.d1  { color: #fff; transition-property: color; transition-duration: 0.3s; }
.csstransforms3d #navigation .d1.active a.d1 em { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.js-fxSlider { display: block; }
.js-fxSlider .item { opacity: 1; }

#jumbotronWrap { width: 799px !important; border-right: 1px #e5e5e5 solid; }
#jumbotronWrap .large { position: relative; float: left; width: 300px; height: 490px; border-bottom: 1px #e5e5e5 solid; }
#jumbotronWrap .small { float: left; width: 498px; }
#jumbotronWrap .small .item { border-left: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; }
#jumbotronWrap .small .nth-child-1 { width: 198px; height: 245px; }
#jumbotronWrap .small .nth-child-2 { width: 300px; height: 245px; }
#jumbotronWrap .small .nth-child-3 { width: 198px; height: 246px; }
#jumbotronWrap .small .nth-child-4 { width: 300px; height: 246px; }

#jumbotronPager { position: absolute; z-index: 5000; left: 0; right: 0; top: 460px; text-align: center; }

#smartShopping .grid { border-bottom: 1px #eee solid; }

#eventSliderPager li { position: relative; overflow: hidden; }
#eventSliderPager li .over { position: absolute; }
#eventSliderPager li.active .over { position: absolute; }

#eventSlider { position: relative; overflow: hidden; }
#eventSlider .large { float: left; width: 424px; }
#eventSlider .small { float: left; width: 361px; }
#eventSlider .small .item { width: 180px; height: 179px; border-right: 1px #eee solid; }
#eventSlider .small .nth-child-1,
#eventSlider .small .nth-child-2 { border-bottom: 1px #eee solid; }
.csstransforms3d #eventSliderPager li .over { -webkit-transform: translate3d(-410px, 0, 0); transform: translate3d(-410px, 0, 0); transition: all 0.4s;  }
.csstransforms3d #eventSliderPager li.active .over { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }


#mdChoice { background: url('../img/common/b_08_bg.png') repeat-x left top; }
#mdChoice .module li { position: relative; height: 43px; overflow: hidden; }
#mdChoice .module li .over { position: absolute; }
.csstransforms3d #mdChoice li .over { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 100px, 0); transition: all 0.4s;  }
.csstransforms3d #mdChoice li.active .over { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#planning { margin-top: 28px; }

#pulsDeal .col-1-3 { margin-left: 10px; width: 320px !important; }
#pulsDeal .col-1-3:first-child { margin-left: 0px; }

#footer { margin-top: 30px; }
#footer .container { border-top: solid 1px #e5e5e5; }
#footer .upper { background: #393939; }