.js-preloadr {
    position: fixed;
    z-index: 9000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: left;
}

.js-preloadr { opacity: 0; transition: opacity 0.5s; }
.preloadr-ready .js-preloadr { display: block; }
.preloadr-active .js-preloadr { opacity: 1; }

.js-preloadr .loader-inner { display: inline-block; margin: 0 auto; }

.overlay {
    display: none;
    position: fixed;
    z-index: 8000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.js-overlay { display: none; opacity: 0; transition: opacity 0.5s; }
.overlay-ready .js-overlay { display: block; }
.overlay-active .js-overlay { opacity: 1; }
