<h1 id="ui-dev-labs">UI Dev Labs</h1>
<p>Product Viewer for Shopping Mall Product Detail Page.</p>
<h3 id="demo">DEMO</h3>
<ul>
<li><a href="http://riix.github.io/labs/fxSlidr/">fxSlidr</a></li>
<li><a href="http://riix.github.io/labs/underScor/">underScor</a></li>
<li><a href="http://riix.github.io/labs/productViewr/">productViewr</a></li>
</ul>
<h3 id="log">Log</h3>
<ul>
<li>0.1 최초 작성</li>
<li>0.4 Kenburns 옵션 추가, 크기 지정 옵션 추가</li>
</ul>
