/* datepicker
=============================================================================== */
div.section-datepicker { 
    position: absolute;
    top: 0; 
    z-index: 999; 
    border: solid 1px #333; 
    background: #fff; 
    box-shadow: 3px 3px 3px #999; 
    line-height: 1;
    font-size: 12px;
    a {
        &:link,
        &:visited { text-decoration: none; }
        &:hover,
        &:active { text-decoration: underline; }
    }
    .cal-wrapper { padding: 10px; min-width: 370px; overflow: hidden; }
    .head { 
        float: left;
        width: 150px; 
        text-align: center; 
        div { 
            margin: 5px 0; 
        }
        .year { margin: 10px 0 20px; }
        .year select { margin-right: 3px; width: 80px; vertical-align: middle; }
        .month {
            a {
                span.ir {
                    width: 30px; 
                    height: 30px; 
                    background-position: left top;
                    background-repeat: no-repeat; 
                    vertical-align: bottom;
                    background-image: url('../img/plugins/datepicker_nav.gif');
                }
                &.nextmonth span.ir {
                    background-position: right top;
                }
                &.disabled span.ir {
                    opacity: 0.2;
                }
            }
            strong { 
                display: inline-block;
                font-weight: bold;
                padding-right: 3px; font-family: Verdana, Tahoma; font-size: 27px; 
            }
        }
        .today { margin-top: 30px; }
        .today span { font-size: 12px; }
    }
    .core { 
        float: right;
        margin: 0; 
        padding: 0 0 10px 0; 
        width: 200px; 
        background: none; 
    }
    table { 
        table-layout: fixed;
        width: 100%; 
        caption { display: none; }
        th { 
            padding: 11px 0 !important; text-align: center; background: #fff !important; 
            font-weight: bold;
        }
        th abbr { 
            display: block;
            border: none; cursor: default; 
        }
        td { 
            padding: 0 !important; width: 14.28%; text-align: center; background: #fff; border: 0 !important; 
            &.empty { background: #fff; }
        }
        th.sun, td.sun a { color: #cc3333; }
        th.sat, td.sat a { color: #3333cc; }
        span, a { 
            display: block;
            height: 25px;
            line-height: 25px;
        }
        a { color: #444; background-color: #FFF6F0; transition: all 0.3s; }
        span { color: #666; cursor: default; }
        a:hover,
        a.today { 
            background-color: #000;
            color: #fff !important; 
            text-decoration: none;
        }
    }
    .button-close {
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        z-index: 1010; 
        right: 0; 
        top: 0; 
        width: 17px; 
        height: 17px; 
        cursor: pointer;
        background-image: url('../img/plugins/btn_close_datepicker.gif');
    }
}

