body { 
    background-color: #fff;
    border-top: solid 1px #da2128;
}

.wrap { width: 980px; }

#header { background: #353535; }

#body .grid { margin: 130px auto 0; }

#footer { border-top: solid 1px #f2f2f2; }