body { background-color: #fff; }

.wrap { width: 982px; }

.title { clear: both; height: 99px; background: url('../img/min/a_title_bg.png') center center repeat-x; }
.title img { vertical-align: middle; }

#utility {
    position: aboslute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    background-color: #1d1d1d;
    border-bottom: solid 1px #3f3f3f;
}
#utility a { color: #fff; text-decoration: none; }
#utility a:hover { text-decoration: underline; }
#utility .wrap { width: 100%; min-width: 982px; }

#lnb { position: absolute; z-index: 1000; top: 104px; left: 50%; margin-left: -496px; width: 169px; -webkit-transform: translate3d(0, 0, 110); transform: translate3d(0, 0, 110); -webkit-transform: perspective( 600px ); transform: perspective( 600px );}

.jumbotron { clear: both; text-align: center; line-height: 1; }
.jumbotron .slider-wrapper { margin: 0 auto; min-width: 982px; width: 100%; overflow: hidden; height: 461px; text-align: left; border-bottom: solid 3px #eb1c23; }
.jumbotron .item { text-align: center; }
.jumbotron .item p { margin: 0; padding: 0; }
.jumbotron .item .inner { position: relative; }
.jumbotron .item .inner .bg { 
    position: absolute;
    z-index: 1;
    height: 461px;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    overflow: hidden;
    height: 461px;
}
.jumbotron .item .inner .obj { 
    position: absolute;
    z-index: 2;
    height: 461px;
    left: 50%;
    width: 635px;
    height: 461px;
}
.jumbotron .item .inner .obj.nth-child-3 { margin-left: -70px; }
.jumbotron .item .core { 
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 50%;
    width: 528px;
    margin-left: -264px;
    text-align: left;
}

.csstransitions .jumbotron .double .item .bg img { opacity: 0; }
.csstransitions .jumbotron .double .item .obj { opacity: 0; }
.csstransitions .jumbotron .double .item .core p { opacity: 0; }
.csstransitions .jumbotron .double .item.fx-first { opacity: 1; }
.csstransitions .jumbotron .double .item.fx-first .bg img { opacity: 1; }
.csstransitions .jumbotron .double .item.fx-second .obj { opacity: 1; }
.csstransitions .jumbotron .double .item.fx-second .core p { opacity: 1; }

/* animation */
.csstransitions .jumbotron .double .item .bg img { 
    -webkit-transform: scale(1.04, 1.04); 
    transform: scale(1.04, 1.04); 
    -webkit-transition: all 1.2s 0s;
    transition: all 1.2s 0s; 
}
.csstransitions .jumbotron .double .item .obj { 
    -webkit-transform: translate3d(20px, 0, 0); 
    transform: translate3d(20px, 0, 0); 
    -webkit-transition: all .7s 0s; 
    transition: all .7s 0s; 
}
.csstransitions .jumbotron .double .item .core p { 
    -webkit-transform: translate3d(-20px, 0, 0); 
    transform: translate3d(-20px, 0, 0); 
}
.csstransitions .jumbotron .double .item .core p { -webkit-transition: all .7s .3s; transition: all .7s .3s; }
.csstransitions .jumbotron .double .item.fx-first .bg img { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
.csstransitions .jumbotron .double .item.fx-second .obj { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.csstransitions .jumbotron .double .item.fx-second .core p { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }


.csstransitions .jumbotron .double .item .core p:nth-child(1) { transition: all .7s .3s; }
.csstransitions .jumbotron .double .item .core p:nth-child(1) { transition: all .7s .5s; }
.csstransitions .jumbotron .double .item .core p:nth-child(3) { transition: all .7s .7s; }
.csstransitions .jumbotron .double .item .core p:nth-child(4) { transition: all .7s .9s; }


.pager-jumbotron { text-align: center; height: 44px; }
.pager-jumbotron .wrap { position: relative; }
.pager-jumbotron .wrap .inner { position: absolute; margin-top: 30px; width: 100%; text-align: center; }

#issue .wrap { position: relative; height: 608px; }
#issue .item { position: absolute; left: 0; top: 0; width: 100%; }
#issue .nav { position: relative; }
#issue .nav ul { position: absolute; z-index: 1; left: 426px; height: 588px; overflow: hidden; }

#issue .item .list ul { float: right; width: 421px; }

/* opacity */
/*
#issue .item { opacity: 0; }
#issue .item.fx-first { opacity: 1; }
*/
#issue .item .large li img { opacity: 0; }
#issue .item .list li img { opacity: 1; }
#issue .item.fx-first .large li img.txt { opacity: 1; }
#issue .item.fx-second .large li img.pic { opacity: 1; }
#issue .item.fx-second .list li img { opacity: 1; }

/* animation */
#issue .item .large li:nth-child(4) img { -webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0); }
#issue .item.fx-second .large li img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
/*
#issue .item .list li img { transform: translate3d(-20px, 0, 0); }
#issue .item.fx-second .list li img { transform: translate3d(0, 0, 0); }
*/

/* duration */
/*
#issue .item .large li:nth-child(1) img { transition: all .5s 0s; }
#issue .item .large li:nth-child(2) img { transition: all .5s .1s; }
#issue .item .large li:nth-child(3) img { transition: all .5s .2s; }
*/
#issue .item .large li:nth-child(4) img { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
#issue .item .list li:nth-child(1) img { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
#issue .item .list li:nth-child(2) img { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
#issue .item .list li:nth-child(3) img { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
#issue .item .list li:nth-child(4) img { -webkit-transition: all .5s 0s; transition: all .5s 0s; }

#newArrival { clear: both; line-height: 1; }
#newArrival .slider-wrapper { position: relative; height: 389px; overflow: hidden; }
#newArrival .nav { position: relative; }
#newArrival .nav a { display: inline-block; position: absolute; z-index: 100; top: 150px; width: 47px; height: 74px; }
#newArrival .nav a.prev { left: 0; }
#newArrival .nav a.next { right: 0; }
#newArrival .color { position: relative; }
#newArrival .color .inner { position: absolute; top: 302px; width: 100%; text-align: center; }
#newArrival .color a { display: inline-block; border: solid 1px #fff; }
/*
#newArrival .color a.active { border: solid 1px #aaa; }
*/
#newArrival .double .item { position: absolute; left: 0; top: 0; width: 100%; }
#newArrival .double .item .large { position: relative; float: left; width: 245px; }
#newArrival .double .item .large .txt { position: absolute; top: 292px; width: 100%; text-align: center; }
#newArrival .double .item .large p { margin: 0; padding: 0; }
#newArrival .double .item .list { float: right; width: 735px; }

#newArrival li .nth-child-1 { }
#newArrival li .nth-child-2 { display: none; }

/* opacity */
/*
#newArrival .item { opacity: 0; }
#newArrival .item.fx-first { opacity: 1; }
*/
.csstransitions #newArrival .double .item .large .pic { opacity: 0; }
.csstransitions #newArrival .double .item .large p { opacity: 0; }
.csstransitions #newArrival .double .item .tab li { opacity: 0; }

.csstransitions #newArrival .double .item.fx-second .large .pic { opacity: 1; }
.csstransitions #newArrival .double .item.fx-second .large p { opacity: 1; }
.csstransitions #newArrival .double .item.fx-second .tab li { opacity: 1; }

/* animation */
.csstransitions #newArrival .double .item .tab li { -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); }
.csstransitions #newArrival .double .item .large p { -webkit-transform: translate3d(-20px, 0, 0); transform: translate3d(-20px, 0, 0); }
.csstransitions #newArrival .double .item.fx-second .large p { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.csstransitions #newArrival .double .item.fx-second .tab li { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* duration */
.csstransitions #newArrival .double .item .large .pic { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
.csstransitions #newArrival .double .item .large p:nth-child(1) { -webkit-transition: all .5s .5s; transition: all .5s .5s; }
.csstransitions #newArrival .double .item .large p:nth-child(2) { -webkit-transition: all .5s .7s; transition: all .5s .7s; }
.csstransitions #newArrival .double .item .tab li:nth-child(1) { -webkit-transition: all .5s 0s; transition: all .5s 0s; }
.csstransitions #newArrival .double .item .tab li:nth-child(2) { -webkit-transition: all .5s .3s; transition: all .5s .3s; }
.csstransitions #newArrival .double .item .tab li:nth-child(3) { -webkit-transition: all .5s .5s; transition: all .5s .5s; }

#promotion { clear: both; }
#promotion .nav { position: relative;  }
#promotion .nav a { display: inline-block; position: absolute; z-index: 100; top: 42px; }
#promotion .nav a.prev { left: 0; }
#promotion .nav a.next { right: 34px; }
#promotion .slide { height: 138px; overflow: hidden; }
#promotion .item-wrapper { position: relative; margin: 14px 60px; }

#promotion .item { display: none; position: absolute; left: 0; top: 0; }
#promotion .item { display: block; }

#promotion .item { opacity: 0; -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 20px); transform: scale(1.1, 1.1) translate3d(0, 0, 20px); transition: all 0.3s; }
#promotion .item.fx-second { opacity: 1; -webkit-transform: scale(1,1) translate3d(0, 0, 0); transform: scale(1,1) translate3d(0, 0, 0); }

#link { clear: both; border-top: solid 2px #ccc; }

#footer { clear: both; background-color: #393939; }

#popup .item {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    box-shadow: 3px 3px 10px #333;
}

#popup .item_01 {
    background-color: #df1316;
    background-image: url('../img/min/a_popup_bg_01.jpg');
}

#popup .item_02 {
    background-color: #AFC1E3;
    background-image: url('../img/min/a_popup_bg_02.png');
    background-position: center bottom;
}

/* stage */
#stage p { margin: 0; padding: 0; }
/*
#stage .pic { text-align: center; min-height: 240px; background: url('ajax-loader.gif') center center no-repeat; }
#stage .pic img { max-width: 100%; }
#stage .item { float: left; width: 100%; }
#stage .item .module { margin: 5px; padding: 10px; background: #fff; border: solid 1px #eee; border-radius: 3px; box-shadow: 0px 0px 2px #666; }
*/

#popup .pager { position: relative; margin: 0; }
#popup .pager a { display: inline-block; position: absolute; z-index: 2000; }
#popup .pager a.prev { left: 0; top: 400px; opacity: 0.8; -webkit-transition: all 0.3s; transition: all 0.3s; }
#popup .pager a.next { right: 0; top: 400px; opacity: 0.8; -webkit-transition: all 0.3s; transition: all 0.3s; }
#popup .pager a.prev:hover,
#popup .pager a.next:hover { opacity: 1;  }
#popup .pager a.close { position: absolute; right: 0; opacity: 0.8; -webkit-transition: all 0.3s; transition: all 0.3s; }
#popup .pager a.close:hover { opacity: 1;  }
#popup * { -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
#popup .holder { 
    margin: 0 auto; 
    text-align: center; 
}
#popup .thumb { 
    margin: 0 auto; 
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
    text-align: center; 
}
#popup .thumb img { 
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

