body { background-color: #fff; }

img { vertical-align: middle; }

.container { text-align: center; }

.wrap { margin: 0 auto; width: 980px; text-align: left; }

#header { 
    background: url('../img/min/b_header_bg.png') center top no-repeat; 
}

#jumbotron { }
#jumbotron .container { text-align: center; }
#jumbotron .item { margin: 0 auto; text-align: center; }
#jumbotron .item.nth-child-1 { background: url('../img/min/b_slider_bg.jpg') center top no-repeat; }

.pager-jumbotron { text-align: center; height: 72px; }
.pager-jumbotron .wrap { position: relative; }
.pager-jumbotron .wrap .inner { position: absolute; margin-top: 25px; width: 100%; text-align: center; }


.title { 
    clear: both;
    height: 67px;
    line-height: 1;
    background: url('../img/min/b_title_bg.png') center top no-repeat; 
}

#downer { box-sizing: content-box; height: 1210px; background: url('../img/min/b_bottom_bg.jpg') center top no-repeat; }

#quicklink { margin-top: 44px; height: 201px; background: url('../img/min/b_bottom_bg_up.png') center bottom no-repeat; }
#quicklink .wrap { padding-top: 10px; }

#footer { background: #474747; }

#smartsearch { display: none; position: absolute; top: 681px; left: 50%; margin-left: 508px; }
.classic #smartsearch { display: block; }

.js-hover { overflow: hidden; text-align: left; }
.js-hover .hover { 
    clear: both; 
    overflow: hidden; 
    padding: 10px 15px; 
    line-height: 1.4;
    background: rgb(218, 33, 40);
    background: rgba(218, 33, 40);
}
.js-hover.large .hover { padding: 30px 15px; }

.js-hover .hover:after { content: ''; display: table; overflow: hidden; height: 0; }

.js-hover .hover .info { float: left; }
.js-hover .hover .action { float: right; }
.js-hover .hover p { margin: 0 0; padding: 0; color: #fff; font-size: 12px; }
.js-hover .hover p a { color: #fff; }

.no-csstransitions .js-hover { position: relative; }
.no-csstransitions .js-hover .hover { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -100%;
}
.no-csstransitions .js-hover:hover .hover,
.no-csstransitions .js-hover.active .hover { 
    margin-bottom: 0;
}

.csstransitions .js-hover .hover { 
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.csstransitions .js-hover:hover .hover,
.csstransitions .js-hover.active .hover { 
    background: rgba(218, 33, 40, 0.8);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

/* new item */
#newItem .nth-child-1 { text-align: left; }
#newItem .nth-child-2 { text-align: center; }
#newItem .nth-child-3 { text-align: right; }
#newItem .nth-child-2 .module { margin: 0 auto; }
#newItem .nth-child-3 .module { float: right; }
#newItem .module { width: 315px; height: 290px; text-align: left; }
#newItem .module .pic img { width: 312px; height: 288px; box-sizing: content-box; border: solid 1px #e5e5e5; }

/* expert */
#expert .downer { padding-bottom: 15px; background: #eaeaea; }
#expert .item { overflow: hidden; }
#expert .module-2 { margin-top: 14px; }
#expert .nth-child-1 { text-align: left; }
#expert .nth-child-2 { text-align: center; }
#expert .nth-child-3 { text-align: right; }
#expert .nth-child-1 .item { float: left; padding-left: 16px; }
#expert .nth-child-2 .item { margin: 0 auto; width: 316px; }
#expert .nth-child-3 .item { float: right; padding-right: 16px; }
#expert .nth-child-1 .module,
#expert .nth-child-3 .module { width: 300px; height: 200px; }
#expert .nth-child-2 .module { width: 316px; height: 414px; }

/* expertStyle */
#expertStyle { clear: both; }
#expertStyle .nav { float: left; width: 194px; height: 480px; }
#expertStyle .core { float: right; width: 786px; height: 480px; }
#expertStyle .inner { float: right; width: 391px; height: 480px; }
#expertStyle .pic-a { float: left; width: 394px; height: 480px; }
#expertStyle .pic-b { height: 241px; }
#expertStyle .pic-c { float: left; width: 196px; height: 239px; }
#expertStyle .pic-d { float: right; width: 195px; height: 239px; }

#expertStyle .itemwrap { position: relative; }
#expertStyle .item { position: absolute; left: 0; top; width: 786px; }
#expertStyle .item { display: none; }

#expertStyle .inner { background: url('../img/min/b1b1b1b.png') left top repeat-y; }

.csstransitions #expertStyle .item { opacity: 0; display: block; -webkit-transition: all 0.4s; transition: all 0.4s; }
.csstransitions #expertStyle .item .pic img { opacity: 0; -webkit-transform: scale(1, 1); transform: scale(1, 1); }
.csstransitions #expertStyle .item.fx { opacity: 1; } 
.csstransitions #expertStyle .item.fx .pic img { opacity: 1; -webkit-transform: scale(1, 1);; transform: scale(1, 1);  }
.csstransitions #expertStyle .item .pic-a img { -webkit-transition: all 0.2s 0s; transition: all 0.2s 0s; }
.csstransitions #expertStyle .item .pic-b img { -webkit-transition: all 0.2s 0.1s; transition: all 0.2s 0.1s; }
.csstransitions #expertStyle .item .pic-c img { -webkit-transition: all 0.2s 0.2s; transition: all 0.2s 0.2s; }
.csstransitions #expertStyle .item .pic-d img { -webkit-transition: all 0.2s 0.3s; transition: all 0.2s 0.3s; }
