body { background-color: #fff; }

img { vertical-align: middle; }

.container { text-align: center; }

.wrap { margin: 0 auto; width: 1000px; text-align: left; }

#header { 
    background: url('../img/min/c_header_bg.png') center top repeat-x; 
}

#jumbotron { }
#jumbotron .container { text-align: center; }
#jumbotron .item { margin: 0 auto; text-align: center; }
#jumbotron .item.nth-child-1 { background: url('../img/min/c_slider_01_bg.jpg') center top no-repeat; }

.pager-jumbotron { text-align: center; height: 82px; background: #f4f4f4; }
.pager-jumbotron .wrap { position: relative; }
.pager-jumbotron .wrap .inner { position: absolute; margin-top: 23px; width: 100%; text-align: center; }

#newArrival { padding-bottom: 40px; background: #f4f4f4; }

#specialPrice { padding-top: 40px; }

#hotIssue { padding-bottom: 40px; }

#bestReview {}

#unique { padding-bottom: 70px; }

#footer { height: 383px; background: url('../img/min/c_footer_bg.png') center top no-repeat; }

#smartsearch { 
    display: none;
    position: absolute;
    position: fixed;
    z-index: 1100;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 80px;
}

.csstransforms3d #smartsearch { 
    display: block;
    -webkit-transform: translate3d(0, -564px, 0);
    transform: translate3d(0, -564px, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.csstransforms3d.smartsearch-open #smartsearch { 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
}

.no-csstransforms3d #smartsearch { 
    display: block;
    margin-top: -564px;
}

.no-csstransforms3d.smartsearch-open #smartsearch { 
    margin-top: 0;
}
