<h1 id="productslidr">productSlidr</h1>
<p>Product Slider for Shopping Mall Main / Category Main Page.</p>
<h2 id="demo">demo</h2>
<ul>
<li><a href="http://riix.github.io/labs/productSlidr/index.html">static html format</a></li>
<li><a href="http://riix.github.io/labs/productSlidr/json.infinite.html">json infinite format</a></li>
<li><a href="http://riix.github.io/labs/productSlidr/json.noinfinite.html">json no infinite format</a></li>
<li><a href="http://riix.github.io/labs/productSlidr/json.notab.html">json notab format</a></li>
</ul>
<h2 id="html">html</h2>
<h3 id="outter">outter</h3>
<pre><code class="lang-html">&lt;div class=&quot;section-slider&quot;&gt;

    &lt;h3&gt;제휴몰 BEST ITEM&lt;/h3&gt;

    &lt;div id=&quot;slider&quot; class=&quot;slidr js-prductSlidr&quot;&gt;

        &lt;a href=&quot;#!&quot; class=&quot;nav prev&quot;&gt;&lt;img src=&quot;./img/module/nav_prev.png&quot; alt=&quot;이전&quot; /&gt;&lt;/a&gt;
        &lt;a href=&quot;#!&quot; class=&quot;nav next&quot;&gt;&lt;img src=&quot;./img/module/nav_next.png&quot; alt=&quot;다음&quot; /&gt;&lt;/a&gt;

        &lt;div class=&quot;counter&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pager&quot;&gt;&lt;/div&gt;

    &lt;/div&gt;

&lt;/div&gt;
</code></pre>
<h2 id="html">html</h2>
<h3 id="inner">inner</h3>
<pre><code class="lang-html">&lt;div class=&quot;itemwrap&quot;&gt;&lt;!-- itemwrap --&gt;
    &lt;ul class=&quot;tab&quot;&gt;
        &lt;li class=&quot;item&quot;&gt;
            &lt;div class=&quot;thumb&quot;&gt;
                &lt;a href=&quot;#!&quot;&gt;&lt;img src=&quot;http://riix.github.io/cdn/img/thumb/125x125_01.jpg&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;desc&quot;&gt;
                &lt;p class=&quot;brand&quot;&gt;001&lt;/p&gt;
                &lt;p class=&quot;name&quot;&gt;Prospect&lt;/p&gt;
                &lt;p class=&quot;price&quot;&gt;
                    &lt;span class=&quot;before&quot;&gt;590,000 원&lt;/span&gt;
                    &lt;span class=&quot;after&quot;&gt;370,000 원&lt;/span&gt;
                &lt;/p&gt;                       
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;item&quot;&gt;
            &lt;div class=&quot;thumb&quot;&gt;
                &lt;a href=&quot;#!&quot;&gt;&lt;img src=&quot;http://riix.github.io/cdn/img/thumb/125x125_02.jpg&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class=&quot;desc&quot;&gt;
                &lt;p class=&quot;brand&quot;&gt;002&lt;/p&gt;
                &lt;p class=&quot;name&quot;&gt;Prospect&lt;/p&gt;
                &lt;p class=&quot;price&quot;&gt;
                    &lt;span class=&quot;before&quot;&gt;590,000 원&lt;/span&gt;
                    &lt;span class=&quot;after&quot;&gt;370,000 원&lt;/span&gt;
                &lt;/p&gt;                       
            &lt;/div&gt;
        &lt;/li&gt;
        ...
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
<h2 id="javascript">javascript</h2>
<h3 id="default-format">default format</h3>
<pre><code class="lang-javascript">// init slider
$(&#39;#slider&#39;).productSlidr({
    json: _jsonItems,
    formatter: _jsonFilter, // formatter function
    infinite: false,
    autoPlay: true,
    visibleLength: 4,
    sliderHeight: &#39;275px&#39;,
    onComplete: function(base){
        var $button = $(&#39;#sliderPause&#39;);
        $button.on(&#39;click&#39;, function(){
            $button.toggleClass(&#39;pause&#39;);
            getPause(base, $button);
        });
        getPause(base, $button);
    }
});
</code></pre>
<h3 id="options">options</h3>
<pre><code class="lang-javascript">json: null,
formatter: function($item, _idx) {}
infinite: true,
imagesLoaded: true,
randomActive: true,
autoPlay: false,
pauseOnHover: true,
resizable: false,
vertical: false,
delay: 3500, // auto play delay
duration: 600, // animation duration
tabDelay: 0,
visibleLength: 5,
slideLength: 0,
wrapEl: &#39;.itemwrap&#39;,
tabEl: &#39;.subject&#39;,
tabsPosition: &#39;right&#39;,
counter: &#39;.counter&#39;,
navNext: &#39;.next&#39;,
navPrev: &#39;.prev&#39;,
pager: &#39;.pager&#39;,
sliderHeight: &#39;auto&#39;,
indicatorURL: &#39;./img/module/ajax-loader.gif&#39;,
onSlideStart: null,
onSlideEnd: null,
onComplete: null
</code></pre>
<h3 id="json-formatter">json formatter</h3>
<pre><code class="lang-javascript">var _jsonFilter = function($item, _idx) {
    var _html = &#39;&#39;;
    _html += &#39;&lt;li class=&quot;item&quot;&gt;&#39;;
    _html += &#39;&lt;div class=&quot;thumb&quot;&gt;&#39;;
    _html += &#39;&lt;a href=&quot;&#39; + $item.src + &#39;&quot;&gt;&lt;img src=&quot;&#39; + $item.thumb + &#39;&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&#39;;
    _html += &#39;&lt;/div&gt;&#39;;
    _html += &#39;&lt;div class=&quot;desc&quot;&gt;&#39;;
    _html += &#39;&lt;p class=&quot;brand&quot;&gt;&#39; + $item.brand + &#39;&lt;/p&gt;&#39;;
    _html += &#39;&lt;p class=&quot;name&quot;&gt;&#39; + $item.name + &#39;&lt;/p&gt;&#39;;
    _html += &#39;&lt;p class=&quot;price&quot;&gt;&#39;;
    _html += &#39;&lt;span class=&quot;before&quot;&gt;&#39; + $item.priceBefore + &#39; 원&lt;/span&gt;&#39;;
    _html += &#39;&lt;span class=&quot;after&quot;&gt;&#39; + $item.priceAfter + &#39; 원&lt;/span&gt;&#39;;
    _html += &#39;&lt;/p&gt;&#39;;
    _html += &#39;&lt;/div&gt;&#39;;
    _html += &#39;&lt;/li&gt;&#39;;
    return _html;
}
</code></pre>
<h3 id="json-format">json format</h3>
<pre><code class="lang-javascript">var _jsonItems = {
    &quot;group&quot;: [{
        &quot;subject&quot;: &quot;롯데닷컴&quot;,
        &quot;items&quot;: [{
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }]
    }, {
        &quot;subject&quot;: &quot;AK MALL&quot;,
        &quot;items&quot;: [{
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }]
    }, {
        &quot;subject&quot;: &quot;다이소몰&quot;,
        &quot;items&quot;: [{
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }]
    }, {
        &quot;subject&quot;: &quot;알라딘&quot;,
        &quot;items&quot;: [{
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }, {
            &quot;thumb&quot;: &quot;http://lorempixel.com/200/200/&quot;,
            &quot;src&quot;: &quot;http://google.com&quot;,
            &quot;brand&quot;: &quot;BLACK YAK&quot;,
            &quot;name&quot;: &quot;뉴트로지나 에이펜더 샥크&quot;,
            &quot;priceBefore&quot;: &quot;590,000&quot;,
            &quot;priceAfter&quot;: &quot;290,000&quot;
        }]
    }]
};
</code></pre>
