html { height: 101%; }
body { background: #eee; }

.wrap { padding: 20px; width: 80%; max-width: 783px; background: #fff; }

.section-slider { box-sizing: content-box; margin-top: 30px; border: solid 1px #d1d1d1; }

h3 { margin: 0; padding: 0; height: 38px; line-height: 38px; text-indent: 10px; color: #444; background: url('./img/h3_bg.png') left top repeat-x; }

/* productSlidr */
.js-prductSlidr { position: relative; }
.js-prductSlidr * { transition-timing-function: ease-in-out; }
.js-prductSlidr .subject { position: absolute; display: inline-block; margin: 0; padding: 0; cursor: pointer; }
.js-prductSlidr .subject a { display: inline-block; text-decoration: none; }
.js-prductSlidr .nav { position: absolute; top: 50%; text-decoration: none; transition: opacity .5s; }
.js-prductSlidr .nav span { pointer-events: none; }
.js-prductSlidr .prev { left: 0; opacity: 1; cursor: pointer; pointer-events: auto; }
.js-prductSlidr .next { right: 0; opacity: 1; cursor: pointer; pointer-events: auto; }
.js-prductSlidr.prevOut .prev { opacity: 0.5; cursor: default; }
.js-prductSlidr.nextOut .next { opacity: 0.5; cursor: default; }
.js-prductSlidr .pager { position: absolute; left: 0; right: 0; bottom: 0; text-align: center; }
.js-prductSlidr .pager a { display: inline-block; }
.js-prductSlidr .counter { position: absolute; right: 0; }
.js-prductSlidr .item { transition: background 0.3s; overflow: hidden; }

.js-prductSlidr .preloader { opacity: 1; transition: opacity .1s .1s; }
.js-prductSlidr.loaded .preloader { opacity: 0; }
.js-prductSlidr .preloader p { margin: 5px 0; padding: 0; font-size: 11px; color: #333; }

/* preloader */
.slidr .preloader p { margin: 5px 0; padding: 0; font-size: 11px; color: #333; }

/* subject */
.slidr .subject { margin-left: 300px; }
.slidr .subject a { padding: 0 30px; height: 38px; line-height: 38px; color: #444; }
.slidr .subject a { border-left: solid 1px #e5e5e5; }
.slidr .subject.active { background: #fff; }
.slidr .subject.active a { color: #000; }

/* nav */
.slidr .nav { padding: 0 0px; background-color: rgba(0, 0, 0, 0.3); }
.slidr.prevOut .prev { background-color: rgba(0, 0, 0, 0.1); }
.slidr.nextOut .next { background-color: rgba(0, 0, 0, 0.1); }

/* pager */
.slidr .pager { margin-bottom: 10px; }
.slidr .pager a { 
    margin: 0 1px; width: 10px; height: 10px; border: solid 1px #333; border-radius: 10px; background-color: #fff; 
    transition: all .3s 0s ease-in-out; 
}
.slidr .pager a.active { width: 40px; background-color: #000; }

/* counter */
.slidr .counter { padding: 5px; color: #000; }
.slidr .counter span { font-weight: bold; }

/* item */

/* thumb */
.slidr.multi .item .thumb { border-top: solid 3px #FF8000; }
.slidr.multi .item.visible .thumb { border-top: solid 3px #fff; }
.slidr.multi .item.first,
.slidr.multi .item.active .thub { border-color: #fff; }

.slidr.multi .thumb a { display: block; padding: 10px 10px; text-align: center; }
.slidr.multi .thumb img { margin: 0 auto; max-width: 100%; }

/* desc */
.slidr .desc { margin: 0 10px 0; }
.slidr .desc p { margin: 5px 0; padding: 0; color: #333; }
.slidr .desc p.brand { font-weight: bold; }
.slidr .desc p.name {}
.slidr .desc p.price { font-size: 12px; overflow: hidden; }
.slidr .desc p.price:after { content: ''; clear: both; display: block; height: 0; }
.slidr .desc p.price .before { display: inline-block; margin-right: 10px; text-decoration: line-through; }
.slidr .desc p.price .after { font-weight: bold; color: #000; }

.slidr-vertical { margin-left: 200px; }
.slidr-vertical .subject { margin-left: -200px; width: 200px; }
.slidr-vertical .subject a { display: block; padding: 0 10px; border-bottom: solid 1px #ccc; background: #eee; }
.slidr-vertical .subject.active a { background: #fff; }