<h1 id="simpleslidr">simpleSlidr</h1>
<p>CSS3 FX Slider with Typho Transitions</p>
<h2 id="demo">demo</h2>
<ul>
<li><a href="http://riix.github.io/labs/simpleSlidr/horizon.html">horizon</a></li>
<li><a href="http://riix.github.io/labs/simpleSlidr/vertical.html">vertical</a></li>
</ul>
<h2 id="basic-format">basic format</h2>
<h3 id="html">html</h3>
<pre><code class="lang-html">&lt;div id=&quot;jumbotron&quot; class=&quot;container&quot;&gt;
    &lt;div class=&quot;badge-holder&quot;&gt;
        &lt;span class=&quot;badge&quot;&gt;&lt;img src=&quot;./img/common/badge_01.gif&quot; alt=&quot;&quot; /&gt;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;mask&quot;&gt;
        &lt;div class=&quot;inner&quot;&gt;
            &lt;div class=&quot;left&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;right&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id=&quot;slider&quot; class=&quot;itemwrap&quot;&gt;
        &lt;div class=&quot;item&quot;&gt;
            &lt;div class=&quot;slider-copy&quot;&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_a01.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_a02.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_a03.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;a href=&quot;a_sub.html&quot;&gt;&lt;img src=&quot;./img/common/txt_04.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/p&gt;
            &lt;/div&gt;
            &lt;img src=&quot;./img/common/pic_a01.jpg&quot; alt=&quot;&quot; /&gt;
        &lt;/div&gt;
        ...
        &lt;div class=&quot;item&quot;&gt;
            &lt;div class=&quot;slider-copy&quot;&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_01.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_02.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;img src=&quot;./img/common/txt_03.png&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
                &lt;p class=&quot;nth-child-1&quot;&gt;&lt;a href=&quot;a_sub.html&quot;&gt;&lt;img src=&quot;./img/common/txt_04.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/p&gt;
            &lt;/div&gt;
            &lt;img src=&quot;./img/common/pic_02.jpg&quot; alt=&quot;&quot; /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div id=&quot;jumbotronPager&quot; class=&quot;container&quot;&gt;
    &lt;div class=&quot;wrap&quot;&gt;
        &lt;div class=&quot;pager&quot;&gt;
            &lt;span class=&quot;nav prev&quot;&gt;&lt;img src=&quot;./img/common/btn_prev.gif&quot; alt=&quot;&quot; /&gt;&lt;/span&gt;
            &lt;span class=&quot;nav next&quot;&gt;&lt;img src=&quot;./img/common/btn_next.gif&quot; alt=&quot;&quot; /&gt;&lt;/span&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;tab&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#!&quot;&gt;
                    &lt;span class=&quot;over&quot;&gt;&lt;img src=&quot;./img/common/jumbotron_nav_on_01.gif&quot; alt=&quot;&quot; /&gt;&lt;/span&gt;
                    &lt;img src=&quot;./img/common/jumbotron_nav_off_01.gif&quot; alt=&quot;&quot; class=&quot;out&quot; /&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            ...
            &lt;li&gt;
                &lt;a href=&quot;#!&quot;&gt;
                    &lt;span class=&quot;over&quot;&gt;&lt;img src=&quot;./img/common/jumbotron_nav_on_02.gif&quot; alt=&quot;&quot; /&gt;&lt;/span&gt;
                    &lt;img src=&quot;./img/common/jumbotron_nav_off_02.gif&quot; alt=&quot;&quot; class=&quot;out&quot; /&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h3 id="javascript">javascript</h3>
<pre><code class="lang-javascript">$(function(){
    $(&#39;#jumbotron&#39;).simpleSlidr({
        width: &#39;980px&#39;,
        itemsLength: 4,
        innerEl: &#39;.itemwrap&#39;,
        pagerEl: &#39;#jumbotronPager&#39;,
        vertical: false,
        autoPlay: true,
        delay: 4000
    });
});
</code></pre>
