@charset "utf-8";
/* ==========================================================================
* Filename: style.css ( /less/style.less compiled )
* Author: riix@epascni.com
* 주의, less 로 제작된 컴파일 문서이므로 런칭 전 임의 수정 사용을 제한합니다.
* 수정 필요시 제작 담당자에게 내용 고지 부탁드립니다.
 * ========================================================================== */
/* datepicker
=============================================================================== */
div.section-datepicker {
  position: absolute;
  top: 0;
  z-index: 999;
  border: solid 1px #333;
  background: #fff;
  box-shadow: 3px 3px 3px #999;
  line-height: 1;
  font-size: 12px;
}
div.section-datepicker a:link,
div.section-datepicker a:visited {
  text-decoration: none;
}
div.section-datepicker a:hover,
div.section-datepicker a:active {
  text-decoration: underline;
}
div.section-datepicker .cal-wrapper {
  padding: 10px;
  min-width: 370px;
  overflow: hidden;
}
div.section-datepicker .head {
  float: left;
  width: 150px;
  text-align: center;
}
div.section-datepicker .head div {
  margin: 5px 0;
}
div.section-datepicker .head .year {
  margin: 10px 0 20px;
}
div.section-datepicker .head .year select {
  margin-right: 3px;
  width: 80px;
  vertical-align: middle;
}
div.section-datepicker .head .month a span.ir {
  width: 30px;
  height: 30px;
  background-position: left top;
  background-repeat: no-repeat;
  vertical-align: bottom;
  background-image: url('../img/plugins/datepicker_nav.gif');
}
div.section-datepicker .head .month a.nextmonth span.ir {
  background-position: right top;
}
div.section-datepicker .head .month a.disabled span.ir {
  opacity: 0.2;
}
div.section-datepicker .head .month strong {
  display: inline-block;
  font-weight: bold;
  padding-right: 3px;
  font-family: Verdana, Tahoma;
  font-size: 27px;
}
div.section-datepicker .head .today {
  margin-top: 30px;
}
div.section-datepicker .head .today span {
  font-size: 12px;
}
div.section-datepicker .core {
  float: right;
  margin: 0;
  padding: 0 0 10px 0;
  width: 200px;
  background: none;
}
div.section-datepicker table {
  table-layout: fixed;
  width: 100%;
}
div.section-datepicker table caption {
  display: none;
}
div.section-datepicker table th {
  padding: 11px 0 !important;
  text-align: center;
  background: #fff !important;
  font-weight: bold;
}
div.section-datepicker table th abbr {
  display: block;
  border: none;
  cursor: default;
}
div.section-datepicker table td {
  padding: 0 !important;
  width: 14.28%;
  text-align: center;
  background: #fff;
  border: 0 !important;
}
div.section-datepicker table td.empty {
  background: #fff;
}
div.section-datepicker table th.sun,
div.section-datepicker table td.sun a {
  color: #cc3333;
}
div.section-datepicker table th.sat,
div.section-datepicker table td.sat a {
  color: #3333cc;
}
div.section-datepicker table span,
div.section-datepicker table a {
  display: block;
  height: 25px;
  line-height: 25px;
}
div.section-datepicker table a {
  color: #444;
  background-color: #FFF6F0;
  transition: all 0.3s;
}
div.section-datepicker table span {
  color: #666;
  cursor: default;
}
div.section-datepicker table a:hover,
div.section-datepicker table a.today {
  background-color: #000;
  color: #fff !important;
  text-decoration: none;
}
div.section-datepicker .button-close {
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  z-index: 1010;
  right: 0;
  top: 0;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background-image: url('../img/plugins/btn_close_datepicker.gif');
}
