@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-ulzwqn');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-ulzwqn') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-ulzwqn') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-ulzwqn') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-ulzwqn#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

.pos-abs { position: absolute; }
.pos-rel { position: relative; }

.container {
	overflow: hidden;
}

/* This is the style for the dummy image slider. Animations are in fx[type].css */

.component {
	margin: 0 auto;
	position: relative;
	max-width: 100%;
}

.component-small {
	width: 650px;
	height: 290px;
}

.component-fullwidth {
	width: 100%;
	height: 600px;
	margin-bottom: 0;
	background: #fff;
}

.component-transparent {
	width: 900px;
	height: 500px;
}

.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.component-small > ul {
	width: 450px;
}

.component-fullwidth > ul {
	overflow: hidden;
}

.component-transparent > ul {
	width: 112px;
}

.component li {
    /*
    pointer-events: none;
    */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 999;
}

.component-fullwidth li {
	overflow: hidden;
}

.component li.current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.component li img {
	display: block;
	max-width: 100%;
}

.component-fullwidth li img {
	min-width: 100%;
	max-width: none;
	position: absolute;
    left: 0;
}

.cssanimations .component-fullwidth li img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.component nav a {
	position: absolute;
	width: 60px;
	height: 60px;
	color: #5b4c5c;
	outline: none;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
    border: solid 1px #000; 
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.component-small nav a.prev,
.component-transparent nav a.prev {
	left: 0px;
}

.component-small nav a.next,
.component-transparent nav a.next {
	right: 0px;
}

.component-fullwidth nav a {
	top: 100%;
	margin-top: 25px;
	left: 50%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.component-fullwidth nav a.prev {
	margin-left: -80px;
}

.component-fullwidth nav a.next {
	margin-left: 20px;
}

.component nav a::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 60px;
	height: 100%;
	font-family: 'fontawesome';
	font-size: 60px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.component nav a:hover::before {
	opacity: 1;
}

a.prev::before {
	content: "\e601";
}

a.next::before {
	content: "\e600";
}

.component .typho { position: relative; }
.component .typho p { 
    position: absolute; 
    margin: 20px; 
    padding: 0; 
    z-index: 100;
    color: #fff; 
    font-size: 14px; 
    text-shadow: 1px 1px #000000; 
    transition: transform 0.5s ease 0.2s, opacity 1s ease 0.2s;
    transform: translate(30px, 0px);
    opacity: 0;
}

.component .current .typho p { 
    transform: translate(0px, 0px);
    opacity: 1;
}

.component .typho p:nth-child(1) { 
    top: 0px; 
    font-size: 30px; 
    transition: transform 0.5s ease 0s, opacity 1s ease 0s;
}
.component .typho p:nth-child(2) { 
    top: 40px; 
    transition: transform 0.5s ease 0.2s, opacity 1s ease 0.2s;
}
.component .typho p:nth-child(3) { 
    top: 60px; 
    transition: transform 0.5s ease 0.4s, opacity 1s ease 0.4s;
}

.component-pager { clear: both; margin: 15px auto; background: #eee; }
.component-pager a.current span { font-weight: bold; color: #000; }
.component-pager a span { display: inline-block; padding: 5px; }

@media screen and (max-width: 35.5em) {
	.component-small nav a {
		top: 100%;
		margin-top: 10px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.component-small nav a.prev {
		left: 50%;
		margin-left: -80px;
	}

	.component-small nav a.next {
		margin-left: 20px;
		right: auto;
		left: 50%;
	}
}

.fxFade li { opacity: 1; display: none; }
.fxFade li.current { display: block; }

.fxSlide li { opacity: 1; }

/*
.fxFade li { opacity: 1; display: none; }
.fxFade li.current { display: block; }
.fxSlide li { opacity: 1; display: block; }

li.current { border-bottom: solid 10px #000; }
*/

.cursor-grab { 
    cursor: -webkit-grab; 
    cursor: -moz-grab; 
    cursor: grab;
}